
{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            {{ chart(chart) }}
        </script>
        <script>
            $(document).ready(function()
            {

                $('#commentform').hide();
                $('#mailform').hide();
                $('#addcomment').hide();
                $('#viewcommentdiv').hide();
                $('#hidecomment').hide();
                $('#commentandreportdiv').hide();

                $('#showcommentform').click(function()
                {
                    $('#mailform').hide();
                    $('#viewcommentdiv').hide();
                    $('#commentandreportdiv').show();
                    $('#commentform').show();
                    $('#usermycommentid').focus();
                    $('#buttonid').hide();

                });

                $('#viewcomment').click(function()
                {
                    $('#mailform').hide();
                    $('#commentandreportdiv').hide();
                    $('#commentform').hide();
                    $('#viewcommentdiv').show();
                    $('#viewcomment').hide();
                    $('#hidecomment').show();

                });
                $('#hidecomment').click(function()
                {
                    $('#mailform').hide();
                    $('#commentform').hide();
                    $('#commentandreportdiv').hide();
                    $('#viewcommentdiv').hide();
                    $('#viewcomment').show();
                    $('#hidecomment').hide();
                    $('#buttonid').show();

                });
                $('#sendreports').click(function()
                {
                    $('#viewcommentdiv').hide();
                    $('#commentform').hide();
                    $('#commentandreportdiv').show();
                    $('#mailform').show();
                    $('#livesearchdiv').hide();
                    $('#buttonid').hide();



                });
                var k = 0;
                {% for element in listofelement %}

                var abcdef='{{ element.elementName }}';

                $('<div class="rules_valus" id="rules_valus_id'+k+'" >').appendTo('#rulePlaceId');
                $('<div class="title">'+abcdef+'</div>').appendTo('#rules_valus_id'+k);
                var rule_value = $('#'+{{ element.id }}).val();

                if(rule_value  != null  )
                {
                    var rule_value_array = splitfun(rule_value);

                    $.each(rule_value_array,function(i)
                    {
                        var condition_text = "";
                        var rule_obj = JSON.parse(rule_value_array[i]);

                        $.each(rule_obj.conditions.all, function(j)
                        {
                            if(rule_obj.conditions.all[j].operator=='equalTo')
                            {
                                rule_obj.conditions.all[j].operator='=';
                            }
                            else if(rule_obj.conditions.all[j].operator=='notEqualTo')
                            {
                                rule_obj.conditions.all[j].operator='!=';
                            }
                            else if(rule_obj.conditions.all[j].operator=='greaterThan')
                            {
                                rule_obj.conditions.all[j].operator='>';
                            }
                            else if(rule_obj.conditions.all[j].operator=='greaterThanEqual')
                            {
                                rule_obj.conditions.all[j].operator='>=';
                            }
                            else if(rule_obj.conditions.all[j].operator=='lessThan')
                            {
                                rule_obj.conditions.all[j].operator='<';
                            }
                            else if(rule_obj.conditions.all[j].operator=='lessThanEqual')
                            {
                                rule_obj.conditions.all[j].operator='<=';
                            }
                            var condition_text_one =rule_obj.conditions.all[j].operator+rule_obj.conditions.all[j].value;
                            if(j==0)
                            {
                                condition_text = condition_text_one;
                            }
                            if(j>0)
                            {
                                condition_text = condition_text+'   ' + '&&' +'   '+condition_text_one;
                            }
                        });
                        $('<div ><span class="span_1">'+condition_text+'</span><span class="span_1">'+rule_obj.actions.value+'</span></div>').appendTo('#rules_valus_id'+k);

                    });
                }

                $('</div>');
                k++;
                {% endfor %}

                function splitfun(data){
                    var result = data.split('*');
                    return result;
                }



                $('#toemail').keyup(function($e)
                {
                    $e.preventDefault();
                    var searchstring=$(this).val();
                    var data = {searchstring :searchstring} ;
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url:Routing.generate('autocompleteformailing'),
                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {

                            if($.isArray(data.returnresult))
                            {
                                $.each(data.returnresult, function(i, listelemnt)
                                {
                                    $('#hiddenresult').val(data.returnresult);
                                    $('#commentandreportdiv').show();
                                    $('#livesearchdiv').show();
                                    $("#livesearch").show();
                                    $("#livesearch").html('<li class="dynamiclabel">' + listelemnt.groupname + '</li><li class="dynamiclabel">' + listelemnt.useremailid + '</li>');

                                });

                            }



                        }
                        ,
                        error: function()
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });


                $(".dynamiclabel").live("click",function(e)
                {
                    $e.preventDefault();
                    var b=$(this).text();
                    $('#toemail').val(b);
                    $('#livesearchdiv').hide();
                });



                $('#addcommentid').click(function($e)
                {
                    $e.preventDefault();
                    var kpiid=$('#kpiidforname').val();
                    var comment=$('#usermycommentid').val();

                    var data = {kpiid :kpiid,comment:comment} ;
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('addcomment_ranking_ship'),
                        beforeSend: function () {
                            var text='Please Wait';

                            if($('body').find('#resultLoading').attr('id') != 'resultLoading'){
                                $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
                            }

                            $('#resultLoading').css({
                                'width':'100%',
                                'height':'100%',
                                'position':'fixed',
                                'z-index':'10000000',
                                'top':'0',
                                'left':'0',
                                'right':'0',
                                'bottom':'0',
                                'margin':'auto'
                            });

                            $('#resultLoading .bg').css({
                                'background':'#000000',
                                'opacity':'0.7',
                                'width':'100%',
                                'height':'100%',
                                'position':'absolute',
                                'top':'0'
                            });

                            $('#resultLoading>div:first').css({
                                'width': '250px',
                                'height':'75px',
                                'text-align': 'center',
                                'position': 'fixed',
                                'top':'0',
                                'left':'0',
                                'right':'0',
                                'bottom':'0',
                                'margin':'auto',
                                'font-size':'16px',
                                'z-index':'10',
                                'color':'#ffffff'

                            });

                            $('#resultLoading .bg').height('100%');
                            $('#resultLoading').fadeIn(300);
                            $('body').css('cursor', 'wait');
                        },
                        complete: function () {
                            $('#resultLoading .bg').height('100%');
                            $('#resultLoading').fadeOut(300);
                            $('body').css('cursor', 'default');
                            $('#commentandreportdiv').hide();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {
                            $('#usermycommentid').val(' ');
                            $('#commentform').hide();
                            var a=data.lastinsertid;
                            $('#lastid').val(a);
                            $('#viewcommentdiv').text('');
                            if($.isArray(data.resultarray))
                            {
                                // alert('if');
                                $.each(data.resultarray, function(i, listelemnt)
                                {
                                    var dataObj = JSON.stringify(listelemnt.datetime);
                                    var jsonobject=JSON.parse(dataObj);
                                    var myDate = new Date(jsonobject.date);
                                    var d = myDate,
                                            dformat = [ (d.getMonth()+1).padLeft(),
                                                        d.getDate().padLeft(),
                                                        d.getFullYear()].join('-')+
                                                    ' ' +
                                                    [ d.getHours().padLeft(),
                                                        d.getMinutes().padLeft(),
                                                        d.getSeconds().padLeft()].join(':');
                                    $('<p>'+listelemnt.adminName+' -'+dformat+':'+listelemnt.comment+'</p>').appendTo("#viewcommentdiv");


                                });
                            }
                            $('#commentandreportdiv').hide();
                            $('#buttonid').show();
                            $('#viewcomment').show();
                            $('#hidecomment').hide();
                            $('#notifcation_message').text('Command Added');
                            $('#notifcation_message').show();
                            setTimeout(function() {
                                $('#notifcation_message').fadeOut('fast');
                            }, 7000)
                        }
                        ,
                        error: function()
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });
                $('#chatform').submit(function(e)
                {
                    e.preventDefault();
                    var self = this;
                    var obj = {},chart;
                    chart = $('#area').highcharts();
                    obj.svg = chart.getSVG();
                    obj.type = 'image/png';
                    obj.width = 450;
                    obj.async = true;
                    var data = {svgid :obj.svg,typeid:obj.type,filewidth:obj.width,fileanys:obj.async} ;
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('addchart'),

                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {

                            $('#imagefilename').val(data);
                            submitchatform();

                        }
                        ,
                        error: function()
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });
                function submitchatform()
                {

                    var form=$('#chatform');
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('addcommentkpi'),
                        beforeSend: function () {
                            var text='';

                            if($('body').find('#resultLoading').attr('id') != 'resultLoading'){
                                $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
                            }

                            $('#resultLoading').css({
                                'width':'100%',
                                'height':'100%',
                                'position':'fixed',
                                'z-index':'10000000',
                                'top':'0',
                                'left':'0',
                                'right':'0',
                                'bottom':'0',
                                'margin':'auto'
                            });

                            $('#resultLoading .bg').css({
                                'background':'#000000',
                                'opacity':'0.7',
                                'width':'100%',
                                'height':'100%',
                                'position':'absolute',
                                'top':'0'
                            });

                            $('#resultLoading>div:first').css({
                                'width': '250px',
                                'height':'75px',
                                'text-align': 'center',
                                'position': 'fixed',
                                'top':'0',
                                'left':'0',
                                'right':'0',
                                'bottom':'0',
                                'margin':'auto',
                                'font-size':'16px',
                                'z-index':'10',
                                'color':'#ffffff'

                            });

                            $('#resultLoading .bg').height('100%');
                            $('#resultLoading').fadeIn(300);
                            $('body').css('cursor', 'wait');
                        },
                        complete: function () {
                            $('#resultLoading .bg').height('100%');
                            $('#resultLoading').fadeOut(300);
                            $('body').css('cursor', 'default');
                        }
                    });
                    $.ajax({
                        data: form.serialize(),
                        success: function (data)
                        {

                            $('#commentform').hide();
                            $('#mailform').hide();
                            $('#addcomment').hide();
                            $('#mycommentid').val(' ');
                            $('#toemail').val(' ');

                            $('#commentandreportdiv').hide();
                            $('#buttonid').show();
                            $('#notifcation_message').text(data.updatemsg);
                            $('#notifcation_message').show();
                            setTimeout(function() {
                                $('#notifcation_message').fadeOut('fast');
                            }, 7000)

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown)
                        {
                            window.location.href = 'http://shipreports/login';
                        }
                    });
                };


                $('#mycommentid').click(function()
                {
                    $('#livesearchdiv').hide();
                });
                $('#mycommentid').focus(function()
                {
                    $('#livesearchdiv').hide();
                });
                $('#element_btn_rules').click(function($e)
                {
                    $e.preventDefault();
                    $('#ranking_elementrules').toggle();
                });
                $('#ranking_elementrules').hide();
                Number.prototype.padLeft = function(base,chr){
                    var  len = (String(base || 10).length - String(this).length)+1;
                    return len > 0? new Array(len).join(chr || '0')+this : this;
                }

            });


        </script>
    {% endblock %}

    <div class="col-md-12 users_advanced_list_views_screen">
        {# <div class="page-header">
             <h2>{{ shipname.shipName }}</h2>
             <a href="{{ path('dashboradhome') }}">Back</a>
         </div>#}
        <div class="table-responsive">

            <table class="table table-striped graph_and_colour_coding_main_title_row">
                <thead>
                <tr>
                    <th>{{ kpiname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a class="linkclass" href="{{ path('listallkpiforship_ranking', { 'shipid': shipid,'year':2016}) }}" style="float: right"  >{{ 'elementranking.backlink'|trans }}</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped-3 element_ranking_row">
                <thead>
                <tr>
                    <th class="kpi_name">{{ 'elementranking.month'|trans }}</th>
                    {% for monthname in monthdetails %}
                        <th  class="month">{{ monthname }}</th>
                    {% endfor %}

                </tr>
                </thead>
                <tbody>
                {% set countmonth1= countmonth-1 %}
                {% set i=0 %}
                {% for element in listofelement %}
                    <tr>
                        <td  rowspan="2" class="element_name_title">{{ element.elementName }}

                        {% for j in 0..countmonth1 %}
                            {#{% set newcolorarray = newcolorarray|merge({('_'~akj):(kpicolorarray[j][i])}) %}#}
                            <td>

                                {{ monthlydata[j][i]  }}
                            </td>

                            {# {% set akj=akj+1 %}#}

                        {% endfor %}

                    </tr>

                    <tr>
                        {% for m in 0..countmonth1 %}
                            <td>
                                {% if elementcolorarray[m][i]=="Green" %}
                                    <img src="/images/box_green.png" alt="Loader Image"/>
                                {% elseif elementcolorarray[m][i]=="Red" %}
                                    <img src="/images/box_red.png" alt="Loader Image"/>
                                {% elseif elementcolorarray[m][i]=="Yellow" %}
                                    <img src="/images/box_yellow.png" alt="Loader Image"/>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
                <tr>
                    <td colspan="" class="kpi_name_thtd"><strong>{{ 'elementranking.score'|trans }}</strong></td>


                    {% for avg in avgscore %}
                        <td><strong>{{ avg }}</strong></td>
                    {% endfor %}
                </tr>

                </tbody>
            </table>

            <div class="rules_ranking"><a class="rules_show_btn"  id="element_btn_rules" href="">{{ 'elementranking.ruleshow'|trans }}</a></div>

            <table class="table table-striped-4 kpi_ranking_rules_show_row" id="ranking_elementrules">
                <thead>
                <tr>
                    <th colspan="3">Rules</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="rulePlaceId" class="rulePlace">

                    </td>
                </tr>
                </tbody>
            </table>


            <table class="table table-striped normal_table">
                <thead>
                <tr>
                    <th>{{ kpiname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="area"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="">
            {% set newcommandarray = {} %}
            {% set jk=0 %}
            {% set ik=0 %}
            {% for kpiRules in elementRule %}
                {% for kpi_rules in kpiRules %}
                    {% set newcommandarray = newcommandarray|merge({('_'~jk):(kpi_rules.rules)}) %}
                    {% set jk=jk+1 %}
                {% endfor %}
                {% if elementRule[ik] != NULL %}
                    {% if elementRule[ik][0].rules  != NULL %}
                        <input type="hidden" name="listofcomments" id={{ listofelement[ik]['id'] }} value="{{ newcommandarray|join('*') }}">
                    {% else %}
                        <input type="hidden" name="listofcomments" id="" value="{{ newcommandarray|join('*') }}">
                    {% endif %}
                {% endif %}

                {% set ik=ik+1 %}
                {% set newcommandarray = {} %}
            {% endfor %}
        </div>


        <table class="table table-striped normal_table">
            <tbody>
            <tr>
                <td id="viewcommentdiv" >
                    {% if commentarray|length <= 0 %}

                        {{ 'elementranking.nocommands'|trans }}
                    {% endif %}
                    {% if commentarray|length > 0 %}
                        {% for comobject in commentarray %}
                            <p><strong>{{ comobject.adminName }}-{{ comobject.datetime|date('m-d-Y H:i:s') }} :</strong> {{ comobject.comment }}</p>


                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <div id="buttonid">
            <div class="clear_fix"></div><span class="notification_msg" id="notifcation_message"></span></div>
            <button value="Submit" id="showcommentform"  class="submit_btn_add">{{ 'kpiranking.addcomment'|trans }}</button>
            <button value="Submit" id="sendreports"  class="submit_btn_add">{{ 'kpiranking.sendreport'|trans }}</button>
            <button value="Submit" id="viewcomment"  class="submit_btn_add">{{ 'kpiranking.viewcomment'|trans }}</button>
            <button value="Submit" id="hidecomment"  class="submit_btn_add">{{ 'kpiranking.hidecomment'|trans }}</button>
        </div>
        <div id="commentandreportdiv" class="graph_send_comment">



            <div class="add_new_users_form">
                <!--Form for Add comment Starts Here  -->

                <fieldset id="commentform" class="fieldset_box_2">
                    <legend class="legend_name">{{ 'elementranking.addcomment'|trans }}</legend>
                    <form  class="form-horizontal no-style"  method="post">

                        <input id="kpiidforname" type="hidden" name="send_command[kpiid] " value="{{ kpiid }}">

                        <div class="form-group">
                            <div class="col-xs-12">
                                {#<textarea class="add_comment_textarea" placeholder="Enter comment here..."> </textarea>#}
                                <textarea id="usermycommentid" class="add_comment_textarea" placeholder="Enter Comment Here" name="send_command[comment]" required></textarea>
                            </div>
                        </div>
                        {#  <button value="Save" type="submit" class="submit_btn_save">Save</button>#}
                        <input  class="submit_btn_save" id="addcommentid" type="submit" value="{{ 'elementranking.save'|trans }}">
                    </form>
                </fieldset>
                <!--Form for Add comment Ends Here  -->
                <!--Form for Send Reports Starts Here  -->
                <fieldset id="mailform" class="fieldset_box_2">
                    <legend class="legend_name">{{ 'elementranking.sendreport'|trans }}</legend>
                    <form id="chatform" class="form-horizontal no-style" method="post">

                        <input id="imagefilename" type="hidden" name="send_command[filename]" >
                        <input id="lastid" type="hidden" name="send_command[lastid]" >
                        <input id="kpiidforname" type="hidden" name="send_command[kpiid] " value="{{ kpiid }}">
                        <div class="form-group">
                            <label class="control-label  col-xs-3">{{ 'elementranking.addcomment'|trans }}</label>
                            <div class="col-xs-9">

                                <div class="add_comment_checkbox"><label><input type="checkbox"  name="send_command[addcomment]" class="inline-checkbox" value="Yes"> {{ 'elementranking.yes'|trans }}</label></div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label required_field col-xs-3">{{ 'elementranking.to'|trans }}</label>
                            <div class="col-xs-9">

                                <input id="toemail" type="text" class="send_reports_to_input" name="send_command[clientemail]" required>
                                <div id="livesearchdiv"  class="send_reports_to_input_list">
                                    <ul id="livesearch">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label required_field col-xs-3">{{ 'elementranking.mailbox'|trans }}</label>
                            <div class="col-xs-9">
                                {# <textarea class="add_comment_textarea" placeholder="Enter comment here"> </textarea>#}
                                <textarea id="mycommentid" name="send_command[comment]" required class="add_comment_textarea" placeholder="Enter comment here"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">&nbsp;</label>
                            <div class="col-xs-9">
                                {#<button value="Send reports" type="submit" class="submit_btn_2">Send reports</button>#}
                                <input id="" class="submit_btn_2" type="submit" value="{{ 'kpiranking.send'|trans }}">
                            </div>

                        </div>
                    </form>
                </fieldset>
                <!--Form for Send Reports Ends Here  -->

            </div>


        </div>
    </div>
{% endblock %}