{% extends 'base.html.twig' %}


{% block body %}
    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
        {% block javascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/drilldown.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                {{ chart(chart) }}
            </script>
            <script>
                $(document).ready(function()
                {
                    var newchart;
                    var nowdate=new Date(),
                            locale = "en-us",
                            month = nowdate.toLocaleString(locale, { month: "long" }),
                            year=nowdate.getFullYear();
                    $('#currentid').text(month+'-'+year)
                    $('#dataofmonth').val(nowdate)


                    $('#proviousmonth').click(function($e)
                    {
                        $e.preventDefault();
                        var currentdate=new Date($('#dataofmonth').val());
                        currentdate.setMonth(currentdate.getMonth() - 1);
                        currentdate,locale = "en-us",
                                month = currentdate.toLocaleString(locale, { month: "long" }),
                                year=currentdate.getFullYear();

                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('monthchangeofrankingkpi', {'dataofmonth':month+'-'+year}),
                            beforeSend: function () {
                                var text='';

                                if($('body').find('#resultLoading').attr('id') != 'resultLoading'){
                                    $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
                                }

                                $('#resultLoading').css({
                                    'width':'100%',
                                    'height':'100%',
                                    'position':'fixed',
                                    'z-index':'10000000',
                                    'top':'0',
                                    'left':'0',
                                    'right':'0',
                                    'bottom':'0',
                                    'margin':'auto'
                                });

                                $('#resultLoading .bg').css({
                                    'background':'#000000',
                                    'opacity':'0.7',
                                    'width':'100%',
                                    'height':'100%',
                                    'position':'absolute',
                                    'top':'0'
                                });

                                $('#resultLoading>div:first').css({
                                    'width': '250px',
                                    'height':'75px',
                                    'text-align': 'center',
                                    'position': 'fixed',
                                    'top':'0',
                                    'left':'0',
                                    'right':'0',
                                    'bottom':'0',
                                    'margin':'auto',
                                    'font-size':'16px',
                                    'z-index':'10',
                                    'color':'#ffffff'

                                });

                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeIn(300);
                                $('body').css('cursor', 'wait');

                            },
                            complete: function ()
                            {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                            }
                        });
                        $.ajax({
                            success: function(data)
                            {
                                $('#area').highcharts().series[0].setData(data.changechartdata);
                                $('#area').highcharts().series[0].update({ name: month+'-'+year});
                                $('#currentid').text(month+'-'+year);
                                $('#dataofmonth').val(currentdate)
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');

                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown)
                            {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                                alert('Error : ' + errorThrown);
                            }
                        });
                    });

                    $('#nextmonth').click(function($e)
                    {
                        $e.preventDefault();
                        var currentdate=new Date($('#dataofmonth').val());
                        var nowdate=new Date();
                        currentdate.setMonth(currentdate.getMonth() + 1);
                        currentdate,locale = "en-us",
                                month = currentdate.toLocaleString(locale, { month: "long" }),
                                year=currentdate.getFullYear();
                        if(currentdate<=nowdate)
                        {
                            $.ajaxSetup({
                                global: false,
                                type: "post",
                                'url': Routing.generate('monthchangeofrankingkpi', {'dataofmonth':month+'-'+year}),
                                beforeSend: function () {
                                    var text='';

                                    if($('body').find('#resultLoading').attr('id') != 'resultLoading'){
                                        $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
                                    }

                                    $('#resultLoading').css({
                                        'width':'100%',
                                        'height':'100%',
                                        'position':'fixed',
                                        'z-index':'10000000',
                                        'top':'0',
                                        'left':'0',
                                        'right':'0',
                                        'bottom':'0',
                                        'margin':'auto'
                                    });

                                    $('#resultLoading .bg').css({
                                        'background':'#000000',
                                        'opacity':'0.7',
                                        'width':'100%',
                                        'height':'100%',
                                        'position':'absolute',
                                        'top':'0'
                                    });

                                    $('#resultLoading>div:first').css({
                                        'width': '250px',
                                        'height':'75px',
                                        'text-align': 'center',
                                        'position': 'fixed',
                                        'top':'0',
                                        'left':'0',
                                        'right':'0',
                                        'bottom':'0',
                                        'margin':'auto',
                                        'font-size':'16px',
                                        'z-index':'10',
                                        'color':'#ffffff'

                                    });

                                    $('#resultLoading .bg').height('100%');
                                    $('#resultLoading').fadeIn(300);
                                    $('body').css('cursor', 'wait');
                                },
                                complete: function () {
                                    $('#resultLoading .bg').height('100%');
                                    $('#resultLoading').fadeOut(300);
                                    $('body').css('cursor', 'default');
                                }
                            });
                            $.ajax({
                                success: function(data)
                                {
                                    $('#area').highcharts().series[0].setData(data.changechartdata);
                                    $('#area').highcharts().series[0].update({ name: month+'-'+year});
                                    $('#currentid').text(month+'-'+year)
                                    $('#dataofmonth').val(currentdate)
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown)
                                {
                                    alert('Error : ' + errorThrown);
                                }
                            });
                        }
                        else
                        {
                            $('#spantext').text('Date Exceed...');
                            $('#spantext').show();
                            setTimeout(function() {
                                $('#spantext').fadeOut('fast');
                            }, 4000)

                        }


                    });
                    $('#spantext').hide();

                    $('.yearViewContent').hide();

                    $('.yearView').click(function($e)
                    {
                        $e.preventDefault();
                        $('.wholeContent').hide();
                        $('.yearViewContent').show();
                    })

                    $('.fullYearView').click(function($e)
                    {
                        $e.preventDefault();
                        $('.yearViewContent').hide();
                        $('.previousYearViewContent').hide();
                        $('#scorePreviousCurrentYear').val(2016);
                        $('#scoreCurrentYear').val(2016);
                        $('.wholeContent').show();
                    })

                    $('.previousYearViewContent').hide();

                    $('.previousYear').click(function($e)
                    {
                        $e.preventDefault();
                        var data = {
                            Year : $('#scoreCurrentYear').val()
                        };

                        $.ajax({
                            type: "POST",
                            data: data,
                            url: " previousYearChange",
                            success: function(data)
                            {
                                $('#previousYearShow').empty();
                                $('#previousScorecardTable').empty();
                                $('#previousYearShow').append(data.currentYear);
                                $('#scorePreviousCurrentYear').val(data.currentYear);
                                $('#scoreCurrentYear').val(data.currentYear);
                                $('<table class="table table-striped-2 year_view_score_card_row"><thead><tr id="previousRowPlace"><th class="kpi_name_thtd"> KPI </th> <th>Weightage</th></tr> </thead> <tbody id="previousTableBody"> </tbody> </table>').appendTo('#previousScorecardTable');
                                $.each(data.yearMonthName, function(i){
                                    $('<th colspan="2">'+data.yearMonthName[i]+'</th>').appendTo('#previousRowPlace');
                                });
                                var inn =0;
                                {% for kpi in kpi_list %}
                                $('<tr id="praviousRowId'+inn+'"> <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id=" '+data.kpiNameList[inn]['id']+' " > '+data.kpiNameList[inn]['kpiName']+' </a> </td> <td class="weightage asdf">'+data.kpiNameList[inn]['weightage']+' </td> ').appendTo('#previousTableBody');
                                $.each(data.yearKpiColorArray, function(j)
                                {
                                    var color = data.yearKpiColorArray[j][inn];
                                    if(color != 'false' && color != '')
                                    {
                                        if(color == 'Green')
                                        {
                                            $('<td class="month"><img src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color == 'Red')
                                        {
                                            $('<td class="month"><img src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color == 'Yellow')
                                        {
                                            $('<td class="month"><img src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                    }else
                                    {
                                        $('<td class="month"></td>').appendTo('#praviousRowId'+inn);
                                    }

                                    if(j < data.yearMonthName.length-1)
                                    {
                                        var status = data.yearKpiColorArray[j+1][inn];

                                        if(color=='Green' && status=='Green' )
                                        {
                                            $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Green' && status=='Yellow' )
                                        {
                                            $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Green' && status=='Red' )
                                        {
                                            $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Yellow' && status=='Green' )
                                        {
                                            $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Yellow' && status=='Yellow' )
                                        {
                                            $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Yellow' && status=='Red' )
                                        {
                                            $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Red' && status=='Green' )
                                        {
                                            $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Red' && status=='Yellow' )
                                        {
                                            $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else if(color=='Red' && status=='Red' )
                                        {
                                            $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                        }
                                        else
                                        {
                                            $('<td class="month_difference"></td>').appendTo('#praviousRowId'+inn);
                                        }
                                    }
                                });
                                inn++;
                                {% endfor %}
                                $('<tr id="avgRowId'+inn+'"> <td class="kpi_name kpi_name_thtd"> <strong>Average Score </strong> </td> <td class="weightage"></td> ').appendTo('#previousTableBody');
                                $.each(data.yearAvgScore, function(avgCount)
                                {
                                    $('<td colspan="2">'+data.yearAvgScore[avgCount]+'</td>').appendTo('#avgRowId'+inn);
                                });
                                $('.yearViewContent').hide();
                                $('.previousYearViewContent').show();
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown)
                            {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    });

                    $('.nextYear').click(function($e)
                    {
                        $e.preventDefault();
                        var data = {
                            Year : $('#scoreCurrentYear').val()
                        };
                        if($('#scoreCurrentYear').val()==2016)
                        {
                            alert('This is the current year');
                        }
                        else
                        {
                            $.ajax({
                                type: "POST",
                                data: data,
                                url: " nextYearChange",
                                success: function(data)
                                {
                                    $('#previousYearShow').empty();
                                    $('#previousScorecardTable').empty();
                                    $('#previousYearShow').append(data.currentYear);
                                    $('#scorePreviousCurrentYear').val(data.currentYear);
                                    $('#scoreCurrentYear').val(data.currentYear);

                                    $('<table class="table table-striped-2 year_view_score_card_row"><thead><tr id="previousRowPlace"><th class="kpi_name_thtd"> KPI </th> <th>Weightage</th></tr> </thead> <tbody id="previousTableBody"> </tbody> </table>').appendTo('#previousScorecardTable');
                                    $.each(data.yearMonthName, function(i){
                                        $('<th colspan="2">'+data.yearMonthName[i]+'</th>').appendTo('#previousRowPlace');
                                    });
                                    var inn =0;
                                    {% for kpi in kpi_list %}
                                    $('<tr id="praviousRowId'+inn+'"> <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id=" '+data.kpiNameList[inn]['id']+' " > '+data.kpiNameList[inn]['kpiName']+' </a> </td> <td class="weightage asdf">'+data.kpiNameList[inn]['weightage']+' </td> ').appendTo('#previousTableBody');
                                    $.each(data.yearKpiColorArray, function(j)
                                    {
                                        var color = data.yearKpiColorArray[j][inn];
                                        if(color != 'false' && color != '')
                                        {
                                            if(color == 'Green')
                                            {
                                                $('<td class="month"><img src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color == 'Red')
                                            {
                                                $('<td class="month"><img src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color == 'Yellow')
                                            {
                                                $('<td class="month"><img src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                        }else
                                        {
                                            $('<td class="month"></td>').appendTo('#praviousRowId'+inn);
                                        }

                                        if(j < data.yearMonthName.length-1)
                                        {
                                            var status = data.yearKpiColorArray[j+1][inn];

                                            if(color=='Green' && status=='Green' )
                                            {
                                                $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Green' && status=='Yellow' )
                                            {
                                                $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Green' && status=='Red' )
                                            {
                                                $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Yellow' && status=='Green' )
                                            {
                                                $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Yellow' && status=='Yellow' )
                                            {
                                                $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Yellow' && status=='Red' )
                                            {
                                                $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Red' && status=='Green' )
                                            {
                                                $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Red' && status=='Yellow' )
                                            {
                                                $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else if(color=='Red' && status=='Red' )
                                            {
                                                $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            }
                                            else
                                            {
                                                $('<td class="month_difference"></td>').appendTo('#praviousRowId'+inn);
                                            }
                                        }
                                    });
                                    inn++;
                                    {% endfor %}
                                    $('<tr id="avgRowId'+inn+'"> <td class="kpi_name kpi_name_thtd"> <strong>Average Score </strong> </td> <td class="weightage"></td> ').appendTo('#previousTableBody');
                                    $.each(data.yearAvgScore, function(avgCount)
                                    {
                                        $('<td colspan="2">'+data.yearAvgScore[avgCount]+'</td>').appendTo('#avgRowId'+inn);
                                    });
                                    $('.yearViewContent').hide();
                                    $('.previousYearViewContent').show();
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown)
                                {
                                    alert('Error : ' + errorThrown);
                                }
                            })
                        }
                    })
                });
            </script>
        {% endblock %}

        <div class="wholeContent">
            <div class="col-sm-10">
                <div class="dashboard">
                    <div class="table-responsive">
                        <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                            <thead>
                            <tr>
                                <th>
                                    Management Performance
                                    <div class="year_view_btn">
                                        <a href="#" class="left-arrow ss-navigateleft">&nbsp;</a>
                                        <a href=""><span class="item yearView">2016</span></a>
                                        <a href="#" class="right-arrow ss-navigateright">&nbsp;</a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {#<td>Year-2016</td>#}
                            </tr>
                            </tbody>
                        </table>

                        <div class="table_container_dashboard">
                            <table class="table table-striped-2 graph_and_colour_coding_dashboard_row">
                                <thead>
                                <tr>
                                    <th class="kpi_name_th kpi_name_thtd">KPI</th>
                                    <th class="weightage_th">Weightage</th>
                                    {% set i2=0 %}
                                    {% for month in month_name %}

                                        {% if i2 != 2 %}
                                            <th class="month_th_1">{{ month }}</th>
                                        {% endif %}
                                        {% if i2 == 2 %}
                                            <th class="month_th_3 last">{{ month }}</th>
                                        {% endif %}
                                        {% set i2=i2+1 %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% set i=0 %}
                                {% for kpi in kpi_list %}

                                    <tr>
                                        <td class="kpi_name_td kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                                        <td class="weightage_td">{{ kpi.weightage }}</td>
                                        {% set j=0 %}
                                        {% for kpiColor in kpicolorarray %}
                                            <td class="month_td">
                                                {% if kpicolorarray[j][i]=="Green" %}
                                                    <img src="/images/01_score_card.png" alt="Loader Image"/>
                                                {% elseif kpicolorarray[j][i]=="Red" %}
                                                    <img src="/images/03_score_card.png" alt="Loader Image"/>
                                                {% elseif kpicolorarray[j][i]=="Yellow" %}
                                                    <img src="/images/02_score_card.png" alt="Loader Image"/>
                                                {% endif %}
                                            </td>
                                            {% if j != 2 %}
                                                {% set j1=j+1 %}
                                                <td class="month_difference_td">
                                                    {% if kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Green" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Red" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Yellow" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Green" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Red" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Yellow" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Green" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Red" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Yellow" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                            {% set j=j+1 %}
                                        {% endfor %}
                                        {% set i=i+1 %}
                                    </tr>
                                {% endfor %}
                                {% set i1=0 %}
                                <tr>
                                    <td class="kpi_name_td kpi_name_thtd"><strong>Average score</strong></td>
                                    <td class="weightage_td">100</td>
                                    {% for avg in kpiAverageScore %}
                                        <td>
                                            <strong>{{ avg }}</strong>
                                        </td>
                                        {% if i1 != 2 %}
                                            <td>&nbsp;</td>
                                        {% endif %}
                                        {% set i1=i1+1 %}
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="dashboard">
                    <div class="widget time">
                        <div class="x-header">
                            <div class="x-panel-header-text">{{ 'dashboard.main.content'|trans }}</div>
                            <span id="spantext" class="errormsg">March-2016</span>
                            <div class="toolbar-title">
                                <a id="proviousmonth" class="left-arrow ss-navigateleft">&nbsp;</a>
                                <span id="currentid" class="item">March-2016</span>
                                <input type="hidden" id="dataofmonth" name="dataofmonth">
                                <a id="nextmonth" class="right-arrow ss-navigateright">&nbsp;</a>
                            </div>


                        </div>
                        <div id="area" class="chart large_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.shipname'|trans }}  {{ ship_count }}</div>
                    </div>
                    <div class="ship_name">
                        <div class="dashboard_ship_list">
                            <ul>   {% for shipobject in allships %}
                                    <li><a href="{{ path('listallkpiforship_ranking', { 'shipid': shipobject.id,'year': currentyear }) }}">{{ shipobject.shipName }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.ranking'|trans }} {{ 'dashboard.kpi'|trans }}</div>
                    </div>
                    <div class="chart-2">
                        {{ rankinKpiCount }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.score'|trans }} {{ 'dashboard.kpi'|trans }}</div>
                    </div>
                    <div class="chart-2">
                        {{ kpiCount }}
                    </div>
                </div>
            </div>
        </div>

        <div class="yearViewContent">
            <section>
                <div class="">
                    <div class="col-sm-12">
                        <div class="dashboard">
                            <div>
                                <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                    <thead>
                                    <tr>
                                        <th>Management Performance
                                            <div class="year_view_btn">
                                                <a href="#" class="left-arrow ss-navigateleft previousYear">&nbsp;</a>
                                                <a href=""><span class="item yearView fullYearView">{{ currentYear }}</span></a>
                                                <a href="#"  class="right-arrow ss-navigateright nextYear">&nbsp;</a>
                                                <input type="hidden" value="{{ currentYear }}" id="scoreCurrentYear">
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>

                                <table class="table table-striped-2 year_view_score_card_row">
                                    <thead>
                                    <tr>
                                        <th class="kpi_name_thtd">KPI</th>
                                        <th>Weightage</th>
                                        {% for monthName in yearMonthName %}
                                            <th colspan="2">{{ monthName }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i=0 %}
                                    {% for kpi in kpi_list %}
                                        <tr>
                                            <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                                            <td class="weightage">{{ kpi.weightage }}</td>
                                            {% set j=0 %}
                                            {% for monthName in yearMonthName %}
                                                <td class="month">
                                                    {% if yearKpiColorArray[j][i]=="Green" %}
                                                        <img src="/images/01_score_card.png" alt="Loader Image"/>
                                                    {% elseif yearKpiColorArray[j][i]=="Red" %}
                                                        <img src="/images/03_score_card.png" alt="Loader Image"/>
                                                    {% elseif yearKpiColorArray[j][i]=="Yellow" %}
                                                        <img src="/images/02_score_card.png" alt="Loader Image"/>
                                                    {% else %}
                                                        <div class="nocolor"></div>
                                                    {% endif %}
                                                </td>
                                                {% if j != yearMonthName|length-1 %}
                                                    {% set j1=j+1 %}
                                                    <td class="month_difference">
                                                        {% if yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Green" %}
                                                            <img src="/images/straight_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Red" %}
                                                            <img src="/images/down_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                            <img src="/images/down_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Green" %}
                                                            <img src="/images/up_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Red" %}
                                                            <img src="/images/straight_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                            <img src="/images/up_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Green" %}
                                                            <img src="/images/up_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Red" %}
                                                            <img src="/images/down_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                            <img src="/images/straight_arrow.png">
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                {% set j=j+1 %}
                                            {% endfor %}
                                            {% set i=i+1 %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="kpi_name_thtd"><strong>Average Score</strong></td>
                                        <td></td>
                                        {% set colCount=0 %}
                                        {% for avgScore in yearAvgScore %}
                                            {% if colCount != yearMonthName|length-1 %}
                                                <td colspan="2">{{ avgScore }}</td>
                                            {% endif %}
                                            {% if colCount == yearMonthName|length-1 %}
                                                <td>{{ avgScore }}</td>
                                            {% endif %}
                                            {% set colCount=colCount+1 %}
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="previousYearViewContent">
            <section>
                <div class="">
                    <div class="col-sm-12">
                        <div class="dashboard">
                            <div>
                                <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                    <thead>
                                    <tr>
                                        <th>Management Performance
                                            <div class="year_view_btn">
                                                <a href="#" class="left-arrow ss-navigateleft previousYear">&nbsp;</a>
                                                <a href=""><span id="previousYearShow" class="item fullYearView"> </span></a>
                                                <a href="#" class="right-arrow ss-navigateright nextYear ">&nbsp;</a>
                                                <input type="hidden" value="" id="scorePreviousCurrentYear">
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>

                                <div id="previousScorecardTable">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}
