{% extends 'base.html.twig' %}

{% block body %}
    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
        {% block javascripts %}

            {# {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
             <script src="{{ asset_url }}"></script>
             {% endjavascripts %}#}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/drilldown.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                {{ chart(chart) }}
            </script>
            <script>
                $(document).ready(function()
                {
                    var newchart;
                    var nowdate=new Date(),
                            locale = "en-us",
                            month = nowdate.toLocaleString(locale, { month: "long" }),
                            year=nowdate.getFullYear();
                    $('#currentid').text(month+'-'+year)

                    $('#proviousmonth').click(function($e)
                    {
                        $e.preventDefault();
                        var currentdate=new Date($('#currentid').text());
                        currentdate.setMonth(currentdate.getMonth() - 1);
                        currentdate,locale = "en-us",
                                month = currentdate.toLocaleString(locale, { month: "long" }),
                                year=currentdate.getFullYear();
                        $('#currentid').text(month+'-'+year)
                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('monthchangeofrankingkpi', {'dataofmonth':month+'-'+year}),
                            beforeSend: function () {
                                var text='Please Wait';

                                if($('body').find('#resultLoading').attr('id') != 'resultLoading'){
                                    $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
                                }

                                $('#resultLoading').css({
                                    'width':'100%',
                                    'height':'100%',
                                    'position':'fixed',
                                    'z-index':'10000000',
                                    'top':'0',
                                    'left':'0',
                                    'right':'0',
                                    'bottom':'0',
                                    'margin':'auto'
                                });

                                $('#resultLoading .bg').css({
                                    'background':'#000000',
                                    'opacity':'0.7',
                                    'width':'100%',
                                    'height':'100%',
                                    'position':'absolute',
                                    'top':'0'
                                });

                                $('#resultLoading>div:first').css({
                                    'width': '250px',
                                    'height':'75px',
                                    'text-align': 'center',
                                    'position': 'fixed',
                                    'top':'0',
                                    'left':'0',
                                    'right':'0',
                                    'bottom':'0',
                                    'margin':'auto',
                                    'font-size':'16px',
                                    'z-index':'10',
                                    'color':'#ffffff'

                                });

                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeIn(300);
                                $('body').css('cursor', 'wait');

                            },
                            complete: function ()
                            {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                            }
                        });
                        $.ajax({
                            success: function(data)
                            {
                                $('#area').highcharts().series[0].setData(data.changechartdata);

                                /*var chart = $('#area').highcharts();
                                 chart.series[0].update({
                                 name: month+'-'+year,
                                 data: data.changechartdata
                                 });


                                 */
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');

                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown)
                            {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                                alert('Error : ' + errorThrown);

                            }
                        });


                    });
                    $('#nextmonth').click(function($e)
                    {
                        $e.preventDefault();
                        var currentdate=new Date($('#currentid').text());
                        currentdate.setMonth(currentdate.getMonth() + 1);
                        currentdate,locale = "en-us",
                                month = currentdate.toLocaleString(locale, { month: "long" }),
                                year=currentdate.getFullYear();

                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('monthchangeofrankingkpi', {'dataofmonth':month+'-'+year}),
                            beforeSend: function () {
                                var text='Please Wait';

                                if($('body').find('#resultLoading').attr('id') != 'resultLoading'){
                                    $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>'+text+'</div></div><div class="bg"></div></div>');
                                }

                                $('#resultLoading').css({
                                    'width':'100%',
                                    'height':'100%',
                                    'position':'fixed',
                                    'z-index':'10000000',
                                    'top':'0',
                                    'left':'0',
                                    'right':'0',
                                    'bottom':'0',
                                    'margin':'auto'
                                });

                                $('#resultLoading .bg').css({
                                    'background':'#000000',
                                    'opacity':'0.7',
                                    'width':'100%',
                                    'height':'100%',
                                    'position':'absolute',
                                    'top':'0'
                                });

                                $('#resultLoading>div:first').css({
                                    'width': '250px',
                                    'height':'75px',
                                    'text-align': 'center',
                                    'position': 'fixed',
                                    'top':'0',
                                    'left':'0',
                                    'right':'0',
                                    'bottom':'0',
                                    'margin':'auto',
                                    'font-size':'16px',
                                    'z-index':'10',
                                    'color':'#ffffff'

                                });

                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeIn(300);
                                $('body').css('cursor', 'wait');
                            },
                            complete: function () {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                            }
                        });
                        $.ajax({
                            success: function(data)
                            {
                                $('#area').highcharts().series[0].setData(data.changechartdata);

                                /*var chart = $('#area').highcharts();
                                 chart.series[0].update({
                                 name: month+'-'+year,
                                 data: data.changechartdata
                                 });


                                 */
                                $('#currentid').text(month+'-'+year)


                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown)
                            {
                                alert('Error : ' + errorThrown);

                            }
                        });

                    });

                    $('.yearViewContent').hide();

                    $('.yearView').click(function()
                    {
                        $('.wholeContent').hide();
                        $('.yearViewContent').show();
                    })

                    $('.fullYearView').click(function(){

                        $('.yearViewContent').hide();
                        $('.previousYearViewContent').hide();
                        $('#scorePreviousCurrentYear').val(2016);
                        $('#scoreCurrentYear').val(2016);
                        $('.wholeContent').show();
                    })

                    $('.previousYearViewContent').hide();

                    $('.previousYear').click(function($e)
                    {
                        $e.preventDefault();
                        //alert('Wait for a moment');

                        var data = {
                            Year : $('#scoreCurrentYear').val()
                        };

                        $.ajax({
                            type: "POST",
                            data: data,
                            url: " previousYearChange",
                            success: function(data)
                            {
                                //alert('success');
                                $('#previousYearShow').empty();
                                $('#previousScorecardTable').empty();
                                $('#previousYearShow').append(data.currentYear);
                                $('#scorePreviousCurrentYear').val(data.currentYear);
                                $('#scoreCurrentYear').val(data.currentYear);

                                if(data.currentYear==2016)
                                {
                                    var monthCount1 = 0;
                                    var currentMonth = (new Date).getMonth() + 1;
                                    $.each(data.yearKpiColorArray,function(i){
                                        if(monthCount1>currentMonth)
                                        {
                                            $.each(data.kpiNameList, function(j){
                                                data.yearKpiColorArray[i][j]="";
                                            })
                                        }
                                        monthCount1++;
                                    })
                                }

                                if(data.currentYear==2015)
                                {
                                    var monthCount = 0;
                                    $.each(data.yearKpiColorArray,function(i){
                                        if(monthCount<8)
                                        {
                                            $.each(data.kpiNameList, function(j){
                                                data.yearKpiColorArray[i][j]="";
                                            })
                                        }
                                        monthCount++;
                                    })
                                }
                                if(data.currentYear<2015)
                                {
                                    $.each(data.yearKpiColorArray,function(i){
                                        $.each(data.kpiNameList, function(j){
                                            data.yearKpiColorArray[i][j]="";
                                        })
                                    })
                                }

                                $('<table class="table table-striped-2 year_view_score_card_row"><thead><tr id="previousRowPlace"><th class="kpi_name_thtd"> KPI </th> <th>Weightage</th></tr> </thead> <tbody id="previousTableBody"> </tbody> </table>').appendTo('#previousScorecardTable');
                                $.each(data.yearMonthName, function(i){
                                    $('<th colspan="2">'+data.yearMonthName[i]+'</th>').appendTo('#previousRowPlace');
                                });
                                //console.log(data.yearKpiColorArray);
                                var inn =0;
                                {% for kpi in kpi_list %}
                                $('<tr id="praviousRowId'+inn+'"> <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id=" '+data.kpiNameList[inn]['id']+' " > '+data.kpiNameList[inn]['kpiName']+' </a> </td> <td class="weightage asdf">'+data.kpiNameList[inn]['weightage']+' </td> ').appendTo('#previousTableBody');
                                $.each(data.yearKpiColorArray, function(j)
                                {
                                    var color = '';
                                    if(inn < data.yearKpiColorArray.length){
                                        color = data.yearKpiColorArray[j][inn];
                                    }

                                    if(color != 'false' && color != '')
                                    {
                                        if(color == 'Green')
                                        {
                                            $('<td class="month"><img src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="/images/01_score_card.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color == 'Red')
                                        {
                                            $('<td class="month"><img src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="/images/03_score_card.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color == 'Yellow')
                                        {
                                            $('<td class="month"><img src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="/images/02_score_card.png" alt="Loader Image"/></td>');
                                        }
                                    }else
                                    {
                                        $('<td class="month"></td>').appendTo('#praviousRowId'+inn);
                                        //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="" alt="Loader Image"/></td>');
                                    }

                                    if(j<11)
                                    {
                                        var status = data.yearKpiColorArray[j+1][inn];

                                        if(color=='Green' && status=='Green' )
                                        {
                                            $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Green' && status=='Yellow' )
                                        {
                                            $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Green' && status=='Red' )
                                        {
                                            $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Yellow' && status=='Green' )
                                        {
                                            $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Yellow' && status=='Yellow' )
                                        {
                                            $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Yellow' && status=='Red' )
                                        {
                                            $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Red' && status=='Green' )
                                        {
                                            $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Red' && status=='Yellow' )
                                        {
                                            $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>');
                                        }
                                        else if(color=='Red' && status=='Red' )
                                        {
                                            $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/>'+j+'</td>');
                                        }
                                        else
                                        {
                                            $('<td class="month_difference"></td>').appendTo('#praviousRowId'+inn);
                                            //$('#statusData'+inn).after('<td class="month_difference"><img src="" alt="Loader Image"/></td>');
                                        }
                                    }
                                });
                                inn++;
                                {% endfor %}
                                $('.yearViewContent').hide();
                                $('.previousYearViewContent').show();
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown)
                            {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    })

                    $('.nextYear').click(function($e)
                    {
                        $e.preventDefault();
                        //alert('Wait for a moment');

                        var data = {
                            Year : $('#scoreCurrentYear').val()
                        };
                        if($('#scoreCurrentYear').val()==2016)
                        {
                            alert('This is the current year');
                        }
                        else
                        {
                            $.ajax({
                                type: "POST",
                                data: data,
                                url: " nextYearChange",
                                success: function(data)
                                {
                                    //alert('success');
                                    $('#previousYearShow').empty();
                                    $('#previousScorecardTable').empty();
                                    $('#previousYearShow').append(data.currentYear);
                                    $('#scorePreviousCurrentYear').val(data.currentYear);
                                    $('#scoreCurrentYear').val(data.currentYear);

                                    if(data.currentYear==2016)
                                    {
                                        var monthCount1 = 0;
                                        var currentMonth = (new Date).getMonth() + 1;
                                        $.each(data.yearKpiColorArray,function(i){
                                            if(monthCount1>currentMonth)
                                            {
                                                $.each(data.kpiNameList, function(j){
                                                    data.yearKpiColorArray[i][j]="";
                                                })
                                            }
                                            monthCount1++;
                                        })
                                    }

                                    if(data.currentYear==2015)
                                    {
                                        var monthCount = 0;
                                        $.each(data.yearKpiColorArray,function(i){
                                            if(monthCount<8)
                                            {
                                                $.each(data.kpiNameList, function(j){
                                                    data.yearKpiColorArray[i][j]="";
                                                })
                                            }
                                            monthCount++;
                                        })
                                    }
                                    if(data.currentYear<2015 )
                                    {
                                        $.each(data.yearKpiColorArray,function(i){
                                            $.each(data.kpiNameList, function(j){
                                                data.yearKpiColorArray[i][j]="";
                                            })
                                        })
                                    }

                                    $('<table class="table table-striped-2 year_view_score_card_row"><thead><tr id="previousRowPlace"><th class="kpi_name_thtd"> KPI </th> <th>Weightage</th></tr> </thead> <tbody id="previousTableBody"> </tbody> </table>').appendTo('#previousScorecardTable');
                                    $.each(data.yearMonthName, function(i){
                                        $('<th colspan="2">'+data.yearMonthName[i]+'</th>').appendTo('#previousRowPlace');
                                    });
                                    var inn =0;
                                    {% for kpi in kpi_list %}
                                    $('<tr id="praviousRowId'+inn+'"> <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id=" '+data.kpiNameList[inn]['id']+' " > '+data.kpiNameList[inn]['kpiName']+' </a> </td> <td class="weightage asdf">'+data.kpiNameList[inn]['weightage']+' </td> ').appendTo('#previousTableBody');
                                    $.each(data.yearKpiColorArray, function(j)
                                    {
                                        var color = '';
                                        if(inn < data.yearKpiColorArray.length){
                                            color = data.yearKpiColorArray[j][inn];
                                        }

                                        if(color != 'false' && color != '')
                                        {
                                            if(color == 'Green')
                                            {
                                                $('<td class="month"><img src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="/images/01_score_card.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color == 'Red')
                                            {
                                                $('<td class="month"><img src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="/images/03_score_card.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color == 'Yellow')
                                            {
                                                $('<td class="month"><img src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="/images/02_score_card.png" alt="Loader Image"/></td>');
                                            }
                                        }else
                                        {
                                            $('<td class="month"></td>').appendTo('#praviousRowId'+inn);
                                            //$('#previousColorRowId'+inn).after('<td id="statusData'+inn+'" class="month"><img src="" alt="Loader Image"/></td>');
                                        }

                                        if(j<11)
                                        {
                                            var status = data.yearKpiColorArray[j+1][inn];

                                            if(color=='Green' && status=='Green' )
                                            {
                                                $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Green' && status=='Yellow' )
                                            {
                                                $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Green' && status=='Red' )
                                            {
                                                $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Yellow' && status=='Green' )
                                            {
                                                $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Yellow' && status=='Yellow' )
                                            {
                                                $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Yellow' && status=='Red' )
                                            {
                                                $('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/down_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Red' && status=='Green' )
                                            {
                                                $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Red' && status=='Yellow' )
                                            {
                                                $('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/up_arrow.png" alt="Loader Image"/></td>');
                                            }
                                            else if(color=='Red' && status=='Red' )
                                            {
                                                $('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="/images/straight_arrow.png" alt="Loader Image"/>'+j+'</td>');
                                            }
                                            else
                                            {
                                                $('<td class="month_difference"></td>').appendTo('#praviousRowId'+inn);
                                                //$('#statusData'+inn).after('<td class="month_difference"><img src="" alt="Loader Image"/></td>');
                                            }
                                        }
                                    });
                                    inn++;
                                    {% endfor %}
                                    $('.yearViewContent').hide();
                                    $('.previousYearViewContent').show();
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown)
                                {
                                    alert('Error : ' + errorThrown);
                                }
                            })
                        }

                    })
                });
            </script>
        {% endblock %}

        <div class="wholeContent">
        <div class="col-sm-10">
            <div class="dashboard">
                <div class="table-responsive">
                    <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                        <thead>
                        <tr>
                            <th>
                                Management Performance
                                <div class="year_view_btn">
                                    <a href="#" class="left-arrow ss-navigateleft">&nbsp;</a>
                                    <a href=""><span class="item yearView">2016</span></a>
                                    <a href="#" class="right-arrow ss-navigateright">&nbsp;</a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {#<td>Year-2016</td>#}
                        </tr>
                        </tbody>
                    </table>

                    <div class="table_container_dashboard">
                        <table class="table table-striped-2 graph_and_colour_coding_dashboard_row">
                            <thead>
                            <tr>
                                <th class="kpi_name_th kpi_name_thtd">KPI</th>
                                <th class="weightage_th">Weightage</th>
                                {% set i2=0 %}
                                {% for month in month_name %}

                                    {% if i2 != 2 %}
                                        <th class="month_th_1">{{ month }}</th>
                                        {#<th class="month_difference">status</th>#}
                                    {% endif %}
                                    {% if i2 == 2 %}
                                        <th class="month_th_3 last">{{ month }}</th>
                                        {#<th class="month_difference">status</th>#}
                                    {% endif %}
                                    {% set i2=i2+1 %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% set i=0 %}
                            {% for kpi in kpi_list %}

                                <tr>
                                    <td class="kpi_name_td kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                                    <td class="weightage_td">{{ kpi.weightage }}</td>
                                    {% for j in 0..2 %}
                                        <td class="month_td">
                                            {% if kpicolorarray[j][i]=="Green" %}
                                                <img src="/images/01.png" alt="Loader Image"/>
                                            {% elseif kpicolorarray[j][i]=="Red" %}
                                                <img src="/images/03.png" alt="Loader Image"/>
                                            {% elseif kpicolorarray[j][i]=="Yellow" %}
                                                <img src="/images/02.png" alt="Loader Image"/>
                                            {% else %}
                                                <div class="nocolor"></div>
                                            {% endif %}
                                        </td>

                                        {% if j != 2 %}
                                            {% set j1=j+1 %}
                                            <td class="month_difference_td">
                                                {% if kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Green" %}
                                                    <img src="/images/straight_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Red" %}
                                                    <img src="/images/down_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Yellow" %}
                                                    <img src="/images/down_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Green" %}
                                                    <img src="/images/up_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Red" %}
                                                    <img src="/images/straight_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Yellow" %}
                                                    <img src="/images/up_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Green" %}
                                                    <img src="/images/up_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Red" %}
                                                    <img src="/images/down_arrow.png">
                                                {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Yellow" %}
                                                    <img src="/images/straight_arrow.png">
                                                {% endif %}
                                            </td>
                                        {% endif %}

                                    {% endfor %}
                                    {% set i=i+1 %}
                                </tr>

                            {% endfor %}
                            {% set i1=0 %}
                            <tr>
                                <td colspan="2" class="average_score_2_td kpi_name_thtd"><strong>Average score</strong></td>
                                {% for avg in kpiAverageScore %}
                                    <td><strong>{{ avg }}</strong></td>
                                    {% if i1 != 2 %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    {% set i1=i1+1 %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.main.content'|trans }}</div>
                        <div class="toolbar-title">
                            <a id="proviousmonth" class="left-arrow ss-navigateleft">&nbsp;</a>
                            <span id="currentid" class="item">March-2016</span>
                            <a id="nextmonth" class="right-arrow ss-navigateright">&nbsp;</a>
                        </div>


                    </div>
                    <div id="area" class="chart large_chart">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 dashboard">
            <div class="widget time">
                <div class="x-header">
                    <div class="x-panel-header-text">{{ 'dashboard.shipname'|trans }}  {{ ship_count }}</div>
                </div>
                <div class="ship_name">
                    <div class="dashboard_ship_list">
                        <ul>   {% for shipobject in allships %}
                                <li><a href="{{ path('listallkpiforship_ranking', { 'shipid': shipobject.id,'year': currentyear }) }}">{{ shipobject.shipName }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 dashboard">
            <div class="widget time">
                <div class="x-header">
                    <div class="x-panel-header-text">{{ 'dashboard.ranking'|trans }} {{ 'dashboard.kpi'|trans }}</div>
                </div>
                <div class="chart-2">
                    {{ rankinKpiCount }}
                </div>
            </div>
        </div>
        <div class="col-sm-2 dashboard">
            <div class="widget time">
                <div class="x-header">
                    <div class="x-panel-header-text">{{ 'dashboard.score'|trans }} {{ 'dashboard.kpi'|trans }}</div>
                </div>
                <div class="chart-2">
                    {{ kpiCount }}
                </div>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="yearViewContent">
        <section>
            <div class="">
                <div class="col-sm-12">
                    <div class="dashboard">
                        <div>
                            <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                <thead>
                                <tr>
                                    <th>Management Performance
                                        <div class="year_view_btn">
                                            <a href="#" class="left-arrow ss-navigateleft previousYear">&nbsp;</a>
                                            <a href=""><span class="item yearView fullYearView">{{ currentYear }}</span></a>
                                            <a href="#"  class="right-arrow ss-navigateright nextYear">&nbsp;</a>
                                            <input type="hidden" value="{{ currentYear }}" id="scoreCurrentYear">
                                        </div>
                                    </th>
                                    {#<th class="quaterView">Quater view </th>#}
                                </tr>
                                </thead>
                            </table>

                            <table class="table table-striped-2 year_view_score_card_row">
                                <thead>
                                <tr>
                                    <th class="kpi_name_thtd">KPI</th>
                                    <th>Weightage</th>
                                    {% for monthName in yearMonthName %}
                                        <th colspan="2">{{ monthName }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% set i=0 %}
                                {% for kpi in kpi_list %}
                                    <tr>
                                        <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                                        <td class="weightage">{{ kpi.weightage }}</td>

                                        {% for j in 0..11 %}

                                            <td class="month">
                                                {% if j<5 %}
                                                    {% if yearKpiColorArray[j][i]=="Green" %}
                                                        <img src="/images/01_score_card.png" alt="Loader Image"/>
                                                    {% elseif yearKpiColorArray[j][i]=="Red" %}
                                                        <img src="/images/03_score_card.png" alt="Loader Image"/>
                                                    {% elseif yearKpiColorArray[j][i]=="Yellow" %}
                                                        <img src="/images/02_score_card.png" alt="Loader Image"/>
                                                    {% else %}
                                                        <div class="nocolor"></div>
                                                    {% endif %}
                                            {% endif %}
                                            </td>

                                            {% if j != 11 %}
                                                {% set j1=j+1 %}

                                                <td class="month_difference">
                                                {% if j<4 %}
                                                    {% if yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Green" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Red" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Green" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Red" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Green" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Red" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% endif %}
                                                    {#<img src="/images/down_arrow.png">#}
                                                {% endif %}
                                                </td>

                                            {% endif %}

                                        {% endfor %}
                                        {% set i=i+1 %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div class="previousYearViewContent">
        <section>
            <div class="">
                <div class="col-sm-12">
                    <div class="dashboard">
                        <div>
                            <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                <thead>
                                <tr>
                                    <th>Management Performance
                                        <div class="year_view_btn">
                                            <a href="#" class="left-arrow ss-navigateleft previousYear">&nbsp;</a>
                                            <a href=""><span id="previousYearShow" class="item fullYearView"> </span></a>
                                            <a href="#" class="right-arrow ss-navigateright nextYear ">&nbsp;</a>
                                            <input type="hidden" value="" id="scorePreviousCurrentYear">
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>

                            <div id="previousScorecardTable">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

{% endblock %}