{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}

       {# {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}#}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/drilldown.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            {{ chart(chart) }}
        </script>
        <script>
          $(document).ready(function()
          {
              var newchart;
              var nowdate=new Date(),
              locale = "en-us",
                      month = nowdate.toLocaleString(locale, { month: "long" }),
                      year=nowdate.getFullYear();
              $('#currentid').text(month+'-'+year)

              $('#proviousmonth').click(function($e)
              {
                  $e.preventDefault();
                  var currentdate=new Date($('#currentid').text());
                  currentdate.setMonth(currentdate.getMonth() - 1);
                  currentdate,locale = "en-us",
                          month = currentdate.toLocaleString(locale, { month: "long" }),
                          year=currentdate.getFullYear();
                  $('#currentid').text(month+'-'+year)
                  $.ajax({
                      type: "post",
                      'url': Routing.generate('monthchangeofrankingkpi', {'dataofmonth':month+'-'+year}),

                      success: function(data)
                      {
                          alert(data.changechartdata);
                          var chart = $('#area').highcharts();
                          chart.series[0].update({
                              name: month+'-'+year,
                              data: data.changechartdata
                          });
                          chart.drilldown.update({
                              series:data.drilldowndata ,

                          });
                        //  $('#area').html('');
                        //  $('#area').text('');

                          newchart=data.changechart;

                      },
                      error: function(XMLHttpRequest, textStatus, errorThrown)
                      {
                          alert('Error : ' + errorThrown);
                      }
                  });
              });
              $('#nextmonth').click(function($e)
              {
                  $e.preventDefault();
                  var currentdate=new Date($('#currentid').text());
                  currentdate.setMonth(currentdate.getMonth() + 1);
                  currentdate,locale = "en-us",
                          month = currentdate.toLocaleString(locale, { month: "long" }),
                          year=currentdate.getFullYear();
                  $('#currentid').text(month+'-'+year)
              });
          });
        </script>
    {% endblock %}
 <div class="col-sm-10">
        <div class="dashboard">
            <div class="table-responsive">
                <table class="table table-striped graph_and_colour_coding_main_title_row">
                    <thead>
                    <tr>
                        <th>Management Performance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Scorecard: Minimum ~ Maximum: 0 ~ 3.0</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped-2 graph_and_colour_coding_row">
                    <thead>
                    <tr>
                        <th class="kpi_name kpi_name_thtd">Keep Performance Index</th>
                        <th class="weightage">Weightage</th>
                        {% set i2=0 %}
                        {% for month in month_name %}
                            <th class="month">{{ month }}</th>
                            {% if i2 != 2 %}
                                <th class="month_difference">&nbsp;</th>
                            {% endif %}
                            {% set i2=i2+1 %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% set i=0 %}
                    {% for kpi in kpi_list %}

                        <tr>
                            <td class="kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id,'kpiname':kpi.kpiName}) }}" class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                            <td>{{ kpi.weightage }}</td>
                            {% for j in 0..2 %}
                                <td>
                                    {% if kpicolorarray[j][i]=="Green" %}
                                        <img src="/images/01.png" alt="Loader Image"/>
                                    {% elseif kpicolorarray[j][i]=="Red" %}
                                        <img src="/images/03.png" alt="Loader Image"/>
                                    {% elseif kpicolorarray[j][i]=="Yellow" %}
                                        <img src="/images/02.png" alt="Loader Image"/>
                                    {% else %}
                                        <div class="nocolor"></div>
                                    {% endif %}
                                </td>

                                {% if j != 2 %}
                                    {% set j1=j+1 %}
                                    <td>
                                        {% if kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Green" %}
                                            <img src="/images/straight_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Red" %}
                                            <img src="/images/down_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Yellow" %}
                                            <img src="/images/down_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Green" %}
                                            <img src="/images/up_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Red" %}
                                            <img src="/images/straight_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Yellow" %}
                                            <img src="/images/up_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Green" %}
                                            <img src="/images/up_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Red" %}
                                            <img src="/images/down_arrow.png">
                                        {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Yellow" %}
                                            <img src="/images/straight_arrow.png">
                                        {% endif %}
                                    </td>
                                {% endif %}

                            {% endfor %}
                            {% set i=i+1 %}
                        </tr>

                    {% endfor %}
                    {% set i1=0 %}
                    <tr>
                        <td colspan="2" class="kpi_name_thtd"><strong>Average score</strong></td>
                        {% for avg in avgscore %}
                            <td><strong>{{ avg }}</strong></td>
                            {% if i1 != 2 %}
                                <td>&nbsp;</td>
                            {% endif %}
                            {% set i1=i1+1 %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="dashboard">
            <div class="widget time">
                <div class="x-header">
                    <div class="x-panel-header-text">Vessels Ranking</div>
                    <div class="toolbar-title">
                        <a id="proviousmonth" class="left-arrow ss-navigateleft">&nbsp;</a>
                        <span id="currentid" class="item">March-2016</span>
                        <a id="nextmonth" class="right-arrow ss-navigateright">&nbsp;</a>
                    </div>
                </div>
                <div id="area" class="chart large_chart">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 dashboard">
        <div class="widget time">
            <div class="x-header">
                <div class="x-panel-header-text">Vessels  {{ ship_count }}</div>
            </div>
            <div class="ship_name">
                <div class="dashboard_ship_list">
                    <ul>   {% for shipobject in allships %}
                            <li><a href="{{ path('listallkpiforship', { 'shipid': shipobject.id}) }}">{{ shipobject.shipName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 dashboard">
        <div class="widget time">
            <div class="x-header">
                <div class="x-panel-header-text">KPI</div>
            </div>
            <div class="chart-2">
                {{ kpi_count }}
            </div>
        </div>
    </div>


{% endblock %}