{% extends 'base.html.twig' %}


{% block body %}
    {% if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
        {% block javascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts-more.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/drilldown.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts-3d.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                Highcharts.createElement('link', {
                    href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
                    rel: 'stylesheet',
                    type: 'text/css'
                }, null, document.getElementsByTagName('head')[0]);

                Highcharts.theme = {
                    colors: ["#7cb5ec", "#f7a35c", "#90ee7e", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                        "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
                    chart: {
                        backgroundColor: null,
                        style: {
                            fontFamily: "Dosis, sans-serif"
                        }
                    },
                    title: {
                        style: {
                            fontSize: '16px',
                            fontWeight: 'bold',
                            textTransform: 'uppercase'
                        }
                    },
                    tooltip: {
                        borderWidth: 0,
                        backgroundColor: 'rgba(219,219,216,0.8)',
                        shadow: false
                    },
                    legend: {
                        itemStyle: {
                            fontWeight: 'bold',
                            fontSize: '13px'
                        }
                    },
                    xAxis: {
                        gridLineWidth: 1,
                        labels: {
                            style: {
                                fontSize: '12px'
                            }
                        }
                    },
                    yAxis: {
                        minorTickInterval: 'auto',
                        title: {
                            style: {
                                textTransform: 'uppercase'
                            }
                        },
                        labels: {
                            style: {
                                fontSize: '12px'
                            }
                        }
                    },
                    plotOptions: {
                        /*candlestick: {
                            lineColor: '#404048'
                        }*/
                    },


                    // General
                    background2: '#F0F0EA'

                };


                Highcharts.setOptions(Highcharts.theme);
            </script>

            <script type="text/javascript">
                {{ chart(chart) }}
            </script>
            <script type="text/javascript">
                {{ chart(vessel_piechart) }}
            </script>
            <script type="text/javascript">
                {{ chart(kpi_piechart) }}
            </script>

            <script>
                $(document).ready(function () {
                    var base_url = window.location.origin;
                    var newchart;
                    var nowdate = new Date(),
                            locale = "en-us",
                            month = nowdate.toLocaleString(locale, {month: "long"}),
                            year = nowdate.getFullYear();
                    var tempdate=month+'-'+year;
                    $('#dataofmonth').val(nowdate);


                    var areaId = $('#area');
                    $('#proviousmonth').click(function ($e) {
                        $e.preventDefault();
                        var currentdate = new Date($('#dataofmonth').val());
                        currentdate.setFullYear(currentdate.getFullYear() - 1);
                        currentdate, locale = "en-us",
                                month = currentdate.toLocaleString(locale, {month: "long"}),
                                year = currentdate.getFullYear();
                        var data = {
                            year: year
                        };

                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            data:data,
                            'url': Routing.generate('monthchangeofrankingkpi'),
                            beforeSend: function () {
                                var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                            },
                            complete: function () {
                                var setAjaxComplete = setAjaxCompleteFunction();
                            }
                        });
                        $.ajax({
                            success: function (data) {
                                areaId.highcharts().series[0].setData(data.changechartdata);
                                areaId.highcharts().series[0].update({name: year});
                                $('#currentid').text(year);
                                $('#dataofmonth').val(currentdate)
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown)
                            {
                               // window.location.href = base_url+'/login';
                            }
                        });
                    });

                    $('#nextmonth').click(function ($e) {
                        $e.preventDefault();
                        var currentdate = new Date($('#dataofmonth').val());
                        var nowdate = new Date();
                        currentdate.setFullYear(currentdate.getFullYear() + 1);
                        currentdate, locale = "en-us",
                                month = currentdate.toLocaleString(locale, {month: "long"}),
                                year = currentdate.getFullYear();
                        if (currentdate <= nowdate) {
                            var data = {
                                year: year
                            };
                            $.ajaxSetup({
                                global: false,
                                type: "post",
                                data:data,
                                'url': Routing.generate('monthchangeofrankingkpi'),
                                beforeSend: function () {
                                    var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                                },
                                complete: function () {
                                     var setAjaxComplete = setAjaxCompleteFunction();
                                }
                            });
                            $.ajax({
                                success: function (data) {
                                    areaId.highcharts().series[0].setData(data.changechartdata);
                                    areaId.highcharts().series[0].update({name:  year});
                                    $('#currentid').text(year)
                                    $('#dataofmonth').val(currentdate)
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown)
                                {
                                    window.location.href = base_url+'/login';
                                }
                            });
                        }
                        else {
                            $('#spantext').text('Date Exceed...');
                            $('#spantext').show();
                            setTimeout(function () {
                                $('#spantext').fadeOut('fast');
                            }, 4000)

                        }
                    });
                    $('#spantext').hide();

                    function setAjaxBeforeSendFunction() {
                        var text = '';

                        if ($('body').find('#resultLoading').attr('id') != 'resultLoading') {
                            $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>' + text + '</div></div><div class="bg"></div></div>');
                        }

                        $('#resultLoading').css({
                            'width': '100%',
                            'height': '100%',
                            'position': 'fixed',
                            'z-index': '10000000',
                            'top': '0',
                            'left': '0',
                            'right': '0',
                            'bottom': '0',
                            'margin': 'auto'
                        });

                        $('#resultLoading .bg').css({
                            'background': '#000000',
                            'opacity': '0.7',
                            'width': '100%',
                            'height': '100%',
                            'position': 'absolute',
                            'top': '0'
                        });

                        $('#resultLoading>div:first').css({
                            'width': '250px',
                            'height': '75px',
                            'text-align': 'center',
                            'position': 'fixed',
                            'top': '0',
                            'left': '0',
                            'right': '0',
                            'bottom': '0',
                            'margin': 'auto',
                            'font-size': '16px',
                            'z-index': '10',
                            'color': '#ffffff'
                        });

                        $('#resultLoading .bg').height('100%');
                        $('#resultLoading').fadeIn(300);
                        $('body').css('cursor', 'wait');
                    }

                    function setAjaxCompleteFunction() {
                        $('#resultLoading .bg').height('100%');
                        $('#resultLoading').fadeOut(300);
                        $('body').css('cursor', 'default');
                    }

                    var wholeViewContent = $('.wholeContent');
                    var yearViewContent = $('.yearViewContent');
                    var yearView = $('.yearView');
                    yearViewContent.hide();
                    yearView.click(function ($e) {
                        $e.preventDefault();
                        var yearNumData = new Date().getFullYear()+1;
                        var data = {
                            Year: yearNumData
                        };
                        $.ajaxSetup({
                            global: false,
                            data: data,
                            type: "POST",
                            url: " previousYearChange",
                            beforeSend: function () {
                                var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                            },
                            complete: function () {
                                var setAjaxComplete = setAjaxCompleteFunction();
                            }
                        });
                        $.ajax({
                            success: function (data) {
                                var setYearValue = setYearValueFunction(data);
                                var createScorecardTable = createScorecardTableFunction(data);
                                var setMonthName = setMonthNameFunction(data);
                                var setScorecardTableDetails = setScorecardTableDetailsFunction(data);
                                var setGraphValues = setGraphValuesFunction(data);
                                wholeViewContent.hide();
                                previousYearView.show();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        });
                    });

                    var previousYearView = $('.previousYearViewContent');
                    var scorePreviousCurrentYear = $('#scorePreviousCurrentYear');
                    var scoreCurrentYear = $('#scoreCurrentYear');
                    var fullYearView = $('.fullYearView');
                    previousYearView.hide();
                    fullYearView.click(function ($e) {
                        $e.preventDefault();
                        yearViewContent.hide();
                        previousYearView.hide();
                        scorePreviousCurrentYear.val(new Date().getFullYear());
                        scoreCurrentYear.val(new Date().getFullYear());
                        wholeViewContent.show();
                    });

                    var previousYear = $('.previousYear');
                    var previousYearShow = $('#previousYearShow');
                    var previousScorecardTable = $('#previousScorecardTable');
                    previousYear.click(function ($e) {
                        $e.preventDefault();
                        var data = {
                            Year: scoreCurrentYear.val()
                        };

                        $.ajaxSetup({
                            global: false,
                            data: data,
                            type: "POST",
                            url: " previousYearChange",
                            beforeSend: function () {
                                var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                            },
                            complete: function () {
                                var setAjaxComplete = setAjaxCompleteFunction();
                            }
                        });
                        $.ajax({
                            success: function (data) {
                                var setYearValue = setYearValueFunction(data);
                                var createScorecardTable = createScorecardTableFunction(data);
                                var setMonthName = setMonthNameFunction(data);
                                var setScorecardTableDetails = setScorecardTableDetailsFunction(data);
                                var setGraphValues = setGraphValuesFunction(data);
                                yearViewContent.hide();
                                previousYearView.show();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    });

                    function setYearValueFunction(data) {
                        previousYearShow.empty();
                        previousScorecardTable.empty();
                        previousYearShow.append(data.currentYear);
                        scorePreviousCurrentYear.val(data.currentYear);
                        scoreCurrentYear.val(data.currentYear);
                    }

                    function createScorecardTableFunction(data) {
                        $('<table class="table table-striped-2 year_view_score_card_row"><thead><tr id="previousRowPlace"><th class="kpi_name_thtd"> KPI </th> <th>Weightage</th></tr> </thead> <tbody id="previousTableBody"> </tbody> </table>').appendTo('#previousScorecardTable');
                    }

                    function setMonthNameFunction(data) {
                        var monthName = data.yearMonthName;
                        $.each(monthName, function (i) {
                            $('<th colspan="2">' + monthName[i] + '</th>').appendTo('#previousRowPlace');
                        });
                    }

                    function setScorecardTableDetailsFunction(data) {
                        var kpiNameList = data.kpiNameList;
                        var inn = 0;
                        {% for kpi in kpi_list %}
                            $('<tr id="praviousRowId' + inn + '"> <td class="kpi_name kpi_name_thtd"><a href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}" class="kpi_class" id=" ' + kpiNameList[inn]['id'] + ' " > ' + kpiNameList[inn]['kpiName'] + ' </a> </td> <td class="weightage asdf">' + kpiNameList[inn]['weightage'] + ' </td> ').appendTo('#previousTableBody');
                            var yearColorArray = data.yearKpiColorArray;
                            $.each(yearColorArray, function (j) {
                                var color = yearColorArray[j][inn];
                                if (color != 'false' && color != '') {
                                    var setKpiColor = setKpiColorFunction(color, inn);
                                }
                                else {
                                    $('<td class="month"></td>').appendTo('#praviousRowId' + inn);
                                }

                                if (j < data.yearMonthName.length - 1) {
                                    var status = yearColorArray[j + 1][inn];
                                    var setKpiStatus = setKpiStatusFunction(color, status, inn);
                                }
                            });
                            inn++;
                        {% endfor %}
                        $('<tr id="avgRowId' + inn + '"> <td class="kpi_name kpi_name_thtd"> <strong>Average Score </strong> </td> <td class="weightage"><strong>100</strong></td> ').appendTo('#previousTableBody');
                        var yearAvgScore = data.yearAvgScore;
                        $.each(yearAvgScore, function (avgCount) {
                            $('<td colspan="2"><strong>' + yearAvgScore[avgCount] + '</strong></td>').appendTo('#avgRowId' + inn);
                        });
                    }

                    function setKpiColorFunction(color, inn) {
                        if (color == 'Green') {
                            $('<td class="month"><img class="img-icon" src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Red') {
                            $('<td class="month"><img class="img-icon" src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Yellow') {
                            $('<td class="month"><img class="img-icon" src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                    }

                    function setKpiStatusFunction(color, status, inn) {
                        if (color == 'Green' && status == 'Green') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Green' && status == 'Yellow') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Green' && status == 'Red') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Yellow' && status == 'Green') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Yellow' && status == 'Yellow') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Yellow' && status == 'Red') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Red' && status == 'Green') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Red' && status == 'Yellow') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Red' && status == 'Red') {
                            $('<td class="month_difference"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else {
                            $('<td class="month_difference"></td>').appendTo('#praviousRowId' + inn);
                        }
                    }

                    function setGraphValuesFunction(data) {
                        $('#year-view-graph').highcharts({
                            chart: {
                                type: 'line',
                                width: 1000
                            },
                            title: {
                                text: ''
                            },
                            xAxis: {
                                categories: data.yearMonthName
                            },
                            exporting: {"enabled": true},
                            plotOptions: {"series": {"allowPointSelect": true, "dataLabels": {"enabled": true}}},
                            series: [{
                                name: data.heading,
                                showInLegend: false,
                                data: data.yearAvgScore,
                                color: '#103a71'
                            }],
                            yAxis: {"max": 3, "min": 0}
                        });
                    }

                    var nextYear = $('.nextYear');
                    nextYear.click(function ($e) {
                        $e.preventDefault();
                        var data = {
                            Year: scoreCurrentYear.val()
                        };
                        if (scoreCurrentYear.val() == new Date().getFullYear()) {
                            alert('This is the current year');
                        }
                        else {
                            $.ajaxSetup({
                                global: false,
                                data: data,
                                type: "POST",
                                url: " nextYearChange",
                                beforeSend: function () {
                                    var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                                },
                                complete: function () {
                                    var setAjaxComplete = setAjaxCompleteFunction();
                                }
                            });
                            $.ajax({
                                success: function (data) {
                                    var setYearValue = setYearValueFunction(data);
                                    var createScorecardTable = createScorecardTableFunction(data);
                                    var setMonthName = setMonthNameFunction(data);
                                    var setScorecardTableDetails = setScorecardTableDetailsFunction(data);
                                    var setGraphValues = setGraphValuesFunction(data);
                                    yearViewContent.hide();
                                    previousYearView.show();
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert('Error : ' + errorThrown);
                                }
                            })
                        }
                    })
                    $('.highcharts-container','#vessel_piechart').css('height','150px !important');
                    $('.highcharts-container','#kpi_piechart').css('height','150px !important');
                    var rankingkpi='{{ rankinKpiCount }}';
                    var rankingkpicount = parseInt(rankingkpi)
                    var ranking_kpi_array = [rankingkpicount];
                    var scorecardkpi='{{ kpiCount }}';
                    var scorecardkpicount=parseInt(scorecardkpi);
                    var scorecardkpiarray=[scorecardkpicount]


                    $('#rankingkpi_chart').highcharts({

                        chart: {
                            type: 'gauge',
                            plotBackgroundColor: null,
                            plotBackgroundImage: null,
                            plotBorderWidth: 0,
                            plotShadow: false,
                            marginTop: -1,
                            marginLeft: -1,
                            marginRight: -1,
                            marginBottom: -1

                        },
                        credits: {
                            enabled: false
                        },

                        title: {
                            text: ''
                        },

                        pane: {
                            startAngle: -150,
                            endAngle: 150,
                            background: [{
                                backgroundColor: {
                                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                    stops: [
                                        [0, '#FFF'],
                                        [1, '#333']
                                    ]
                                },
                                borderWidth: 0,
                                outerRadius: '109%'
                            }, {
                                backgroundColor: {
                                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                    stops: [
                                        [0, '#333'],
                                        [1, '#FFF']
                                    ]
                                },
                                borderWidth: 1,
                                outerRadius: '107%'
                            }, {
                                // default background
                            }, {
                                backgroundColor: '#DDD',
                                borderWidth: 0,
                                outerRadius: '105%',
                                innerRadius: '103%'
                            }]
                        },

                        // the value axis
                        yAxis: {
                            min: 0,
                            max: 20,

                            minorTickInterval: 'auto',
                            minorTickWidth: 1,
                            minorTickLength: 10,
                            minorTickPosition: 'inside',
                            minorTickColor: '#666',

                            tickPixelInterval: 30,
                            tickWidth: 2,
                            tickPosition: 'inside',
                            tickLength: 10,
                            tickColor: '#666',
                            labels: {
                                step: 2,
                                rotation: 'auto'
                            },
                            title: {
                                text: ''
                            },
                            plotBands: [{
                                from: 0,
                                to: 12,
                                color: '#55BF3B' // green
                            }, {
                                from: 12,
                                to: 17,
                                color: '#DDDF0D' // yellow
                            }, {
                                from: 17,
                                to: 20,
                                color: '#DF5353' // red
                            }]
                        },

                        series: [{
                            name: 'Ranking Kpi',
                            data: ranking_kpi_array,
                            tooltip: {
                                valueSuffix: ''
                            }
                        }]

                    });
                    $('#scorecardkpi_chart').highcharts({

                        chart: {
                            type: 'gauge',
                            plotBackgroundColor: null,
                            plotBackgroundImage: null,
                            plotBorderWidth: 0,
                            plotShadow: false,
                            marginTop: -1,
                            marginLeft: -1,
                            marginRight: -1,
                            marginBottom: -1

                        },
                        credits: {
                            enabled: false
                        },

                        title: {
                            text: ''
                        },

                        pane: {
                            startAngle: -150,
                            endAngle: 150,
                            background: [{
                                backgroundColor: {
                                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                    stops: [
                                        [0, '#FFF'],
                                        [1, '#333']
                                    ]
                                },
                                borderWidth: 0,
                                outerRadius: '109%'
                            }, {
                                backgroundColor: {
                                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                    stops: [
                                        [0, '#333'],
                                        [1, '#FFF']
                                    ]
                                },
                                borderWidth: 1,
                                outerRadius: '107%'
                            }, {
                                // default background
                            }, {
                                backgroundColor: '#DDD',
                                borderWidth: 0,
                                outerRadius: '105%',
                                innerRadius: '103%'
                            }]
                        },

                        // the value axis
                        yAxis: {
                            min: 0,
                            max: 20,

                            minorTickInterval: 'auto',
                            minorTickWidth: 1,
                            minorTickLength: 10,
                            minorTickPosition: 'inside',
                            minorTickColor: '#666',

                            tickPixelInterval: 30,
                            tickWidth: 2,
                            tickPosition: 'inside',
                            tickLength: 10,
                            tickColor: '#666',
                            labels: {
                                step: 2,
                                rotation: 'auto'
                            },
                            title: {
                                text: ''
                            },
                            plotBands: [{
                                from: 0,
                                to: 12,
                                color: '#55BF3B' // green
                            }, {
                                from: 12,
                                to: 17,
                                color: '#DDDF0D' // yellow
                            }, {
                                from: 17,
                                to: 20,
                                color: '#DF5353' // red
                            }]
                        },

                        series: [{
                            name: 'Scorecard Kpi',
                            data: scorecardkpiarray,
                            tooltip: {
                                valueSuffix: ''
                            }
                        }]

                    });
                });
            </script>

        {% endblock %}

                   <div class="wholeContent">
                <div class="col-sm-10">
                    <div class="dashboard">
                        <div class="table-responsive">
                            <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                <thead>
                                <tr>
                                    <th>
                                        {{ heading }}
                                        <div class="year_view_btn">
                                            <a href="#" class="left-arrow ss-navigateleft">&nbsp;</a>
                                            <a href=""><span class="item yearView">{{ currentYear }}</span></a>
                                            <a href="#" class="right-arrow ss-navigateright">&nbsp;</a>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>

                            <div class="table_container_dashboard">
                                <table class="table table-striped-2 graph_and_colour_coding_dashboard_row">
                                    <thead>
                                    <tr>
                                        <th class="kpi_name_th kpi_name_thtd">KPI</th>
                                        <th class="weightage_th">Weightage</th>
                                        {% set i2=0 %}
                                        {% for month in month_name %}

                                            {% if i2 != 2 %}
                                                <th class="month_th_1">{{ month }}</th>
                                            {% endif %}
                                            {% if i2 == 2 %}
                                                <th class="month_th_3 last">{{ month }}</th>
                                            {% endif %}
                                            {% set i2=i2+1 %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i=0 %}
                                    {% for kpi in kpi_list %}

                                        <tr>
                                            <td class="kpi_name_td kpi_name_thtd"><a
                                                        href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}"
                                                        class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                                            <td class="weightage_td">{{ kpi.weightage }}</td>
                                            {% set j=0 %}
                                            {% for kpiColor in kpicolorarray %}
                                                {% if j != 2 %}
                                                    <td class="month_td_1">
                                                        {% if kpicolorarray[j][i]=="Green" %}
                                                            <img class="img-icon" src="/images/01_score_card.png" alt="Loader Image"/>
                                                        {% elseif kpicolorarray[j][i]=="Red" %}
                                                            <img class="img-icon" src="/images/03_score_card.png" alt="Loader Image"/>
                                                        {% elseif kpicolorarray[j][i]=="Yellow" %}
                                                            <img class="img-icon" src="/images/02_score_card.png" alt="Loader Image"/>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                {% if j == 2 %}
                                                    <td class="month_td_3">
                                                        {% if kpicolorarray[j][i]=="Green" %}
                                                            <img class="img-icon" src="/images/01_score_card.png" alt="Loader Image"/>
                                                        {% elseif kpicolorarray[j][i]=="Red" %}
                                                            <img class="img-icon" src="/images/03_score_card.png" alt="Loader Image"/>
                                                        {% elseif kpicolorarray[j][i]=="Yellow" %}
                                                            <img class="img-icon" src="/images/02_score_card.png" alt="Loader Image"/>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                {% if j != 2 %}
                                                    {% set j1=j+1 %}
                                                    <td class="month_difference_td_1">
                                                        {% if kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Green" %}
                                                            <img class="img-status-icon" src="/images/straight_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Red" %}
                                                            <img class="img-status-icon" src="/images/down_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Green" and kpicolorarray[j1][i]=="Yellow" %}
                                                            <img class="img-status-icon" src="/images/down_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Green" %}
                                                            <img class="img-status-icon" src="/images/up_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Red" %}
                                                            <img class="img-status-icon" src="/images/straight_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Red" and kpicolorarray[j1][i]=="Yellow" %}
                                                            <img class="img-status-icon" src="/images/up_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Green" %}
                                                            <img class="img-status-icon" src="/images/up_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Red" %}
                                                            <img class="img-status-icon" src="/images/down_arrow.png">
                                                        {% elseif kpicolorarray[j][i]=="Yellow" and kpicolorarray[j1][i]=="Yellow" %}
                                                            <img class="img-status-icon" src="/images/straight_arrow.png">
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                {% set j=j+1 %}
                                            {% endfor %}
                                            {% set i=i+1 %}
                                        </tr>
                                    {% endfor %}
                                    {% set i1=0 %}
                                    <tr>
                                        <td class="kpi_name_td kpi_name_thtd"><strong>Average score</strong></td>
                                        <td class="weightage_td"><strong>100</strong></td>
                                        {% for avg in kpiAverageScore %}
                                            {% if i1 != 2 %}
                                                <td class="month_td_1">
                                                    <strong>{{ avg }}</strong>
                                                </td>
                                                <td class="month_difference_td_1">&nbsp;</td>
                                            {% endif %}
                                            {% if i1 == 2 %}
                                                <td class="month_td_3">
                                                    <strong>{{ avg }}</strong>
                                                </td>
                                            {% endif %}
                                            {% set i1=i1+1 %}
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard">
                        <div class="widget time">
                            <div class="x-header">
                                <div class="x-panel-header-text">{{ 'dashboard.main.content'|trans }}</div>
                                <span id="spantext" class="errormsg">March-2016</span>
                                <div class="toolbar-title">
                                    <a id="proviousmonth" style="cursor: pointer" class="left-arrow ss-navigateleft">&nbsp;</a>
                                    <span id="currentid" class="item">{{ currentYear }}</span>
                                    <input type="hidden" id="dataofmonth" name="dataofmonth">
                                    <a id="nextmonth" style="cursor: pointer" class="right-arrow ss-navigateright">&nbsp;</a>
                                </div>
                            </div>
                            <div id="area" class="chart large_chart">
                            </div>
                        </div>
                    </div>
                </div>

            {#<div class="col-sm-2 dashboard">
                <div class="widget time time-new">
                    <div class="x-header x-header-new">
                        <div class="x-panel-header-text-new">{{ 'dashboard.shipname'|trans }}  {{ ship_count }}</div>
                    </div>
                    <div class="ship_name">
                        <div class="dashboard_ship_list">
                            <ul>   {% for shipobject in allships %}
                                    <li>
                                        <a href="{{ path('listallkpiforship_ranking', { 'shipid': shipobject.id,'year': currentyear }) }}">{{ shipobject.shipName }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>#}
            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.kpialert'|trans }}</div>
                    </div>
                    <div class="chart-2 chart_min_height"  id="kpi_piechart">
                    </div>
                </div>
            </div>
            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.vesselalert'|trans }}</div>
                    </div>
                    <div class="chart-2 chart_min_height"  id="vessel_piechart">
                    </div>
                </div>
            </div>

            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.ranking'|trans }} {{ 'dashboard.kpi'|trans }}</div>
                    </div>
                    <div class="chart-2 chart_min_height"  id="rankingkpi_chart">
                       {# {{ rankinKpiCount }}#}
                    </div>
                </div>
            </div>
            <div class="col-sm-2 dashboard">
                <div class="widget time">
                    <div class="x-header">
                        <div class="x-panel-header-text">{{ 'dashboard.score'|trans }} {{ 'dashboard.kpi'|trans }}</div>
                    </div>
                    <div class="chart-2 chart_min_height"  id="scorecardkpi_chart">
                       {# {{ kpiCount }}#}
                    </div>
                </div>
            </div>
        </div>

        <div class="yearViewContent">
            <section>
                <div class="">
                    <div class="col-sm-12">
                        <div class="dashboard">
                            <div>
                                <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                    <thead>
                                    <tr>
                                        <th>Management Performance
                                            <div class="year_view_btn">
                                                <a href="#" class="left-arrow ss-navigateleft previousYear">&nbsp;</a>
                                                <a href=""><span
                                                            class="item yearView fullYearView">{{ currentYear }}</span></a>
                                                <a href="#" class="right-arrow ss-navigateright nextYear">&nbsp;</a>
                                                <input type="hidden" value="{{ currentYear }}" id="scoreCurrentYear">
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>

                                <table class="table table-striped-2 year_view_score_card_row">
                                    <thead>
                                    <tr>
                                        <th class="kpi_name_thtd">KPI</th>
                                        <th>Weightage</th>
                                        {% for monthName in yearMonthName %}
                                            <th colspan="2">{{ monthName }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i=0 %}
                                    {% for kpi in kpi_list %}
                                        <tr>
                                            <td class="kpi_name kpi_name_thtd"><a
                                                        href="{{ path('listelementforkpi', { 'kpiid': kpi.id}) }}"
                                                        class="kpi_class" id="{{ kpi.id }}">{{ kpi.kpiName }}</a></td>
                                            <td class="weightage">{{ kpi.weightage }}</td>
                                            {% set j=0 %}
                                            {% for monthName in yearMonthName %}
                                                <td class="month">
                                                    {% if yearKpiColorArray[j][i]=="Green" %}
                                                        <img src="/images/01_score_card.png" alt="Loader Image"/>
                                                    {% elseif yearKpiColorArray[j][i]=="Red" %}
                                                        <img src="/images/03_score_card.png" alt="Loader Image"/>
                                                    {% elseif yearKpiColorArray[j][i]=="Yellow" %}
                                                        <img src="/images/02_score_card.png" alt="Loader Image"/>
                                                    {% else %}
                                                        <div class="nocolor"></div>
                                                    {% endif %}
                                                </td>
                                                {% if j != yearMonthName|length-1 %}
                                                    {% set j1=j+1 %}
                                                    <td class="month_difference">
                                                        {% if yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Green" %}
                                                            <img class="img-status-icon" src="/images/straight_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Red" %}
                                                            <img class="img-status-icon" src="/images/down_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                            <img class="img-status-icon" src="/images/down_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Green" %}
                                                            <img class="img-status-icon" src="/images/up_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Red" %}
                                                            <img class="img-status-icon" src="/images/straight_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                            <img class="img-status-icon" src="/images/up_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Green" %}
                                                            <img class="img-status-icon" src="/images/up_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Red" %}
                                                            <img class="img-status-icon" src="/images/down_arrow.png">
                                                        {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                            <img class="img-status-icon" src="/images/straight_arrow.png">
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                {% set j=j+1 %}
                                            {% endfor %}
                                            {% set i=i+1 %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="kpi_name_thtd"><strong>Average Score</strong></td>
                                        <td><strong>100</strong></td>
                                        {% set colCount=0 %}
                                        {% for avgScore in yearAvgScore %}
                                            {% if colCount != yearMonthName|length-1 %}
                                                <td colspan="2"><strong>{{ avgScore }}</strong></td>
                                            {% endif %}
                                            {% if colCount == yearMonthName|length-1 %}
                                                <td>{{ avgScore }}</td>
                                            {% endif %}
                                            {% set colCount=colCount+1 %}
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="previousYearViewContent">
            <section>
                <div class="">
                    <div class="col-sm-12">
                        <div class="dashboard">
                            <div>
                                <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row">
                                    <thead>
                                    <tr>
                                        <th>{{ heading }}
                                            <div class="year_view_btn">
                                                <a href="#" class="left-arrow ss-navigateleft previousYear">&nbsp;</a>
                                                <a href=""><span id="previousYearShow"
                                                                 class="item fullYearView"> </span></a>
                                                <a href="#" class="right-arrow ss-navigateright nextYear ">&nbsp;</a>
                                                <input type="hidden" value="" id="scorePreviousCurrentYear">
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>

                                <div id="previousScorecardTable">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="col-sm-12">
                    <div class="dashboard">
                        <table class="table table-striped normal_table">
                            <thead>
                                <tr>
                                    <th>{{ heading }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="year-view-graph"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}
