{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/thickbox/thickbox.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.12.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        {# <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>#}

        <script type="text/javascript">
            {{ chart(chart) }}


        </script>



    {% endblock %}

   {# {% block stylesheets %}

        {% stylesheets '@InitialShippingBundle/Resources/public/js/thickbox/thickbox.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}#}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>{{ shipname.shipName }}</h2>
            <a href="{{ path('dashboradhome') }}">Back</a>
        </div>
        <div class="bs-example">

        {#

        <div id="overlay">
            {% image '@InitialShippingBundle/Resources/public/img/ajax-loader.gif' %}
            <img src="{{ asset_url }}" alt="Loader Image"/>
            {% endimage %}
        </div>
#}
            <div class="table-responsive">

                <table class="table table-striped" style="" id="readingkpitable">
                <thead>
                <tr>

                    <th>Kpi Name</th>
                    <th>Weightage</th>
                    {% for monthname in montharray %}
                        <th>{{ monthname }}</th>
                        {#<th></th>#}
                    {% endfor %}

                </tr>



                </thead>
                <tbody>
                {% set countmonth1= countmonth-1 %}
                  {% set i=0 %}
                {#  {% set j=0 %}#}
                {% for kpi in listofkpi %}
                    <tr>

                        <td>

                            <a
                                    href="{{ path('listelementforkpi', { 'kpiid': kpi.id,'kpiname':kpi.kpiName,'TB_iframe':true}) }}?keepThis=true&TB_iframe=true&margin-left=213px&width=800px" class="thickbox"
                                    title="{{ kpi.kpiName }}">
                                {{ kpi.kpiName }}
                            </a>
                        </td>
                        <td>{{ kpiweightage[i] }}%</td>
                        {% for j in 0..countmonth1 %}
                            <td>
                                {% if kpicolorarray[j][i]=="Green" %}
                                <div class="green"></div>
                                {% elseif kpicolorarray[j][i]=="Red" %}
                                <div class="red"></div>
                                {% elseif kpicolorarray[j][i]=="Yellow" %}
                                <div class="yellow"></div>
                                {% else %}
                                <div class="nocolor"></div>
                                {% endif %}
                            </td>
                        {% endfor %}


                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
              {#  <tr><td>Total</td></tr>#}
                <tr>
                    <th>Avg Score</th>
                    <td>100%</td>
                    {% for avg in avgscore %}
                        <td>{{ avg }}</td>
                    {% endfor %}

                </tr>
                </tbody>
            </table>
                </div>
            <div class="form-group">
            <div id="area" style="min-width: 400px; height: 400px; margin: 35px auto"></div>
                </div>
        </div>


    </div>

{% endblock %}