{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            {{ chart(chart) }}
        </script>
        <script>
            $(document).ready(function()
            {
                $('#commentform').hide();
                $('#mailform').hide();
                $('#addcomment').hide();

                $('#showcommentform').click(function()
                {
                    $('#mailform').hide();
                    $('#commentform').show();
                    $('#usermycommentid').focus();
                    $('#buttonid').hide();

                });
                $('#sendreports').click(function()
                {
                    $('#viewcommentdiv').hide();
                    $('#commentform').hide();
                    $('#mailform').show();
                    $('#livesearchdiv').hide();
                    $('#buttonid').hide();



                });
                $('#toemail').keyup(function()
                {

                    var searchstring=$(this).val();
                    var data = {searchstring :searchstring} ;
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: "/dashborad/autocompeltegroup",
                        beforeSend: function () {
                            /* $("#toemail").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");*/
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {

                            if($.isArray(data.returnresult))
                            {
                                $.each(data.returnresult, function(i, listelemnt)
                                {

                                    $('#hiddenresult').val(data.returnresult);
                                    $('#livesearchdiv').show();
                                    $("#livesearch").show();
                                    $("#livesearch").html('<li class="dynamiclabel">' + listelemnt.groupname + '</li><li class="dynamiclabel">' + listelemnt.useremailid + '</li>');
                                   /* $("#livesearch").css("background", "#FFF");*/

                                });

                            }



                        }
                        ,
                        error: function()
                        {
                            alert('Error While Generating Image as pdf');

                        }
                    });

                });


                $(".dynamiclabel").live("click",function(e)
                {
                    var b=$(this).text();
                    $('#toemail').val(b);
                    $('#livesearchdiv').hide();
                });
/*

                $(document).live("click", function(e) {
                    var $clicked = $(e.target);
                    if (! $clicked.hasClass("search_keyword")){
                        $("#livesearch").fadeOut();
                    }
                });

                $('#toemail').click(function()
                {
                    $("#livesearch").fadeIn();
                });

*/



                $('#addcommentid').click(function()
                {

                    var kpiid=$('#kpiidforname').val();
                    var comment=$('#usermycommentid').val();

                    var data = {kpiid :kpiid,comment:comment} ;
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: "/runtimecomment",
                        beforeSend: function () {
                            $(".modal").show();
                        },
                        complete: function () {
                            $(".modal").hide();
                        }
                    });

                    $.ajax({
                        data: data,
                        success: function (data)
                        {

                            $('#usermycommentid').val(' ');
                            $('#commentform').hide();
                            var a=data.lastinsertid;
                            $('#lastid').val(a);
                            $('#viewcommentdiv').text('');
                            if($.isArray(data.resultarray))
                            {
                               // alert('if');
                                $.each(data.resultarray, function(i, listelemnt)
                                {
                                   // alert('eachloop')
                                    $('<p class="dyaminc">'+listelemnt.comment+'</p>').appendTo("#viewcommentdiv");
                                    $('#buttonid').show();

                                });
                            }


                        }
                        ,
                        error: function()
                        {
                            alert('Error While Generating Image as pdf');

                        }
                    });

                });
                $('#chatform').submit(function(e)
                {
                    e.preventDefault();
                    var abc = false;
                    var self = this;
                    var obj = {},chart;
                    chart = $('#area').highcharts();
                    obj.svg = chart.getSVG();
                    obj.type = 'image/png';
                    obj.width = 1085;
                    obj.async = true;
                    var data = {svgid :obj.svg,typeid:obj.type,filewidth:obj.width,fileanys:obj.async} ;
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: "/addchart",
                        beforeSend: function () {
                            $(".modal").show();
                        },
                        complete: function () {
                            $(".modal").hide();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {

                            $('#imagefilename').val(data);
                            submitchatform();

                        }
                        ,
                        error: function()
                        {
                            alert('Error While Generating Image as pdf');

                        }
                    });

                });
                function submitchatform()
                {
                    alert("formsubmitted");
                    var form=$('#chatform');
                    $.ajax({
                        type: "post",
                        data: form.serialize(),
                        url: "/addcommentforshipreports",
                        success: function (data)
                        {
                            $('#commentform').hide();
                            $('#mailform').hide();
                            $('#addcomment').hide();

                            alert(data.updatemsg);

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown)
                        {
                            alert('Error : ' + errorThrown);
                        }
                    });
                };



            });
        </script>



    {% endblock %}
<div class="col-md-12 users_advanced_list_views_screen">
       {# <div class="page-header">
            <h2>{{ shipname.shipName }}</h2>
            <a href="{{ path('dashboradhome') }}">Back</a>
        </div>#}
            <div class="table-responsive">

                <table class="table table-striped" style="" id="readingkpitable">
                    <thead>
                    <tr>

                        <th>Kpi Name</th>
                        <th>Weightage</th>
                        {% for monthname in montharray %}
                            <th>{{ monthname }}</th>
                            {#<th></th>#}
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                    {% set countmonth1= countmonth-1 %}
                    {#{% set newelementarray = {} %}
                    {% set newcolorarray = {} %}
                    {% set akj=0 %}#}
                    {% set i=0 %}
                    {% for kpi in listofkpi %}
                       {# {% set newelementarray = newelementarray|merge({('_'~i):(kpi.kpiName)}) %}#}
                        <tr><td>

                                <a
                                        href="{{ path('listelementforkpi', { 'kpiid': kpi.id,'kpiname':kpi.kpiName}) }}"
                                        title="{{ kpi.kpiName }}">
                                    {{ kpi.kpiName }}
                                </a>
                            </td>
                            <td>{{ kpiweightage[i] }}%</td>
                            {% for j in 0..countmonth1 %}
                                {#{% set newcolorarray = newcolorarray|merge({('_'~akj):(kpicolorarray[j][i])}) %}#}
                                <td>
                                    {% if kpicolorarray[j][i]=="Green" %}
                                        <img src="/images/01.png" alt="Loader Image"/>
                                    {% elseif kpicolorarray[j][i]=="Red" %}
                                        <img src="/images/03.png" alt="Loader Image"/>
                                    {% elseif kpicolorarray[j][i]=="Yellow" %}
                                        <img src="/images/02.png" alt="Loader Image"/>
                                    {% else %}
                                        <div class="nocolor"></div>
                                    {% endif %}
                                </td>
                               {# {% set akj=akj+1 %}#}

                            {% endfor %}


                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    {#  <tr><td>Total</td></tr>#}
                    <tr>
                        <th>Avg Score</th>
                        <td>100%</td>
                        {% for avg in avgscore %}
                            <td>{{ avg }}</td>
                        {% endfor %}

                    </tr>
                    </tbody>
                </table>
            </div>
    <div class="graph_colour">
        <div id="area"></div>
    </div>
    <div class="graph_send_comment">
    <div class="title" id="viewcommentdiv" >

    {#        {% set newcommandarray = {} %}

            {% set jk=0 %}#}
            {% for comobject in commentarray %}
                {{ comobject.comment }}
               {# {% set newcommandarray = newcommandarray|merge({('_'~jk):(comobject.comment)}) %}
                {% set jk=jk+1 %}#}
            {% endfor %}
       </div>
    <hr class="section-separator">

        <div id="buttonid">
            <button value="Submit" id="showcommentform"  class="submit_btn_add">Add comment</button>
            <button value="Submit" id="sendreports"  class="submit_btn_add">Send reports</button>
        </div>
        <div class="add_new_users_form">
            <!--Form for Add comment Starts Here  -->

            <fieldset id="commentform" class="fieldset_box_2">
                <legend class="legend_name">Add comment</legend>
                <form  class="form-horizontal no-style"  method="post">

                    <input id="kpiidforname" type="hidden" name="send_command[kpiid] " value="{{ shipid }}">

                <div class="form-group">
                    <div class="col-xs-12">
                        {#<textarea class="add_comment_textarea" placeholder="Enter comment here..."> </textarea>#}
                        <textarea id="usermycommentid" class="add_comment_textarea" placeholder="Enter Comment Here" name="send_command[comment]" required></textarea>
                    </div>
                </div>
              {#  <button value="Save" type="submit" class="submit_btn_save">Save</button>#}
                    <input  class="submit_btn_save" id="addcommentid" type="submit" value="Save">
                    </form>
            </fieldset>
            <!--Form for Add comment Ends Here  -->
            <!--Form for Send Reports Starts Here  -->
            <fieldset id="mailform" class="fieldset_box_2">
                <legend class="legend_name">Send reports</legend>
                <form id="chatform" class="form-horizontal no-style" method="post">
                   {# <input type="hidden" name="montharrayinstring" value="{{ montharray|join(', ') }}">
                    <input type="hidden" name="listofcomments" value="{{ newcommandarray|join(', ') }}">
                    <input type="hidden" name="listofelments" value="{{ newelementarray|join(', ') }}">
                    <input type="hidden" name="elementweightage" value="{{ kpiweightage|join(', ') }}">
                    <input type="hidden" name="elementcolorarray" value="{{ newcolorarray|join(', ') }}">
                    <input type="hidden" name="avgscore" value="{{ avgscore|join(', ') }}">
                    <input type="hidden" name="countmonth" value="{{ countmonth }}">#}

                    <input id="imagefilename" type="hidden" name="send_command[filename]" >
                    <input id="lastid" type="hidden" name="send_command[lastid]" >
                    <input id="kpiidforname" type="hidden" name="send_command[kpiid] " value="{{ shipid }}">
                <div class="form-group">
                    <label class="control-label required_field col-xs-3">Add comment</label>
                    <div class="col-xs-9">
                        {#<div class="add_comment_checkbox">
                            <label><input type="checkbox" name="send_command[addcomment]" class="inline-checkbox"> Yes</label>
                        </div>
                        <div class="add_comment_checkbox">
                            <label><input type="checkbox" name="send_command[addcomment]" class="inline-checkbox"> No</label>
                        </div>#}
                        <div class="add_comment_checkbox"><label><input type="checkbox"  name="send_command[addcomment]" class="inline-checkbox" value="Yes"> Yes</label></div>
                        <div class="add_comment_checkbox"><label><input type="checkbox"  name="send_command[addcomment]" class="inline-checkbox" value="No"> No</label></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label required_field col-xs-3">To</label>
                    <div class="col-xs-9">
                        {#<input type="text" class="send_reports_to_input" placeholder="">#}
                        <input id="toemail" type="text" class="send_reports_to_input" name="send_command[clientemail]" required>
                        <div id="livesearchdiv"  class="send_reports_to_input_list">
                            <ul id="livesearch">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label required_field col-xs-3">Mail box</label>
                    <div class="col-xs-9">
                       {# <textarea class="add_comment_textarea" placeholder="Enter comment here"> </textarea>#}
                        <textarea id="mycommentid" name="send_command[comment]" required class="add_comment_textarea" placeholder="Enter comment here"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">&nbsp;</label>
                    <div class="col-xs-9">
                        {#<button value="Send reports" type="submit" class="submit_btn_2">Send reports</button>#}
                        <input id="" class="submit_btn_2" type="submit" value="Send Report">
                    </div>

                </div>
                    </form>
            </fieldset>
            <!--Form for Send Reports Ends Here  -->

            </div>


    </div>
    </div>
{% endblock %}
