
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/pdf.css" rel="stylesheet">
    

    <link href="/css/ss-standard.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function()
        {

        });
    </script>

</head>
<body>

<div class="certificate-wrapper">
    <div class="row-fluid">

        <div class="certificates_header clearfix">
            <div class="brand-title">
                <div class="title"> {{ kpiname }} </div>
            </div>
            <div class="brand-logo-2"><img src="images/pioneer_logo.png"></div>
        </div>
        {% if kpiname !='Vessel age'%}
        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table kpi_ranking_12_month_pdf_main_title_row">
                <thead>
                <tr>
                    <th>{{ kpiname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table class="responsive-table certificates-table element_ranking_12_month_pdf_row">
                <thead>
                <tr>
                    <th class="kpi_name">Element Name</th>
                    {% set countmonth1= countmonth-1 %}
                    {% for x in 0..countmonth1 %}
                        <th colspan="2" style="text-align: center" class="month">{{ montharray[x] }}</th>
                    {% endfor %}

                </tr>
                </thead>
                <tbody>

                {% set elementcountvalue= countofelement-1 %}
                {% set i=0 %}
                {% for element in listofelement %}
                    <tr>
                        <td class="element_name_title">{{ element.elementName }}
                        {% for j in 0..countmonth1 %}
                            <td>

                                {{ monthlydata[j][i]  }}
                            </td>
                        {% if elementcolorarray[j][0] == "" %}
                            <td></td>
                        {% endif %}
                        {% if elementcolorarray[j][0] != "" %}
                            <td>
                                {% if elementcolorarray[j][i]=="Green" %}
                                    <img class="img-icon" src="/images/02.large.png" alt="Loader Image"/>
                                {% elseif elementcolorarray[j][i]=="Red" %}
                                    <img class="img-icon" src="/images/03.large.png" alt="Loader Image"/>
                                {% elseif elementcolorarray[j][i]=="Yellow" %}
                                    <img class="img-icon" src="/images/01.large.png" alt="Loader Image"/>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% endfor %}
                        {#{% for m in 0..countmonth1 %}
                            #}{# {% for bc in 0..elementcountvalue %}#}{#
                            {% if elementcolorarray[m][0] == "" %}
                                <td></td>
                            {% endif %}
                            {% if elementcolorarray[m][0] != "" %}
                                <td>
                                    {% if elementcolorarray[m][i]=="Green" %}
                                        <img class="img-icon" src="/images/02.large.png" alt="Loader Image"/>
                                    {% elseif elementcolorarray[m][i]=="Red" %}
                                        <img class="img-icon" src="/images/03.large.png" alt="Loader Image"/>
                                    {% elseif elementcolorarray[m][i]=="Yellow" %}
                                        <img class="img-icon" src="/images/01.large.png" alt="Loader Image"/>
                                    {% endif %}
                                </td>
                            {% endif %}

                            #}{#  {% endfor %}#}{#
                        {% endfor %}#}

                    </tr>

                   {# <tr>
                        {% for m in 0..countmonth1 %}
                       #}{# {% for bc in 0..elementcountvalue %}#}{#
                            {% if elementcolorarray[m][0] == "" %}
                                <td></td>
                            {% endif %}
                            {% if elementcolorarray[m][0] != "" %}
                                <td>
                                    {% if elementcolorarray[m][i]=="Green" %}
                                        <img class="img-icon" src="/images/02.large.png" alt="Loader Image"/>
                                    {% elseif elementcolorarray[m][i]=="Red" %}
                                        <img class="img-icon" src="/images/03.large.png" alt="Loader Image"/>
                                    {% elseif elementcolorarray[m][i]=="Yellow" %}
                                        <img class="img-icon" src="/images/01.large.png" alt="Loader Image"/>
                                    {% endif %}
                                </td>
                            {% endif %}

                          #}{#  {% endfor %}#}{#
                        {% endfor %}
                    </tr>#}
                    {% set i=i+1 %}
                {% endfor %}
                <tr>
                    <td colspan="" class="kpi_name_thtd"><strong>{{ 'elementranking.score'|trans }}</strong></td>
                    {% for avg in kpigraph %}
                    {#{% if avg != NULL %}
                        <td><strong>{{ avg }}</strong></td>

                    {% else  %}
                        <td><strong></strong></td>
                    {% endif %}#}
                        <td><strong>{{ avg }}</strong></td>
                        <td></td>


                    {% endfor %}
                </tr>

                </tbody>
            </table>
        </section>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">{{ kpiname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="phantomjs/listofgraph/{{ link }}" alt="Loader Image"/></td>
                </tr>
                </tbody>
            </table>
        </section>
        {% else %}
            <section class="data-row-section top-margin-space">
                <table class="responsive-table certificates-table">
                    <thead>
                    <tr>
                        <th class="branding-colours thead-title-two-row no-td-right-border">{{ kpiname }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="/phantomjs/listofgraph/{{ link }}" alt="Loader Image"/></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        {% endif %}



    </div>
</div>
</body>
</html>
