
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/pdf.css" rel="stylesheet">

    <link href="css/ss-standard.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="certificate-wrapper">
    <div class="row-fluid">

        <div class="certificates_header clearfix">
            <div class="brand-title">
                <div class="title">{{ 'kpipdf.title'|trans }}</div>
            </div>
            <div class="brand-logo-2"><img src="images/pioneer_logo.png"></div>
        </div>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table kpi_ranking_12_month_pdf_main_title_row">
                <thead>
                <tr>
                    <th colspan="4">{{ 'kpiranking.header'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ 'kpiranking.veseelname'|trans }}</strong></td>
                    <td>{{ shipname }}</td>
                    <td><strong>{{ 'kpiranking.techmanager'|trans }}</strong></td>
                    <td>V-ships</td>
                </tr>
                <tr>
                    <td><strong>{{ 'kpiranking.year'|trans }}</strong></td>
                    <td>{{ currentyear }}</td>
                    <td><strong>{{ 'kpiranking.ageofvessel'|trans }}</strong></td>
                    <td>{{ ageofvessel }}</td>
                </tr>
                </tbody>
            </table>
            <table class="responsive-table certificates-table kpi_ranking_12_month_pdf_row">
                <thead>
                <tr>
                    <th class="branding-colours kpi_name">{{ 'kpiranking.kpi'|trans }}</th>
                    <th class="branding-colours weightage">{{ 'kpiranking.weightage'|trans }}</th>

                    {% for monthname in montharray %}
                        <th class="branding-colours">{{ monthname }}</th>
                        {#<th></th>#}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set countmonth1= countmonth-1 %}
                {% set i=0 %}
                {% for kpi in listofkpi %}

                    <tr><td>
                            {{ kpi.kpiName }}
                        </td>
                        <td>{{ kpiweightage[i] }}%</td>
                        {% for j in 0..countmonth1 %}

                            <td>
                                {{ kpimonthdata[j][i] }}
                            </td>


                        {% endfor %}


                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
                {#  <tr><td>Total</td></tr>#}
                <tr>
                    <td colspan="" class="kpi_name_thtd"><strong>{{ 'kpiranking.avgscore'|trans }}</strong></td>
                    <td>100</td>

                    {% for avg in avgscore %}
                        <td><strong>{{ avg }}</strong></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </section>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">{{ shipname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/uploads/brochures/{{ link }}" alt="Loader Image"/></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">{{ 'kpipdf.commands'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% if commentarray|length <= 0 %}
                            <h4 align="center">{{ 'elementranking.nocommands'|trans }} </h4>
                        {% endif %}
                        {% if commentarray|length > 0 %}
                            {% for comobject in commentarray %}
                                {{ comobject.comment }}

                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

    </div>
</div>
</body>
</html>
