
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/pdf.css" rel="stylesheet">

    <link href="css/ss-standard.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            var elements = [];

            var k = 0;
            {% for element in listofelement %}

            elements.push(['{{ element.elementName }}','{{ element.id }}']);
            var abcdef='{{ element.elementName }}';
            var rule_value = $('#'+{{ element.id }}).val();
            var rule_value_array = splitfun(rule_value);

            if(rule_value != null)
            {
                $('<div class="rules_valus" id="rules_valus_id'+k+'" >').appendTo('#rulePlaceId');
                $('<div class="title">'+abcdef+'</div>').appendTo('#rules_valus_id'+k);

                $.each(rule_value_array,function(i)
                {
                    var condition_text = "";
                    var rule_obj = JSON.parse(rule_value_array[i]);

                    $.each(rule_obj.conditions.all, function(j)
                    {
                        if(rule_obj.conditions.all[j].operator=='equalTo')
                        {
                            rule_obj.conditions.all[j].operator='=';
                        }
                        else if(rule_obj.conditions.all[j].operator=='notEqualTo')
                        {
                            rule_obj.conditions.all[j].operator='!=';
                        }
                        else if(rule_obj.conditions.all[j].operator=='greaterThan')
                        {
                            rule_obj.conditions.all[j].operator='>';
                        }
                        else if(rule_obj.conditions.all[j].operator=='greaterThanEqual')
                        {
                            rule_obj.conditions.all[j].operator='>=';
                        }
                        else if(rule_obj.conditions.all[j].operator=='lessThan')
                        {
                            rule_obj.conditions.all[j].operator='<';
                        }
                        else if(rule_obj.conditions.all[j].operator=='lessThanEqual')
                        {
                            rule_obj.conditions.all[j].operator='<=';
                        }
                        var condition_text_one =rule_obj.conditions.all[j].operator+rule_obj.conditions.all[j].value;
                        if(j==0)
                        {
                            condition_text = condition_text_one;
                        }
                        if(j>0)
                        {
                            condition_text = condition_text+'   ' + '&&' +'   '+condition_text_one;
                        }
                    });
                    $('<div ><span class="span_1">'+condition_text+'</span><span class="span_1">'+rule_obj.actions.value+'</span></div>').appendTo('#rules_valus_id'+k);

                });

                $('</div>');
            }

            k++;
            {% endfor %}


            /*Displaying the rules above the graph*/

            function splitfun(data){
                var result = data.split('*');
                return result;
            }

        });
    </script>
</head>
<body>

<div class="certificate-wrapper">
    <div class="row-fluid">

        <div class="certificates_header clearfix">
            <div class="brand-title">
                <div class="title">{{ kpiname }}</div>
            </div>
            <div class="brand-logo-2"><img src="images/pioneer_logo.png"></div>
        </div>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table kpi_ranking_12_month_pdf_main_title_row">
                <thead>
                <tr>
                    <th>{{ kpiname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td></td>
                </tr>
                </tbody>
            </table>
            <table class="responsive-table certificates-table element_ranking_12_month_pdf_row">
                <thead>
                {% set i1=0 %}
                <tr>
                    <th class="kpi_name kpi_name_thtd">Element Name</th>
                    <th class="weightage">Weightage</th>
                    {% for monthname in montharray %}
                        <th class="month">{{ monthname }}</th>
                        {% if i1 != 2 %}
                            <th class="month_difference">&nbsp;</th>
                        {% endif %}
                        {% set i1 = i1+1 %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set countmonth1= countmonth-1 %}
                {% set newelementarray = {} %}
                {% set newcolorarray = {} %}
                {% set akj=0 %}
                {% set i=0 %}
                {% for element in listofelement %}
                    {% set newelementarray = newelementarray|merge({('_'~i):(element.elementName)}) %}
                    <tr>
                        <td class="kpi_name_thtd"><a  style="color: #2b542c"  href="{{ path('listelementforkpi', { 'kpiid': element.id,'kpiname':element.id,'TB_iframe':true}) }}?keepThis=true&TB_iframe=true" class="thickbox" title="{{ element.elementName }}"> {{ element.elementName }}</a></td>
                        <td>{{ element.weightage }}</td>
                        {% for j in 0..countmonth1 %}
                            <td>
                                {% if j <1 %}
                                    {% set newcolorarray = newcolorarray|merge({('_'~akj):(elementcolorarray[j][i])}) %}
                                    {% if elementcolorarray[j][i]=="Green" %}
                                        <img src="/images/01.png" alt="Loader Image"/>
                                    {% elseif elementcolorarray[j][i]=="Red" %}
                                        <img src="/images/03.png" alt="Loader Image"/>
                                    {% elseif elementcolorarray[j][i]=="Yellow" %}
                                        <img src="/images/02.png" alt="Loader Image"/>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% if j != 2 %}
                                {% set j1=j+1 %}
                                <td>
                                    {% if j <0 %}
                                        {% if elementcolorarray[j][i]=="Green" and elementcolorarray[j1][i]=="Green" %}
                                            <img src="/images/straight_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Green" and elementcolorarray[j1][i]=="Red" %}
                                            <img src="/images/down_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Green" and elementcolorarray[j1][i]=="Yellow" %}
                                            <img src="/images/down_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Red" and elementcolorarray[j1][i]=="Green" %}
                                            <img src="/images/up_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Red" and elementcolorarray[j1][i]=="Red" %}
                                            <img src="/images/straight_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Red" and elementcolorarray[j1][i]=="Yellow" %}
                                            <img src="/images/up_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Yellow" and elementcolorarray[j1][i]=="Green" %}
                                            <img src="/images/up_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Yellow" and elementcolorarray[j1][i]=="Red" %}
                                            <img src="/images/down_arrow.png">
                                        {% elseif elementcolorarray[j][i]=="Yellow" and elementcolorarray[j1][i]=="Yellow" %}
                                            <img src="/images/straight_arrow.png">
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% set akj=akj+1 %}
                        {% endfor %}
                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% set secondMonthCountList=0 %}
                    {% for monthname in 0.3 %}
                        <td>&nbsp;</td>
                        {% if secondMonthCountList < monthName|length-1 %}
                            <td>&nbsp;</td>
                        {% endif %}
                        {% set secondMonthCountList=secondMonthCountList+1 %}
                    {% endfor %}
                </tr>
                {% set k=0 %}
                <tr>
                    <td class="kpi_name kpi_name_thtd">{{ kpiname }}</td>
                    <td class="weightage">100</td>
                    {% for kpi_colors_first in kpi_color %}
                        {% for kpi_colors in kpi_colors_first %}
                            <td class="month">
                                {% if kpi_colors_first[0] =="Green" %}
                                    <img src="/images/01.png" alt="Loader Image"/>
                                {% elseif kpi_colors_first[0] =="Red" %}
                                    <img src="/images/03.png" alt="Loader Image"/>
                                {% elseif kpi_colors_first[0] =="Yellow" %}
                                    <img src="/images/02.png" alt="Loader Image"/>
                                {% endif %}
                            </td>
                            {% if k != 2 %}
                                {% set k1=0 %}
                                {#<td>{{ kpi_color[2][0] }}</td>#}
                                <td class="month_difference">
                                    {% if kpi_colors=="Green" and kpi_color[k+1][k1]=="Green" %}
                                        <img src="/images/straight_arrow.png">
                                    {% elseif kpi_colors=="Green" and kpi_color[k+1][k1]=="Red" %}
                                        <img src="/images/down_arrow.png">
                                    {% elseif kpi_colors=="Green" and kpi_color[k+1][k1]=="Yellow" %}
                                        <img src="/images/down_arrow.png">
                                    {% elseif kpi_colors=="Red" and kpi_color[k+1][k1]=="Green" %}
                                        <img src="/images/up_arrow.png">
                                    {% elseif kpi_colors=="Red" and kpi_color[k+1][k1]=="Red" %}
                                        <img src="/images/straight_arrow.png">
                                    {% elseif kpi_colors=="Red" and kpi_color[k+1][k1]=="Yellow" %}
                                        <img src="/images/up_arrow.png">
                                    {% elseif kpi_colors=="Yellow" and kpi_color[k+1][k1]=="Green" %}
                                        <img src="/images/up_arrow.png">
                                    {% elseif kpi_colors=="Yellow" and kpi_color[k+1][k1]=="Red" %}
                                        <img src="/images/down_arrow.png">
                                    {% elseif kpi_colors=="Yellow" and kpi_color[k+1][k1]=="Yellow" %}
                                        <img src="/images/straight_arrow.png">
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% set k=k+1 %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            </section>
        {#<section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table element_ranking_12_month_pdf_row">
               #}{# {% set k=0 %}
                <tr>
                    <td class="kpi_name kpi_name_thtd">{{ kpiname }}</td>
                    <td class="weightage">100</td>
                    {% for kpi_colors_first in kpi_color %}
                        {% for kpi_colors in kpi_colors_first %}
                            <td class="month">
                                {% if kpi_colors_first[0] =="Green" %}
                                    <img src="/images/01.png" alt="Loader Image"/>
                                {% elseif kpi_colors_first[0] =="Red" %}
                                    <img src="/images/03.png" alt="Loader Image"/>
                                {% elseif kpi_colors_first[0] =="Yellow" %}
                                    <img src="/images/02.png" alt="Loader Image"/>
                                {% endif %}
                            </td>
                            {% if k != 2 %}
                                {% set k1=0 %}
                                #}{##}{#<td>{{ kpi_color[2][0] }}</td>#}{##}{#
                                <td class="month_difference">
                                    {% if kpi_colors=="Green" and kpi_color[k+1][k1]=="Green" %}
                                        <img src="/images/straight_arrow.png">
                                    {% elseif kpi_colors=="Green" and kpi_color[k+1][k1]=="Red" %}
                                        <img src="/images/down_arrow.png">
                                    {% elseif kpi_colors=="Green" and kpi_color[k+1][k1]=="Yellow" %}
                                        <img src="/images/down_arrow.png">
                                    {% elseif kpi_colors=="Red" and kpi_color[k+1][k1]=="Green" %}
                                        <img src="/images/up_arrow.png">
                                    {% elseif kpi_colors=="Red" and kpi_color[k+1][k1]=="Red" %}
                                        <img src="/images/straight_arrow.png">
                                    {% elseif kpi_colors=="Red" and kpi_color[k+1][k1]=="Yellow" %}
                                        <img src="/images/up_arrow.png">
                                    {% elseif kpi_colors=="Yellow" and kpi_color[k+1][k1]=="Green" %}
                                        <img src="/images/up_arrow.png">
                                    {% elseif kpi_colors=="Yellow" and kpi_color[k+1][k1]=="Red" %}
                                        <img src="/images/down_arrow.png">
                                    {% elseif kpi_colors=="Yellow" and kpi_color[k+1][k1]=="Yellow" %}
                                        <img src="/images/straight_arrow.png">
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% set k=k+1 %}
                        {% endfor %}
                    {% endfor %}
                </tr>#}{#
            </table>
        </section>#}


        <section class="data-row-section top-margin-space">
            <table class="table table-striped-4 kpi_ranking_rules_show_row">
                <thead>
                <tr>
                    <th colspan="3">Rules</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="rulePlaceId" class="rulePlace">

                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <div>
            {% set newcommandarray = {} %}
            {% set jk=0 %}
            {% set ik=0 %}
            {% for kpiRules in elementRule %}
                {% for kpi_rules in kpiRules %}
                    {% set newcommandarray = newcommandarray|merge({('_'~jk):(kpi_rules.rules)}) %}
                    {% set jk=jk+1 %}
                {% endfor %}
                {% if elementRule[ik] != NULL %}
                    {% if elementRule[ik][0]['rules']  != NULL %}
                        <input type="hidden" name="listofcomments" id={{ listofelement[ik]['id'] }} value="{{ newcommandarray|join('*') }}">
                    {% else %}
                        <input type="hidden" name="listofcomments" id="" value="{{ newcommandarray|join('*') }}">
                    {% endif %}
                {% endif %}

                {% set ik=ik+1 %}
                {% set newcommandarray = {} %}
            {% endfor %}
        </div>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">{{ kpiname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/uploads/brochures/{{ link }}" alt="Loader Image"/></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">{{ 'elementpdf.commands'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="viewcommentdiv" >
                        {% if commentarray|length <= 0 %}
                            {{ 'elementranking.nocommands'|trans }}
                        {% endif %}
                        {% if commentarray|length > 0 %}
                            {% for comobject in commentarray %}
                                {{ comobject.comment }}

                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

    </div>
</div>
</body>
</html>
