{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            {{ chart(chart) }}
        </script>
        <script>
            $(document).ready(function()
            {
                $('#resultofreport').hide();
                $('#emptyresultofreport').hide();
                $('#reportform').submit(function($e)
                {
                    $e.preventDefault(); //Without Page will refersh
                    var form=$('#reportform');
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('view_ranking_reports'),
                        beforeSend: function ()
                        {
                            var beforsend=ajaxbefore_send();
                        },
                        complete: function () {
                            var complete=ajax_complete();
                        }
                    });

                    $.ajax({
                        data: form.serialize(),
                        success: function (data)
                        {
                            $('#kpigraphlist').html(' ');
                            $('#kpigraphlist').text(' ');
                            $('#kpigraphlist').val(' ');
                            if(data.chartdata.length!=0)
                            {
                                $('#area').highcharts().series[0].setData(data.chartdata);
                                console.log(data.chartdata);
                                $('#area').highcharts().xAxis[0].setCategories(data.montharray);
                                // console.log(data.chartmonth);
                                $('#graphtitle').text(data.shipname);
                                $('#sendreportshipid').val(data.shipid);
                                $('#shipnameid').text(data.shipname);
                                $('#currentyearid').text(data.currentyear);
                                $('#yearid').val(data.currentyear);
                                $('#ageofvesselid').text(data.ageofvessel);
                                $('<table class="table table-striped-2 kpi_ranking_row secondtable"><thead ><tr id="headertable"><th>KPI</th><th class="tableheader">Weightage</th></tr></thead><tbody id="tablebodyid"></tbody></table>').appendTo('#tableofcontent');
                                var shipdatamonthcount
                                for (shipdatamonthcount = 0; shipdatamonthcount < data.countmonth; shipdatamonthcount++) {
                                    $('<th class="month">' + data.montharray[shipdatamonthcount] + '</th>').appendTo('#headertable');


                                }


                                $.each(data.listofkpi, function (i) {
                                    $('<div id="score_color_' + data.listofkpi[i]['id'] + '"></div> <table id="table_' + data.listofkpi[i]['id'] + '" class="table table-striped normal_table"><thead><tr ><th>' + data.listofkpi[i]['kpiName'] + '</th></tr></thead><tbody><tr><td id="' + data.listofkpi[i]['id'] + '"></td></tr></tbody></table>').appendTo('#kpigraphlist')
                                    $('<tr id="secondtabletr' + i + '"></tr>').appendTo('#tablebodyid');
                                    $('<td id="' + i + '" class="kpi_name_thtd"><a href="#score_color_' + data.listofkpi[i]['id'] + '"> ' + data.listofkpi[i]['kpiName'] + '</a></td><td>' + data.kpiweightage[i] + '</td>').appendTo('#secondtabletr' + i);
                                    var k = 0;
                                    for (k = 0; k < data.countmonth; k++) {

                                        if (data.kpimonthdata[k][i] != null) {
                                            $('<td>' + data.kpimonthdata[k][i] + '</td>').appendTo('#secondtabletr' + i);
                                        }
                                        else {
                                            $('<td></td>').appendTo('#secondtabletr' + i);
                                        }

                                    }

                                });

                                $('<tr class="newtempclass"><td class="kpi_name_thtd"><strong>Score</strong></td><td><strong>100</strong></td></tr>').appendTo('#tablebodyid');
                                var kk = 0;
                                for (kk = 0; kk < data.countmonth; kk++) {  // console.log(data.avgscore[j]);
                                    if (data.avgscore[kk] != null) {
                                        $('<td><strong>' + data.avgscore[kk] + '</strong></td>').appendTo('.newtempclass');
                                    }
                                    else {
                                        $('<td></td>').appendTo('.newtempclass');
                                    }


                                }
                                var tempcount = 0;
                                /* <tr id="elementcolor'+key+'"></tr><tr id="elementavgscor'+key+'"></tr>*/
                                var elementtrdynamic = 0;

                                $.each(data.kpigraph, function (key, listofelementvalues) {
                                    $('<table class="table table-striped graph_and_colour_coding_main_title_row"><thead><tr><th>' + data.listofkpi[tempcount]['kpiName'] + '</th></tr></thead><tbody><tr><td></td></tr></tbody></table>').appendTo('#score_color_' + key);
                                    $('<table class="table table-striped-3 element_ranking_new_row"><thead><tr id="tableheader_' + key + '"><th>Element Name</th></tr></thead><tbody id="scoretablebodyid_' + key + '"></tbody></table>').appendTo('#score_color_' + key)
                                    var datamonthcount
                                    for (datamonthcount = 0; datamonthcount < data.countmonth; datamonthcount++) {
                                        $('<th colspan="2" class="month">' + data.montharray[datamonthcount] + '</th>').appendTo('#tableheader_' + key);

                                    }
                                    //console.log(data.monthlydata);

                                    $.each(data.listofelement[key], function (b) {
                                        $('<tr id="elementid_' + elementtrdynamic + '"></tr>').appendTo('#scoretablebodyid_' + key);
                                        $('<td  class="element_name_title">' + data.listofelement[key][b]['elementName'] + '</td>').appendTo('#elementid_' + elementtrdynamic);


                                        var monthcount = 0
                                        for (monthcount = 0; monthcount < data.countmonth; monthcount++) {
                                            var ranking_value = '';
                                            var ranking_color = '';

                                            if (data.monthlydata[key][monthcount].length != 0) {

                                                ranking_value = data.monthlydata[key][monthcount][b];
                                                ranking_color = data.elementcolorarray[key][monthcount][b];
                                            }
                                            if (ranking_value != 'false' && ranking_value != '' && ranking_value != null && ranking_value != 'undefined') {
                                                $('<td>' + ranking_value + '</td>').appendTo('#elementid_' + elementtrdynamic);
                                            }
                                            else {
                                                $('<td></td>').appendTo('#elementid_' + elementtrdynamic);
                                            }

                                           /* /!* $('<td>green</td>').appendTo('#elementcolor_'+elementtrdynamic);*!/
                                            var ranking_color = '';
                                            if (data.elementcolorarray[key][monthcount].length != 0) {
                                                ranking_color = data.elementcolorarray[key][monthcount][b];

                                            }*/

                                            if (ranking_color != 'false' && ranking_color != '') {
                                                if (ranking_color == 'Green') {
                                                    $('<td><img src="/images/box_green.png" alt="Loader Image"/></td>').appendTo('#elementid_' + elementtrdynamic);
                                                }
                                                else if (ranking_color == 'Red') {
                                                    $('<td><img src="/images/box_red.png" alt="Loader Image"/></td>').appendTo('#elementid_' + elementtrdynamic);
                                                }
                                                else if (ranking_color == 'Yellow') {
                                                    $('<td><img src="/images/box_yellow.png" alt="Loader Image"/></td>').appendTo('#elementid_' + elementtrdynamic);
                                                }
                                            }
                                            else {
                                                $('<td></td>').appendTo('#elementid_' + elementtrdynamic);
                                            }
                                        }
                                        elementtrdynamic++;
                                    });
                                    $('<tr id="elementavgscore_' + elementtrdynamic + '"></tr>').appendTo('#scoretablebodyid_' + key);
                                    $('<td class="kpi_name_thtd"><strong>Score</strong></td>').appendTo('#elementavgscore_' + elementtrdynamic);
                                    var avgscore = 0
                                    for (avgscore = 0; avgscore < data.countmonth; avgscore++)
                                    {
                                        var i1=0;
                                        $('<td><strong>' + data.kpigraph[key][avgscore] + '</strong></td>').appendTo('#elementavgscore_' + elementtrdynamic);
                                        if(i1 != 2 )
                                        {
                                            $('<td>&nbsp;</td>').appendTo('#elementavgscore_' + elementtrdynamic);
                                        }
                                        i1++;
                                    }


                                    $('#' + key).highcharts({
                                        chart: {
                                            type: 'line',
                                            width: 1065
                                        },
                                        title: {
                                            text: ''

                                        },
                                        xAxis: {
                                            categories: data.montharray
                                        },
                                        yAxis: {
                                            max: data.listofkpi[tempcount]['weightage'],
                                            min: 0
                                        },
                                        plotOptions: {
                                            "series": {
                                                "allowPointSelect": true,
                                                "dataLabels": {"enabled": true}
                                            }
                                        },
                                        series: [{
                                            name: data.listofkpi[tempcount]['kpiName'],
                                            showInLegend: false,
                                            data: listofelementvalues
                                        }]
                                    });
                                    tempcount++;

                                });
                                $('#formcontentid').hide();
                                $('#resultofreport').show();
                                $('#listalltable').show();
                            }
                            else
                            {
                                $('#formcontentid').hide();
                                $('#emptyresultofreport').show();
                                $('<span>No Record Found For '+data.currentyear+' </span>').appendTo('#emptyrecord');
                            }
                        }
                        ,
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });
                $('#allshipsid').click(function(e)
                {
                    e.preventDefault();
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('overall_ships_rankingreports'),
                        beforeSend: function ()
                        {
                            var beforsend=ajaxbefore_send();
                        },
                        complete: function () {
                            var complete=ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {

                            $('#imagefilename').val(data);
                            submitchatform();

                        }
                        ,
                        error: function()
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });
                $('#toemail').keyup(function($e)
                {
                    $e.preventDefault();
                    var searchstring=$(this).val();
                    var data = {searchstring :searchstring} ;
                    $.ajax({
                        data: data,
                        url:Routing.generate('autocompleteformailing'),
                        type:"post",
                        success: function (data)
                        {

                            if($.isArray(data.returnresult))
                            {
                                $.each(data.returnresult, function(i, listelemnt)
                                {
                                    //$('#hiddenresult').val(data.returnresult);
                                   // $('#commentandreportdiv').show();
                                    $('#livesearchdiv').show();
                                    $("#livesearch").show();
                                    $("#livesearch").html('<li class="dynamiclabel">' + listelemnt.groupname + '</li><li class="dynamiclabel">' + listelemnt.useremailid + '</li>');

                                });

                            }



                        }
                        ,
                        error: function()
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });
                $('#sendmailid').click(function($e)
                {
                    $e.preventDefault();
                    var shipid=$('#sendreportshipid').val();
                    var year=$('#yearid').val();
                    var clientemail=$('#toemail').val();
                    var comment=$('#mycommentid').val();
                    var data = {shipid :shipid,year:year,clientemail:clientemail,comment:comment} ;
                    $('#close_button').click();
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url:Routing.generate('send_rankingreports_mail'),
                        beforeSend: function ()
                        {
                            var beforsend=ajaxbefore_send();
                        },
                        complete: function () {
                            var complete=ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data)
                        {
                            jAlert('', data.updatemsg);
                        }
                        ,
                        error: function()
                        {
                            window.location.href = 'http://shipreports/login';

                        }
                    });

                });


                $(".dynamiclabel").live("click",function(e)
                {
                    var b=$(this).text();
                    $('#toemail').val(b);
                    $('#livesearchdiv').hide();
                });
                $('#livesearchdiv').hide()
                $('#mycommentid').click(function()
                {
                    $('#livesearchdiv').hide();
                });
                $('#mycommentid').focus(function()
                {
                    $('#livesearchdiv').hide();
                });

            });
        </script>




    {% endblock %}

    <section>
        <div id="formcontentid" class="col-sm-12">
            <div class="actions_report_vessel_top">
                <a class="actions_report_btn" href="{{ path('allships_ranking_reports') }}"  >Vessel Reports</a>
            </div>
            <div class="add_kpi_views_screen report_top">

                <form id="reportform" class="form-horizontal no-style"  method="post">

                    <div class="kpi_basic_details">
                        <fieldset class="fieldset_box add_rule_form">
                            <legend class="legend_name">Reports</legend>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Choose Vessels</label>
                                <div class="col-xs-8">
                                    <select required name="shipid" >
                                        <option value="">Select</option>
                                        {% for shipobject in listofships %}
                                            <option value="{{ shipobject.id }} ">{{ shipobject.shipName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Choose Year</label>
                                <div class="col-xs-8">
                                    <select required class="add_rule_basic_drop"  name="year">
                                        <option value="">Select</option>
                                        <option value=2000>2000</option>
                                        <option value=2001>2001</option>
                                        <option value=2002>2002</option>
                                        <option value=2003>2003</option>
                                        <option value=2004>2004</option>
                                        <option value=2005>2005</option>
                                        <option value=2006>2006</option>
                                        <option value=2007>2007</option>
                                        <option value=2008>2008</option>
                                        <option value=2009>2009</option>
                                        <option value=2010>2010</option>
                                        <option value=2011>2011</option>
                                        <option value=2012>2012</option>
                                        <option value=2013>2013</option>
                                        <option value=2014>2014</option>
                                        <option value=2015>2015</option>
                                        <option value=2016>2016</option>
                                        <option value=2017>2017</option>
                                        <option value=2018>2018</option>
                                        <option value=2019>2019</option>
                                        <option value=2020>2020</option>
                                    </select>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="actions_submit">
                        <input type="submit" class="submit_btn" id="viewreportid" value="View Report" />
                    </div>

                </form>
            </div>

        </div>
    </section>
    <section>
        <div id="emptyresultofreport" class="col-md-12 users_advanced_list_views_screen ">
            <div class="actions_report_top">
                <a href="{{ path('ranking_reports') }}" class="actions_report_btn">{{ 'ranking_report.back'|trans }}</a>
            </div>
            <div id="emptyrecord" style="margin-top: 40px;">

            </div>
        </div>
    </section>
    <section >
        <div id="resultofreport" class="col-md-12 users_advanced_list_views_screen ">
            <div class="actions_report_top">
                <form id="" class="form-horizontal no-style" action="{{ path('send_rankingreports') }}" target="_blank"  method="post">
                    <input type="hidden" id="sendreportshipid" name="shipid">
                    <input type="hidden" id="yearid" name="year">
                    <button type="submit" class="actions_report_btn" id="sendreportid" >{{ 'ranking_report.print'|trans }}</button>
                </form>
                {# <a href="{{ path('dashboardhome', { 'year':currentyear,'shipid':}) }}" class="actions_report_btn">Print</a>#}
                <a data-toggle="modal" class="actions_report_btn" href="" data-target="#myModal">Send Report</a>
                <a href="{{ path('ranking_reports') }}" class="actions_report_btn">Back</a>

            </div>
            <div id="listalltable" class="table-responsive rankingreport">

                <table class="table table-striped-4 element_ranking_main_title_row">
                    <thead>
                    <tr>
                        <th colspan="4">
                            {{ 'kpiranking.header'|trans }}
                            {#<a class="linkclass" href="{{ path('dashboardhome', { 'year':currentyear}) }}" style="float: right"  >{{ 'elementranking.backlink'|trans }}</a>#}

                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>{{ 'kpiranking.veseelname'|trans }}</strong></td>
                        <td id="shipnameid"></td>
                        <td><strong>{{ 'kpiranking.techmanager'|trans }}</strong></td>
                        <td>V-ships</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'kpiranking.year'|trans }}</strong></td>
                        <td id="currentyearid"></td>
                        <td><strong>{{ 'kpiranking.ageofvessel'|trans }}</strong></td>
                        <td id="ageofvesselid"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="tableofcontent"></div>
                <table id="shipchart" class="table table-striped normal_table">
                    <thead>
                    <tr>
                        <th id="graphtitle">Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="area"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="kpigraphlist">

                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog model_content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close_button" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ 'elementranking.sendreport'|trans }}</h4>
                    </div>
                    <div class="modal-body">

                        <form id="chatform" class="form-horizontal no-style" method="post">

                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.to'|trans }}</label>
                                <div class="col-xs-9">

                                    <input id="toemail" type="text" class="send_reports_to_input" name="clientemail" required>
                                    <div id="livesearchdiv"  class="send_reports_to_input_list">
                                        <ul id="livesearch">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.mailbox'|trans }}</label>
                                <div class="col-xs-9">
                                    {# <textarea class="add_comment_textarea" placeholder="Enter comment here"> </textarea>#}
                                    <textarea id="mycommentid" name="comment" required class="add_comment_textarea" placeholder="Enter comment here"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" id="sendmailid" class="actions_report_btn">{{ 'kpiranking.send'|trans }}</button>
                    </div>

                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div>
    </section>

{% endblock %}