{% extends 'base.html.twig' %}
{% block title %}Star Shipping Application{% endblock %}

{% block content %}
    <h1 align="center">Shipping Application</h1>

{% endblock %}
{% block body %}
    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}



    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <div align="center">
    <h1>ReadingKpiValues edit</h1>

 <form action="{{ path('updatekpivalues') }}" method="post">
    <input  name="reading_kpi_values[id]" type="hidden" value="{{ readingKpiValue.id }}"><br>
    {{ form_row(edit_form.shipDetailsId,{'id':'shipid','label': 'Select Ship'}) }}
    {{ form_row(edit_form.kpiDetailsId,{'id':'kpiid','label': 'Select Kpi'})  }}
    {{ form_row(edit_form.elementDetailsId,{'id':'elementId','label': 'Select Element'}) }}
    {{ form_row(edit_form.monthdetail,{'id':'month','label': 'Choose Month'}) }}
    {{ form_row(edit_form.value,{'id':'valueid','label': 'Enter Value'}) }}
        <input type="submit" value="Update" />
 </form>

    <ul>
        <li>
            <a href="{{ path('readingkpivalues_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
