{% extends 'base.html.twig' %}
{#{% block title %}Star Shipping Application{% endblock %}#}

{% block body %}
    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}



    {% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Kpi Values List</h2>
            <a href="{{ path('readingkpivalues_new') }}">Add Kpi Value</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                <tr>

                    <th>Ship Name</th>
                    <th>Kpi Name</th>
                    <th>Element Name</th>
                    <th>Value</th>
                    <th>Monthdetail</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for readingKpiValue in readingKpiValues %}
                    <tr>

                        <td>{{ readingKpiValue.shipDetailsId }}</td>
                        <td>{{ readingKpiValue.kpiDetailsId }}</td>
                        <td>{{ readingKpiValue.elementDetailsId }}</td>
                        <td>{{ readingKpiValue.value }}</td>
                        <td>
                            {#{% if readingKpiValue.monthdetail %}#}
                                {{ readingKpiValue.monthdetail|date('Y-m-d') }}
                            {#{% endif %}#}</td>
                        <td>

                            <a href="{{ path('readingkpivalues_show', { 'id': readingKpiValue.id }) }}">show</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

{% endblock %}
