{% extends 'base.html.twig' %}
{% block title %}Star Shipping Application{% endblock %}

{% block content %}
    <h1 align="center">Shipping Application</h1>

{% endblock %}
{% block body %}
     {% block javascripts %}

         {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
         <script src="{{ asset_url }}"></script>
         {% endjavascripts %}



     {% endblock %}

      {% block stylesheets %}
          {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
      {% endblock %}


    <h1>All Reading Kpi Values List</h1>
<div class="listitem">
    <table id="readingkpitable">
        <thead>
            <tr>

                <th>Ship Name</th>
                <th>Kpi Name</th>
                <th>Element Name</th>
                <th>Value</th>
                <th>Monthdetail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for readingKpiValue in readingKpiValues %}
            <tr>

                <td>{{ readingKpiValue.shipDetailsId }}</td>
                <td>{{ readingKpiValue.kpiDetailsId }}</td>
                <td>{{ readingKpiValue.elementDetailsId }}</td>

                <td>{{ readingKpiValue.value }}</td>

                <td>{% if readingKpiValue.monthdetail %}{{ readingKpiValue.monthdetail|date('Y-m-d') }}{% endif %}</td>
                <td>

                            <a href="{{ path('readingkpivalues_show', { 'id': readingKpiValue.id }) }}">show</a>&nbsp;|&nbsp;

                            <a href="{{ path('readingkpivalues_edit', { 'id': readingKpiValue.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a style="align-items: center;margin-left: 44%;margin-top: 5%" href="{{ path('readingkpivalues_new') }}">Add Kpi Value</a>
</div>

{% endblock %}
