{% extends 'base.html.twig' %}
{% block title %}Star Shipping Application{% endblock %}

{% block content %}
    <h1 align="center">Shipping Application</h1>

{% endblock %}
{% block body %}
    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}



    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <h1>Add     ReadingKpiValues </h1>
    <div align="center">

        <form action="{{ path('readingelementvalues') }}" method="post">
        {{ form_row(form.shipDetailsId,{'id':'shipid','label': 'Select Ship'}) }}
        {{ form_row(form.kpiDetailsId,{'id':'kpiid','label': 'Select Kpi'})  }}
        {{ form_row(form.elementDetailsId,{'id':'elementId','label': 'Select Element'}) }}
        {{ form_row(form.monthdetail,{'id':'month','label': 'Choose Month'}) }}
        {{ form_row(form.value,{'id':'valueid','label': 'Enter Value'}) }}
        <input type="submit" id="addsubmitid" value="Create" />
    </form>

    <ul>
        <li>
            <a href="{{ path('readingkpivalues_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
