{% extends 'base.html.twig' %}

{% block body %}


    {#{%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
        <h2>Kpi Details</h2>
        <a href="{{ path('shipdetails_new') }}">Create ships</a>
    </div>
    {% endif %}#}

    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


    {% endblock %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
        <h2>Add KPI Values</h2>
        <a href="{{ path('readingkpivalues_index') }}">Back to the list</a>
    </div>
    <div class="bs-example">

        <form class="form-horizontal no-style" action="{{ path('readingelementvalues') }}" method="post">


            <div class="form-group">
                <label class="control-label col-xs-2">Select Ship</label>
                <div class="col-xs-10">  {{ form_row(form.shipDetailsId,{'id':'shipid','label': ''}) }}</div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">Choose month</label>
                <div class="col-xs-10">  {{ form_row(form.monthdetail,{'id':'month','label': ''}) }}</div>
             </div>
            <div id='TextBoxesGroup' >
                <div id="textid">


                </div>

            </div>

            <div class="actions">
        <input type="submit" class="btn btn-primary" id="addsubmitid" value="Create" />

            </div>
    </form>


  </div>
    </div>
{% endblock %}
