{% extends 'base.html.twig' %}

{% block body %}
     {% block javascripts %}

          {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
          <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
       {% javascripts '@InitialShippingBundle/Resources/public/js/rules/*' %}
         <script src="{{ asset_url }}"></script>
         {% endjavascripts %}



      {% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Upload File Here</h2>
        </div>

        <div class="modal" style="display: none">
            <div class="center">
                {% image '@InitialShippingBundle/Resources/public/img/loader5.gif' %}
                <img src="{{ asset_url }}" alt="Loader Image"/>
                {% endimage %}
            </div>
        </div>

        <div class="bs-example">
            {{ form_start(form, {'attr': {'id': 'form_excel','class':'form-horizontal no-style'}}) }}
            <div class="form-group">
                <label class="control-label col-xs-2">Choose File</label>
                <div class="col-xs-10">
                    {{ form_widget(form.filename,{'id' :'fileid'},{'label' :'Choose File'}, { 'attr': {'class': 'fileid1'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">    Choose Month</label>
                <div class="col-xs-10">
                    {{ form_widget(form.dataofmonth) }}
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" id="addsubmitid" value="Upload" />

            </div>
            {{ form_end(form) }}
       </div>
        <div>

{% endblock %}