{% extends 'base.html.twig' %}

{% block body %}
     {% block javascripts %}

          {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
          <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
       {% javascripts '@InitialShippingBundle/Resources/public/js/rules/*' %}
         <script src="{{ asset_url }}"></script>
         {% endjavascripts %}
         <script>
             $(document).ready(function(){
                 $('#fileid').val('');
                 $('#uploadBtn').change(function(){
                     var abc=$(this).val();
                     $('#fileid').val(abc);
                 });
             });
         </script>



      {% endblock %}

            <section>
                <div class="col-sm-12">
                    <div class="add_kpi_views_screen">
                       {# <form class="form-horizontal no-style">#}
                            {{ form_start(form, {'attr': {'id': 'form_excel','class':'form-horizontal no-style'}}) }}
                            <div class="kpi_basic_details">
                                <fieldset class="fieldset_box add_rule_form">
                                    <legend class="legend_name">Data import</legend>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Select file</label>
                                        <div class="col-xs-8">
                                            {{ form_widget(form.filename,{'id' :'fileid'},{'label' :'Choose File'}, { 'attr': {'class': 'fileid1'} }) }}
                                            <div class="fileUpload btn btn-primary">
                                                <span>Upload</span>
                                                <input id="uploadBtn" type="file" class="upload" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-4">Date of month</label>
                                        <div class="col-xs-8">
                                            {{ form_widget(form.dataofmonth) }}
                                           {# <select class="add_rule_basic_drop" name="type">
                                                {{ form_widget(form.dataofmonth) }}
                                            </select>
                                            <select class="add_rule_basic_drop" name="type">
                                                <option selected="selected">-- Choose--</option>
                                                <option>2016</option>
                                            </select>#}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="actions_submit">
                               {# <button class="submit_btn" type="submit" value="Submit">Save user</button>#}
                                <input type="submit" class="submit_btn" id="addsubmitid" value="Upload" />
                                {#<button class="cancel_btn" type="submit" value="Submit">Cancel</button>#}
                                <a class="cancel_btn" id="dashboradhome" href="{{ path('dashboardhome') }}">Cancel</a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
{% endblock %}