{% extends 'base.html.twig' %}
{% block title %}Star Shipping Application{% endblock %}

{% block content %}
    <h1 align="center">Shipping Application</h1>

{% endblock %}
{% block body %}
    {% block javascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    <h1>List of Files Upload</h1>
    <div align="center" class="listitem">
        <table id="readingkpitable">
            <thead>
            <tr>
                <th>Username</th>
                <th>Data of Month</th>
                <th>Upload DateTime</th>
                <th>Filename</th>
                <th>Options</th>

            </tr>
            </thead>
            <tbody>
            {% for listofuser in userdetails %}
                <tr>

                    <td>{{ listofuser.userid }}</td>
                    <td>{{ listofuser.dataOfMonth|date('Y-m-d') }}</td>
                    <td>{{ listofuser.datetime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ listofuser.filename }}</td>
                    <td>
                        {#<a href="">Edit</a></a>&nbsp;&nbsp;&nbsp;#}
                        <a href="{{ path('downloadexcel', { 'filename': listofuser.filename }) }}">
                           {# {% image '@InitialShippingBundle/Resources/public/img/Xcel-icon.png ' %}
                            <img src="{{ asset_url }}" alt="Loader Image"/>
                            {% endimage %}#}
                            {% image '@InitialShippingBundle/Resources/public/img/Xcel-icon.jpg' %}
                            <img src="{{ asset_url }}" height="30" alt="Loader Image"/>
                            {% endimage %}
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>

{% endblock %}
