{% extends 'base.html.twig' %}
{% block title %}Star Shipping Application{% endblock %}

{% block content %}
    <h1 align="center">Shipping Application</h1>

{% endblock %}
{% block body %}
    {% block javascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    <h1>List of Files Upload</h1>
    <div align="center" class="listitem">
        <table id="readingkpitable">
            <thead>
            <tr>
                <th>Client Email</th>
                <th>Kpi Name</th>
                <th>Send DateTime</th>
                <th>Comment</th>
                <th>Graph Name</th>

                <th>Options</th>

            </tr>
            </thead>
            <tbody>
            {% for listofuser in userdetails %}
                <tr>

                    <td>{{ listofuser.useremialid }}</td>
                    <td>{{ listofuser.kpiid }}</td>
                    <td>{{ listofuser.datetime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ listofuser.comment }}</td>
                    <td>{{ listofuser.filename }}</td>
                    <td>

                        <a href="{{ path('downloadchart', { 'filename': listofuser.filename }) }}">

                            {% image '@InitialShippingBundle/Resources/public/img/download-icon.png' %}
                            <img src="{{ asset_url }}" height="30" alt="Loader Image"/>
                            {% endimage %}
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>

{% endblock %}
