

{% extends 'base.html.twig' %}

{% block title %}Shipping Application{% endblock %}

{% block content %}

{% endblock %}
{% block body %}
    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}



    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <div id="mycontent" align="center">
    <h1 align="center">Welcome to Shipping Application</h1>
    <p> {{ creator }}</p>
    {% if creator == "" %}
        <p align=""><a style="margin-left:495px" id="linkid" href="{{ path('fileadd') }}">Upload File</a></p>
        <p style="">{{ msg }}</p>
    {% endif %}

</div>
{% endblock %}