{% extends template %}
{% block body %}
<div class="col-md-12 users_advanced_list_views_screen">
    <div>
    {# <div class="page-header">
         <h2>{{ shipname.shipName }}</h2>
         <a href="{{ path('dashboradhome') }}">Back</a>
     </div>#}
    <div class="table-responsive">

        <table class="table table-striped table_dividere data_import_list_table">
            <thead>

            <tr>

                <th class="month">Data of Month</th>
                <th  class="time">Upload DateTime</th>
                <th class="filename">Filename</th>
                {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                    <th class="option">Username</th>
                    <th class="option">Options</th>
                {% endif %}


            </tr>
            </thead>
            <tbody>
            {% for listofuser in userdetails %}
                <tr>

                    {#<td>{{ listofuser.userid }}</td>#}
                    <td class="kpi_name_thtd">{{ listofuser.dataOfMonth|date('F-Y') }}</td>
                    <td class="kpi_name_thtd">{{ listofuser.datetime|date('Y-m-d H:i:s') }}</td>
                    <td class="kpi_name_thtd">{{ listofuser.filename }}</td>
                    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                        <td class="kpi_name_thtd">
                            {{ listofuser.userid }}
                        </td>
                        <td class="kpi_name_thtd">

                            <a href="{{ path('downfile_ranking', { 'filename': listofuser.filename }) }}">
                                <img src="/images/excel-xls-icon.png"  alt="Loader Image"/>
                            </a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}
