{% extends template %}
{% block body %}
    {% block javascripts %}
        <script>
            $(document).ready(function() {
                $('#errortext').hide();
                var role='{{ app.user.roles[0] }}';
                var base_url = window.location.origin;
                $(function () {
                    $('#datetimepicker10').datetimepicker({
                        viewMode: 'years',
                        format: 'MM-YYYY'
                    });
                });
                $('.submit_btn').live('click',function ($e) {
                    $e.preventDefault();
                    console.log(this.id)
                    var idattribute=this.id;
                    var dataofmonth=$('#datepickervalue').val();
                    if(idattribute=='removefilter')
                    {
                        dataofmonth=1;
                    }
                    if(dataofmonth!='')
                    {
                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('showfileslist_filter', {'dataofmonth': dataofmonth}),
                            beforeSend: function () {
                                var setAjaxBeforeSend = defaultAjaxBeforeSendFunction();
                            },
                            complete: function () {
                                var setAjaxComplete = defaultAjaxCompleteFunction();
                            }
                        });
                        $.ajax({
                            success: function (data) {
                                $('#listtable').html('');
                                $('#datepickervalue').val('');
                                console.log(data.listoffiles.length);
                                if(!$("#removefilter").length)
                                {
                                    $('#applyfilter').after( '<input type="submit" class="submit_btn" id="removefilter"  value="Cancel filter">');
                                    if(idattribute=='removefilter')
                                    {
                                        $('#removefilter').remove();
                                        $('#removefilter').html('');
                                    }
                                }
                                if(data.listoffiles.length!=0)
                                {
                                    $('<table id="tableid" class="table table-striped table_dividere data_import_list_table"></table>').appendTo('#listtable');
                                    $('<thead><tr id="tableheader_tr"></tr></thead>').appendTo('#tableid');
                                    $('<tbody id="tablebody"></tbody>').appendTo('#tableid');
                                    $('<th class="month">Data of Month</th>').appendTo('#tableheader_tr');
                                    $('<th  class="time">Upload DateTime</th>').appendTo('#tableheader_tr');
                                    $('<th class="filename">Filename</th>').appendTo('#tableheader_tr');
                                    if(role=='ROLE_ADMIN') {
                                        $('<th class="option">Username</th>').appendTo('#tableheader_tr');
                                        $(' <th class="option">Options</th>').appendTo('#tableheader_tr');
                                    }

                                    $.each(data.listoffiles, function (i)
                                    {
                                        $('<tr id="tablebodytr_'+i+'"></tr>').appendTo('#tablebody');
                                        var nowdate=new Date(data.listoffiles[i]['dataOfMonth']['date']),
                                                locale = "en-us",
                                                month = nowdate.toLocaleString(locale, { month: "long" }),
                                                year=nowdate.getFullYear();
                                        $('<td class="">'+month+'-'+year+'</td>').appendTo('#tablebodytr_'+i);
                                        $('<td class="">'+data.listoffiles[i]['datetime']['date']+'</td>').appendTo('#tablebodytr_'+i);
                                        $('<td class="">'+data.listoffiles[i]['filename']+'</td>').appendTo('#tablebodytr_'+i);

                                        if(role=='ROLE_ADMIN')
                                        {
                                            $('<td class="">'+data.listoffiles[i]['userid']+'</td>').appendTo('#tablebodytr_'+i);
                                            var filename=data.listoffiles[i]['filename'];
                                            var path=base_url+'/dataverfication/'+filename+'/downfile_ranking';
                                            $('<td class=""><a href="'+path+'"><img src="/images/download.png"  alt="Loader Image"/></a></td>').appendTo('#tablebodytr_'+i);
                                        }

                                    });
                                }
                                else
                                {
                                    $('<span>No Record Found</span>').appendTo('#listtable');
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown)
                            {
                                window.location.href = base_url+'/login';
                            }
                        });
                    }
                    else
                    {
                        $('#errortext').text('Choose Date');
                        $('#errortext').show();
                        setTimeout(function() {
                            $('#errortext').fadeOut('fast');
                        }, 4000)
                    }

                });
                $('.foldername').live('click',function($e)
                {
                    $e.preventDefault();
                    var folderName=$(this).attr('title');
                    var folderId=$(this).attr('id');
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        'url': Routing.generate('showfileslist_ranking', {'dataofmonth': folderName}),
                        beforeSend: function () {
                           // var setAjaxBeforeSend = defaultAjaxBeforeSendFunction();
                        },
                        complete: function () {
                            //var setAjaxComplete = defaultAjaxCompleteFunction();
                        }
                    });
                    $.ajax({
                        success: function (data) {
                            var Jsonstring=JSON.stringify(data.listoffiles);
                            var Jsonobject=JSON.parse(Jsonstring);
                            console.log($('#tableid_'+folderId).text());
                            $('#tableid_'+folderId).text('');
                            $('#tableid_'+folderId).html('');
                            $('#tableid_'+folderId).fileTree({
                                    data: Jsonobject
                            });
                            $('.tree li.folder > div').closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown)
                        {
                            window.location.href = base_url+'/login';
                        }
                    });

                });
                var data = [{
                    id: 'dir-1',
                    name: 'Root',
                    type: 'dir',
                    children: [
                        {
                            id: 'file-2',
                            name: 'File tree',
                            type: 'zip',
                            url: 'http://www.jqueryscript.net/other/Nice-File-Tree-View-Plugin-with-jQuery-Bootstrap-File-Tree.html',

                        },
                        {
                            id: 'file-3',
                            name: 'File tree',
                            type: 'zip',
                            url: 'http://www.jqueryscript.net/other/Nice-File-Tree-View-Plugin-with-jQuery-Bootstrap-File-Tree.html',
                        }
                    ]
                }];
                /*$('#fixed-tree').fileTree({
                    data: data
                });
                var path=base_url+'/uploads/excelfiles/Auguest-2016/';
                alert(path);
                $('#container_id').fileTree({ root: path }, function(file) {
                    alert(file);
                });*/


            });
        </script>

    {% endblock %}
    <div class="col-md-12 users_advanced_list_views_screen">

        <div>
{#
            <span id="errortext"></span>
            <div class="container">
                <div class="col-sm-6" style="height:50px;">
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker10'>
                            <input type='text' id="datepickervalue" class="form-control"  name="filterdate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                        </div>
                    </div>
                </div>
                <input type="submit" class="submit_btn" id="applyfilter"  value="Apply filter">

            </div>#}

           {# <div class="table-responsive" id="listtable">

                <table class="table table-striped table_dividere data_import_list_table">
                    <thead>

                    <tr>

                        <th class="month">Data of Month</th>
                        <th  class="time">Upload DateTime</th>
                        <th class="filename">Filename</th>
                        {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                            <th class="option">Username</th>
                            <th class="option">Options</th>
                        {% endif %}


                    </tr>
                    </thead>
                    <tbody id="tablebody">
                    {% set i=0 %}
                    {% for listofuser in userdetails %}
                        <tr>

                            #}{#<td>{{ listofuser.userid }}</td>#}{#
                            <td class="kpi_name_thtd" id="tableid_{{ i }}">

                                <span class="menu-item-icon fa fa-folder" >&nbsp;</span><a class="foldername" id="{{ i }}" title="{{ listofuser.dataOfMonth|date('F-Y') }}">
                                    {{ listofuser.dataOfMonth|date('F-Y') }}
                                </a>
                            </td>
                            <td class="kpi_name_thtd">{{ listofuser.datetime|date('Y-m-d H:i:s') }}</td>
                            <td class="kpi_name_thtd">{{ listofuser.filename }}</td>
                            {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                                <td class="kpi_name_thtd">
                                    {{ listofuser.userid }}
                                </td>
                                <td class="kpi_name_thtd">

                                   #}{# <a href="{{ path('downfile_ranking', { 'filename': listofuser.filename }) }}">
                                        <img src="/images/download.png"  alt="Loader Image"/>
                                    </a>#}{#
                                </td>
                            {% endif %}

                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>#}
            {% set i=0 %}
            {% for listofuser in userdetails %}

                <div id="tableid_{{ i }}">

                    <span class="menu-item-icon fa fa-folder" >&nbsp;</span><p class="foldername" id="{{ i }}" title="{{ listofuser.folderName }}">
                        {{ listofuser.folderName }}
                    </p>
                </div>
                {% set i=i+1 %}
            {% endfor %}

            <div id="fixed-tree"> </div>
            <div id="container_id"> </div>


        </div>
    </div>

{% endblock %}
