{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function () {
                var boxIcon = $('.box_icon');
                var listIcon = $('.list_icon');
                var gridView = $('#element_grid_view');
                var listView = $('#element_list_view');
                var createForm = $('.create-form');
                var createView = $('.element_create_view');
                var showElement = $('.show_element');
                var editElement = $('.grid_edit_element');

                boxIcon.hide();
                showElement.hide();
                listView.hide();
                editElement.hide();

                boxIcon.click(function ($e) {
                    $e.preventDefault();
                    listView.hide();
                    showElement.hide();
                    boxIcon.hide();
                    editElement.hide();
                    gridView.show();
                    listIcon.show();
                    createView.show();
                });

                listIcon.click(function ($e) {
                    $e.preventDefault();
                    gridView.hide();
                    showElement.hide();
                    createView.hide();
                    editElement.hide();
                    listView.show();
                    boxIcon.show();
                    listIcon.hide();
                });

                var editButton = $('.edit_element_button');
                editButton.live("click", function ($e) {
                    $e.preventDefault();
                    showElement.hide();
                    createView.hide();
                    editElement.show();
                });

                var addButton = $('.add_btn');
                addButton.live("click", function ($e) {
                    $e.preventDefault();
                    listView.hide();
                    boxIcon.hide();
                    showElement.hide();
                    editElement.hide();
                    createView.show();
                    gridView.show();
                    listIcon.show();
                });

                var cancelButton = $('.cancel_btn');
                cancelButton.live("click", function ($e) {
                    $e.preventDefault();
                    boxIcon.hide();
                    listIcon.show();
                    gridView.show();
                    createForm[0].reset();
                });

                var editCancelButton = $('.edit_cancel_button');
                editCancelButton.live("click", function ($e) {
                    $e.preventDefault();
                    editElementErrorMsg.empty();
                    validDate.empty();
                    editElement.hide();
                    boxIcon.hide();
                    listIcon.show();
                    gridView.show();
                    showElement.show();
                });

                var count = 0;
                var num = 0;
                var rule_value = 0;
                var elementList = $('.element_class');
                elementList.live("click", function ($e) {
                    $e.preventDefault();
                    createView.hide();
                    boxIcon.hide();
                    editElement.hide();
                    listIcon.show();
                    count++;
                    var currentId = $(this).attr('id');
                    var data = {Id: currentId};

                    if (count > 1) {
                        showElement.hide();
                        var emptyDetails = emptyDetailsFunction(data);
                    }
                    $.ajaxSetup({
                        global: false,
                        type: "POST",
                        data: data,
                        url: Routing.generate('elementdetails_ajax_show'), /*"ajax_show",*/
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function (data) {
                            var monthNames = [
                                "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];
                            var active_date = new Date(data.element_detail[0].activatedDate.date);
                            var end_date = new Date(data.element_detail[0].endDate.date);

                            var setShowValue = setShowValueFunction(data, monthNames, active_date, end_date);
                            var setEditValue = setEditValueFunction(data, active_date, end_date);
                            var setKpiName = setKpiNameFunction(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    showElement.show();
                });

                var kpiName = $('.kpi_name');
                var elementName = $('.element_name');
                var elementDescription = $('.element_description');
                var elementWeight = $('.element_weightage');
                var elementCellName = $('.element_cellName');
                var elementCellDetail = $('.element_cellDetail');
                var activeMonth = $('.element_activeDate_month');
                var activeYear = $('.element_activeDate_year');
                var endMonth = $('.element_endDate_month');
                var endYear = $('.element_endDate_year');

                function emptyDetailsFunction(data) {
                    kpiName.empty();
                    elementName.empty();
                    elementDescription.empty();
                    elementWeight.empty();
                    elementCellName.empty();
                    elementCellDetail.empty();
                    activeMonth.empty();
                    activeYear.empty();
                    endMonth.empty();
                    endYear.empty();
                    editElementErrorMsg.empty();
                    validDate.empty();
                }

                function setShowValueFunction(data, monthNames, active_date, end_date) {
                    kpiName.append(data.kpi_name[0].kpiName);
                    elementName.append(data.element_detail[0].elementName);
                    elementDescription.append(data.element_detail[0].description);
                    elementWeight.append(data.element_detail[0].weightage);
                    elementCellName.append(data.element_detail[0].cellName);
                    elementCellDetail.append(data.element_detail[0].cellDetails);
                    activeMonth.append(monthNames[active_date.getMonth()]);
                    activeYear.append(active_date.getFullYear());
                    endMonth.append(monthNames[end_date.getMonth()]);
                    endYear.append(end_date.getFullYear());
                }

                var editElementId = $('.element_edit_id');
                var editKpiName = $('.edit_kpiName');
                var editElementName = $('.edit_element_name');
                var editElementDescription = $('.edit_element_description');
                var editElementWeight = $('.edit_element_weightage');
                var editCellName = $('.edit_element_cellName');
                var editCellDetails = $('.edit_element_cellDetails');
                var editActiveMonth = $('.active_month');
                var editActiveYear = $('.active_year');
                var editEndMonth = $('.end_month');
                var editEndYear = $('.end_year');

                function setEditValueFunction(data, active_date, end_date) {
                    editElementName.val(data.element_detail[0].elementName);
                    editElementDescription.val(data.element_detail[0].description);
                    editElementWeight.val(data.element_detail[0].weightage);
                    editCellName.val(data.element_detail[0].cellName);
                    editCellDetails.val(data.element_detail[0].cellDetails);
                    editElementId.val(data.element_detail[0].id);
                    editActiveMonth.val(active_date.getMonth());
                    editActiveYear.val(active_date.getFullYear());
                    editEndMonth.val(end_date.getMonth());
                    editEndYear.val(end_date.getFullYear());
                }

                function setKpiNameFunction(data) {
                    $.each(data.kpi_name_array, function (index) {
                        var kpi_option = $('<option>').append(data.kpi_name_array[index]['kpiName']).val(data.kpi_name_array[index]['id']).appendTo('.edit_kpiName');
                    });
                    editKpiName.val(data.kpi_name[0].id);
                }

                var validDate = $('.edit-valid-dates');
                var editElementErrorMsg = $('.editErrorName');
                var editSubmitButton = $('.edit_element_submit_button');
                var editKpiErrorMsg = $('.edit-error-kpi');
                editSubmitButton.live("click", function ($e) {
                    $e.preventDefault();
                    var aM = editActiveMonth.val();
                    var aY = editActiveYear.val();
                    var eM = editEndMonth.val();
                    var eY = editEndYear.val();
                    if (parseInt(aY) > parseInt(eY) || parseInt(aY) == parseInt(eY) && parseInt(aM) > parseInt(eM) || aM == '--' || aY == '--' || eM == '--' || eY == '--') {
                        validDate.empty();
                        validDate.text("Choose the valid date !");
                        return false;
                    }
                    if(!$.trim(editElementName.val())) {
                        editElementErrorMsg.empty();
                        editElementName.focus();
                        editElementErrorMsg.text('Element name cannot be empty !');
                        return false;
                    }
                    if(editKpiName.val()=="0") {
                        editKpiErrorMsg.empty();
                        editKpiName.focus();
                        editKpiErrorMsg.text('KPI name cannot be empty !');
                        return false;
                    }
                    var i = 0;
                    var data = {
                        kpiDetailsId: editKpiName.val(),
                        elementName: editElementName.val(),
                        weightage: editElementWeight.val(),
                        description: editElementDescription.val(),
                        cellName: editCellName.val(),
                        cellDetails: editCellDetails.val(),
                        Id: editElementId.val(),
                        activeMonth: editActiveMonth.val(),
                        activeYear: editActiveYear.val(),
                        endMonth: editEndMonth.val(),
                        endYear: editEndYear.val()
                    };
                    var emptyDetails = emptyDetailsFunction(data);
                    $.ajaxSetup({
                        global: false,
                        type: "POST",
                        data: data,
                        url: Routing.generate('elementdetails_ajax_element_edit'), /*"ajax_element_edit",*/
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function (data) {
                            editElement.hide();
                            editElementErrorMsg.empty();
                            validDate.empty();
                            var monthNames = [
                                "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];
                            var active_date = new Date(data.element_detail[0].activatedDate.date);
                            var end_date = new Date(data.element_detail[0].endDate.date);

                            var setShowValue = setShowValueFunction(data, monthNames, active_date, end_date);
                            var setEditValue = setEditValueFunction(data, active_date, end_date);
                            var setKpiName = setKpiNameFunction(data);
                            showElement.show();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                });

                var createWeight = $('#weight-id');
                var kpiId = $('#kpi_id');
                createWeight.change(function ($e) {
                    $e.preventDefault();
                    var currentId = $(this).val();
                    var data = {
                        elementId: editElementId.val(),
                        kpiDetailsId: editKpiName.val(),
                        weightage: currentId,
                        status: 1
                    };
                    var checkElementWeight = checkElementWeightFunction(data);
                });

                var editWeight = $('#edit-weight-id');
                editWeight.change(function ($e) {
                    $e.preventDefault();
                    var currentId = $(this).val();
                    var data = {
                        elementId: editElementId.val(),
                        kpiDetailsId: editKpiName.val(),
                        weightage: currentId,
                        status: 0
                    };
                    var checkElementWeight = checkElementWeightFunction(data);
                });

                var errorMessage = $('.weight-error-message');

                function checkElementWeightFunction(data) {
                    if (kpiId.val() != null) {
                        $.ajaxSetup({
                            global: false,
                            type: "POST",
                            data: data,
                            url: Routing.generate('elementdetails_element_ajax_weightage'), /*"element_ajax_weightage",*/
                            beforeSend: function () {
                                var setAjaxBeforeSend = ajaxbefore_send();
                            },
                            complete: function () {
                                var setAjaxComplete = ajax_complete();
                            }
                        });
                        $.ajax({
                            success: function (data) {
                                errorMessage.empty();
                                if (data.Weightage > 100) {
                                    var weight = data.Weightage - 100;
                                    errorMessage.text('Weightage value exceeded ! - ' + weight);
                                    createWeight.focus();
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    }
                }

            });
        </script>

    {% endblock %}

    <div id="element_grid_view">
        <section>
            <div class="col-sm-3 users_views">
                <div class="add_user_btn_main">
                    <span class="user_btn_main"><a href="" class="ss-plus add_btn">{{'element.add'|trans }}</a></span>
                    <span class="user_btn_main grid_list_main">
                        <span class="active"><a href="" class="grid_list_icon ss-grid box_icon">&nbsp;</a></span>
                        <span><a href="" class="grid_list_icon ss-rows list_icon">&nbsp;</a></span>
                    </span>
                </div>
                <div class="users_list_main"><span>{{'element.element_count'|trans }} ({{ element_count }})</span> <span
                            class="show_dropdown_icon">&nbsp;</span></div>
                <div class="users_list_grid_main">
                    {% for elementDetail in elementDetails %}
                        <div class="users_list_grid">
                            <span class="users_name_row">
                                <span class="name"><a href="" class="element_class"
                                                      id={{ elementDetail.id }}>{{ elementDetail.elementName }}</a> </span>
                                <span class="text">{{ elementDetail.kpiDetailsId }}</span>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <div id="element_list_view">
        <section>
            <div class="users_advanced_list_views_screen">
                <div class="">
                    <div class="add_user_btn_main">
                        <span class="user_btn_main"><a href="" class="ss-plus add_btn">{{'element.add'|trans }}</a></span>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon">&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon">&nbsp;</a></span>
                         </span>
                    </div>
                    <div class="spacing"></div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'element.element_name'|trans }}</th>
                                <th>{{ 'kpi.kpi_name'|trans }}</th>
                                <th>{{ 'kpi.weight'|trans }}</th>
                                <th>{{ 'kpi.start_date'|trans }}</th>
                                <th>{{ 'kpi.end_date'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for elementDetail in elementDetails %}
                                <tr>
                                    <td style="color: black">{{ elementDetail.elementName }}</td>
                                    <td>{{ elementDetail.kpiDetailsId }}</td>
                                    <td>{{ elementDetail.weightage }}</td>
                                    <td>
                                        {% if elementDetail.activatedDate|date('m') == 01 %}
                                            {{ 'month.jan'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 02 %}
                                            {{ 'month.feb'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 03 %}
                                            {{ 'month.mar'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 04 %}
                                            {{ 'month.apr'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 05 %}
                                            {{ 'month.may'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 06 %}
                                            {{ 'month.jun'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 07 %}
                                            {{ 'month.jul'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 08 %}
                                            {{ 'month.aug'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 09 %}
                                            {{ 'month.sep'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 10 %}
                                            {{ 'month.oct'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 11 %}
                                            {{ 'month.nov'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% elseif elementDetail.activatedDate|date('m') == 12 %}
                                            {{ 'month.dec'|trans }}-{{ elementDetail.activatedDate|date('Y') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if elementDetail.endDate|date('m') == 01 %}
                                            {{ 'month.jan'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 02 %}
                                            {{ 'month.feb'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 03 %}
                                            {{ 'month.mar'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 04 %}
                                            {{ 'month.apr'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 05 %}
                                            {{ 'month.may'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 06 %}
                                            {{ 'month.jun'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 07 %}
                                            {{ 'month.jul'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 08 %}
                                            {{ 'month.aug'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 09 %}
                                            {{ 'month.sep'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 10 %}
                                            {{ 'month.oct'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 11 %}
                                            {{ 'month.nov'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% elseif elementDetail.endDate|date('m') == 12 %}
                                            {{ 'month.dec'|trans }}-{{ elementDetail.endDate|date('Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="element_create_view">

        <section>
            <div class="col-sm-11">
                <div class="add_new_users_views_screen">
                    <h2>{{'element.add'|trans }}</h2>
                    <form class="form-horizontal no-style create-form" action="{{ path('elementdetails_new1') }}"
                          method="post">
                        <div class="kpi_basic_details">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">{{ 'vessel.basic_info'|trans }}</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{'element.kpi_select'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.kpiDetailsId,{'id':'kpi_id','label': ''}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'element.element_name'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.elementName,{'label': ''}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'kpi.weight'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.weightage,{'id':'weight-id','label': ''}) }}
                                    </div>
                                    <div class="col-xs-8 weight-error-message"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'vessel.description'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.description,{'label': ''}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'kpi.valid'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <span>
                                            <select class="add_rule_basic_date_drop" name="activeMonth"
                                                    class="full-width-select">
                                                <option selected="selected">--</option>
                                                <option value="1">{{ 'month.jan'|trans }}</option>
                                                <option value="2">{{ 'month.feb'|trans }}</option>
                                                <option value="3">{{ 'month.mar'|trans }}</option>
                                                <option value="4">{{ 'month.apr'|trans }}</option>
                                                <option value="5">{{ 'month.may'|trans }}</option>
                                                <option value="6">{{ 'month.jun'|trans }}</option>
                                                <option value="7">{{ 'month.jul'|trans }}</option>
                                                <option value="8">{{ 'month.aug'|trans }}</option>
                                                <option value="9">{{ 'month.sep'|trans }}</option>
                                                <option value="10">{{ 'month.oct'|trans }}</option>
                                                <option value="11">{{ 'month.nov'|trans }}</option>
                                                <option value="12">{{ 'month.dec'|trans }}</option>
                                            </select>
                                        </span>
                                        <span>
                                            <select class="add_rule_basic_year_drop" name="activeyear"
                                                    class="full-width-select">
                                                <option selected="selected">--</option>
                                                {% for i in 2000..2020 %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                        To
                                        <span>
                                            <select class="add_rule_basic_date_drop" name="endMonth"
                                                    class="full-width-select">
                                                <option selected="selected">--</option>
                                                <option value="1">{{ 'month.jan'|trans }}</option>
                                                <option value="2">{{ 'month.feb'|trans }}</option>
                                                <option value="3">{{ 'month.mar'|trans }}</option>
                                                <option value="4">{{ 'month.apr'|trans }}</option>
                                                <option value="5">{{ 'month.may'|trans }}</option>
                                                <option value="6">{{ 'month.jun'|trans }}</option>
                                                <option value="7">{{ 'month.jul'|trans }}</option>
                                                <option value="8">{{ 'month.aug'|trans }}</option>
                                                <option value="9">{{ 'month.sep'|trans }}</option>
                                                <option value="10">{{ 'month.oct'|trans }}</option>
                                                <option value="11">{{ 'month.nov'|trans }}</option>
                                                <option value="12">{{ 'month.dec'|trans }}</option>
                                            </select>
                                        </span>
                                        <span>
                                            <select class="add_rule_basic_year_drop" name="endYear"
                                                    class="full-width-select">
                                                <option selected="selected">--</option>
                                                {% for i in 2000..2020 %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                            {#<fieldset class="fieldset_box">
                                <legend class="legend_name">Excel details</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell name</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.cellName,{'id':'valueid','label': ''}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell detail</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.cellDetails,{'id':'valueid','label': ''}) }}
                                    </div>
                                </div>
                            </fieldset>#}
                        </div>
                        <div class="actions_submit">
                            <button class="submit_btn" id="get_value" type="submit">{{ 'vessel.add'|trans }}</button>
                            <button class="cancel_btn" type="reset">{{ 'vessel.reset'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </div>

    <div class="show_element">
        <section>
            <div class="col-sm-11">
                <div class="view_new_user_screen_2 form_view_screen">
                    <div class="actions_edit_button">
                        <a href="" class="edit_btn edit_element_button">{{ 'vessel.edit'|trans }}</a>
                    </div>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">{{ 'vessel.basic_info'|trans }}</legend>
                        <div class="form_view">

                            <label class="form_labell"><strong>{{ 'kpi.kpi_name'|trans }} :</strong></label>
                            <label class="form_input kpi_name"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell"><strong>{{ 'element.element_name'|trans }} :</strong></label>
                            <label class="form_input element_name"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell"><strong>{{ 'kpi.weight'|trans }} :</strong></label>
                            <label class="form_input element_weightage"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell"><strong>{{ 'vessel.description'|trans }} :</strong></label>
                            <label class="form_input element_description"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell"><strong>{{ 'kpi.valid'|trans }} :</strong></label>
                            <label class="form_input">
                                <label><span class="element_activeDate_month "></span>-
                                    <sapn class=" element_activeDate_year"></sapn>
                                    <strong> {{ 'kpi.to'|trans }} </strong> <span class=" element_endDate_month "></span>-<span
                                            class="  element_endDate_year"></span></label>
                            </label>
                        </div>
                    </fieldset>
                    {# <fieldset class="fieldset_box">
                         <legend class="legend_name">Excel details</legend>
                         <div class="form_view">
                             <label class="form_labell">Cell name :</label>
                             <label class="form_input element_cellName"> </label>
                         </div>
                         <div class="form_view">
                             <label class="form_labell">Cell detail :</label>
                             <label class="form_input element_cellDetail"> </label>
                         </div>
                     </fieldset>#}
                </div>
            </div>
        </section>
    </div>


    <div class="grid_edit_element">
        <section>
            <div class="col-sm-11">
                <div class="add_new_users_views_screen">
                    <h2>{{ 'element.element_edit'|trans }}</h2>
                    <form class="form-horizontal no-style">

                        <div class="add_new_users_form">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">{{ 'vessel.basic_info'|trans }}</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'kpi.kpi_name'|trans }}</strong></label>
                                    <div class="col-xs-8 kpi_name_edit">
                                        <select class="edit_kpiName" name="kpiName">
                                            <option value="0">----{{'element.kpi_select'|trans }}----</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8 weight-error-message edit-error-kpi"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'element.element_name'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_element_name" value="" placeholder="" >
                                        <input type="hidden" class="element_edit_id" value="" placeholder="">
                                    </div>
                                    <div class="col-xs-8 weight-error-message editErrorName"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'kpi.weight'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="number" class="edit_element_weightage" id="edit-weight-id" value="" placeholder="">
                                    </div>
                                    <div class="col-xs-8 weight-error-message"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'vessel.description'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_element_description" value="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'kpi.valid'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <span>
                                            <select class="month_text add_rule_basic_date_drop active_month ">
                                                <option value="0">{{ 'month.jan'|trans }}</option>
                                                <option value="1">{{ 'month.feb'|trans }}</option>
                                                <option value="2">{{ 'month.mar'|trans }}</option>
                                                <option value="3">{{ 'month.apr'|trans }}</option>
                                                <option value="4">{{ 'month.may'|trans }}</option>
                                                <option value="5">{{ 'month.jun'|trans }}</option>
                                                <option value="6">{{ 'month.jul'|trans }}</option>
                                                <option value="7">{{ 'month.aug'|trans }}</option>
                                                <option value="8">{{ 'month.sep'|trans }}</option>
                                                <option value="9">{{ 'month.oct'|trans }}</option>
                                                <option value="10">{{ 'month.nov'|trans }}</option>
                                                <option value="11">{{ 'month.dec'|trans }}</option>
                                            </select>
                                        </span>
                                         <span>
                                            <select class="year_text add_rule_basic_year_drop active_year">
                                                {% for i in 2000..2020 %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                        <strong> {{ 'kpi.to'|trans }} </strong>
                                        <span>
                                            <select class="month_text add_rule_basic_date_drop end_month">
                                                <option value="0">{{ 'month.jan'|trans }}</option>
                                                <option value="1">{{ 'month.feb'|trans }}</option>
                                                <option value="2">{{ 'month.mar'|trans }}</option>
                                                <option value="3">{{ 'month.apr'|trans }}</option>
                                                <option value="4">{{ 'month.may'|trans }}</option>
                                                <option value="5">{{ 'month.jun'|trans }}</option>
                                                <option value="6">{{ 'month.jul'|trans }}</option>
                                                <option value="7">{{ 'month.aug'|trans }}</option>
                                                <option value="8">{{ 'month.sep'|trans }}</option>
                                                <option value="9">{{ 'month.oct'|trans }}</option>
                                                <option value="10">{{ 'month.nov'|trans }}</option>
                                                <option value="11">{{ 'month.dec'|trans }}</option>
                                            </select>
                                        </span>
                                         <span>
                                            <select class="year_text add_rule_basic_year_drop end_year">
                                                {% for i in 2000..2020 %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-xs-8 weight-error-message edit-valid-dates"></div>
                                </div>
                            </fieldset>
                            {#<fieldset class="fieldset_box">
                                <legend class="legend_name">Excel details</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell name</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_element_cellName" value="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell detail</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_element_cellDetails" value="" placeholder="">
                                    </div>
                                </div>
                            </fieldset>#}
                        </div>
                        <div class="actions_submit">
                            <button class="submit_btn edit_element_submit_button">{{ 'vessel.save'|trans }}</button>
                            <button class="cancel_btn edit_cancel_button">{{ 'vessel.cancel'|trans }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
