{% extends 'base.html.twig' %}

{% block body %}
    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Element Details</h2>
            <a href="{{ path('elementdetails_new') }}">Create Element</a>
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>KpiName</th>
                <th>ElementName</th>
                <th>Description</th>
                <th>CellName</th>
                <th>CellDetails</th>
                <th>ActivatedDate</th>
                <th>EndDate</th>
                <th>Weightage</th>
                <th>rules</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for elementDetail in elementDetails %}
                <tr>
                    <td>{{ elementDetail.kpiDetailsId }}</td>
                    <td>{{ elementDetail.elementName }}</td>
                    <td>{{ elementDetail.description }}</td>
                    <td>{{ elementDetail.cellName }}</td>
                    <td>{{ elementDetail.cellDetails }}</td>
                    <td>{% if elementDetail.activatedDate %}{{ elementDetail.activatedDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if elementDetail.endDate %}{{ elementDetail.endDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ elementDetail.weightage }}</td>
                    <td>{{ elementDetail.rules }}</td>
                    <td>
                        <a href="{{ path('elementdetails_show', { 'id': elementDetail.id }) }}">show</a><br>

                        <a href="{{ path('elementdetails_edit', { 'id': elementDetail.id }) }}">edit</a>

                        <a href="{{ path('subelementdetails_select', { 'id': elementDetail.id }) }}">Sub_Elements</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}