{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
            '@AppBundle/Resources/public/js/AAA.js'
            '@AppBundle/Resources/public/js/conditions-builder.js'
            '@AppBundle/Resources/public/js/rules.js'
            '@AppBundle/Resources/public/js/Element_rule_condition.js'
        %}

        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="page-header">
                <h2>Element creation</h2>
                <a href="{{ path('elementdetails_select1') }}">Back</a>
            </div>
            <div class="bs-example">
                <form  class="form-horizontal no-style" action="{{ path('elementdetails_new1') }}" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-2">KpiName</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.kpiDetailsId,{'label': ''}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-2">ElementName</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.elementName,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Description</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.description,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">CellName</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.cellName,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">CellDetails</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.cellDetails,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">ActivateDate</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.activatedDate,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Endate</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.endDate,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Wightage</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.weightage,{'label': ''}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            {{ form_widget(form.rules,{'label': '','id':'element_details_rules'}) }}
                        </div>
                    </div>

                    <table id="rule-table">
                        <tr id="row_id">
                            <th>Conditions</th>
                            <th>value</th>
                        </tr>
                    </table>

                    <div id="conditions"></div>
                    <div id="actions"></div>


                    <div class="actions">
                        <input class="btn btn-primary" type="submit" value="Create" id="get_value" />
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}