{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        %}


        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function(){
                $('.add').remove();
                $('.add-condition').remove();
                $('.all-any-none').remove();
                $('.remove').remove();
                $('#row_id').hide();

                $('.add-rule').html('Show-Rules');

                var count = 0;
                var num = 0;

                $('.add-rule').live('click',function(){
                    count++;
                    $('.remove').remove();
                    $('.remove-condition').remove();
                    $('.field').remove();
                    $('.operator').remove();
                    $('.value').remove();
                    $('#row_id').show();
                    var data = {Id : $('#id').val()};
                    var condition_text = "";

                    $.ajax({
                        type: "POST",
                        data:data,
                        url: "element_rule",
                        success: function(data)
                        {
                            if(count==1)
                            {
                                $.each(data.Rule_Array, function(i)
                                {
                                    var rule_obj = JSON.parse( data.Rule_Array[i].rules);
                                    $.each(rule_obj.conditions.all, function(j)
                                    {
                                        if(i==num)
                                        {
                                            if(rule_obj.conditions.all[j].operator=='equalTo')
                                            {
                                                rule_obj.conditions.all[j].operator='=';
                                            }

                                            var condition_text_one =rule_obj.conditions.all[j].operator+rule_obj.conditions.all[j].value;
                                            if(j==0)
                                            {
                                                condition_text = condition_text_one;
                                            }
                                            if(j>0)
                                            {
                                                condition_text = condition_text+'   ' + '&&' +'   '+condition_text_one;
                                            }
                                        }
                                    });
                                    var $tr = $('<tr>').append(
                                            $('<td>').text(condition_text),
                                            $('<td>').text(rule_obj.actions)
                                    ).appendTo('#rule-table');
                                    num++;
                                });
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                        {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    $('#id').val(count);

                });
            });
        </script>

    {% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="page-header">

                <h2>ElementDetails</h2>
                <a href="{{ path('elementdetails_select1') }}">Back to the list</a>
            </div>

            <input type="hidden" id="element_Id" value={{ elementDetail.id }}>
            <table>
                <tbody>
                <tr>
                    <th>Kpi-Name</th>
                    <td>{{ elementDetail.kpiDetailsId }}</td>
                </tr>
                <tr>
                    <th>Element-Name</th>
                    <td>{{ elementDetail.elementName }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ elementDetail.description }}</td>
                </tr>
                <tr>
                    <th>Cell-Name</th>
                    <td>{{ elementDetail.cellName }}</td>
                </tr>
                <tr>
                    <th>Cell-Details</th>
                    <td>{{ elementDetail.cellDetails }}</td>
                </tr>
                <tr>
                    <th>Activated-Date</th>
                    <td>{% if elementDetail.activatedDate %}{{ elementDetail.activatedDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>End-Date</th>
                    <td>{% if elementDetail.endDate %}{{ elementDetail.endDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Weightage</th>
                    <td>{{ elementDetail.weightage }}</td>
                </tr>
                </tbody>
            </table>

            <div id="conditions" ></div>
            <div id="actions"></div>

            <table id="rule-table">
                <tr id="row_id">
                    <th>Condition</th>
                    <th>Color</th>
                </tr>

            </table>

            <input type="hidden" name="id" id="id" value="{{ elementDetail.id }}">
            <p id="text_box"></p>

        </div>

{% endblock %}

