{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

    {% javascripts
    '@AppBundle/Resources/public/js/AAA.js'
    '@AppBundle/Resources/public/js/ShowDemo.js'
    '@AppBundle/Resources/public/js/actions-builder.js'
    '@AppBundle/Resources/public/js/conditions-builder.js'
    '@AppBundle/Resources/public/js/rules.js'
    '@AppBundle/Resources/public/js/showhide.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <h1>ElementDetails</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ elementDetail.id }}</td>
            </tr>
            <tr>
                <th>Kpidetailsid</th>
                <td>{{ elementDetail.kpiDetailsId }}</td>
            </tr>
            <tr>
                <th>Elementname</th>
                <td>{{ elementDetail.elementName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ elementDetail.description }}</td>
            </tr>
            <tr>
                <th>Cellname</th>
                <td>{{ elementDetail.cellName }}</td>
            </tr>
            <tr>
                <th>Celldetails</th>
                <td>{{ elementDetail.cellDetails }}</td>
            </tr>
            <tr>
                <th>Activateddate</th>
                <td>{% if elementDetail.activatedDate %}{{ elementDetail.activatedDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if elementDetail.endDate %}{{ elementDetail.endDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Weightage</th>
                <td>{{ elementDetail.weightage }}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td> <div id="conditionsedit" ></div></td>
            </tr>
            <tr>
                <th>Action</th>
                <td> <div id="actionsedit"></div></td>
            </tr>
        </tbody>
    </table>

    <input type="hidden" id="result" value="{{ elementDetail.rules }}">

    <ul>
        <li>
            <a href="{{ path('elementdetails_select1') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('elementdetails_edit', { 'id': elementDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% endblock %}


