<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/ship.css" rel="stylesheet">

    <link href="/css/ss-standard.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>



    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        var app = angular.module('myApp', []);

        /*app.config(function($interpolateProvider){
         $interpolateProvider.startSymbol('[[').endSymbol(']]');
         });*/

        app.controller('myCtrl', function($scope) {
            $scope.showMe = false;
            $scope.myFunc = function() {
                $scope.showMe = !$scope.showMe;
                $scope.ScoreCard = false;
                $scope.VesselRanking = false;
            }
            $scope.showMe3 = false;
            $scope.myFunc3 = function() {
                $scope.showMe3 = !$scope.showMe3;
            }

            $scope.ScoreCard = false;
            $scope.myFuncScoreCard = function() {
                $scope.ScoreCard = !$scope.ScoreCard;
                $scope.VesselRanking = false;
                $scope.showMe = false;
            }
            $scope.VesselRanking = false;
            $scope.myFuncVesselRanking = function() {
                $scope.VesselRanking = !$scope.VesselRanking;
                $scope.ScoreCard = false;
                $scope.showMe = false;
            }
            $scope.KpiRulesShow = false;
            $scope.myFuncKpiRulesShow = function() {
                $scope.KpiRulesShow = !$scope.KpiRulesShow;
            }

        });
    </script>
    <script type="text/javascript">
        $(window).ready(function()
        {
            //$('#dashboradhome1').addClass("active");
            $('.layout_name').click(function()
            {
                $('#dashboradhome1').removeClass("active");
                $('.layout_name').removeClass("active");
                var currentId = $(this).attr('id');
                $('#'+currentId+1).addClass("active");
            });
        });
    </script>
</head>
<body>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div  class="col-md-2 left_menus-2">
                <div class="logo"><img src="/images/pioneer_logo.png"></div>
                <ul class="nav nav-sidebar">

                    <li class="active" id="dashboradhome1">
                        <a class="layout_name" id="dashboradhome" href="{{ path('dashboardhome') }}">
                            <span class="menu-item-icon ss-thumbnails">&nbsp;</span>
                            <span class="menu-item-text">{{ 'layout.menu.dash'|trans }}</span>
                        </a>
                    </li>
                    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                        <li id="shipdetails_select1">
                            <a id="shipdetails_select" class="layout_name" href="{{ path('shipdetails_select1') }}">
                                <span class="menu-item-icon fa fa-ship">&nbsp;</span>
                                <span class="menu-item-text" >{{ 'layout.menu.vessel'|trans }}</span>
                            </a>
                        </li>
                        {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                            <li id="Scorecard1">
                                <a class="layout_name" id="Scorecard" ng-click="myFuncScoreCard()">
                                    <span class="menu-item-icon scorecard_icon fa fa-indent">&nbsp;</span>
                                    <span class="menu-item-text" id="Scorecard">{{ 'layout.menu.scorecard'|trans }}</span>
                                    <span class="x-btn-icon-arrow"><img src="/images/arrow-buttom.png"></span>
                                </a>
                                <ul class="submenu" ng-show="ScoreCard">
                                    <li id="kpidetails_select1">
                                        <a class="layout_name" id="kpidetails_select" href="{{ path('kpidetails_select1') }}">
                                            <span class="menu-item-icon ss-plus">&nbsp;</span>
                                            <span class="menu-item-text " id="kpidetails_select">{{ 'layout.menu.addkpi'|trans }}</span>
                                        </a>
                                    </li>
                                    <li id="elementdetails_select1">
                                        <a class="layout_name" id="elementdetails_select" href="{{ path('elementdetails_select1') }}">
                                            <span class="menu-item-icon ss-plus">&nbsp;</span>
                                            <span class="menu-item-text" id="elementdetails_select">{{ 'layout.menu.element'|trans }}</span>
                                        </a>
                                    </li>
                                    <li id="rules_select1">
                                        <a class="layout_name" id="rules_select" href="{{ path('rules_select') }}">
                                            <span class="menu-item-icon ss-plus">&nbsp;</span>
                                            <span class="menu-item-text" id="rules_select">{{ 'layout.menu.rule'|trans }}</span>
                                        </a>
                                    </li>

                                    <li id="data_verification1">
                                        <a class="layout_name" id="data_verification" href="{{ path('adddata_scorecard') }}">
                                            <span class="menu-item-icon ss-check">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span>
                                        </a>
                                    </li>

                                    <li id="data_import1">
                                        <a class="layout_name" id="data_import" href="{{ path('scorecard_import') }}">
                                            <span class="menu-item-icon ss-database">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.di'|trans }}</span>
                                        </a>
                                    </li>
                                    <li id="reports1">
                                        <a class="layout_name" id="reports" href="{{ path('scorecard_report_home') }}">
                                            <span class="menu-item-icon ss-barchart">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.report'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li id="Vessel_Ranking1">
                                <a class="layout_name" id="Vessel_Ranking" ng-click="myFuncVesselRanking()">
                                    <span class="menu-item-icon ss-warehouse">&nbsp;</span>
                                    <span class="menu-item-text layout_name">{{ 'layout.menu.vesselranking'|trans }}</span>
                                    <span class="x-btn-icon-arrow"><img src="/images/arrow-buttom.png"></span>
                                </a>
                                <ul class="submenu" ng-show="VesselRanking">
                                    <li id="rankingkpidetails_select1">
                                        <a class="layout_name" id="rankingkpidetails_select" href="{{ path('rankingkpidetails_select') }}">
                                            <span class="menu-item-icon ss-plus">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.addkpi'|trans }}</span>
                                        </a>
                                    </li>
                                    <li id="rankingelementdetails_select1">
                                        <a class="layout_name" id="rankingelementdetails_select" href="{{ path('rankingelementdetails_select1') }}">
                                            <span class="menu-item-icon ss-plus">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.element'|trans }}</span>
                                        </a>
                                    </li>
                                    <li id="rankingrules_select1">
                                        <a class="layout_name" id="rankingrules_select1" href="{{ path('rankingrules_select') }}">
                                            <span class="menu-item-icon ss-plus">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.rule'|trans }}</span>
                                        </a>
                                    </li>

                                    <li id="ranking_data_verification1">
                                        <a class="layout_name" id="ranking_data_verification1" href="{{ path('adddata_scorecard_forranking') }}">
                                            <span class="menu-item-icon ss-check">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span>
                                        </a>
                                    </li>

                                    <li id="Ranking_data_import1">
                                        <a class="layout_name" id="Ranking_data_import" href="{{ path('uploadfile_ranking') }}">
                                            <span class="menu-item-icon ss-database">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.di'|trans }}</span>
                                        </a>
                                    </li>
                                    <li  id="Ranking_Reports1">
                                        <a id="Ranking_Reports" class="layout_name" href="{{ path('ranking_reports') }}">
                                            <span class="menu-item-icon ss-barchart">&nbsp;</span>
                                            <span class="menu-item-text">{{ 'layout.menu.report'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}

                    {%  if is_granted("ROLE_KPI_INFO_PROVIDER") %}
                        <li id="Scorecard1">
                            <a class="layout_name" id="Scorecard" ng-click="myFuncScoreCard()">
                                <span class="menu-item-icon scorecard_icon fa fa-indent">&nbsp;</span>
                                <span class="menu-item-text" id="Scorecard">{{ 'layout.menu.scorecard'|trans }}</span>
                                <span class="x-btn-icon-arrow"><img src="/images/arrow-buttom.png"></span>
                            </a>
                            <ul class="submenu" ng-show="ScoreCard">
                                <li id="data_verification1">
                                    <a class="layout_name" id="data_verification" href="{{ path('adddata_scorecard') }}">
                                        <span class="menu-item-icon ss-check">&nbsp;</span>
                                        <span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="Vessel_Ranking1">
                            <a class="layout_name" id="Vessel_Ranking" ng-click="myFuncVesselRanking()">
                                <span class="menu-item-icon ss-warehouse">&nbsp;</span>
                                <span class="menu-item-text layout_name">{{ 'layout.menu.vesselranking'|trans }}</span>
                                <span class="x-btn-icon-arrow"><img src="/images/arrow-buttom.png"></span>
                            </a>
                            <ul class="submenu" ng-show="VesselRanking">
                                <li id="ranking_data_verification1">
                                    <a class="layout_name" id="ranking_data_verification1" href="{{ path('adddata_scorecard_forranking') }}">
                                        <span class="menu-item-icon ss-check">&nbsp;</span>
                                        <span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {%  if is_granted("ROLE_ADMIN") %}
                        <li id="fos_user_registration_show21">
                            <a class="layout_name" id="fos_user_registration_show" href="{{ path('fos_user_registration_show') }}">
                                <span class="menu-item-icon ss-users">&nbsp;</span>
                                <span class="menu-item-text">{{ 'layout.menu.user'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {%  if is_granted("ROLE_SUPER_ADMIN") %}
                        <li id="fos_user_registration_show1">
                            <a class="layout_name" id="fos_user_registration_show" href="{{ path('fos_user_registration_show') }}">
                                <span class="menu-item-icon ss-users">&nbsp;</span>
                                <span class="menu-item-text">{{ 'layout.menu.companydetails'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                        <li id="creategroup1">
                            <a class="layout_name" id="creategroup" href="{{ path('creategroup') }}">
                                <span class="menu-item-icon ss-mail">&nbsp;</span>
                                <span class="menu-item-text">{{ 'layout.menu.mail'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="">
                            <span class="menu-item-icon ss-briefcase">&nbsp;</span>
                            <span class="menu-item-text">{{ 'layout.menu.backup'|trans }}</span>
                        </a>
                    </li>
                </ul>

                {#<div class="x-btn-my-account-small">
                    <a ng-click="myFunc()">
            	<span class="x-btn-icon-el">


                     <img src="/images/nouser.png">
              </span>
              <span class="x-btn-inner">
                <div class="user-name">{{app.user.username }}</div>
                <div class="company">Company Name</div>
              </span>
                        <span class="x-btn-icon-arrow"><img src="/images/arrow-top.png"></span>
                    </a>
                </div>#}
                <div class="x-btn-my-account-small">
                    <div class="menu_logout_button"><a href="{{ path('fos_user_security_logout') }}"><samp class="menu-item-icon ss-logout"></samp><span class="menu-item-text">{{ 'layout.menu.logout'|trans }}</span></a></div>
                    <div class="user_setting_main" ng-click="myFunc()">
  <span class="x-btn-icon-el">
     <img src="/images/nouser.png">
  </span>
  <span class="x-btn-inner">
    <div class="user-name">{{app.user.username }}</div>
    <div class="company">Company Name</div>
  </span>
                        <span class="x-btn-icon-arrow"><img src="/images/arrow-top.png"></span>
                    </div>
                </div>

                <div class="my-account-box" ng-show="showMe">
                    <div class="my-account-box-inner">
                        <div class="settings"><samp class="ss-settings"><a href={{ path('fos_user_change_password') }}>{{ 'layout.menu.settingsfor'|trans }} {{app.user.username }}</a></samp></div>
                        <div class="logout"><samp class="ss-logout"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.menu.logout'|trans }}</a></samp></div>
                    </div>
                    <div class="arrow ss-dropdown">&nbsp;</div>
                </div>
            </div>
            <div class="dashboard_screen_views dashboard_right_ship">
                <section>
                    {% block body %}

                    {% endblock %}
                </section>
            </div>


        </div>
    </div>

    <!-- end if for overall links -->
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>