<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/ship.css" rel="stylesheet">

    <link href="/css/ss-standard.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.showMe = false;
            $scope.myFunc = function() {
                $scope.showMe = !$scope.showMe;
            }

            $scope.showMe2 = false;
            $scope.myFunc2 = function() {
                $scope.showMe2 = !$scope.showMe2;
            }
        });
    </script>
</head>
<body>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="logo">Shipping</div>
                <ul class="nav nav-sidebar">
                    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                        <li class="active">
                            <a href="{{ path('dashboradhome') }}">
                                <span class="menu-item-icon ss-thumbnails">&nbsp;</span>
                                <span class="menu-item-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('shipdetails_select1') }}">
                                <span class="menu-item-icon ss-star">&nbsp;</span>
                                <span class="menu-item-text">Ships</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="myFunc2()">
                                <span class="menu-item-icon ss-star">&nbsp;</span>
                                <span class="menu-item-text">KPI</span>
                                <span class="x-btn-icon-arrow"><img src="/images/arrow-top.png"></span>
                            </a>
                            <ul class="submenu" ng-show="showMe2">
                                <li>
                                    <a href="{{ path('kpidetails_select1') }}">
                                        <span class="menu-item-icon ss-plus">&nbsp;</span>
                                        <span class="menu-item-text">Add KPI</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('elementdetails_select1') }}">
                                        <span class="menu-item-icon ss-star">&nbsp;</span>
                                        <span class="menu-item-text">Element</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('rules_select') }}">
                                        <span class="menu-item-icon ss-star">&nbsp;</span>
                                        <span class="menu-item-text">Rules</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path('showfile') }}">
                                    <span class="menu-item-icon ss-database">&nbsp;</span>
                                    <span class="menu-item-text">Data Import</span>
                                </a>
                            </li>
                        {% endif %}
                        {%  if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path('fos_user_registration_show') }}">
                                    <span class="menu-item-icon ss-users">&nbsp;</span>
                                    <span class="menu-item-text">Company Users</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('creategroup') }}">
                                <span class="menu-item-icon ss-mail">&nbsp;</span>
                                <span class="menu-item-text">Mail</span>
                            </a>
                        </li>
                        <li>
                            <a href="dashboard.html">
                                <span class="menu-item-icon ss-repeat">&nbsp;</span>
                                <span class="menu-item-text">Reports</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <div class="x-btn-my-account-small">
                    <a ng-click="myFunc()">
            	<span class="x-btn-icon-el">
              {#  <img src="/images/user.jpg">#}
                     <img src="/images/nouser.png">
              </span>
              <span class="x-btn-inner">
                <div class="user-name">{{app.user.username }}</div>
                <div class="company">Company Name</div>
              </span>
                        <span class="x-btn-icon-arrow"><img src="/images/arrow-top.png"></span>
                    </a>
                </div>

                <div class="my-account-box" ng-show="showMe">
                    <div class="my-account-box-inner">
                        <div class="settings"><samp class="ss-settings"><a href={{ path('fos_user_change_password') }}>Settings for Kali</a></samp></div>
                        <div class="logout"><samp class="ss-logout"><a href="{{ path('fos_user_security_logout') }}">Logout</a></samp></div>
                    </div>
                    <div class="arrow ss-dropdown">&nbsp;</div>
                </div>
            </div>
            <section>
                {% block body %}

                {% endblock %}
            </section>


        </div>
    </div>
{% endif %}
<!-- end if for overall links -->
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>


