<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Star Systems Shipping Application{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets '@InitialShippingBundle/Resources/public/css/design/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {#{% stylesheets '@InitialShippingBundle/Resources/public/js/thickbox/thickbox.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}#}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        .red
        {
            background-color: red;
            border-radius: 50%;
            /*padding: 20px;*/
            width: 20px;
            height: 20px;
        }
        .green
        {
            background-color: green;
            border-radius: 50%;
            /*padding: 20px;*/
            width: 20px;
            height: 20px;
        }
        .yellow
        {
            background-color: yellow;
            border-radius: 50%;
            /*padding: 20px;*/
            width: 20px;
            height: 20px;
        }
        .nocolor
        {
            background-color:#0c3055;
            border-radius: 50%;
            /*padding: 20px;*/
            width: 20px;
            height: 20px;
        }

    </style>

</head>
<body>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Shipping</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="welcome">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                    <li><a href={{ path('fos_user_change_password') }}>Change Password</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                  {#  <li><a href="{{ path('shipdetails_dashboard') }}">Home</a></li>#}

                    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('dashboradhome') }}">Home</a></li>
                        <li><a href="{{ path('shipdetails_select1') }}">Add Ships</a></li>
                        <li><a href="{{ path('kpidetails_select1') }}">Add KPI</a></li>
                        <li> <a href="{{ path('elementdetails_select1') }}">Add Elements</a></li>
                        <li><a href="{{ path('rules_select') }}">Add Rules</a></li>
                        <li> <a href="{{ path('showfile') }}">Import File</a></li>
                        <li> <a href="{{ path('mailinghome') }}">Mailing List</a></li>
                        <li> <a href="{{ path('readingkpivalues_index',{ 'page': 1 }) }}">Kpi Values List</a></li>
                    {% endif %}
                    {%  if is_granted("ROLE_ADMIN")  %}
                        <li><a href="{{ path('fos_user_registration_show') }}">Manage Users</a></li>
                    {% endif %}
                    {%  if is_granted("ROLE_SUPER_ADMIN")  %}
                        {#<li><a href="{{ path('fos_user_registration_register') }}">create Admin</a></li>#}
                        <li> <a href="{{ path('user_index') }}">Create Company </a></li>
                    {% endif %}

                </ul>

            </div>
            {% block body %}
            {% endblock %}

        </div>
    </div>

{% endif %}

{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>