<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping </title>
    <link rel="icon" href="/images/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/ship.css" rel="stylesheet">

    <link href="/css/ss-standard.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/media_queries.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/aa_jquery-1.8.0.min.js"></script>
    <script src="/js/jquery.ui.draggable.js"></script>
    <script src="/js/jquery.alerts.js"></script>
    <script src="/js/functions.js"></script>
    <link href="/css/jquery.alerts.css" rel="stylesheet">
    <script src="/js/router.js"></script>
    <script src="/js/fos_js_routes.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(window).ready(function()
        {
            var base_url = window.location.origin;
            var pathname = window.location.pathname;
            if(pathname=='/dataverfication/add_data')
            {
                $('li').removeClass('active');
                $('#Scorecard').after('<ul class="submenu scorecard" id="scorecard_submenu"></ul>');
                $('#scorecard_submenu').html('');
                $('#scorecard_submenu').text('');
                $('<li class="active" id="data_verification1"><a class="layout_name" id="data_verification" href="{{ path('adddata_scorecard') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li id="ranking_data_verification1"><a class="layout_name" id="scorecard_import" href="{{ path('scorecarddataimport_data_import') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#scorecard_submenu');
                $('.scorecard').show();

            }
            else if(pathname=='/scorecarddataimport/data_import')
            {
                $('li').removeClass('active');
                $('#Scorecard').after('<ul class="submenu scorecard" id="scorecard_submenu"></ul>');
                $('#scorecard_submenu').html('');
                $('#scorecard_submenu').text('');
                $('<li  id="data_verification1"><a class="layout_name" id="data_verification" href="{{ path('adddata_scorecard') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li class="active" id="ranking_data_verification1"><a class="layout_name" id="scorecard_import" href="{{ path('scorecarddataimport_data_import') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#scorecard_submenu');
                $('.scorecard').show();
            }
            else if(pathname=='/scorecarddataimport/scorecarddataimport_new')
            {
                $('li').removeClass('active');
                $('#Scorecard').after('<ul class="submenu scorecard" id="scorecard_submenu"></ul>');
                $('#scorecard_submenu').html('');
                $('#scorecard_submenu').text('');
                $('<li  id="data_verification1"><a class="layout_name" id="data_verification" href="{{ path('adddata_scorecard') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li class="active" id="ranking_data_verification1"><a class="layout_name" id="scorecard_import" href="{{ path('scorecard_import') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#scorecard_submenu');
                $('.scorecard').show();
            }
            else if(pathname=='/dataverfication/add_data_forranking')
            {
                $('li').removeClass('active');
                $('.scorecard').hide();
                $(".box_new").hide();
                $('.rankinglink').after('<ul class="submenu ranking_submenu" id="ranking_submenu"></ul>');
                $('#ranking_submenu').html('');
                $('#ranking_submenu').text('');
                //$('#dashboradhome1').removeClass("active");
                $('li').removeClass('active');
                $('<li class="active" id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('adddata_scorecard_forranking') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('uploadfile_ranking') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#ranking_submenu');
                $(".ranking_submenu").show();
            }
            else if(pathname=='/dataverfication/uploadfile_ranking')
            {
                $('li').removeClass('active');
                $('.scorecard').hide();
                $(".box_new").hide();
                $('.rankinglink').after('<ul class="submenu ranking_submenu" id="ranking_submenu"></ul>');
                $('#ranking_submenu').html('');
                $('#ranking_submenu').text('');
                //$('#dashboradhome1').removeClass("active");
                $('li').removeClass('active');
                $('<li  id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('adddata_scorecard_forranking') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li class="active" id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('uploadfile_ranking') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#ranking_submenu');
                $(".ranking_submenu").show();
            }
            else if(pathname=='/dataverfication/showfile_ranking')
            {
                $('li').removeClass('active');
                $('.scorecard').hide();
                $(".box_new").hide();
                $('.rankinglink').after('<ul class="submenu ranking_submenu" id="ranking_submenu"></ul>');
                $('#ranking_submenu').html('');
                $('#ranking_submenu').text('');
                //$('#dashboradhome1').removeClass("active");
                $('li').removeClass('active');
                $('<li  id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('adddata_scorecard_forranking') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li class="active" id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('uploadfile_ranking') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#ranking_submenu');
                $(".ranking_submenu").show();
            }
            $(".topmenu_score").click(function()
            {
                $('.ranking_submenu').hide();
                $(".box_new").hide();
                if($('#scorecard_submenu').length > 0)
                {
                    $('#scorecard_submenu').remove();
                }
                else
                {
                    $('#Scorecard').after('<ul class="submenu scorecard" id="scorecard_submenu"></ul>');
                    $('#scorecard_submenu').html('');
                    $('#scorecard_submenu').text('');
                    $('<li id="data_verification1"><a class="layout_name" id="data_verification" href="{{ path('adddata_scorecard') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li id="data_verification1"><a class="layout_name" id="data_verification" href="{{ path('scorecarddataimport_data_import') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#scorecard_submenu');
                    $('.scorecard').show();
                }
            });
            $(".topmenu_ranking").click(function()
            {
                $('.scorecard').hide();
                $(".box_new").hide();
                if($('#ranking_submenu').length > 0)
                {
                    $('#ranking_submenu').remove();
                }
                else
                {
                    $('.rankinglink').after('<ul class="submenu ranking_submenu" id="ranking_submenu"></ul>');
                    $('#ranking_submenu').html('');
                    $('#ranking_submenu').text('');
                    $('<li id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('adddata_scorecard_forranking') }}"><span class="menu-item-icon ss-check">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.dv'|trans }}</span></a></li><li id="ranking_data_verification1"><a class="layout_name" id="ranking_data_verification1" href="{{ path('uploadfile_ranking') }}"><span class="menu-item-icon fa fa-upload">&nbsp;</span><span class="menu-item-text">{{ 'layout.menu.v-ships'|trans }}</span></a></li>').appendTo('#ranking_submenu');
                    $(".ranking_submenu").show();
                }

            });
            $(".slide-toggle").click(function()
            {
                $('.scorecard').hide();
                $('.ranking_submenu').hide()
                if($('#user_login_content').length > 0)
                {
                    $(".box_new").slideToggle();
                }
                else
                {
                    $('#user_settings').before('<div class="profile_list box_new" id="user_login_content"><ul><li><a href="{{ path('fos_user_edit_profile') }}" id=""> Edit Profile</a></li><li><a href={{ path('fos_user_change_password') }}>{{ 'layout.changepass'|trans }}</a></li><li class="last"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a></li></ul></div>');
                    $('.box_new').hide();
                    $(".box_new").slideToggle();
                }

            });
            $(document).click(function (e) {
                if (!$(e.target).parents().andSelf().is('.slide-toggle'))
                {
                    $('#user_login_content').remove();
                }
            });
        });
    </script>
</head>
<body>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="container" >
        <div class="row">
            <div  class="col-md-2 left_menus-2" id="afterlogin_appendcontent">
                <div class="logo"><img src="/images/pioneer_logo.png"></div>
                <ul class="nav nav-sidebar">

                    {#<li id="">
                        <a id="" class="layout_name" href="{{ path('scorecarddataimport_data_import') }}">
                            <span class="menu-item-icon fa fa-ship">&nbsp;</span>
                            <span class="menu-item-text" >{{ 'layout.menu.di'|trans }}</span>
                        </a>
                    </li>#}

                    <li class="topmenu_score" id="Scorecard1">
                        <a class="layout_name" id="Scorecard" ng-click="myFuncScoreCard()">
                            <span class="menu-item-icon scorecard_icon fa fa-indent">&nbsp;</span>
                            <span class="menu-item-text" id="Scorecard">{{ 'layout.menu.scorecard'|trans }}</span>
                            <span class="x-btn-icon-arrow"><img src="/images/arrow-buttom.png"></span>
                        </a>

                    </li>

                    <li class="topmenu_ranking" id="Vessel_Ranking1">
                        <a class="layout_name rankinglink" id="Vessel_Ranking" ng-click="myFuncVesselRanking()">
                            <span class="menu-item-icon ss-warehouse">&nbsp;</span>
                            <span class="menu-item-text layout_name">{{ 'layout.menu.vesselranking'|trans }}</span>
                            <span class="x-btn-icon-arrow"><img src="/images/arrow-buttom.png"></span>
                        </a>
                    </li>
                </ul>
                <div class="x-btn-my-account-small" id="bottom_content">
                    <div class="x-btn-my-account-small_inner_2">
                        <div class="user_setting_main slide-toggle">

    <span class="x-btn-icon-el" id="user_settings">
    <img src="/images/nouser.png">
    </span>
    <span class="x-btn-inner">
    <div class="user-name">{{app.user.username }}</div>
     <div class="company">
         {% if app.user.roles[0]=='ROLE_ADMIN' %}
             Administrator
         {% elseif app.user.roles[0]=='ROLE_MANAGER' %}
             Manager
         {% elseif app.user.roles[0]=='ROLE_KPI_INFO_PROVIDER' %}
             V-ships
         {% else %}
             User
         {% endif %}
     </div>
    </span>
                            <span class="x-btn-icon-arrow"><img src="/images/arrow-top.png"></span>
                        </div>
                    </div>
                </div>

            </div>



            <div class="dashboard_screen_views dashboard_right_ship">
                <section id="wholecontent">
                    {% block body %}

                    {% endblock %}
                </section>
            </div>


        </div>
    </div>

    <!-- end if for overall links -->
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>