{% extends 'base.html.twig' %}

{% block body %}

    {#{% block body %}
        {% block javascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}#}

    {% block stylesheets %}
        {% stylesheets
        '@InitialShippingBundle/Resources/public/css/design/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <style>
        .pass{
            color:white;
        }

        .change{
            color:red;
        }
        #errormsg{
            color:red;
        }
    </style>

    {#{%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Company Users List</h2>
            <a href="{{ path('fos_user_registration_register') }}">Add newuser</a>
        </div>
        {% endif %}#}


    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/sample.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script type="text/javascript">
            $(document).ready(function(){

                $('.add_btn').live("click",function($e){
                    $e.preventDefault();
                    $('#grid_view').show();
                    $('#list_view').hide();
                    $('.create_view').show();
                    $('.edit_view').hide();
                    $('.show_view').hide();

                });
                $('.cancel_btn').live("click",function($e){
                    $e.preventDefault();
                    $('.create_view').show();
                    $('#grid_view').show();
                    $('.edit_view').hide();
                    $('.show_view').hide();
                    $('.fos_user_registration_register')[0].reset();

                });




                 $('').live("click",function($e){
                 $e.preventDefault();
                     $('.edit_user_id').val(data.User_detail[0].id);
                     $('.edit_username').val(data.User_detail[0].username);
                     $('.edit_email').val(data.User_detail[0].email);
                     $('.edit_mobile').val(data.User_detail[0].mobile);
                     $('.edit_fullname').val(data.User_detail[0].fullname);




                 });


                $('.edit_btn').live("click", function ($e) {
                    $e.preventDefault();
                    $('#grid_view').show();
                    $('#list_view').hide();
                    $('.show_view').hide();
                    $('.create_view').hide();
                    $('.edit_view').show();

                });


                /* $('.edit_user_button').live("click",function($e)
                 {
                 $e.preventDefault();
                 $('.show_view').hide();
                 $('.edit_view').show();
                 });*/

                $('.edit_cancel_btn').live("click",function($e){
                    $e.preventDefault();
                    $('.edit_view').hide();
                    $('.show_view').show();
                    $(".create_view").hide();
                });

                //var condition_text = "";
                var count = 0;
               /* $('.edit').live("click",function($e)
                {
                    $e.preventDefault();

                    //$('.create_view').hide();

                    count++;
                    var currentId = $(this).attr('id');

                    //alert(currentId)
                    // $('#kpi_id_reference_text').val(currentId);
                    var data = {Id: currentId};
                    if (count > 1) {

                        $('.edit_view').hide();



                    }

                    });

                    $.ajax({

                        success: function (data) {
                            //alert(success);

                            $('.user_name').append(data.User_detail[0].username);
                            $('.user_email').append(data.User_detail[0].email);
                            $('.user_mobile').append(data.User_detail[0].mobile);
                            $('.user_roles').append(data.User_detail[0].roles[0]);

                            //  for edit view

                            $('.edit_user_id').val(data.User_detail[0].id);
                            $('.edit_username').val(data.User_detail[0].username);
                            $('.edit_email').val(data.User_detail[0].email);
                            $('.edit_mobile').val(data.User_detail[0].mobile);
                            $('.edit_fullname').val(data.User_detail[0].fullname);


                            //var privilegs=[];
                            //alert(data.User_detail[0].roles[0]);
                            $('.inline-checkbox').each(function()
                            {
                                //alert($(this).val());

                                if($(this).val()==data.User_detail[0].roles[0])
                                {
                                    var a=$(this).attr('id');
                                    ///alert(a);
                                    $('#'+a).attr('checked','checked');
                                    //alert("hi");
                                }

                            });

                            // $('.inline-checkbox').val(data.User_detail[0].roles[0]);

                            // $('.').show();

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    $('.show_kpi').show()
                });*/





               /* $('.edit_submit_btn').live("click",function($e)
                {
                    $e.preventDefault();
                    var username=$('.edit_username').val();
                    var email = $('.edit_email').val();
                    var mobile =$('.edit_mobile').val();
                    var fullname =$('.edit_fullname').val();


                    if(fullname=="")
                    {
                        jAlert('', 'fullname required');
                        $('.edit_fullname').focus();
                        return false
                    }

                    if(username=="")
                    {
                        jAlert('', 'User Name Required');
                        $('.edit_username').focus();
                        return false

                    }
                    if(email=="")
                    {
                        jAlert('', 'Email Required');
                        $('.edit_email').focus();
                        return false

                    }

                    if(mobile=="")
                    {
                        jAlert('', 'mobile no Required');
                        $('.edit_mobile').focus();
                        return false

                    }

                    $('.inline-checkbox').each(function()
                    {
                        //alert($(this).val());

                        if($(this).val()==data.User_detail[0].roles[0])
                        {
                            var a=$(this).attr('id');
                            ///alert(a);
                            $('#'+a).attr('checked','checked');
                            //alert("hi");
                        }

                    });


                    var data = {
                        Id :$('.edit_user_id').val(),
                        name: $('.edit_username').val(),
                        email: $('.edit_email').val(),
                        mobile: $('.edit_mobile').val(),
                        fullname:$('.edit_fullname').val(),


                        privileges: $('inline-checkbox').val()

                    };
                    $.ajaxSetup({
                        global: false,
                        type: "POST",
                        url: "sample_edit",
                        data: data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete =  ajax_complete();
                        }
                    });

                    $.ajax({

                        success: function(data) {
                            alert("haii")
                            // $('.edit_view').show();
                            $('.user_name').append(data.User_detail[0].username);
                            $('.user_email').append(data.User_detail[0].email);
                            $('.user_roles').append(data.User_detail[0].roles[0])
                            $('.user_mobile').append(data.User_detail[0].mobile);



                            //Setting value for edit view
                            $('.edit_user_id').val(data.User_detail[0].id);
                            $('.edit_username').val(data.User_detail[0].username);
                            $('edit_email').val(data.User_detail[0].email);
                            $('.edit_mobile').append(data.User_detail[0].mobile);
                            $('.inline-checkbox').val(data.User_detail[0].roles[0]);



                            $('.edit_view').show();


                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                        {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    //$('.edit_view').show();
                    // $('.show_view').show();
                });*/



            });

        </script>






        <script type="text/javascript">
            $(document).ready(function() {
                $('#fos_user_registration_form_roles_0').hide();
                $('#fos_user_registration_form_roles').hide();



            });

         function validate()
         {
            jAlert('','your profile updated')
         }


        </script>

    {% endblock %}




    <div class="edit_view">
        <section>
            <div class="col-sm-12">
                <div class="add_kpi_views_screen">

                    <div class="kpi_basic_details">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_edit'), 'attr': {'id':'edit_form','class': 'fos_user_registration_register form-horizontal no-style','onsubmit':'return validate()'}}) }}

                       {# <input type="hidden" name="fos_user[id]" value="{{ userdetails.id }}" hidden>#}



                        <fieldset class="fieldset_box">
                            <legend class="legend_name">{{'user.basic_info'|trans  }}</legend>


                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">{{'user.edit_fullname'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="text"  name="edit_fullname" value="{{ Userdetail[0].fullname }}" placeholder="" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">{{'user.edit_name'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="text" name="edit_username" readonly value="{{ Userdetail[0].username }}" placeholder="" required>
                                    <input type="hidden" name="edit_user_id" value="{{Userdetail[0].id }}" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">{{'user.edit_email'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="email" name="edit_email" value="{{Userdetail[0].email }}" placeholder="" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">{{'user.edit_mobile'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="text" name="edit_mobile" value="{{Userdetail[0].mobile }}" placeholder="" required>

                                </div>
                            </div>

                        </fieldset>

                        <fieldset class="fieldset_box">
                            <legend class="legend_name">{{'user.edit_privileges'|trans  }}</legend>
                            {%  if  Userdetail[0].roles[0]=='ROLE_ADMIN'%}
                                <div class="form-group">
                                    <label class="control-label col-xs-4">&nbsp;</label>
                                    <div class="col-xs-8">
                                        <label><input type="radio" id="1" name="privileges"   class="inline-checkbox" placeholder="" checked value="ROLE_ADMIN">{{ 'user.edit_admin'|trans  }}</label>
                                    </div>
                                </div>

                            {#<div class="form-group">
                                 <label class="control-label col-xs-4">&nbsp;</label>
                                 <div class="col-xs-8">
                                     <label><input type="radio" id="2" name="privileges"  class="inline-checkbox" placeholder="" value="ROLE_REPORT_USER">REPORT USER</label>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label col-xs-4">&nbsp;</label>
                                 <div class="col-xs-8">
                                     <label><input type="radio" id="3"  name="privileges" class="inline-checkbox" placeholder="" value=" ROLE_KPI_INFO_PROVIDER"> KPI info provider</label>
                                 </div>
                             </div>#}
                              {% elseif Userdetail[0].roles[0]=='ROLE_KPI_INFO_PROVIDER' %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">&nbsp;</label>
                                <div class="col-xs-8">
                                    <label><input type="radio" id="3"  name="privileges" class="inline-checkbox" checked placeholder="" value=" ROLE_VSHIPS">{{ 'user.edit_vship'|trans  }}</label>
                                </div>
                            </div>
                            {% elseif Userdetail[0].roles[0]=='ROLE_MANAGER' %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">&nbsp;</label>
                                <div class="col-xs-8">
                                    <label><input type="radio" id="4"  name="privileges" class="inline-checkbox" checked placeholder="" value=" ROLE_MANAGER">{{ 'user.edit_kpimanager'|trans  }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="actions_submit">
                                <button class="submit_btn edit_submit_btn" type="submit" value="Submit">{{'user.edit_save'|trans  }}</button>
                                {#<button class="cancel_btn edit_cancel_btn" type="submit" value="Submit">{{'user.edit_cancel'|trans  }}</button>#}

                            </div>
                        </fieldset>

                    </div>

</form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}