{% extends 'base.html.twig' %}

{% block body %}

    {#{% block body %}
        {% block javascripts %}
            {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}#}

    {#{% block stylesheets %}
        {% stylesheets
        '@InitialShippingBundle/Resources/public/css/design/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}#}
    <style>
        .pass{
            color:white;
        }

        .change{
            color:red;
        }
        #errormsg{
            color:red;
        }
    </style>

    {#{%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Company Users List</h2>
            <a href="{{ path('fos_user_registration_register') }}">Add newuser</a>
        </div>
        {% endif %}#}


    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/sample.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script type="text/javascript">
            $(document).ready(function(){
                var editEmail = $('#val_email');
                var editMobile = $('#user_mobile');
                var emailName;
                var editMobileName;



                $('.cancel_btn').live("click",function($e){
                    $('.fos_user_registration_register')[0].reset();

                });
                var edituser = $('#val_email');
                edituser.live("click",function($e) {
                    $e.preventDefault();
                    emailName = editEmail.val();
                    editMobileName = editMobile.val();


                });

                $('.edit_cancel_btn').live("click", function ($e) {
                    $e.preventDefault();
                    $('.edit_view').hide();
                    window.location.href = '/dashboard';

                });




                var createVesselErrorMsg = $('#create-val-email');
                editEmail.change(function($e) {
                    $e.preventDefault();
                    var data = {'email':editEmail.val()};
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:"check_email",
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            createVesselErrorMsg.empty();
                            if(data.email==data.status && emailName!=editEmail.val()) {
                                createVesselErrorMsg.text("Email is already registered !");
                                editEmail.focus();
                                return false;
                            }

                            if(!$.trim(editEmail.val())) {
                                createVesselErrorMsg.text('Email name cannot be empty !');
                                editEmail.focus();
                                return false;
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                });



                var createmobileErrorMsg = ('#val-mobile');
                editMobile.change(function($e) {
                    $e.preventDefault();
                    var data = {'mobile': editMobile.val()};
                    $.ajaxSetup({
                        global: false,
                        type: "POST",
                        url: "check_mobile",
                        data: data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function (data) {
                            //editEmailError.empty();
                            //createmobileErrorMsg.empty();
                            if(data.mobile==data.status && editMobileName!=editMobile.val()) {
                                jAlert("Mobile number is already registered !");
                                //createmobileErrorMsg.text("Mobile number is already registered !");
                                editMobile.focus();
                                return false;
                            }
                            if (!$.trim(editMobile.val())) {
                                jAlert('mobile cannot be empty !');
                                //createmobileErrorMsg.text("mobile cannot be empty!");
                                editMobile.focus();
                                return false;
                            }
                            if (editMobile.val().length < 10 || editMobile.val().length > 10) {
                                jAlert("Mobile No. is not valid, Please Enter 10 Digit Mobile No.");
                                //createmobileErrorMsg.text("Mobile No. is not valid, Please Enter 10 Digit Mobile No.");
                                editMobile.focus();
                                return false;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });

                });






                $('#fos_user_registration_form_roles_0').hide();
                $('#fos_user_registration_form_roles').hide();
                $('#imagelink').click(function($e)
                {
                    $e.preventDefault();
                    $('#imageid').click();


                });
                $('#imageid').change(function($e)
                {
                    var file = this.files[0];
                    var imagefile = file.type;
                    var match= ["image/jpeg","image/png","image/jpg"];
                    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
                    {
                        alert('Please Select A valid Image File');
                        return false;
                    }
                    else
                    {
                        readURL(this);
                    }
                });
                $('#edit_form').submit(function () {
                    var state=true;
                    var avatar=$('#imageid').val();
                    var extension = avatar.split('.').pop().toUpperCase();
                    if (extension!="PNG" && extension!="JPG" && extension!="GIF" && extension!="JPEG"){
                        alert('Please Select A valid Image File');
                        state=false;
                        return false;
                    }
                    else
                    {
                        state=true;
                        return true;
                    }
                    return state;

                });
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#image_upload_preview').attr('src', e.target.result);
                            $('#baseimageid').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }


            });

        </script>

        <script type="text/javascript">

            function validate() {
                //alert('your profile updated');


                var email = document.getElementById('user_email');
                var mobile = document.getElementById('user_mobile');
                var fullname = document.getElementById('user_fullname');
                var char = /^[A-Za-z]+$/;


                if (mobile.value.length < 10 || mobile.value.length > 10) {
                    jAlert("Mobile No. is not valid, Please Enter 10 Digit Mobile No.");
                    document.getElementById('user_mobile').focus();
                    return false;
                }
                if (!fullname.value.match(char)) {
                    jAlert("please enter characters only");
                    document.getElementById('user_fullname').focus();
                    return false;
                }
            }

        </script>



    {% endblock %}




    <div class="edit_view">
        <section>
            <div class="col-sm-12">
                <div class="add_kpi_views_screen">
                    {# <div class="add_new_user_photo_edit_screen">
                         <div class="title">User Photo</div>
                         <div><img src="/images/no-user-image.png"></div>
                         <div class="spacing"></div>

                         <div><a id="imagelink" href="">Change Picture</a></div>
                     </div>#}
                    <div class="add_new_user_photo_edit_screen">
                        <div class="title">User Photo</div>
                        <div class="view_new_user_photo">
                            {% if Userdetail[0].imagepath=='' %}
                                <img id="image_upload_preview" src="/images/no-user-image.png">
                            {% else %}
                                <img id="image_upload_preview" src="/uploads/userimages/{{ Userdetail[0].imagepath }}">
                            {% endif %}
                        </div>
                        <div class="spacing"></div>
                        <div><a id="imagelink" href="">Change Picture</a></div>
                    </div>

                    <div class="add_new_users_form">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_edit'), 'attr': {'id':'edit_form','enctype':'multipart/form-data','class': 'fos_user_registration_register form-horizontal no-style'}}) }}

                        {# <input type="hidden" name="fos_user[id]" value="{{ userdetails.id }}" hidden>#}
                        <input type="file" style="display: none;" name="userimage" id="imageid" value="{{ Userdetail[0].imagepath }}">



                        <fieldset class="fieldset_box">
                            <legend class="legend_name">{{'user.basic_info'|trans  }}</legend>


                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">{{'user.edit_fullname'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="text" id="user_fullname"  name="edit_fullname" value="{{ Userdetail[0].fullname }}" placeholder="" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">{{'user.edit_name'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="text" name="edit_username" readonly value="{{ Userdetail[0].username }}" placeholder="" required>
                                    <input type="hidden" name="edit_user_id" value="{{Userdetail[0].id }}" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">{{'user.edit_email'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="email" name="edit_email" value="{{Userdetail[0].email }}" id="val_email" placeholder="" required>
                                </div>
                                <div class="col-xs-8 weight-error-message" id="create-val-email"></div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">{{'user.edit_mobile'|trans  }}</label>
                                <div class="col-xs-8">
                                    <input type="text" id="user_mobile" name="edit_mobile" value="{{Userdetail[0].mobile }}" placeholder="" required>

                                </div>
                                <div class="col-xs-8 weight-error-message" id="val-mobile"></div>
                            </div>

                        </fieldset>

                        <fieldset class="fieldset_box">
                            <legend class="legend_name">{{'user.edit_privileges'|trans  }}</legend>
                            {%  if  Userdetail[0].roles[0]=='ROLE_ADMIN'%}
                                <div class="form-group">
                                    <label class="control-label col-xs-4">&nbsp;</label>
                                    <div class="col-xs-8">
                                        <label><input type="radio" id="1" name="privileges"   class="inline-checkbox" placeholder="" checked value="ROLE_ADMIN">{{ 'user.edit_admin'|trans  }}</label>
                                    </div>
                                </div>

                                {#<div class="form-group">
                                     <label class="control-label col-xs-4">&nbsp;</label>
                                     <div class="col-xs-8">
                                         <label><input type="radio" id="2" name="privileges"  class="inline-checkbox" placeholder="" value="ROLE_REPORT_USER">REPORT USER</label>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-xs-4">&nbsp;</label>
                                     <div class="col-xs-8">
                                         <label><input type="radio" id="3"  name="privileges" class="inline-checkbox" placeholder="" value=" ROLE_KPI_INFO_PROVIDER"> KPI info provider</label>
                                     </div>
                                 </div>#}
                            {% elseif Userdetail[0].roles[0]=='ROLE_KPI_INFO_PROVIDER' %}
                                <div class="form-group">
                                    <label class="control-label col-xs-4">&nbsp;</label>
                                    <div class="col-xs-8">
                                        <label><input type="radio" id="3"  name="privileges" class="inline-checkbox" checked placeholder="" value=" ROLE_VSHIPS">{{ 'user.edit_vship'|trans  }}</label>
                                    </div>
                                </div>
                            {% elseif Userdetail[0].roles[0]=='ROLE_MANAGER' %}
                                <div class="form-group">
                                    <label class="control-label col-xs-4">&nbsp;</label>
                                    <div class="col-xs-8">
                                        <label><input type="radio" id="4"  name="privileges" class="inline-checkbox" checked placeholder="" value=" ROLE_MANAGER">{{ 'user.edit_kpimanager'|trans  }}</label>
                                    </div>
                                </div>
                            {% endif %}
                        </fieldset>
                        <div class="actions_submit">
                            <button class="submit_btn edit_submit_btn" type="submit" value="Submit">{{'user.edit_save'|trans  }}</button>
                            <button class="cancel_btn edit_cancel_btn" type="submit" value="Submit">{{'user.edit_cancel'|trans  }}</button>

                        </div>

                    </div>

                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}