{% extends 'base.html.twig' %}
{#{% block stylesheets %}
    <style>
        .required
        {
            display: inherit;
        }


    </style>
{% endblock %}#}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Change Password</h2>
            {#<a href="{{ path('shipdetails_dashboard') }}">Back to home</a>#}
        </div>
        <div class="bs-example">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal no-style' } }) }}
            <div class="form-group">
                <label class="control-label col-xs-2">Current Password</label>
                <div class="col-xs-10">
                    {{ form_row(form.current_password) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">NewPassword    confirm password</label>

                <div class="col-xs-10">
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>


            <div class="actions">
                <div>
                    <input type="submit" class="btn btn-primary" value="{{ 'Change'|trans }}" />
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}