{% extends 'base.html.twig' %}


{% block body %}
    {% block javascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {# {% block stylesheets %}
         {% stylesheets '@InitialShippingBundle/Resources/public/css/*' %}
         <link rel="stylesheet" href="{{ asset_url }}"
         {% endstylesheets %}
     {% endblock %}#}
    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Company Users List</h2>
            <a href="{{ path('fos_user_registration_register') }}">Add newuser</a>
        </div>
        {% endif %}


        <table id="readingkpitable">
            <thead>
            <tr>


                <th>Username</th>
                <th>Email id</th>
                <th> Roles</th>
                <th> Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for listofuser in userdetails %}
            <tr>

                <td>{{ listofuser.username }}</td>
                <td>{{ listofuser.email }}</td>
                <td>{{ listofuser.roles[0] }}</td>
                <td>
                    <a href="{{ path('mycontroller', { 'id': listofuser.id }) }}">Edit</a>
                    <a href="{{ path('delete_user',{ 'id': listofuser.id })  }}">Delete</a>
                </td>
                {% endfor %}

            </tr>
            </tbody>
        </table><br><br>



    </div>


{% endblock %}