{% extends templatechoosen %}
{% block body %}

    {% block stylesheets %}
        <link href = "/css/jquery-ui.css" rel = "stylesheet">
        <style>
            .ui-datepicker-calendar {
                display: none;
            }
        </style>
    {% endblock %}

    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        <script src = "/js/jquery-ui.js"></script>
        {% endjavascripts %}
        <script>
            $(document).ready(function () {
                var base_url = window.location.origin;
                $('#nogroupselected').hide();
                $('#kpiformforship').show();
                var shipid = '{{ currentshipid }}';
                var shipname = '{{ currentshipname }}';
                var shipcount = '{{ shipcount }}';
                var role = '{{ app.user.roles[0] }}';
                var currentdatetime = '{{ currentdatetime }}';
                var listoreditViewStatus='{{ listoreditViewStatus }}';
                if(listoreditViewStatus=="editView"){
                    $('#currentmonhthdetails').hide();
                    $('#' + shipid).addClass('active');
                    $('#shipid').val(shipid);
                    $('#shipname').text(shipname);
                    $('#allbuttondiv').show();
                    $('#upload_btn_id').hide();
                }
                if(listoreditViewStatus=="listView"){
                    $('#currentmonhthdetails').hide();
                    $('#previousmonthdata').show();
                    $('#allbuttondiv').hide();
                    $('#upload_btn_id').show();
                    $('#shipid').val('');
                    $('#shipname').text('');
                }
                var on_month = '';
                var nowdate = new Date(currentdatetime),
                        locale = "en-us",
                        month = nowdate.toLocaleString(locale, {month: "long"}),
                        year = nowdate.getFullYear();

                on_month = month + '-' + year;
                $('#currentid').text(month + '-' + year);
                $('#currentMonthText').text(month + '-' + year);
                $('#currentid_data').text(month + '-' + year);
                $('#datofmonthid').val(currentdatetime);
                $('#datofmonthid_data').val(currentdatetime);
                $('.datetimepicker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    currentText: 'this month',
                    dateFormat: 'MM yy',
                    onClose: function (dateText, inst) {
                        $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                        var this_val = $(this).val();
                        var data_split_array = $(this).val().split(' ');
                        var current = data_split_array[0] + '-' + data_split_array[1];
                        on_month = current;
                        var data = {
                            dataofmonth: current
                        };
                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('gotorankingmonthdata'),
                            beforeSend: function () {
                                var beforsend = ajaxbefore_send();
                            },
                            complete: function () {
                                var complete = ajax_complete();
                            }
                        });
                        $.ajax({
                            data: data,
                            success: function (data) {
                                $('#datofmonthid_data').val(data.dateFormat);
                                $('#datofmonthid').val(data.dateFormat);
                                datePickerValue = data.dateFormat;
                                if (data.shipcount != 0) {
                                    if (data.shipoverallStatus == "yes" && data.currentshipid =="") {
                                        var statusofship=data.statusQueryResult;
                                        var listviewStatusField='listview';
                                        $.each(statusofship, function(key, info) {
                                            if (role == 'ROLE_KPI_INFO_PROVIDER'||role == 'ROLE_MANAGER'||role == 'ROLE_ADMIN') {
                                                if (info.status == 1) {
                                                    listviewStatusField = key;
                                                    return false;
                                                };
                                            }

                                        });
                                        if (listviewStatusField=='listview') {
                                            ListView(data)
                                        }
                                        else {
                                            EditableView(data)
                                        }
                                    }
                                    else if (data.shipoverallStatus == "no") {
                                        EditableView(data)
                                    }
                                    else {
                                        EditableView(data)
                                    }
                                }
                                else {
                                    $('#elementformid').hide();
                                    $('#allbuttondiv').hide();
                                    $('#shipname').text('');
                                    $('#shipcountwithtext').text('Vessels (0)');
                                    $('#shiplistinui').html('');

                                }
                                $('.datetimepicker').val(this_val);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                                // window.location.href = base_url + '/login';
                            }
                        });
                    }
                }).datepicker("setDate", new Date());

                function ListView(data) {
                    $('#prvieoustablecontent').html(' ');
                    $('#prvieoustablecontent').text(' ');
                    var addcolumn = 0;
                    var valuecount = 0;
                    $('<table id="table_id_" class="table verfication_ranking_table_form_section"></table>').appendTo('#prvieoustablecontent');
                    $('<thead id="firsttable_head_"></thead><tbody id="firsttable_body_"></tbody>').appendTo('#table_id_');
                    $('<tr class="v_r_min_height" id="firsttable_head_tr_"></tr>').appendTo('#firsttable_head_');
                    $('<th class="kpi_lement_name"></th><th class="kpi_weightage"><div class="verfication_ranking_text_rotation_2">Weightage</div></th>').appendTo('#firsttable_head_tr_');
                    $.each(data.listofships, function (j) {
                        $('<th class="kpi_ship "><div class="verfication_ranking_text_rotation_2">' + data.listofships[j]['shipName'] + '</div></th>').appendTo('#firsttable_head_tr_');
                    });
                    $.each(data.kpi_details, function (i) {
                        var colspan = data.shipcount + 2;
                        $('<table id="table_id_' + i + '" class="table verfication_ranking_table_form_section"></table>').appendTo('#prvieoustablecontent');
                        $('<thead id="firsttable_head_' + i + '"></thead><tbody id="firsttable_body_' + i + '"></tbody>').appendTo('#table_id_' + i);
                        $('<tr id="firsttable_head_tr_' + i + '"></tr>').appendTo('#firsttable_head_' + i);
                        $('<th colspan="' + colspan + '" class="kpi_lement_name">' + data.kpi_details[i]['kpiName'] + '</th>').appendTo('#firsttable_head_tr_' + i);
                        var kpiid = data.kpi_details[i]['id']
                        var elementnamearray = data.elementkpiarray[data.kpi_details[i]['kpiName']];
                        var forloopcount = 0;
                        for (forloopcount = 0; forloopcount < elementnamearray.length; forloopcount++) {
                            $('<tr id="firsttable_body_tr_' + kpiid + '_' + forloopcount + '"></tr>').appendTo('#firsttable_body_' + i + '');
                            $('<td class="kpi_lement_name kpi_lement_name">' + elementnamearray[forloopcount] + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                            $('<td class="kpi_weightage kpi_lement_number">' + data.elementweightage[valuecount] + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                            $.each(data.listofships, function (j) {
                                var shipid = data.listofships[j]['id']
                                var elementvaluearray = data.shipwiseElementValues[shipid];
                                /*for(var shipvalueCount=0;shipvalueCount<elementvaluearray.length;shipvalueCount++){
                                 var elementValue=elementvaluearray[shipvalueCount];
                                 if (elementValue != null) {
                                 $('<td class="kpi_ship kpi_lement_inputname">' + elementValue + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                 }
                                 else {
                                 $('<td class="kpi_ship kpi_lement_inputname"></td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                 }

                                 }*/
                                var elementvalue = elementvaluearray[valuecount]
                                if (elementvalue != null) {
                                    $('<td class="kpi_ship kpi_lement_inputname">' + elementvalue + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                }
                                else {
                                    $('<td class="kpi_ship kpi_lement_inputname"></td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                }
                            });
                            valuecount++;
                        }
                    });
                    $('#kpiformforship').hide();
                    $('#currentmonhthdetails').hide();
                    $('#previousmonthdata').show();
                }

                function EditableView(data) {
                    $('#allbuttondiv').show();
                    $('#kpiformforship').show();
                    $('#previousmonthdata').hide();
                    $('#currentmonhthdetails').show();
                    $('#overallshids').html('');
                    $('#overallshids').text('');
                    $('#elementformid').show();
                    $('#allbuttondiv').show();
                    /* var status = data.statusQueryResult[0]['status'];
                     var rejections = JSON.parse(data.statusQueryResult[0]['rejections']);
                     var rejection_status = data.statusQueryResult[0]['rejectionsStatus'];
                     var updated_ships = data.statusQueryResult[0]['shipid'].split(',');*/

                    $('<div class="views_kpi_name_total"><span>Vessels (' + data.shipcount + ')</span></div>').appendTo('#overallshids');
                    $('<div class="views_kpi_form_list_main"> <ui id="addshipids"></ui></div>').appendTo('#overallshids');
                    var shipstatus = 0;

                    $.each(data.listofships, function (shipindex) {
                        var ship_id = data.listofships[shipindex]['id'];
                        var statusofship=data.statusQueryResult[shipindex];
                        var shipwisestatusCount=data.shipwiseStatuscount[ship_id];
                        $('<li><a class="linkclass" title="' + data.listofships[shipindex]['shipName'] + '" id="' + ship_id + '" >' + data.listofships[shipindex]['shipName'] + '</a></li>').appendTo('#addshipids');
                        if (role == 'ROLE_ADMIN') {
                            if(data.statusQueryResult.length==data.shipcount){
                                if (statusofship['rejections']!=null) {
                                    $('#' + ship_id).after('<img  id="img_' + ship_id + '"  style="width: 20px;height: 20px"  src="{{ asset('images/error.png') }}">');
                                }
                                else if (statusofship['status']==3) {
                                    $('#' + ship_id).after('<img id="img_' + ship_id + '" src="{{ asset('images/tick_icon.png') }}">');
                                }
                            }
                        }
                        else if (role == 'ROLE_MANAGER') {
                            if(data.statusQueryResult.length==data.shipcount){
                                if (statusofship['rejections']!=null) {
                                    $('#' + ship_id).after('<img id="img_' + ship_id + '" style="width: 20px;height: 20px"  src="{{ asset('images/error.png') }}">');
                                }
                                else if (statusofship['status']==2 ||statusofship['status']==3) {
                                    $('#' + ship_id).after('<img id="img_' + ship_id + '"  src="{{ asset('images/tick_icon.png') }}">');
                                }
                            }
                        }
                        else if (role == 'ROLE_KPI_INFO_PROVIDER') {
                            if(data.statusQueryResult.length==data.shipcount){
                                if (statusofship['rejections']!=null && statusofship['status']==1) {
                                    $('#' + ship_id).after('<img id="img_' + ship_id + '" style="width: 20px;height: 20px"  src="{{ asset('images/error.png') }}">');
                                }
                                else {
                                    $('#' + ship_id).after('<img id="img_' + ship_id + '" src="{{ asset('images/tick_icon.png') }}">');
                                }
                            }
                            else {
                                if(shipwisestatusCount.hasOwnProperty("status")){
                                    if (shipwisestatusCount['rejections']!=null) {
                                        $('#' + ship_id).after('<img id="img_' + ship_id + '" style="width: 20px;height: 20px"  src="{{ asset('images/error.png') }}">');
                                    }
                                    else {
                                        $('#' + ship_id).after('<img id="img_' + ship_id + '" src="{{ asset('images/tick_icon.png') }}">');
                                    }
                                }
                                else {

                                }
                            }

                        }
                    });
                    $('#elementformid').html('');
                    $('#elementformid').text('');
                    $('#shipname').text(data.currentshipname);
                    $('#currentid').text(month + '-' + year);
                    $('<div id="addkpiformid" class="table-responsive"></div>').appendTo('#elementformid');
                    if (data.shipcount != shipstatus) {
                        if(data.currentshipid==""){
                            if (role == 'ROLE_KPI_INFO_PROVIDER'){
                                $('#allbuttondiv').hide();
                                $('#addkpiformid').text('All vessels data updated !');
                                $('<div class="actions_submit"><button style="margin: 0px 0px 0px 600px" class="submit_btn addclasskpivalue" id="upload_btn_id" value="Submit">{{ 'dataverification.upload'|trans }}</button></div>').appendTo('#addkpiformid');
                            }
                            else {
                                var findShortMonth = new Date(data.dateFormat),
                                        locale = "en-us",
                                        monthName = findShortMonth.toLocaleString(locale, {month: "long"}),
                                        year = findShortMonth.getFullYear();

                                $('#addkpiformid').text(''+monthName + '-' + year+' This Month Data Not Updated');
                                $('#shipname').text('');
                                $('#shipname').val('');
                            }

                        }
                        else {
                            if (role == 'ROLE_KPI_INFO_PROVIDER'){
                                listKpiandElments(data);
                            }
                            else {
                                if(data.statusQueryResult.length==data.shipcount){
                                    listKpiandElments(data);
                                }
                                else {
                                    var findShortMonth = new Date(data.dateFormat),
                                            locale = "en-us",
                                            monthName = findShortMonth.toLocaleString(locale, {month: "long"}),
                                            year = findShortMonth.getFullYear();
                                    $('#allbuttondiv').hide();
                                    $('#addkpiformid').text(''+monthName + '-' + year+' This Month Data Not Updated');
                                    $('#shipname').text('');
                                    $('#shipname').val('');
                                }

                            }
                        }
                    }
                    else {
                        $('#allbuttondiv').hide();
                        $('#addkpiformid').text('All vessels data updated !');
                        $('<div class="actions_submit"><button style="margin: 0px 0px 0px 600px" class="submit_btn addclasskpivalue" id="upload_btn_id" value="Submit">{{ 'dataverification.upload'|trans }}</button></div>').appendTo('#addkpiformid');
                    }
                }
                function listKpiandElments(data) {
                    $('#shipid').val(data.currentshipid);
                    $('.linkclass').removeClass("active");
                    $('#' + data.currentshipid).addClass('active');
                    var shipwiseelementValues=data.shipwiseElementValues[data.currentshipid];
                    if (role == 'ROLE_ADMIN') {
                        var length=$( "#allbuttondiv" ).length;
                        if(length==0){
                            $('<div class="actions_submit" id="allbuttondiv"></div>').appendTo('#addkpiformid');
                            $('#allbuttondiv').html('' +
                                    ' <input  type="submit" class="submit_btn addclasskpivalue" id="adminbuttonid" value="{{ 'dataverification.upload'|trans }}">' +
                                    '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id"  value="{{ 'dataverification.reject'|trans }}">'
                            );
                        }
                        else {
                            $('#allbuttondiv').html('' +
                                    ' <input  type="submit" class="submit_btn addclasskpivalue" id="adminbuttonid" value="{{ 'dataverification.upload'|trans }}">' +
                                    '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id"  value="{{ 'dataverification.reject'|trans }}">'
                            );
                        }

                    }
                    else if (role == 'ROLE_MANAGER') {
                        var length=$( "#allbuttondiv" ).length;
                        if(length==0){
                            $('<div class="actions_submit" id="allbuttondiv"></div>').appendTo('#addkpiformid');
                            $('#allbuttondiv').html('' +
                                    ' <input  type="submit" class="submit_btn addclasskpivalue" id="verfiybuttonid"  value="{{ 'dataverification.verfiy'|trans }}">' +
                                    '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id" value="{{ 'dataverification.reject'|trans }}">'
                            );
                        }
                        else {
                            $('#allbuttondiv').html('' +
                                    ' <input  type="submit" class="submit_btn addclasskpivalue" id="verfiybuttonid"  value="{{ 'dataverification.verfiy'|trans }}">' +
                                    '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id" value="{{ 'dataverification.reject'|trans }}">'
                            );
                        }
                    }
                    else if (role == 'ROLE_KPI_INFO_PROVIDER') {
                        var length=$( "#allbuttondiv" ).length;
                        if(length==0){
                            $('<div class="actions_submit" id="allbuttondiv"></div>').appendTo('#addkpiformid');
                            if(shipwiseelementValues.length>0){
                                $('#allbuttondiv').html('' +
                                        '<input type="submit"  class="submit_btn addclasskpivalue" id="updatebuttonid"  value="{{ 'dataverification.update'|trans }}">' +
                                        '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                );
                            }
                            else {
                                $('#allbuttondiv').html('' +
                                        '<input type="submit" class="submit_btn addclasskpivalue" id="savebuttonid" value="{{ 'dataverification.save'|trans }}">' +
                                        '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                );
                            }
                        }
                        else {
                            if(shipwiseelementValues.length>0){
                                $('#allbuttondiv').html('' +
                                        '<input type="submit"  class="submit_btn addclasskpivalue" id="updatebuttonid"  value="{{ 'dataverification.update'|trans }}">' +
                                        '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                );
                            }
                            else {
                                $('#allbuttondiv').html('' +
                                        '<input type="submit" class="submit_btn addclasskpivalue" id="savebuttonid" value="{{ 'dataverification.save'|trans }}">' +
                                        '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                );
                            }
                        }
                    }
                    var j = 1;
                    var newtemp = 0;
                    $.each(data.elementkpiarray, function (i, listkpi) {
                        var inarrayvalue;
                        var buttonstatusValue=true;
                        var currentkpiid=data.currentshipkpilist[j - 1]['id'];
                        var currentshipIdstatus=""
                        if(data.statusQueryResult.length==data.shipcount){
                            var rejectionid=data.statusQueryResult[data.currentshipid-1]['rejections'];
                            currentshipIdstatus=data.statusQueryResult[data.currentshipid-1]['status'];
                            if(rejectionid!=null){
                                if(rejectionid=='ALL'){
                                    inarrayvalue=0;
                                }
                                else {
                                    buttonstatusValue=false;
                                    var rejectionidarray=rejectionid.split(',');
                                    inarrayvalue=$.inArray(currentkpiid.toString(),rejectionidarray);
                                }

                            }
                            else {
                                inarrayvalue=-1;
                            }

                        }
                        else {
                            var shipwisestatusCount=data.shipwiseStatuscount[data.currentshipid];
                            if(shipwisestatusCount.hasOwnProperty('rejections')){
                                var currentRejectionId=shipwisestatusCount['rejections'];
                                if(currentRejectionId!=null){
                                    buttonstatusValue=false;
                                    var currentRejectionIdArray=currentRejectionId.split(',');
                                    inarrayvalue=$.inArray(currentkpiid.toString(),currentRejectionIdArray);
                                }
                                else {
                                    inarrayvalue=-1;
                                }
                            }
                            else {
                                inarrayvalue=-1;
                            }
                        }
                        var k = $.isNumeric(i);
                        if (!k) {
                            var temp = 1;

                            $('<table class="table kpi_table_form_section"><thead><tr id="firstheader_tr_' + newtemp + '"></tr></thead> <tbody id="tablebody' + j + '">').appendTo('#addkpiformid');
                            {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                            if(inarrayvalue==-1){
                                $('<th><input type="checkbox" class="checkboxes" name= "reject_id[]" value="' + data.currentshipkpilist[j - 1]['id'] + '"></th>').appendTo('#firstheader_tr_' + newtemp);
                            }
                            else {
                                $('<th><input type="checkbox" checked class="checkboxes" name= "reject_id[]" value="' + data.currentshipkpilist[j - 1]['id'] + '"></th>').appendTo('#firstheader_tr_' + newtemp);
                            }

                            {% endif %}
                            if(inarrayvalue==-1){
                                $('<th >' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);
                            }
                            else {
                                $('<th style="color: red">' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);
                            }
                            if (newtemp == 0) {
                                $(' <th class="kpi_value">Wt</th><th class="kpi_value">Symbol</th><th class="kpi_value">Indication</th><th class="kpi_value">Value</th>').appendTo('#firstheader_tr_' + newtemp)
                            }
                            else {
                                $(' <th></th><th></th><th></th><th></th>').appendTo('#firstheader_tr_' + newtemp)
                            }

                            $.each(listkpi, function (mykey, myvalue) {

                                $('<tr id="' + j + 'tr_id_' + temp + '"></tr>').appendTo("#tablebody" + j);
                                {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}

                                $('<td>&nbsp;</td>').appendTo("#" + j + "tr_id_" + temp);
                                {% endif %}

                                if (shipwiseelementValues.length > 0) {
                                    $('#updatebuttonid').show();
                                    {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                                    if(currentshipIdstatus==1){
                                        $('#verfiybuttonid').prop('disabled', true);
                                        $('#verfiybuttonid').attr('title','This ship Data Not Upload From V-ships');
                                        $('#reject_btn_id').prop('disabled', true);
                                        $('#reject_btn_id').attr('title','This ship Data Not Upload From V-ships');
                                    }
                                    else {

                                    }
                                    {% endif %}

                                    $('#savebuttonid').hide();
                                    $('#adminbuttonid').show();
                                    if (temp == 1) {
                                        $('<td  class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" onkeypress="return isNumberKey(event)"  value="' + shipwiseelementValues[newtemp] + '" type="text" name="newelemetvalues[]" required ></td>').appendTo("#" + j + "tr_id_" + temp);
                                    }
                                    if (temp > 1) {
                                        $('<td class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" type="text" name="newelemetvalues[]" onkeypress="return isNumberKey(event)" value="' + shipwiseelementValues[newtemp] + '" required ></td>').appendTo("#" + j + "tr_id_" + temp);
                                    }
                                }
                                else {
                                    $('#updatebuttonid').hide();
                                    $('#savebuttonid').show();
                                    $('#adminbuttonid').show();
                                    $('#allbuttondiv').show();
                                    if (temp == 1) {
                                        $('<td  class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td><td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td>  <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" type="text" name="newelemetvalues[]" required onkeypress="return isNumberKey(event)" ></td>').appendTo("#" + j + "tr_id_" + temp);
                                    }
                                    if (temp > 1) {
                                        $('<td class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" type="text" placeholder="123"  onkeypress="return isNumberKey(event)" name="newelemetvalues[]" required ></td>').appendTo("#" + j + "tr_id_" + temp);
                                    }
                                }
                                temp++;
                                newtemp++;
                            });
                            $(' </tr></tbody></table>').appendTo('#addkpiformid');
                        }
                        j++;
                    });
                }
                $('.datetimepicker1').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    dateFormat: 'MM yy',
                    onClose: function(dateText, inst) {
                        $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                        var this_val = $(this).val();
                        var data_split_array = $(this).val().split(' ');
                        var current = data_split_array[0] + '-' + data_split_array[1];
                        on_month = current;
                        var data = {
                            dataofmonth: current
                        };

                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('ranking_previousmonth'),
                            beforeSend: function () {
                                var beforsend = ajaxbefore_send();
                            },
                            complete: function () {
                                var complete = ajax_complete();
                            }
                        });

                        $.ajax({
                            data: data,
                            success: function (data) {
                                $('#datofmonthid_data').val(data.dateFormat);
                                $('#datofmonthid').val(data.dateFormat);
                                if (data.commontext == true) {
                                    $('#prvieoustablecontent').html(' ');
                                    $('#prvieoustablecontent').text(' ');
                                    var addcolumn = 0;
                                    var valuecount = 0;
                                    $('<table id="table_id_" class="table verfication_ranking_table_form_section"></table>').appendTo('#prvieoustablecontent');
                                    $('<thead id="firsttable_head_"></thead><tbody id="firsttable_body_"></tbody>').appendTo('#table_id_');
                                    $('<tr class="v_r_min_height" id="firsttable_head_tr_"></tr>').appendTo('#firsttable_head_');
                                    $('<th class="kpi_lement_name"></th><th class="kpi_weightage"><div class="verfication_ranking_text_rotation_2">Weightage</div></th>').appendTo('#firsttable_head_tr_');
                                    $.each(data.listofships, function (j) {
                                        $('<th class="kpi_ship "><div class="verfication_ranking_text_rotation_2">' + data.listofships[j]['shipName'] + '</div></th>').appendTo('#firsttable_head_tr_');
                                    });

                                    $.each(data.rankingKpiList, function (i) {
                                        if (data.rankingKpiList[i]['kpiName'] == 'Vessel age') {

                                        }
                                        else {
                                            var colspan = data.shipcount + 2;
                                            $('<table id="table_id_' + i + '" class="table verfication_ranking_table_form_section"></table>').appendTo('#prvieoustablecontent');
                                            $('<thead id="firsttable_head_' + i + '"></thead><tbody id="firsttable_body_' + i + '"></tbody>').appendTo('#table_id_' + i);
                                            $('<tr id="firsttable_head_tr_' + i + '"></tr>').appendTo('#firsttable_head_' + i);
                                            $('<th colspan="' + colspan + '" class="kpi_lement_name">' + data.rankingKpiList[i]['kpiName'] + '</th>').appendTo('#firsttable_head_tr_' + i);
                                            var kpiid = data.rankingKpiList[i]['id'];
                                            var elementnamearray = data.elementname[kpiid];
                                            var forloopcount = 0;
                                            for (forloopcount = 0; forloopcount < elementnamearray.length; forloopcount++) {
                                                $('<tr id="firsttable_body_tr_' + kpiid + '_' + forloopcount + '"></tr>').appendTo('#firsttable_body_' + i + '');
                                                $('<td class="kpi_lement_name kpi_lement_name">' + data.elementweightage[kpiid][forloopcount] + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                                $('<td class="kpi_weightage kpi_lement_number">' + data.elementname[kpiid][forloopcount] + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                                $.each(data.listofships, function (j) {
                                                    var shipid = data.listofships[j]['id']
                                                    var elementvalue = data.elementvalues_ship[shipid][valuecount]
                                                    if (elementvalue != null) {
                                                        $('<td class="kpi_ship kpi_lement_inputname">' + elementvalue + '</td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                                    }
                                                    else {
                                                        $('<td class="kpi_ship kpi_lement_inputname"></td>').appendTo('#firsttable_body_tr_' + kpiid + '_' + forloopcount + '');
                                                    }

                                                });
                                                valuecount++;
                                            }
                                        }
                                    });

                                    $('#kpiformforship').hide();
                                    $('#currentmonhthdetails').hide();
                                    $('#previousmonthdata').show();
                                }
                                else {
                                    $('#previousmonthdata').hide();
                                    $('#kpiformforship').show();
                                    $('#currentmonhthdetails').show();
                                    $('#overallshids').html('');
                                    $('#overallshids').text('');
                                    $('<div class="views_kpi_name_total"><span>Vessels (' + data.shipcount + ')</span></div>').appendTo('#overallshids');
                                    $('<div class="views_kpi_form_list_main"> <ui id="addshipids"></ui></div>').appendTo('#overallshids');
                                    var shipstatus = 0
                                    $.each(data.listofships, function (i) {
                                        var status = data.status_ship[i];


                                        $('<li><a class="linkclass" title="' + data.listofships[i]['shipName'] + '" id="' + data.listofships[i]['id'] + '" >' + data.listofships[i]['shipName'] + '</a></li>').appendTo('#addshipids');
                                        if (role == 'ROLE_ADMIN') {
                                            if (status == 3) {
                                                $('#' + data.listofships[i]['id']).after('<img src="/images/tick_icon.png">');
                                                shipstatus++;
                                            }
                                        }
                                        else if (role == 'ROLE_MANAGER') {
                                            if (status == 2) {
                                                $('#' + data.listofships[i]['id']).after('<img src="/images/tick_icon.png">');
                                                shipstatus++;
                                            }
                                        }
                                        else if (role == 'ROLE_KPI_INFO_PROVIDER') {
                                            if (status == 1) {
                                                $('#' + data.listofships[i]['id']).after('<img src="/images/tick_icon.png">');
                                                shipstatus++;
                                            }
                                        }
                                    });
                                    $('#elementformid').html('');
                                    $('#elementformid').text('');
                                    $('#shipname').text(data.currentshipname);
                                    $('#currentid').text(month + '-' + year);
                                    $('<div id="addkpiformid" class="table-responsive"></div>').appendTo('#elementformid');

                                    if (data.shipcount != shipstatus) {
                                        $('#shipid').val(data.currentshipid);
                                        $('.linkclass').removeClass("active");
                                        $('#' + data.currentshipid).addClass('active');
                                        var j = 1;
                                        var newtemp = 0;
                                        $.each(data.elementkpiarray, function (i, listkpi) {
                                            var k = $.isNumeric(i);
                                            if (!k) {
                                                var temp = 1;
                                                $('<table class="table kpi_table_form_section"><thead><tr id="firstheader_tr_' + newtemp + '"></tr></thead> <tbody id="tablebody' + j + '">').appendTo('#addkpiformid');
                                                {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                                                $('<th><input type="checkbox" class="checkboxes" name= "reject_id[]" value="'+data.kpi_details[j-1]['id']+'"></th>').appendTo('#firstheader_tr_' + newtemp);
                                                {% endif %}
                                                $('<th >' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);

                                                if (newtemp == 0) {
                                                    $(' <th class="kpi_value">Wt</th><th class="kpi_value">Symbol</th><th class="kpi_value">Indication</th><th class="kpi_value">Value</th>').appendTo('#firstheader_tr_' + newtemp)
                                                }
                                                else {
                                                    $(' <th></th><th></th><th></th><th></th>').appendTo('#firstheader_tr_' + newtemp)
                                                }
                                                $.each(listkpi, function (mykey, myvalue) {
                                                    $('<tr id="' + j + 'tr_id_' + temp + '"></tr>').appendTo("#tablebody" + j);
                                                    {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                                                    $('<td>&nbsp;</td>').appendTo("#" + j + "tr_id_" + temp);
                                                    {% endif %}
                                                    if (data.elementvalues.length > 0) {

                                                        $('#updatebuttonid').show();
                                                        $('#savebuttonid').hide();
                                                        $('#adminbuttonid').show();

                                                        if (temp == 1) {
                                                            $('<td  class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" onkeypress="return isNumberKey(event)"  value="' + data.elementvalues[newtemp] + '" type="text" name="newelemetvalues[]" required ></td>').appendTo("#" + j + "tr_id_" + temp);
                                                        }
                                                        if (temp > 1) {
                                                            $('<td class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" type="text" name="newelemetvalues[]" onkeypress="return isNumberKey(event)" value="' + data.elementvalues[newtemp] + '" required ></td>').appendTo("#" + j + "tr_id_" + temp);
                                                        }
                                                    }
                                                    else {
                                                        $('#updatebuttonid').hide();
                                                        $('#savebuttonid').show();
                                                        $('#adminbuttonid').show();
                                                        if (temp == 1) {
                                                            $('<td  class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td><td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td>  <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" type="text" name="newelemetvalues[]" required onkeypress="return isNumberKey(event)" ></td>').appendTo("#" + j + "tr_id_" + temp);
                                                        }
                                                        if (temp > 1) {
                                                            $('<td class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" type="text" placeholder="123"  onkeypress="return isNumberKey(event)" name="newelemetvalues[]" required ></td>').appendTo("#" + j + "tr_id_" + temp);
                                                        }
                                                    }
                                                    temp++;
                                                    newtemp++;
                                                });
                                                $(' </tr></tbody></table>').appendTo('#addkpiformid');
                                            }
                                            j++;
                                        });
                                    }
                                    else {
                                        $('#allbuttondiv').hide();
                                        $('#addkpiformid').text('All vessels data updated !');
                                        $('<div class="actions_submit"><button style="margin: 0px 0px 0px 600px" class="submit_btn addclasskpivalue" id="upload_btn_id" value="Submit">{{ 'dataverification.upload'|trans }}</button></div>').appendTo('#addkpiformid');
                                    }
                                }
                                $('.datetimepicker').val(this_val);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $('#resultLoading .bg').height('100%');
                                $('#resultLoading').fadeOut(300);
                                $('body').css('cursor', 'default');
                                window.location.href = base_url + '/login';
                            }
                        });
                    }

                }).datepicker("setDate", new Date());
                $('#spantext').hide();
                $('.linkclass').live('click', function () {
                    var linkid = $(this).attr('id');
                    var shipname = $(this).attr('title');
                    $('#shipid').val('');
                    $('#addkpiformid').html('');
                    $('#addkpiformid').text('');
                    $('#shipname').text(' ');
                    var dataofmonth = $('#currentid').text();
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        'url': Routing.generate('shipskpielment_forranking', {
                            'shipid': linkid,
                            'monthdetail': on_month
                        }),
                        beforeSend: function () {
                            var beforsend = ajaxbefore_send();
                        },
                        complete: function () {
                            var complete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function (data) {
                            var valuearray = data.elementvalues;
                            $('#spanallid').hide();
                            $('#shipid').val(linkid);
                            $('#shipname').text(shipname);
                            $('#nogroupselected').hide();
                            $('#kpiformforship').show();
                            $('.linkclass').removeClass("active");
                            $('#' + linkid).addClass('active');
                            var j = 1;
                            var newtemp = 0;
                            if (role == 'ROLE_ADMIN') {
                                var length=$( "#allbuttondiv" ).length;
                                if(length==0){
                                    $('<div class="actions_submit" id="allbuttondiv"></div>').appendTo('#addkpiformid');
                                    $('#allbuttondiv').html('' +
                                            ' <input  type="submit" class="submit_btn addclasskpivalue" id="adminbuttonid" value="{{ 'dataverification.upload'|trans }}">' +
                                            '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id"  value="{{ 'dataverification.reject'|trans }}">'
                                    );
                                }
                                else {
                                    $('#allbuttondiv').html('' +
                                            ' <input  type="submit" class="submit_btn addclasskpivalue" id="adminbuttonid" value="{{ 'dataverification.upload'|trans }}">' +
                                            '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id"  value="{{ 'dataverification.reject'|trans }}">'
                                    );
                                }

                            }
                            else if (role == 'ROLE_MANAGER') {
                                var length=$( "#allbuttondiv" ).length;
                                if(length==0){
                                    $('<div class="actions_submit" id="allbuttondiv"></div>').appendTo('#addkpiformid');
                                    $('#allbuttondiv').html('' +
                                            ' <input  type="submit" class="submit_btn addclasskpivalue" id="verfiybuttonid"  value="{{ 'dataverification.verfiy'|trans }}">' +
                                            '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id" value="{{ 'dataverification.reject'|trans }}">'
                                    );
                                }
                                else {
                                    $('#allbuttondiv').html('' +
                                            ' <input  type="submit" class="submit_btn addclasskpivalue" id="verfiybuttonid"  value="{{ 'dataverification.verfiy'|trans }}">' +
                                            '<input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id" value="{{ 'dataverification.reject'|trans }}">'
                                    );
                                }
                            }
                            else if (role == 'ROLE_KPI_INFO_PROVIDER') {
                                var length=$( "#allbuttondiv" ).length;
                                if(length==0){
                                    $('<div class="actions_submit" id="allbuttondiv"></div>').appendTo('#addkpiformid');
                                    if(valuearray.length>0){
                                        $('#allbuttondiv').html('' +
                                                '<input type="submit"  class="submit_btn addclasskpivalue" id="updatebuttonid"  value="{{ 'dataverification.update'|trans }}">' +
                                                '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                        );
                                    }
                                    else {
                                        $('#allbuttondiv').html('' +
                                                '<input type="submit" class="submit_btn addclasskpivalue" id="savebuttonid" value="{{ 'dataverification.save'|trans }}">' +
                                                '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                        );
                                    }

                                }
                                else {
                                    if(valuearray.length>0){
                                        $('#allbuttondiv').html('' +
                                                '<input type="submit"  class="submit_btn addclasskpivalue" id="updatebuttonid"  value="{{ 'dataverification.update'|trans }}">' +
                                                '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                        );
                                    }
                                    else {
                                        $('#allbuttondiv').html('' +
                                                '<input type="submit" class="submit_btn addclasskpivalue" id="savebuttonid" value="{{ 'dataverification.save'|trans }}">' +
                                                '<button class="cancel_btn" id="resetbuttonid" value="Submit">{{ 'dataverification.reset'|trans }}</button>'
                                        );
                                    }
                                }
                            }

                            $.each(data.kpiNameArray, function (i, listkpi) {

                                var k = $.isNumeric(i);
                                if (!k) {
                                    var temp = 1;

                                    $('<table class="table kpi_table_form_section"><thead><tr id="firstheader_tr_' + newtemp + '"></tr></thead> <tbody id="tablebody' + j + '">').appendTo('#addkpiformid');
                                    {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                                    $('<th><input type="checkbox" class="checkboxes" name= "reject_id[]" value="'+data.kpi_details[j-1]['id']+'"></th>').appendTo('#firstheader_tr_' + newtemp);
                                    {% endif %}
                                    var rejection_status = 0;
                                    if(data.rejection_status == 'yes') {
                                        {% if  is_granted("ROLE_KPI_INFO_PROVIDER") %}
                                        if(data.rejections == 'ALL') {
                                            rejection_status = 1;
                                        } else {
                                            $.each(data.rejections, function(i) {
                                                if(data.rejections[i]==data.kpi_details[j-1]['id']) {
                                                    rejection_status = 1;
                                                }
                                            });
                                        }
                                        if(rejection_status == 1) {
                                            $('<th style="color: red">' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);
                                        } else {
                                            $('<th >' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);
                                        }
                                        {% else %}
                                        $('<th >' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);
                                        {% endif %}
                                    } else {
                                        $('<th >' + i + '</th>').appendTo('#firstheader_tr_' + newtemp);
                                    }

                                    if (newtemp == 0) {
                                        $(' <th class="kpi_value">Wt</th><th class="kpi_value">Symbol</th><th class="kpi_value">Indication</th><th class="kpi_value">Value</th>').appendTo('#firstheader_tr_' + newtemp)
                                    }
                                    else {
                                        $(' <th></th><th></th><th></th><th></th>').appendTo('#firstheader_tr_' + newtemp)
                                    }
                                    $.each(listkpi, function (mykey, myvalue) {
                                        $('<tr id="' + j + 'tr_id_' + temp + '"></tr>').appendTo("#tablebody" + j);
                                        {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                                        $('<td>&nbsp;</td>').appendTo("#" + j + "tr_id_" + temp);
                                        {% endif %}
                                        if (valuearray.length > 0) {
                                            $('#updatebuttonid').show();
                                            $('#savebuttonid').hide();
                                            $('#adminbuttonid').show();

                                            if (temp == 1) {
                                                $('<td  class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" onkeypress="return isNumberKey(event)"  value="' + data.elementvalues[newtemp] + '" type="text" name="newelemetvalues[]"  ></td>').appendTo("#" + j + "tr_id_" + temp);
                                            }
                                            if (temp > 1) {
                                                $('<td class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" type="text" name="newelemetvalues[]" onkeypress="return isNumberKey(event)" value="' + data.elementvalues[newtemp] + '"  ></td>').appendTo("#" + j + "tr_id_" + temp);
                                            }
                                        }
                                        else {
                                            $('#updatebuttonid').hide();
                                            $('#savebuttonid').show();
                                            $('#adminbuttonid').show();

                                            if (temp == 1) {
                                                $('<td  class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td><td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td>  <td class="kpi_lement_inputname"><input class="resetclass" placeholder="123" type="text" name="newelemetvalues[]"  onkeypress="return isNumberKey(event)" ></td>').appendTo("#" + j + "tr_id_" + temp);
                                            }
                                            if (temp > 1) {
                                                $('<td class="kpi_lement_name">' + myvalue + '</td><td class="kpi_lement_number">' + data.elementweightage[newtemp] + '</td> <td class="kpi_lement_inputname">' + data.symbolIndication[newtemp] + '</td><td class="kpi_lement_inputname">' + data.indicationValue[newtemp] + '</td> <td class="kpi_lement_inputname"><input class="resetclass" type="text" placeholder="123"  onkeypress="return isNumberKey(event)" name="newelemetvalues[]"  ></td>').appendTo("#" + j + "tr_id_" + temp);
                                            }
                                        }
                                        temp++;
                                        newtemp++;
                                    });
                                    $(' </tr></tbody></table>').appendTo('#addkpiformid');
                                }
                                j++;
                            });
                            $('#allbuttondiv').show();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            window.location.href = base_url + '/login';
                        }
                    });

                });

                $(".textbox").on("keypress keyup blur", function (event) {
                    $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                        event.preventDefault();
                    }
                });

                function isNumber(evt, element) {

                    var charCode = (evt.which) ? evt.which : event.keyCode

                    if (
                            (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // - CHECK MINUS, AND ONLY ONE.
                            (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // . CHECK DOT, AND ONLY ONE.
                            (charCode < 48 || charCode > 57))
                        return false;

                    return true;
                }

                $('.cancel_btn').live('click',function ($e) {
                    $e.preventDefault();
                    $('.resetclass').val(' ');
                });

                $(".addclasskpivalue").live('click', function ($e) {
                    $e.preventDefault();
                    var validationStatusField = false;
                    if ($(this).attr('id') == 'upload_btn_id' || $(this).attr('id') == 'savebuttonid' || $(this).attr('id') == 'updatebuttonid') {
                        validationStatusField = true;
                    } else {
                        $("input[name='newelemetvalues[]']").each(function () {
                            var elementvalue = $(this).val();
                            if (elementvalue == "") {
                                validationStatusField = false;
                                $(this).focus();
                                alert("Please fil out this field");
                                return false;
                            }
                            else {
                                validationStatusField = true;
                                return true;
                            }
                        });
                    }

                    if (validationStatusField == true) {
                        var preshipid = $('#shipid').val();
                        var btn = $(this).attr('id');
                        var formid = $('#kpiform');
                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            'url': Routing.generate('addkpivaluesname_forranking', {'buttonid': btn}),
                            data: formid.serialize(),
                            beforeSend: function () {
                                var beforsend = ajaxbefore_send();
                            },
                            complete: function () {
                                var complete = ajax_complete();
                            }
                        });
                        $.ajax({
                            success: function (data) {

                                if(data.ship_id){
                                    jAlert('', data.return_msg);
                                    $('#img_' + data.ship_id).remove();
                                    $('#' + data.ship_id).after('<img id="img_' + data.ship_id + '" style="width: 20px;height: 20px" src="/images/error.png">');
                                    $('#addkpiformid').text(data.return_msg);
                                    {% if  is_granted("ROLE_KPI_INFO_PROVIDER") %}
                                    $('<div class="actions_submit"><button style="margin: 0px 0px 0px 600px" class="submit_btn addclasskpivalue" id="upload_btn_id" value="Submit">{{ 'dataverification.upload'|trans }}</button></div>').appendTo('#addkpiformid');
                                    {% endif %}
                                }
                                else {
                                    jAlert('', data.returnmsg);
                                    $('#datofmonthid_data').val(data.dateFormat);
                                    $('#datofmonthid').val(data.dateFormat);
                                    if (data.shipcount != 0) {
                                        if (data.shipoverallStatus == "yes" && data.currentshipid =="") {
                                            var statusofship=data.statusQueryResult;
                                            var listviewStatusField='listview';
                                            $.each(statusofship, function(key, info) {
                                                if (role == 'ROLE_KPI_INFO_PROVIDER'||role == 'ROLE_MANAGER'||role == 'ROLE_ADMIN') {
                                                    if (info.status == 1) {
                                                        listviewStatusField = key;
                                                        return false;
                                                    };
                                                }

                                            });
                                            if (listviewStatusField=='listview') {
                                                ListView(data)
                                            }
                                            else {
                                                EditableView(data)
                                            }
                                        }
                                        else if (data.shipoverallStatus == "no") {
                                            EditableView(data)
                                        }
                                        else {
                                            EditableView(data)
                                        }
                                    }
                                    else {
                                        $('#elementformid').hide();
                                        $('#allbuttondiv').hide();
                                        $('#shipname').text('');
                                        $('#shipcountwithtext').text('Vessels (0)');
                                        $('#shiplistinui').html('');

                                    }
                                }

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                            }
                        });
                    }
                });

                $('#kpiformforship').show();
                $('#currentmonhthdetails').show();
                $('#previousmonthdata').hide();
                /*........................... Submit Button Enable and Disable Funtion.............................................................*/

                $('form > input').keyup(function () {
                    alert('funtioncall');
                    var empty = false;
                    $('form > input').each(function () {
                        if ($(this).val() == "") {
                            empty = true;
                        }
                    });
                    if (empty) {
                        $(".addclasskpivalue").each(function () {
                            $(this).attr('disabled', 'disabled');
                            $(this).addClass('not-allowed');
                        });
                    } else {
                        $(".addclasskpivalue").each(function () {
                            $(this).removeAttr('disabled');
                            $(this).removeClass('not-allowed');
                        });
                    }
                });
            });

            /*........................... Allow Only Numeric Values.............................................................*/
            function isNumberKey(e) {
                if (e.which != 46 && e.which != 45 && e.which != 46 && !(e.which >= 48 && e.which <= 57)) {
                    return false;
                }
            }

        </script>

    {% endblock %}

    <section id="currentmonhthdetails">
        <div class="col-sm-3 views_kpi_form_list" id="overallshids">
            <div class="views_kpi_name_total" id="shipcountwithtext"><span>{{ 'dashboard.shipname'|trans }} ({{ shipcount }})</span></div>
            <div class="views_kpi_form_list_main" id="shiplistinui">
                {% if listofships|length > 0 %}
                    <ui>
                        {% set j=0 %}
                        {% for shipobject in listofships %}
                            <li>
                                <a class="linkclass" title="{{ shipobject.shipName }}"
                                   id="{{ shipobject.id }}">{{ shipobject.shipName }}</a>
                                {% if  is_granted("ROLE_ADMIN") %}
                                    {% if shipobject.rejections == true %}
                                        <img id="img_{{ shipobject.id }}" style="width: 20px;height: 20px" src="/images/error.png">
                                    {% elseif shipobject.status==3 %}
                                        <img id="img_{{ shipobject.id }}" src="/images/tick_icon.png">
                                    {% endif %}
                                {% endif %}
                                {% if  is_granted("ROLE_MANAGER") %}
                                    {% if shipobject.rejections == true %}
                                        <img id="img_{{ shipobject.id }}" style="width: 20px;height: 20px" src="/images/error.png">
                                    {% elseif shipobject.status==2 or shipobject.status==3 %}
                                        <img id="img_{{ shipobject.id }}" src="/images/tick_icon.png">
                                    {% endif %}
                                {% endif %}

                                {% if  is_granted("ROLE_KPI_INFO_PROVIDER") %}
                                    {% if shipobject.rejections == true and shipobject.status == 1 %}
                                        <img id="img_{{ shipobject.id }}" style="width: 20px;height: 20px" src="/images/error.png">
                                    {% elseif shipobject.status==1 or shipobject.status==5 or shipobject.status==2 %}
                                        <img id="img_{{ shipobject.id }}" src="/images/tick_icon.png">
                                    {% endif %}
                                {% endif %}
                            </li>
                            {% set j=j+1 %}
                        {% endfor %}
                    </ui>
                {% else %}

                {% endif %}
            </div>

        </div>
    </section>

    <section id="nogroupselected">
        <div class="col-sm-8 col-md-offset-6 no_user_selected_views">
            <div class="text_image">
                <img src="/images/no-user.png">
                <label>{{ 'dataverification.noship'|trans }} </label>
            </div>
        </div>
    </section>

    <section id="kpiformforship">
        <div class="col-sm-12">
            <div class="add_new_kpi_form_screen">
                {% if elementkpiarray|length > 0 %}
                <form id="kpiform" class="form-horizontal no-style">
                    <div class="add_new_kpi_top_title">
                        <div class="title_month">
                            <label class="title"> <span id="shipname"> </span></label>
                            <input type="hidden" name="dataofmonth" id="datofmonthid">
                            <input type="hidden" name="shipid" id="shipid">
                            <div class="col-lg-3" style="float: right; margin-right: 20px">
                                <div class="form-group">
                                    <input type='text' placeholder="-- Choose Month & Year --" class="form-control datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div id="elementformid" class="add_new_kpi_form_section">
                        {% if elementkpiarray|length <= 0 %}
                            No Kpi Found
                        {% endif %}
                        {% if listoreditViewStatus=='listView' %}
                            <div id="addkpiformid" class="table-responsive">
                                <span>All ships Data Verified</span>
                            </div>
                        {% endif %}
                        {% if elementkpiarray|length > 0  and listoreditViewStatus=='editView' %}
                        <div id="addkpiformid" class="table-responsive">
                            {% if currentshipid=="" %}
                                {% if  is_granted("ROLE_KPI_INFO_PROVIDER") %}
                                    <span>All vessels data updated !</span>
                                    <div class="actions_submit">

                                    <button style="margin: 0px 0px 0px 600px" class="submit_btn addclasskpivalue"
                                            id="upload_btn_id"
                                            value="Submit">{{ 'dataverification.upload'|trans }}</button>
                                {% else %}
                                    <span> <small id="currentMonthText"></small> This Month Data not Updated</span>
                                {% endif %}
                                </div>
                            {% else %}

                                {% set i=0 %}
                                {% set kpi_count=0 %}
                                {% for key, value in elementkpiarray %}
                                    <table class="table kpi_table_form_section">
                                        <thead>
                                        <tr>
                                            {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}

                                                {% if currentshipkpilist[kpi_count]['rejections'] == false %}
                                                    <th>
                                                        <input type="checkbox" class="checkboxes" name="reject_id[]" value={{ currentshipkpilist[kpi_count]['id'] }}>
                                                    </th>
                                                {% else %}
                                                    <th>
                                                        <input type="checkbox" checked class="checkboxes" name="reject_id[]" value={{ currentshipkpilist[kpi_count]['id'] }}>
                                                    </th>
                                                {% endif %}
                                            {% endif %}
                                            {% if currentshipkpilist[kpi_count]['rejections'] == false %}
                                                <th>  {{ key }} </th>
                                            {% else %}
                                                <th style="color: red">  {{ key }} </th>
                                            {% endif %}

                                            {% if i == 0 %}
                                                <th class="kpi_value">Wt</th>
                                                <th class="kpi_value">Symbol</th>
                                                <th class="kpi_value">Indication</th>
                                                <th class="kpi_value">Value</th>
                                            {% else %}
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for user in value %}

                                            <tr>
                                                {% if  is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") %}
                                                    <td></td>
                                                {% endif %}
                                                <td class="kpi_lement_name">{{ user }}  </td>
                                                <td class="kpi_lement_number">{{ elementweightage[i] }}</td>
                                                <td class="kpi_lement_inputname">{{ symbolIndication[i] }}</td>
                                                <td class="kpi_lement_inputname">{{ indicationValue[i] }}</td>
                                                <td class="kpi_lement_inputname">
                                                    {% if elementvalues|length <= 0 %}

                                                        <input class="resetclass" onkeypress="return isNumberKey(event)"
                                                               name="newelemetvalues[]" type="text" required
                                                               placeholder="123">
                                                    {% endif %}
                                                    {% if elementvalues|length > 0 %}
                                                        <input class="resetclass" onkeypress="return isNumberKey(event)"
                                                               name="newelemetvalues[]" type="text"
                                                               value="{{ elementvalues[i] }}" required
                                                               placeholder="123">
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            {% set i=i+1 %}

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% set kpi_count=kpi_count+1 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="allbuttondiv" class="actions_submit">
                        {% if  is_granted("ROLE_KPI_INFO_PROVIDER") %}
                            {% if currentshipid!="" %}
                                {% if elementvalues|length <= 0 %}
                                    <input type="submit" class="submit_btn addclasskpivalue" id="savebuttonid"
                                           value="{{ 'dataverification.save'|trans }}">
                                {% else %}
                                    <input type="submit"  class="submit_btn addclasskpivalue" id="updatebuttonid"
                                           value="{{ 'dataverification.update'|trans }}">
                                {% endif %}


                                <button class="cancel_btn reset" id="resetbuttonid"
                                        value="Submit">{{ 'dataverification.reset'|trans }}</button>
                            {% else %}
                                <button style="margin: 0px 0px 0px 600px" class="submit_btn addclasskpivalue"
                                        id="upload_btn_id"
                                        value="Submit">{{ 'dataverification.upload'|trans }}</button>
                            {% endif %}
                        {% endif %}
                        {% if  is_granted("ROLE_ADMIN") %}
                            <input  type="submit" class="submit_btn addclasskpivalue" id="adminbuttonid"
                                    value="{{ 'dataverification.upload'|trans }}">
                            <input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id"
                                   value="{{ 'dataverification.reject'|trans }}">
                        {% endif %}

                        {% if is_granted("ROLE_MANAGER") %}
                            {% if shipcount==statusQueryResult|length %}
                                {% if currentshipid!="" %}
                                    {% if listofships[currentshipid-1]['status']==1  %}
                                        <input  type="submit" disabled title="This ship Data Not Upload From V-ships" class="submit_btn addclasskpivalue" id="verfiybuttonid"
                                                value="{{ 'dataverification.verfiy'|trans }}">
                                        <input style="margin-left: 10px;" type="submit" disabled title="This ship Data Not Upload From V-ships" class="submit_btn addclasskpivalue" id="reject_btn_id"
                                               value="{{ 'dataverification.reject'|trans }}">
                                    {% else %}
                                        <input  type="submit" class="submit_btn addclasskpivalue" id="verfiybuttonid"
                                                value="{{ 'dataverification.verfiy'|trans }}">
                                        <input style="margin-left: 10px;" type="submit" class="submit_btn addclasskpivalue" id="reject_btn_id"
                                               value="{{ 'dataverification.reject'|trans }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>

    <section id="previousmonthdata">
        <div class="col-sm-12">
            <div class="verfication_ranking_form_screen">
                <form class="form-horizontal no-style">
                    <div class="add_new_kpi_top_title">
                        <div class="title_month_2">
                            <label class="title">&nbsp;</label>
                            {#<label class="toolbar-title">
                                <a id="proviousmonth_data" class="left-arrow ss-navigateleft prevmonth">&nbsp;</a>
                                <span id="currentid_data" class="item">March-2016</span>
                                <input type="hidden" name="dataofmonth_data" id="datofmonthid_data">
                                <a id="nextmonth_data" class="right-arrow ss-navigateright nextmonth">&nbsp;</a>
                            </label>#}
                            <input type="hidden" name="dataofmonth_data" id="datofmonthid_data">
                            <div class="col-lg-3" style="float: right; margin-right: 20px">
                                <div class="form-group">
                                    <input type='text' placeholder="-- Choose Month & Year --" class="form-control datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="verfication_ranking_form_section">
                        <div id="prvieoustablecontent" class="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


{% endblock %}