{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts '@AppBundle/Resources/public/js/AAA.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/drilldown.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            {{ chart(chart) }}
        </script>

        <script type="text/javascript">
            {{ chart(rankingChart) }}
        </script>

        <script>
            $(document).ready(function() {
                var archiveAjaxStatus = 0;
                var scorecardSubmitId = $('#scorecard-submit-id');
                var scorecardCheckbox = $('.scorecard_checkbox');
                var scorecardReportClass = $('.scorecard_report');
                var scorecardReportViewClass = $('.scorecard_report_view');
                var reportTableBodyId = $('#report-table-body-id');

                scorecardReportViewClass.hide();

                scorecardSubmitId.live('click',function($e) {
                    $e.preventDefault();
                    var aM = $('.activeMonth').val();
                    var aY = $('.activeYear').val();
                    var eM = $('.endMonth').val();
                    var eY = $('.endYear').val();
                    if(parseInt(aY) > parseInt(eY) || parseInt(aY) == parseInt(eY) && parseInt(aM) > parseInt(eM) || aM == '--' || aY == '--' || eM == '--' || eY == '--') {
                        alert('Choose the valid date');
                        return false;
                    }
                    archiveAjaxStatus = 1;
                    var archiveStatus = 0;
                    if(scorecardCheckbox.is(':checked') == true) {
                        archiveStatus = 1;
                    }
                    var data = {
                        activeMonth: aM,
                        activeYear: aY,
                        endMonth: eM,
                        endYear: eY,
                        archiveStatus: archiveStatus
                    };
                    $('.activeMonthText').val(aM);
                    $('.activeYearText').val(aY);
                    $('.endMonthText').val(eM);
                    $('.endYearText').val(eY);
                    var scorecardAjaxSetup = scorecardAjaxSetupFunction(data);
                });

                function scorecardAjaxSetupFunction(data) {
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: /*Routing.generate('archived_scorecard_report'),*/"archived_scorecard_report",
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data) {
                            scorecardReportClass.hide();
                            archiveReportView.hide();
                            archiveButtonId.hide();
                            reportTableBodyId.empty();
                            var setOverallKpiDetails = setOverallKpiDetailsFunction(data);
                            var setElementLevelDetail = setElementLevelDetailFunction(data);
                            var setReportTableContents = setReportTableContentsFunction(data);
                            scorecardReportViewClass.show();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                }

                function setReportTableContentsFunction(data) {
                    if(data.length != 0) {
                        $.each(data.archivedReports, function(i) {
                            reportTableBodyId.append('<tr id="table-row-id'+i+'"></tr>');
                            var tableRowId = $('#table-row-id'+i+'');
                            var period = new Date(data.archivedReports[i].dateTime.date);
                            var pathInTwigFormat = "{{ path('archived_report_pdf_download', { 'id': 'value'}) }}";
                            var pathName = pathInTwigFormat.replace("value",data.archivedReports[i].id);
                            tableRowId.append('<td>'+data.archivedReports[i].fileName+'</td> <td>'+data.archivedReports[i].reportType+'</td> <td>'+data.userDetails[i][0].username+'</td> <td>'+period.getDate()+'-'+period.getMonthName()+'-'+period.getFullYear()+'</td> <td style="text-align: center"><a href="'+pathName+'"><img style="width: 29px; height: 26px" src="/images/pdf-download.png"  alt="Loader Image" /></a></td>');
                        });
                    }
                }

                function setOverallKpiDetailsFunction(data) {
                    $('<table class="table table-striped-2 year_view_score_card_row"><thead><tr id="previousRowPlace"><th class="kpi_name_thtd"> KPI </th> <th>Weightage</th></tr> </thead> <tbody id="previousTableBody"> </tbody> </table>').appendTo('#previousScorecardTable');
                    var setMonthName = setMonthNameFunction(data);
                    var inn = 0;
                    var kpiNameList = data.kpiNameList;
                    $.each(kpiNameList, function (i) {
                        $('<tr id="praviousRowId' + inn + '"> <td class="kpi_name kpi_name_thtd"> <a href="#' + i + i + '">' + kpiNameList[inn]['kpiName'] + '</a> </td> <td class="weightage asdf">' + kpiNameList[inn]['weightage'] + ' </td> ').appendTo('#previousTableBody');
                        $.each(data.yearKpiColorArray, function (j) {
                            var color = '';
                            color = data.yearKpiColorArray[j][inn];
                            var setOverallKpiColor = setOverallKpiColorFunction(color, inn);
                            if (j < data.monthName.length - 1) {
                                var status = data.yearKpiColorArray[j + 1][inn];
                                var setOverallKpiStatus = setOverallKpiStatusFunction(color, status, inn);
                            }
                        });
                        inn++;
                    });
                    $('<tr id="averageScoreRowId"> <td class="average_score_2_td kpi_name_thtd">Average Score</td> <td class="weightage"><strong>100</strong> </td> ').appendTo('#previousTableBody');
                    $.each(data.kpiAvgScore, function (i) {
                        $('<td colspan="2"><strong>' + data.kpiAvgScore[i] + '</strong></td>').appendTo('#averageScoreRowId');
                    });
                    var areaId = $('#area');
                    areaId.highcharts().series[0].setData(data.changeChartData);
                    areaId.highcharts().xAxis[0].setCategories(data.monthName);
                }

                function setMonthNameFunction(data) {
                    var monthName = data.monthName;
                    $.each(monthName, function (i) {
                        if (monthName != monthName.length) {
                            $('<th colspan="2">' + monthName[i] + '</th>').appendTo('#previousRowPlace');
                        }
                        else if (monthName == monthName.length) {
                            $('<th>' + monthName[i] + '</th>').appendTo('#previousRowPlace');
                        }
                    });
                }

                function setOverallKpiColorFunction(color, inn) {
                    if (color != 'false' && color != '') {
                        if (color == 'Green') {
                            $('<td class="month"><img class="img-icon" src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Red') {
                            $('<td class="month"><img class="img-icon" src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                        else if (color == 'Yellow') {
                            $('<td class="month"><img class="img-icon" src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                        }
                    }
                    else {
                        $('<td class="month"></td>').appendTo('#praviousRowId' + inn);
                    }
                }

                function setOverallKpiStatusFunction(color, status, inn) {
                    if (color == 'Green' && status == 'Green') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Green' && status == 'Yellow') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Green' && status == 'Red') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Yellow' && status == 'Green') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Yellow' && status == 'Yellow') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Yellow' && status == 'Red') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Red' && status == 'Green') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Red' && status == 'Yellow') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else if (color == 'Red' && status == 'Red') {
                        $('<td class="month_difference"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#praviousRowId' + inn);
                    }
                    else {
                        $('<td class="month_difference"></td>').appendTo('#praviousRowId' + inn);
                    }
                }

                function setElementLevelDetailFunction(data) {
                    $.each(data.kpiNameList, function (i) {
                        var graphData = new Array();
                        var createElementTables = createElementTablesFunction(data, i);
                        var setElementMonthName = setElementMonthNameFunction(data, i, graphData);
                        var setElementGraphValues = setElementGraphValuesFunction(data, graphData, i);
                        var elementNameList = data.elementNameList;
                        $.each(elementNameList[i], function (j) {
                            $('<tr id="elementRowId' + i + j + '"> <td class="kpi_name kpi_name_thtd"> ' + elementNameList[i][j]['elementName'] + ' </td> <td class="weightage">' + elementNameList[i][j]['weightage'] + ' </td> </tr> ').appendTo('#elementTableBody' + i);
                            $.each(data.monthName, function (k) {
                                var color = '';
                                if (data.elementColorArray[k][i].length != 0) {
                                    color = data.elementColorArray[k][i][j];
                                }

                                if (color != 'false' && color != '') {
                                    var setElementColor = setElementColorFunction(color, i, j);
                                }
                                else {
                                    $('<td class="month"></td>').appendTo('#elementRowId' + i + j);
                                }

                                if (k < data.monthName.length - 1) {
                                    var status = data.elementColorArray[k + 1][i][j];
                                    var setElementStatus = setElementStatusFunction(color, status, i, j);
                                }
                            });
                        });
                        var spanCount = 2 + (2 * data.monthName.length) - 1;
                        $(' <tr id="emptyRow' + i + '"> <td colspan="' + spanCount + '">&nbsp;</td> </tr> ').appendTo('#elementTableBody' + i);
                        $(' <tr id="kpiRowPlace' + i + '"><td class="kpi_name kpi_name_thtd"> ' + data.kpiNameList[i]['kpiName'] + ' </td> <td class="weightage">100</td></tr> ').appendTo('#elementTableBody' + i);
                        $.each(data.monthName, function (monthCount) {
                            var kpiColor = '';
                            kpiColor = data.yearKpiColorArray[monthCount][i];
                            if (kpiColor != 'false' && kpiColor != '') {
                                var setKpiColor = setKpiColorFunction(kpiColor, i);
                            }
                            else {
                                $('<td class="month"></td>').appendTo('#kpiRowPlace' + i);
                            }

                            if (monthCount < data.monthName.length - 1) {
                                var status = data.yearKpiColorArray[monthCount + 1][i];
                                var setKpiStatus = setKpiStatusFunction(kpiColor, status, i);
                            }
                        });
                    });
                }

                function createElementTablesFunction(data, i) {
                    $('<div class="dashboard" id="dashboard' + i + '"> </div>').appendTo('.reportElementShow');
                    $('<div class="dashboard" id="graphDashboard' + i + '"> </div>').appendTo('.reportElementShow');
                    $('<div id="elementScorecardTable' + i + '"> </div>').appendTo('#dashboard' + i);
                    $('<table class="table table-striped graph_and_colour_coding_dashboard_main_title_row" id="' + i + i + '"><thead><tr><th> ' + data.kpiNameList[i]['kpiName'] + ' </th></tr></thead> <tr> <td> <a class="linkclass" href="#top" style="float: right">Back to top </a> </td> </tr> </table>').appendTo('#elementScorecardTable' + i);
                    $('<table class="table table-striped-2 kpi_year_view_score_card_row"><thead><tr id="elementRowPlace' + i + '"><th class="kpi_name_thtd"> Element </th> <th>Weightage</th></tr> </thead> <tbody id="elementTableBody' + i + '"> </tbody></table>').appendTo('#elementScorecardTable' + i);
                    $('<table class="table table-striped normal_table"><thead><tr><th>' + data.kpiNameList[i]['kpiName'] + '-Graph </th></tr> </thead> <tbody> <tr> <td id="graphArea' + i + '"> </td> </tr> </tbody></table>').appendTo('#graphDashboard' + i);
                }

                function setElementMonthNameFunction(data, i, graphData) {
                    var monthName = data.monthName;
                    $.each(monthName, function (month) {
                        if (monthName != monthName.length) {
                            $('<th colspan="2">' + monthName[month] + '</th>').appendTo('#elementRowPlace' + i);
                        }
                        else if (monthName == monthName.length) {
                            $('<th>' + monthName[month] + '</th>').appendTo('#elementRowPlace' + i);
                        }
                        graphData.push(data.elementLevelChartData[month][i]);
                    });
                }

                function setElementGraphValuesFunction(data, graphData, i) {
                    $('#graphArea' + i).highcharts({
                        chart: {
                            type: 'line',
                            width: 1000
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: data.monthName
                        },
                        exporting: {"enabled": false},
                        plotOptions: {"series": {"allowPointSelect": true, "dataLabels": {"enabled": true}}},
                        series: [{
                            name: data.kpiNameList[i]['kpiName'],
                            showInLegend: false,
                            data: graphData,
                            color: '#103a71'
                        }],
                        yAxis: {"max": 3, "min": 0}
                    });
                }

                function setElementColorFunction(color, i, j) {
                    if (color == 'Green') {
                        $('<td class="month"><img class="img-icon" src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Red') {
                        $('<td class="month"><img class="img-icon" src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Yellow') {
                        $('<td class="month"><img class="img-icon" src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                }

                function setElementStatusFunction(color, status, i, j) {
                    if (color == 'Green' && status == 'Green') {
                        $('<td class="month"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Green' && status == 'Yellow') {
                        $('<td class="month"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Green' && status == 'Red') {
                        $('<td class="month"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Yellow' && status == 'Green') {
                        $('<td class="month"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Yellow' && status == 'Yellow') {
                        $('<td class="month"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Yellow' && status == 'Red') {
                        $('<td class="month"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Red' && status == 'Green') {
                        $('<td class="month"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Red' && status == 'Yellow') {
                        $('<td class="month"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else if (color == 'Red' && status == 'Red') {
                        $('<td class="month"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#elementRowId' + i + j);
                    }
                    else {
                        $('<td class="month"></td>').appendTo('#elementRowId' + i + j);
                    }
                }

                function setKpiColorFunction(kpiColor, i) {
                    if (kpiColor == 'Green') {
                        $('<td class="month"><img class="img-icon" src="/images/01_score_card.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Red') {
                        $('<td class="month"><img class="img-icon" src="/images/03_score_card.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Yellow') {
                        $('<td class="month"><img class="img-icon" src="/images/02_score_card.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                }

                function setKpiStatusFunction(kpiColor, status, i) {
                    if (kpiColor == 'Green' && status == 'Green') {
                        $('<td class="month"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Green' && status == 'Yellow') {
                        $('<td class="month"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Green' && status == 'Red') {
                        $('<td class="month"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Yellow' && status == 'Green') {
                        $('<td class="month"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Yellow' && status == 'Yellow') {
                        $('<td class="month"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Yellow' && status == 'Red') {
                        $('<td class="month"><img class="img-status-icon" src="/images/down_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Red' && status == 'Green') {
                        $('<td class="month"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Red' && status == 'Yellow') {
                        $('<td class="month"><img class="img-status-icon" src="/images/up_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else if (kpiColor == 'Red' && status == 'Red') {
                        $('<td class="month"><img class="img-status-icon" src="/images/straight_arrow.png" alt="Loader Image"/></td>').appendTo('#kpiRowPlace' + i);
                    }
                    else {
                        $('<td class="month"></td>').appendTo('#kpiRowPlace' + i);
                    }
                }

                $('#sendmailid').click(function ($e) {
                    $e.preventDefault();
                    var aM = $('.activeMonth').val();
                    var aY = $('.activeYear').val();
                    var eM = $('.endMonth').val();
                    var eY = $('.endYear').val();
                    var clientemail = $('#toemail').val();
                    var comment = $('#mycommentid').val();
                    var data = {
                        activeMonth: aM,
                        activeYear: aY,
                        endMonth: eM,
                        endYear: eY,
                        clientemail: clientemail,
                        comment: comment
                    };
                    $('#close_button').click();
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('scorecard_report_pdfReport_mail'),
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data) {
                            jAlert('', data.updatemsg);
                        },
                        error: function () {
                            window.location.href = 'http://shipreports/login';
                        }
                    });

                });

                var liveSearchDiv = $('#livesearchdiv');
                var commentId = $('#mycommentid');
                $(".dynamiclabel").live("click", function (e) {
                    var b = $(this).text();
                    $('#toemail').val(b);
                    liveSearchDiv.hide();
                });

                liveSearchDiv.hide();
                commentId.click(function () {
                    liveSearchDiv.hide();
                });
                commentId.focus(function () {
                    liveSearchDiv.hide();
                });
                $('#toemail').keyup(function ($e) {
                    $e.preventDefault();
                    var searchstring = $(this).val();
                    var data = {searchstring: searchstring};
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: Routing.generate('autocompleteformailing'),
                        beforeSend: function () {
                            // var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            //var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data) {
                            if ($.isArray(data.returnresult)) {
                                $.each(data.returnresult, function (i, listelemnt) {
                                    $('#hiddenresult').val(data.returnresult);
                                    $('#commentandreportdiv').show();
                                    liveSearchDiv.show();
                                    $("#livesearch").show();
                                    $("#livesearch").html('<li class="dynamiclabel">' + listelemnt.groupname + '</li><li class="dynamiclabel">' + listelemnt.useremailid + '</li>');
                                });
                            }
                        },
                        error: function () {
                            window.location.href = 'http://shipreports/login';
                        }
                    });
                });

                var scorecardViewBack = $('.scorecard_view_back');
                scorecardViewBack.click(function($e) {
                    $e.preventDefault();
                    rankingReportView.hide();
                    scorecardReportViewClass.hide();
                    rankingPredefinedReportView.hide();
                    $('.create-form')[0].reset();
                    $('.reportElementShow').empty();
                    $('#previousScorecardTable').empty();
                    $('#area').empty();
                    $('#area_ranking').empty();
                    $('#kpigraphlist').empty();
                    $('#area_predefined_ranking').empty();
                    scorecardReportClass.show();
                    archiveButtonId.show();
                });

                /*----------------------------------Archived Reports-------------------------------*/

                var archiveReportView = $('#archived-report-view');
                var archiveButtonId = $('#archive-btn-id');
                archiveReportView.hide();
                archiveButtonId.click(function($e) {
                    $e.preventDefault();
                    if(archiveAjaxStatus == 1) {
                        archiveReportView.toggle();
                    } else if(archiveAjaxStatus == 0) {
                        var data = {status:1};
                        $.ajaxSetup({
                            global: false,
                            type: "post",
                            url: /*Routing.generate('archived_report_show'),*/"archived_report_show",
                            beforeSend: function () {
                                var setAjaxBeforeSend = ajaxbefore_send();
                            },
                            complete: function () {
                                var setAjaxComplete = ajax_complete();
                            }
                        });
                        $.ajax({
                            data: data,
                            success: function (data) {
                                reportTableBodyId.empty();
                                var setReportTableContents = setReportTableContentsFunction(data);
                                archiveReportView.toggle();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        });
                    }
                });

                /*--------------------------------Ranking Reports---------------------------------*/

                var rankingSubmitId = $('#ranking-submit-id');
                var rankingCheckbox = $('.ranking_checkbox');
                var rankingReportView = $('.ranking-report-view');
                rankingReportView.hide();
                rankingSubmitId.click(function($e) {
                    $e.preventDefault();
                    var selectedVessel = $('.select-vessel');
                    var selectedYear = $('.select-year');
                    var validateStatus = 0;

                    if(selectedVessel.val()=="") {
                        alert('Choose vessel');
                        validateStatus = 1;
                        return false;
                    }
                    if(selectedYear.val()=="" && selectedVessel.val()!="") {
                        alert('Choose year');
                        validateStatus = 1;
                        return false;
                    }
                    archiveAjaxStatus = 1;
                    var saveReport = 0;
                    if(rankingCheckbox.is(':checked') == true) {
                        saveReport = 1;
                    }

                    var data = {
                        selectedVessel : selectedVessel.val(),
                        selectedYear : selectedYear.val(),
                        archiveStatus : saveReport
                    };

                    if(validateStatus==0) {
                        var setRankingAjaxSetup = setRankingAjaxSetupFunction(data);
                    }
                });

                function setRankingAjaxSetupFunction(data) {
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: /*Routing.generate('archived_ranking_report'),*/ "archived_ranking_report",
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data) {
                            scorecardReportClass.hide();
                            archiveButtonId.hide();
                            archiveReportView.hide();
                            reportTableBodyId.empty();
                            var setRankingReportData = setRankingReportDataFunction(data);
                            var setReportTableContents = setReportTableContentsFunction(data);
                            rankingReportView.show();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                }

                function setRankingReportDataFunction(data) {
                    $('#kpigraphlist').html(' ');
                    $('#kpigraphlist').text(' ');
                    $('#kpigraphlist').val(' ');
                    if (data.chartdata.length != 0) {
                        $('#area_ranking').highcharts().series[0].setData(data.chartdata);
                        $('#area_ranking').highcharts().xAxis[0].setCategories(data.montharray);
                        $('#graphtitle').text(data.shipname);
                        $('#sendreportshipid').val(data.shipid);
                        $('#shipnameid').text(data.shipname);
                        $('#currentyearid').text(data.currentyear);
                        $('#yearid').val(data.currentyear);
                        $('#ageofvesselid').text(data.ageofvessel);
                        $('<table class="table table-striped-2 kpi_ranking_row secondtable"><thead ><tr id="headertable"><th>KPI</th><th class="tableheader">Weightage</th></tr></thead><tbody id="tablebodyid"></tbody></table>').appendTo('#tableofcontent');
                        var shipdatamonthcount;
                        for (shipdatamonthcount = 0; shipdatamonthcount < data.countmonth; shipdatamonthcount++) {
                            $('<th class="month">' + data.montharray[shipdatamonthcount] + '</th>').appendTo('#headertable');
                        }
                        $.each(data.listofkpi, function (i) {

                            $('<div id="score_color_' + data.listofkpi[i]['id'] + '"></div> <table id="table_' + data.listofkpi[i]['id'] + '" class="table table-striped normal_table"><thead><tr ><th>' + data.listofkpi[i]['kpiName'] + '</th></tr></thead><tbody><tr><td id="graphtd_' + data.listofkpi[i]['id'] + '"></td></tr></tbody></table>').appendTo('#kpigraphlist')
                            $('<tr id="secondtabletr' + i + '"></tr>').appendTo('#tablebodyid');
                            $('<td id="' + i + '" class="kpi_name_thtd"><a href="#score_color_' + data.listofkpi[i]['id'] + '"> ' + data.listofkpi[i]['kpiName'] + '</a></td><td>' + data.kpiweightage[i] + '</td>').appendTo('#secondtabletr' + i);
                            var k = 0;
                            for (k = 0; k < data.countmonth; k++) {
                                $('<td>' + data.kpimonthdata[k][i] + '</td>').appendTo('#secondtabletr' + i);
                            }
                        });

                        $('<tr class="newtempclass"><td class="kpi_name_thtd"><strong>Score</strong></td><td><strong>100</strong></td></tr>').appendTo('#tablebodyid');
                        var kk = 0;
                        for (kk = 0; kk < data.countmonth; kk++) {
                            if (data.avgscore[kk] != null) {
                                $('<td><strong>' + data.avgscore[kk] + '</strong></td>').appendTo('.newtempclass');
                            }
                            else {
                                $('<td></td>').appendTo('.newtempclass');
                            }
                        }
                        var tempcount = 0;
                        var elementtrdynamic = 0;

                        $.each(data.kpigraph, function (key, listofelementvalues) {
                            if (data.listofkpi[tempcount]['kpiName'] == 'Vessel age') {

                            } else {
                                $('<table class="table table-striped graph_and_colour_coding_main_title_row"><thead><tr><th>' + data.listofkpi[tempcount]['kpiName'] + '</th></tr></thead><tbody><tr><td></td></tr></tbody></table>').appendTo('#score_color_' + key);
                                $('<table class="table table-striped-3 element_ranking_new_row"><thead><tr id="tableheader_' + key + '"><th>Element Name</th></tr></thead><tbody id="scoretablebodyid_' + key + '"></tbody></table>').appendTo('#score_color_' + key)
                                var datamonthcount;
                                for (datamonthcount = 0; datamonthcount < data.countmonth; datamonthcount++) {
                                    $('<th colspan="2" class="month">' + data.montharray[datamonthcount] + '</th>').appendTo('#tableheader_' + key);
                                }
                            }

                            $.each(data.listofelement[key], function (b) {
                                $('<tr id="elementid_' + elementtrdynamic + '"></tr>').appendTo('#scoretablebodyid_' + key);
                                $('<td  class="element_name_title">' + data.listofelement[key][b]['elementName'] + '</td>').appendTo('#elementid_' + elementtrdynamic);

                                var monthcount = 0;
                                for (monthcount = 0; monthcount < data.countmonth; monthcount++) {
                                    var ranking_value = '';
                                    var ranking_color = '';

                                    if (data.monthlydata[key][monthcount].length != 0) {
                                        ranking_value = data.monthlydata[key][monthcount][b];
                                        ranking_color = data.elementcolorarray[key][monthcount][b];
                                    }
                                    $('<td>' + ranking_value + '</td>').appendTo('#elementid_' + elementtrdynamic);

                                    if (ranking_color != 'false' && ranking_color != '') {
                                        if (ranking_color == 'Green') {
                                            $('<td><img class="img-icon" src="/images/02.large.png" alt="Loader Image"/></td>').appendTo('#elementid_' + elementtrdynamic);
                                        }
                                        else if (ranking_color == 'Red') {
                                            $('<td><img class="img-icon" src="/images/03.large.png" alt="Loader Image"/></td>').appendTo('#elementid_' + elementtrdynamic);
                                        }
                                        else if (ranking_color == 'Yellow') {
                                            $('<td><img class="img-icon" src="/images/01.large.png" alt="Loader Image"/></td>').appendTo('#elementid_' + elementtrdynamic);
                                        }
                                    } else {
                                        $('<td></td>').appendTo('#elementid_' + elementtrdynamic);
                                    }
                                }
                                elementtrdynamic++;
                            });

                            if (data.listofkpi[tempcount]['kpiName'] != 'Vessel age') {

                                $('<tr id="elementavgscore_' + elementtrdynamic + '"></tr>').appendTo('#scoretablebodyid_' + key);
                                $('<td class="kpi_name_thtd"><strong>Score</strong></td>').appendTo('#elementavgscore_' + elementtrdynamic);
                                var avgscore = 0;
                                for (avgscore = 0; avgscore < data.countmonth; avgscore++) {
                                    var i1 = 0;
                                    $('<td><strong>' + data.kpigraph[key][avgscore] + '</strong></td>').appendTo('#elementavgscore_' + elementtrdynamic);
                                    if (i1 != 2) {
                                        $('<td>&nbsp;</td>').appendTo('#elementavgscore_' + elementtrdynamic);
                                    }
                                    i1++;
                                }
                                $('#graphtd_' + key).highcharts({
                                    chart: {
                                        type: 'line',
                                        width: 1065
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    title: {
                                        text: ''

                                    },
                                    xAxis: {
                                        categories: data.montharray
                                    },
                                    yAxis: {
                                        max: data.listofkpi[tempcount]['weightage'],
                                        min: 0
                                    },
                                    plotOptions: {
                                        "series": {
                                            "allowPointSelect": true,
                                            "dataLabels": {"enabled": true}
                                        }
                                    },
                                    series: [{
                                        name: data.listofkpi[tempcount]['kpiName'],
                                        showInLegend: false,
                                        data: listofelementvalues,
                                        color: '#103a71'
                                    }]
                                });
                            }
                            else {
                                $('#graphtd_' + key).highcharts({
                                    chart: {
                                        type: 'line',
                                        width: 1065
                                    },
                                    title: {
                                        text: ''

                                    },
                                    xAxis: {
                                        categories: data.montharray
                                    },
                                    yAxis: {
                                        max: data.listofkpi[tempcount]['weightage'],
                                        min: 0
                                    },
                                    plotOptions: {
                                        "series": {
                                            "allowPointSelect": true,
                                            "dataLabels": {"enabled": true}
                                        }
                                    },
                                    series: [{
                                        name: data.listofkpi[tempcount]['kpiName'],
                                        showInLegend: false,
                                        data: data.vesseldatas,
                                        color: '#103a71'
                                    }]
                                });
                            }
                            tempcount++;
                        });
                        $('#formcontentid').hide();
                        $('#resultofreport').show();
                        $('#listalltable').show();
                    }
                    else {
                        $('#formcontentid').hide();
                        $('#emptyresultofreport').show();
                        $('<span>No Record Found For ' + data.currentyear + ' </span>').appendTo('#emptyrecord');
                    }
                }

                /*------------------------------Predefined Reports-------------------------------*/

                var today = new Date();
                var currentYear = today.getFullYear();
                var currentMonth = today.getMonth();
                var asOnDate = $('#scorecard-predefined-report-1');
                asOnDate.click(function($e) {
                    $e.preventDefault();
                    archiveAjaxStatus = 1;
                    var archiveStatus = 0;
                    var data = {
                        activeMonth: 1,
                        activeYear: currentYear,
                        endMonth: currentMonth+1,
                        endYear: currentYear,
                        archiveStatus: archiveStatus
                    };
                    $('.activeMonthText').val(1);
                    $('.activeYearText').val(currentYear);
                    $('.endMonthText').val(currentMonth);
                    $('.endYearText').val(currentYear);
                    var scorecardAjaxSetup = scorecardAjaxSetupFunction(data);
                });

                var firstQuarter = $('#scorecard-predefined-report-2');
                firstQuarter.click(function($e) {
                    $e.preventDefault();
                    archiveAjaxStatus = 1;
                    var archiveStatus = 0;
                    var data = {
                        activeMonth: 1,
                        activeYear: currentYear,
                        endMonth: 3,
                        endYear: currentYear,
                        archiveStatus: archiveStatus
                    };
                    $('.activeMonthText').val(1);
                    $('.activeYearText').val(currentYear);
                    $('.endMonthText').val(3);
                    $('.endYearText').val(currentYear);
                    var scorecardAjaxSetup = scorecardAjaxSetupFunction(data);
                });

                var firstHalf = $('#scorecard-predefined-report-3');
                firstHalf.click(function($e) {
                    $e.preventDefault();
                    archiveAjaxStatus = 1;
                    var archiveStatus = 0;
                    var data = {
                        activeMonth: 1,
                        activeYear: currentYear,
                        endMonth: 6,
                        endYear: currentYear,
                        archiveStatus: archiveStatus
                    };
                    $('.activeMonthText').val(1);
                    $('.activeYearText').val(currentYear);
                    $('.endMonthText').val(6);
                    $('.endYearText').val(currentYear);
                    var scorecardAjaxSetup = scorecardAjaxSetupFunction(data);
                });

                var report4 = $('#scorecard-predefined-report-4');
                report4.click(function($e) {
                    $e.preventDefault();
                    archiveAjaxStatus = 1;
                    var archiveStatus = 0;
                    var data = {
                        activeMonth: 1,
                        activeYear: currentYear,
                        endMonth: 'check',
                        endYear: currentYear,
                        archiveStatus: archiveStatus
                    };
                    $('.activeMonthText').val(1);
                    $('.activeYearText').val(currentYear);
                    $('.endMonthText').val(currentMonth-2);
                    $('.endYearText').val(currentYear);
                    var scorecardAjaxSetup = scorecardAjaxSetupFunction(data);
                });

                /*---------------------Ranking Predefined Reports-------------------------------*/

                var rankingPredefinedReportView = $('.ranking-predefined-report-view');
                rankingPredefinedReportView.hide();
                var asOnDateRanking = $('#ranking-predefined-report-1');
                asOnDateRanking.click(function($e) {
                    $e.preventDefault();
                    var title = 'As on date';
                    var data = {
                        selectedYear : currentYear,
                        title: title
                    };
                    var setRankingPredefinedAjaxSetup = setRankingPredefinedAjaxSetupFunction(data);
                });

                var firstQuarterRanking = $('#ranking-predefined-report-2');
                firstQuarterRanking.click(function($e) {
                    $e.preventDefault();
                    var title = 'Quarterly';
                    var data = {
                        selectedYear : currentYear,
                        title: title
                    };
                    var setRankingPredefinedAjaxSetup = setRankingPredefinedAjaxSetupFunction(data);
                });

                var firstHalfRanking = $('#ranking-predefined-report-3');
                firstHalfRanking.click(function($e) {
                    $e.preventDefault();
                    var title = 'Half-Yearly';
                    var data = {
                        selectedYear : currentYear,
                        title: title
                    };
                    var setRankingPredefinedAjaxSetup = setRankingPredefinedAjaxSetupFunction(data);
                });

                var lastTwoMonthsRanking = $('#ranking-predefined-report-4');
                lastTwoMonthsRanking.click(function($e) {
                    $e.preventDefault();
                    var title = 'Last two months';
                    var data = {
                        selectedYear : currentYear,
                        title: title
                    };
                    var setRankingPredefinedAjaxSetup = setRankingPredefinedAjaxSetupFunction(data);
                });

                function setRankingPredefinedAjaxSetupFunction(data) {
                    $.ajaxSetup({
                        global: false,
                        type: "post",
                        url: /*Routing.generate('archived_ranking_predefined_report'),*/ "archived_ranking_predefined_report",
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        data: data,
                        success: function (data) {
                            scorecardReportClass.hide();
                            archiveButtonId.hide();
                            archiveReportView.hide();
                            reportTableBodyId.empty();
                            var setOverallVesselGraph = setOverallVesselGraphFunction(data);
                            rankingPredefinedReportView.show();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                }

                function setOverallVesselGraphFunction(data) {
                    $('#area_predefined_ranking').highcharts({
                        chart: {
                            type: 'column',
                            width: 965,
                            height: 525
                        },
                        title: {
                            text: data.title
                        },
                        xAxis: {
                            categories: data.categories
                        },
                        yAxis: {
                            min: 0,
                            max: 100,
                            title: {
                                text: 'Month wise data'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: 100'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'percent',
                                dataLabels: {
                                    enabled: true,
                                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                    style: {
                                        textShadow: '0 0 3px black'
                                    }
                                }
                            }
                        },
                        series: data.series
                    });
                }
            });
        </script>

    {% endblock %}

    <section>
        <div class="col-sm-12">
            <div class="scorecard_report">
                <div class="view_report_screen">
                    <form class="form-horizontal no-style create-form" method="post">
                        <div class="scorecard_report_inner">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">Scorecard</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Month</label>
                                    <div class="col-xs-8">
                                    <span>
                                        <select class="add_rule_basic_date_drop activeMonth" name="activeMonth">
                                            <option>--</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                    </span>
                                    <span>
                                        <select class="add_rule_basic_year_drop activeYear" name="activeYear">
                                            <option selected="selected">--</option>
                                            {% for i in 2000..2020 %}
                                                <option value={{ i }}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                        To
                                    <span>
                                        <select class="add_rule_basic_date_drop endMonth" name="endMonth">
                                            <option>--</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                    </span>
                                    <span>
                                        <select class="add_rule_basic_year_drop endYear" name="endYear">
                                            <option selected="selected">--</option>
                                            {% for i in 2000..2020 %}
                                                <option value={{ i }}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Save Report</label>
                                    <div class="col-xs-8" >
                                        <input type="checkbox" class="scorecard_checkbox">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">&nbsp;</label>
                                    <div class="col-xs-8 report_submit_main">
                                        <a class="scorecard_submit report_submit" id="scorecard-submit-id" >View report</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="ranking_report">
                            <form class="form-horizontal no-style" method="post">
                                <div class="kpi_basic_details">
                                    <fieldset class="fieldset_box add_rule_form">
                                        <legend class="legend_name">Ranking</legend>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4">Vessel</label>
                                            <div class="col-xs-8">
                                            <span>
                                            <select required name="shipid" class="report_Vessel select-vessel">
                                                <option value="">--Select--</option>
                                                {% for vessel in vesselList %}
                                                    <option value="{{ vessel.id }} ">{{ vessel.shipName }}</option>
                                                {% endfor %}
                                            </select>
                                            </span>
                                                Year
                                            <span>
                                               <select required class="report_year select-year"  name="year">
                                                   <option selected="selected" value="">--</option>
                                                   {% for i in 2000..2020 %}
                                                       <option value={{ i }}>{{ i }}</option>
                                                   {% endfor %}
                                               </select>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4">Save Report</label>
                                            <div class="col-xs-8" >
                                                <input type="checkbox" class="ranking_checkbox">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4">&nbsp;</label>
                                            <div class="col-xs-8 report_submit_main">
                                                <a class="ranking_submit report_submit" id="ranking-submit-id" >View report</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div class="scorecard-predefined-report">
                            <form class="form-horizontal no-style" method="post">
                                <div class="scorecard_report_inner">
                                    <fieldset class="fieldset_box margin_small add_rule_form">
                                        <legend class="legend_name">Reports</legend>
                                        <div class="reports_list">
                                            <ul>
                                                <li><a id="scorecard-predefined-report-1">This month</a></li>
                                                <li><a id="scorecard-predefined-report-2">Quarterly</a></li>
                                                <li><a id="scorecard-predefined-report-3">Half-yearly</a></li>
                                                <li><a id="scorecard-predefined-report-4">Last two months</a></li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div class="scorecard-predefined-report">
                            <form class="form-horizontal no-style" method="post">
                                <div class="kpi_basic_details">
                                    <fieldset class="fieldset_box margin_small add_rule_form">
                                        <legend class="legend_name">Reports</legend>
                                        <div class="reports_list">
                                            <ul>
                                                <li><a id="ranking-predefined-report-1">This month</a></li>
                                                <li><a id="ranking-predefined-report-2">Quarterly</a></li>
                                                <li><a id="ranking-predefined-report-3">Half-yearly</a></li>
                                                <li><a id="ranking-predefined-report-4">Last two months</a></li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear_fix">
                <button class="submit_btn" id="archive-btn-id" style="margin-bottom: 10px;">Archived Reports</button>
            </div>
            <div id="archived-report-view">
                <div class="table-responsive">
                    <table class="table table-striped table_dividere data_import_list_table">
                        <thead>
                        <tr>
                            <th style="width:30%;" class="filename">Reports</th>
                            <th class="month">Report Type</th>
                            <th class="time">User Name</th>
                            <th class="month">Date</th>
                            <th class="option">Options</th>
                        </tr>
                        </thead>
                        <tbody id="report-table-body-id">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

    <section class="scorecard_report_view">
        <div class="col-sm-12">
            <div class="actions_report_top">
                <form class="form-horizontal no-style" action="{{ path('scorecard_report_pdfReport') }}" target="_blank" method="post">
                    <input type="hidden" class="activeMonthText" name="activeMonth" value="">
                    <input type="hidden" class="activeYearText" name="activeYear" value="">
                    <input type="hidden" class="endMonthText" name="endMonth" value="">
                    <input type="hidden" class="endYearText" name="endYear" value="">
                    <button type="submit" class="actions_report_btn" id="sendreportid">{{ 'ranking_report.print'|trans }}</button>
                </form>
                <a data-toggle="modal" class="actions_report_btn" href="" data-target="#myModal">{{ 'ranking_report.sendreport'|trans }}</a>
                <a class="actions_report_btn scorecard_view_back" style="cursor: pointer;">{{ 'ranking_report.back'|trans }}</a>
            </div>
            <div class="table-responsive rankingreport">
                <div class="dashboard">
                    <div>
                        <table class="table table-striped graph_and_colour_coding_dashboard_main_title_row" id="top">
                            <thead>
                            <tr>
                                <th>{{ heading }}</th>
                            </tr>
                            </thead>
                        </table>
                        <div id="previousScorecardTable"></div>
                    </div>
                </div>
                <div class="dashboard">
                    <table class="table table-striped normal_table">
                        <thead>
                        <tr>
                            <th>{{ heading }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="area"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="reportElementShow"></div>
            </div>
        </div>
    </section>

    <div class="reportElementShowSection">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog model_content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close_button" type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ 'elementranking.sendreport'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <form id="chatform" class="form-horizontal no-style" method="post">

                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.to'|trans }}</label>
                                <div class="col-xs-9">

                                    <input id="toemail" type="text" class="send_reports_to_input" name="clientemail"
                                           required>
                                    <div id="livesearchdiv" class="send_reports_to_input_list">
                                        <ul id="livesearch">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.mailbox'|trans }}</label>
                                <div class="col-xs-9">
                                    <textarea id="mycommentid" name="comment" required class="add_comment_textarea"
                                              placeholder="Enter comment here"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" id="sendmailid"
                                class="actions_report_btn">{{ 'kpiranking.send'|trans }}</button>
                    </div>

                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div>
    </div>

    <div class="ranking-report-view">
        <div id="resultofreport" class="col-md-12 users_advanced_list_views_screen ">
            <div class="actions_report_top">
                <form id="" class="form-horizontal no-style" action="{{ path('send_rankingreports') }}" target="_blank"  method="post">
                    <input type="hidden" id="sendreportshipid" name="shipid">
                    <input type="hidden" id="yearid" name="year">
                    <button type="submit" class="actions_report_btn" id="sendreportid-ranking" >{{ 'ranking_report.print'|trans }}</button>
                </form>
                <a data-toggle="modal" class="actions_report_btn" href="" data-target="#myModal">{{ 'ranking_report.sendreport'|trans }}</a>
                <a class="actions_report_btn scorecard_view_back" style="cursor: pointer;">{{ 'ranking_report.back'|trans }}</a>
            </div>
            <div id="listalltable" class="table-responsive rankingreport">
                <table class="table table-striped-4 element_ranking_main_title_row">
                    <thead>
                        <tr>
                            <th colspan="4">
                                {{ 'kpiranking.header'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>{{ 'kpiranking.veseelname'|trans }}</strong></td>
                            <td id="shipnameid"></td>
                            <td><strong>{{ 'kpiranking.techmanager'|trans }}</strong></td>
                            <td>V-ships</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'kpiranking.year'|trans }}</strong></td>
                            <td id="currentyearid"></td>
                            <td><strong>{{ 'kpiranking.ageofvessel'|trans }}</strong></td>
                            <td id="ageofvesselid"></td>
                        </tr>
                    </tbody>
                </table>
                <div id="tableofcontent"></div>
                <table id="shipchart" class="table table-striped normal_table">
                    <thead>
                        <tr>
                            <th id="graphtitle">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="area_ranking"></td>
                        </tr>
                    </tbody>
                </table>
                <div id="kpigraphlist"></div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog model_content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close_button" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ 'elementranking.sendreport'|trans }}</h4>
                    </div>
                    <div class="modal-body">

                        <form id="chatform" class="form-horizontal no-style" method="post">

                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.to'|trans }}</label>
                                <div class="col-xs-9">

                                    <input id="toemail" type="text" class="send_reports_to_input" name="clientemail" required>
                                    <div id="livesearchdiv"  class="send_reports_to_input_list">
                                        <ul id="livesearch">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.mailbox'|trans }}</label>
                                <div class="col-xs-9">
                                    <textarea id="mycommentid" name="comment" required class="add_comment_textarea" placeholder="Enter comment here"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" id="sendmailid" class="actions_report_btn">{{ 'kpiranking.send'|trans }}</button>
                    </div>

                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div>
    </div>

    <div class="ranking-predefined-report-view">
        <div id="resultofreport" class="col-md-12 users_advanced_list_views_screen ">
            <div class="actions_report_top">
                <form id="" class="form-horizontal no-style" action="{{ path('send_rankingreports') }}" target="_blank"  method="post">
                    <input type="hidden" id="sendreportshipid" name="shipid">
                    <input type="hidden" id="yearid" name="year">
                    <button type="submit" class="actions_report_btn" id="sendreportid-ranking" >{{ 'ranking_report.print'|trans }}</button>
                </form>
                <a data-toggle="modal" class="actions_report_btn" href="" data-target="#myModal">{{ 'ranking_report.sendreport'|trans }}</a>
                <a class="actions_report_btn scorecard_view_back" style="cursor: pointer;">{{ 'ranking_report.back'|trans }}</a>
            </div>
            <div id="listalltable" class="table-responsive rankingreport">
                <div id="tableofcontent"></div>
                <table id="shipchart" class="table table-striped normal_table">
                    {#<thead>
                    <tr>
                        <th id="graphtitle">Title</th>
                    </tr>
                    </thead>#}
                    <tbody>
                    <tr>
                        <td id="area_predefined_ranking"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="kpigraphlist"></div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog model_content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close_button" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ 'elementranking.sendreport'|trans }}</h4>
                    </div>
                    <div class="modal-body">

                        <form id="chatform" class="form-horizontal no-style" method="post">

                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.to'|trans }}</label>
                                <div class="col-xs-9">

                                    <input id="toemail" type="text" class="send_reports_to_input" name="clientemail" required>
                                    <div id="livesearchdiv"  class="send_reports_to_input_list">
                                        <ul id="livesearch">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-3">{{ 'elementranking.mailbox'|trans }}</label>
                                <div class="col-xs-9">
                                    <textarea id="mycommentid" name="comment" required class="add_comment_textarea" placeholder="Enter comment here"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" id="sendmailid" class="actions_report_btn">{{ 'kpiranking.send'|trans }}</button>
                    </div>

                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div>
    </div>



{% endblock %}
