{% extends 'base.html.twig' %}

{% block body %}
    <h1>ArchivedReport</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archivedReport.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ archivedReport.fileName }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ archivedReport.userId }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if archivedReport.dateTime %}{{ archivedReport.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archivedreport_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
