{% extends 'base.html.twig' %}

{% block body %}
    <h1>RankingRules</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rankingRule.id }}</td>
            </tr>
            <tr>
                <th>Kpidetailsid</th>
                <td>{{ rankingRule.kpiDetailsId }}</td>
            </tr>
            <tr>
                <th>Elementdetailsid</th>
                <td>{{ rankingRule.elementDetailsId }}</td>
            </tr>
            <tr>
                <th>Rules</th>
                <td>{{ rankingRule.rules }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rankingrules_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rankingrules_edit', { 'id': rankingRule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
