<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/pdf.css" rel="stylesheet">

    <link href="/css/ss-standard.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/AAA.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/highcharts.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/exporting.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/svg.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@InitialShippingBundle/Resources/public/js/highchart/drilldown.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var monthNameArray = new Array();
            {% for monthname in monthName %}
            monthNameArray.push("{{ monthname }}");
            {% endfor %}
            var key=0;
            {% set kpiCount=0 %}
            {% for kpi in kpiNameList %}
            var graphData = new Array();
            {% set month=0 %}
            {% for monthname in monthName %}
            graphData.push({{ elementLevelChartData[month][kpiCount] }});
            {% set month = month+1 %}
            {% endfor %}
            $('#'+{{ kpi.id }}).highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: monthNameArray
                },
                exporting: {"enabled":false},
                plotOptions: {"series":{"allowPointSelect":true,"dataLabels":{"enabled":true}}},
                series: [{
                    name: "{{ kpi.kpiName }}",
                    showInLegend:false,
                    data: graphData,
                    color: '#103a71'
                }],
                yAxis: {"max":3, "min":0}
            });
            key++;
            {% set kpiCount=kpiCount+1 %}
            {% endfor %}
            console.log(graphData);
        });
    </script>
    <title></title>
</head>
<body>
    <div class="certificate-wrapper">
        <div class="row-fluid">
            <div class="certificates_header clearfix">
                <div class="brand-title">
                    <div class="title">Management Performance</div>
                </div>
                <div class="brand-logo-2"><img src="/images/pioneer_logo.png"></div>
            </div>
            <section class="data-row-section top-margin-space">
                <table class="responsive-table certificates-table kpi_name_weightage_row">
                    <thead>
                        {% set i1=0 %}
                        <tr>
                            <th class="branding-colours kpi_name">KPI Name</th>
                            <th class="branding-colours weightage">Weightage</th>
                            {% for monthname in monthName %}
                                {% if i1 < monthName|length %}
                                    <th colspan="2" class="branding-colours">{{ monthname }}</th>
                                {% else %}
                                    <th class="branding-colours no-td-right-border">{{ monthname }}</th>
                                {% endif %}
                                {% set i1 = i1+1 %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% set i=0 %}
                        {% for kpi in kpiNameList %}
                        <tr>
                            <td class="">{{ kpi.kpiName }}</td>
                            <td class="">{{ kpi.weightage }}</td>
                            {% set j=0 %}
                            {% for monthname in monthName %}
                                <td class="month">
                                    {% if yearKpiColorArray[j][i]=="Green" %}
                                        <img src="/images/01_score_card.png" alt="Loader Image"/>
                                    {% elseif yearKpiColorArray[j][i]=="Red" %}
                                        <img src="/images/03_score_card.png" alt="Loader Image"/>
                                    {% elseif yearKpiColorArray[j][i]=="Yellow" %}
                                        <img src="/images/02_score_card.png" alt="Loader Image"/>
                                    {% endif %}
                                </td>
                                {% if j < monthName|length-1 %}
                                    {% set j1=j+1 %}
                                    <td class="month_difference">
                                        {% if yearKpiColorArray[j][i]|length != 0 and  yearKpiColorArray[j1][i]|length != 0 %}
                                            {% if yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Green" %}
                                                <img src="/images/straight_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Red" %}
                                                <img src="/images/down_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Green" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                <img src="/images/down_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Green" %}
                                                <img src="/images/up_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Red" %}
                                                <img src="/images/straight_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Red" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                <img src="/images/up_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Green" %}
                                                <img src="/images/up_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Red" %}
                                                <img src="/images/down_arrow.png">
                                            {% elseif yearKpiColorArray[j][i]=="Yellow" and yearKpiColorArray[j1][i]=="Yellow" %}
                                                <img src="/images/straight_arrow.png">
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% set j=j+1 %}
                            {% endfor %}
                            {% set i=i+1 %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section class="data-row-section top-margin-space">
                <table class="responsive-table certificates-table">
                    <thead>
                        <tr>
                            <th class="branding-colours thead-title-two-row no-td-right-border">Management Performance - Graph</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="area"></td>
                        </tr>
                    </tbody>
                </table>
            </section>


            {% set one=0 %}
            {% for kpi in kpiNameList %}
                <section class="data-row-section top-margin-space">
                    <table class="responsive-table certificates-table kpi_name_weightage_row">
                        <thead>
                            {% set i1=0 %}
                            <tr>
                                <th class="branding-colours kpi_name">Element Name</th>
                                <th class="branding-colours weightage">Weightage</th>
                                {% for monthname in monthName %}
                                    {% if i1 < monthName|length %}
                                        <th colspan="2" class="branding-colours">{{ monthname }}</th>
                                    {% else %}
                                        <th class="branding-colours no-td-right-border">{{ monthname }}</th>
                                    {% endif %}
                                    {% set i1 = i1+1 %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% set elementCountList=0 %}
                            {% for element in elementNameList[one] %}
                                <tr>
                                    <td class="">{{ element.elementName }}</td>
                                    <td class="">{{ element.weightage }}</td>
                                    {% set monthCountList=0 %}
                                    {% for monthname in monthName %}
                                        <td class="month">
                                            {% if elementColorArray[monthCountList][one]|length != 0 %}
                                                {% if elementColorArray[monthCountList][one][elementCountList]=="Green" %}
                                                    <img src="/images/01_score_card.png" alt="Loader Image"/>
                                                {% elseif elementColorArray[monthCountList][one][elementCountList]=="Red" %}
                                                    <img src="/images/03_score_card.png" alt="Loader Image"/>
                                                {% elseif elementColorArray[monthCountList][one][elementCountList]=="Yellow" %}
                                                    <img src="/images/02_score_card.png" alt="Loader Image"/>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        {% if monthCountList < monthName|length-1 %}
                                            {% set nextMonthCountList=monthCountList+1 %}
                                            <td class="month_difference">
                                                {% if elementColorArray[monthCountList][one]|length != 0 and elementColorArray[nextMonthCountList][one]|length != 0 %}
                                                    {% if elementColorArray[monthCountList][one][elementCountList]=="Green" and elementColorArray[nextMonthCountList][one][elementCountList]=="Green" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Green" and elementColorArray[nextMonthCountList][one][elementCountList]=="Red" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Green" and elementColorArray[nextMonthCountList][one][elementCountList]=="Yellow" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Red" and elementColorArray[nextMonthCountList][one][elementCountList]=="Green" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Red" and elementColorArray[nextMonthCountList][one][elementCountList]=="Red" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Red" and elementColorArray[nextMonthCountList][one][elementCountList]=="Yellow" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Yellow" and elementColorArray[nextMonthCountList][one][elementCountList]=="Green" %}
                                                        <img src="/images/up_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Yellow" and elementColorArray[nextMonthCountList][one][elementCountList]=="Red" %}
                                                        <img src="/images/down_arrow.png">
                                                    {% elseif elementColorArray[monthCountList][one][elementCountList]=="Yellow" and elementColorArray[nextMonthCountList][one][elementCountList]=="Yellow" %}
                                                        <img src="/images/straight_arrow.png">
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        {% set monthCountList=monthCountList+1 %}
                                    {% endfor %}
                                </tr>
                                {% set elementCountList=elementCountList+1 %}
                            {% endfor %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                {% set secondMonthCountList=0 %}
                                {% for monthname in monthName %}
                                    <td>&nbsp;</td>
                                    {% if secondMonthCountList < monthName|length-1 %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    {% set secondMonthCountList=secondMonthCountList+1 %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td><strong>{{ kpi.kpiName }}</strong></td>
                                <td><strong>100</strong></td>
                                {% set nextSecondMonthCountList=0 %}
                                {% for monthname in monthName %}
                                    <td>
                                        {% if yearKpiColorArray[nextSecondMonthCountList][one]=="Green" %}
                                            <img src="/images/01_score_card.png" alt="Loader Image"/>
                                        {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Red" %}
                                            <img src="/images/03_score_card.png" alt="Loader Image"/>
                                        {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Yellow" %}
                                            <img src="/images/02_score_card.png" alt="Loader Image"/>
                                        {% endif %}
                                    </td>
                                    {% if nextSecondMonthCountList < monthName|length-1 %}
                                        {% set nextMonthCountList=nextSecondMonthCountList+1 %}
                                        <td>
                                            {% if yearKpiColorArray[nextSecondMonthCountList][one]|length != 0 and  yearKpiColorArray[nextMonthCountList][one]|length != 0 %}
                                                {% if yearKpiColorArray[nextSecondMonthCountList][one]=="Green" and yearKpiColorArray[nextMonthCountList][one]=="Green" %}
                                                    <img src="/images/straight_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Green" and yearKpiColorArray[nextMonthCountList][one]=="Red" %}
                                                    <img src="/images/down_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Green" and yearKpiColorArray[nextMonthCountList][one]=="Yellow" %}
                                                    <img src="/images/down_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Red" and yearKpiColorArray[nextMonthCountList][one]=="Green" %}
                                                    <img src="/images/up_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Red" and yearKpiColorArray[nextMonthCountList][one]=="Red" %}
                                                    <img src="/images/straight_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Red" and yearKpiColorArray[nextMonthCountList][one]=="Yellow" %}
                                                    <img src="/images/up_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Yellow" and yearKpiColorArray[nextMonthCountList][one]=="Green" %}
                                                    <img src="/images/up_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Yellow" and yearKpiColorArray[nextMonthCountList][one]=="Red" %}
                                                    <img src="/images/down_arrow.png">
                                                {% elseif yearKpiColorArray[nextSecondMonthCountList][one]=="Yellow" and yearKpiColorArray[nextMonthCountList][one]=="Yellow" %}
                                                    <img src="/images/straight_arrow.png">
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    {% set nextSecondMonthCountList=nextSecondMonthCountList+1 %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="data-row-section top-margin-space">
                    <table class="responsive-table certificates-table">
                        <thead>
                        <tr>
                            <th class="branding-colours thead-title-two-row no-td-right-border">{{ kpi.kpiName }} - Graph</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="{{ kpi.id }}"></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                {% set one=one+1 %}
            {% endfor %}
        </div>
    </div>
</body>
</html>