{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}
        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/Element_rule_show_condition.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Edit Rules </h2>
            <a href="{{ path('rules_select') }}">Back to the list</a>
        </div>

        <div class="bs-example">

        <form class="form-horizontal no-style" action="{{ path('rules_edit1') }}" method="post">
            <div class="form-group">
                <label class="control-label col-xs-2">Kpi Name</label>
                <div class="col-xs-10">
                    {{ form_row(edit_form.kpiDetailsId,{'id' :'jsid'})}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Element Name</label>
                <div class="col-xs-10">
                    {{ form_row(edit_form.elementDetailsId,{'id' :'element'})}}
                </div>
            </div>
            <div class="form-group">
               {# <label class="control-label col-xs-2">Rule</label>#}
                <div class="col-xs-10">
                    {{ form_row(edit_form.rules,{'id' :'result'}) }}
                </div>
            </div>
            <div id="conditions"></div>
            <div id="actions"></div>
            <input type="hidden" name="id" id="id" value="{{ rule.id }}">
            <div id="rule_edit_button"></div>

            <table id="rule-table">
                <tr id="row_id">
                    <th>Condition</th>
                    <th>Color</th>
                </tr>
            </table>

            <div id="rule_obj_text"></div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Update" id="edit_submit">
            </div>

        </form>

    {% endblock %}
            </div>
{% endblock %}