{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
        <h2>Rules List</h2>
        <a href="{{ path('rules_new') }}">Create Rule</a>
    </div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Kpidetailsid</th>
            <th>Elementdetailsid</th>
            <th>Rules</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
            <tr>
                <td>{{ rule.kpiDetailsId }}</td>
                <td>{{ rule.elementDetailsId }}</td>
                <td>{{ rule.rules }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rules_show', { 'id': rule.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('rules_edit', { 'id': rule.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
{% endblock %}