{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/sample.js'
        %}

        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <h1>Rules creation</h1>

        <form action="{{ path('rules_new1') }}" method="post">
            {{ form_row(form.kpiDetailsId,{'id' :'jsid'}) }}
            {{ form_row(form.elementDetailsId,{'id' :'element'}) }}
            {{ form_row(form.rules,{'id' :'result'}) }}

            <table id="rule-table">

            </table>

            <div id="conditions"></div>
            <div id="actions"></div>
            <p id="text_box"></p>

            <input type="hidden" size="2" id="ageField">

            <input type="submit" value="Create" id="submit_id" />
        </form>


        <ul>
            <li>
                <a href="{{ path('rules_select') }}">Back to the list</a>
            </li>
        </ul>
    {% endblock %}
{% endblock %}