{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rules</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rule.id }}</td>
            </tr>
            <tr>
                <th>Kpidetailsid</th>
                <td>{{ rule.kpiDetailsId }}</td>
            </tr>
            <tr>
                <th>Elementdetailsid</th>
                <td>{{ rule.elementDetailsId }}</td>
            </tr>
            <tr>
                <th>Rules</th>
                <td>{{ rule.rules }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rules_select') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rules_edit', { 'id': rule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
