{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/ShowDemo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/disable.js'
        %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

        <h1>Rules</h1>

    <table>
        <tbody>
            <tr>
                <th>Kpidetailsid</th>
                <td>{{ rule.kpiDetailsId }}</td>
            </tr>
            <tr>
                <th>Elementdetailsid</th>
                <td>{{ rule.elementDetailsId }}</td>
            </tr>

        </tbody>
    </table>

        <input type="hidden" id="result" value="{{ rule.rules }}">

        <div id="conditionsedit" disabled="true"></div>
        <div id="actionsedit"></div>

    <ul>
        <li>
            <a href="{{ path('rules_select') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rules_edit', { 'id': rule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% endblock %}
