{% extends 'base.html.twig' %}

{% block body %}
    <h1>RankingElementDetails</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rankingElementDetail.id }}</td>
            </tr>
            <tr>
                <th>Kpidetailsid</th>
                <td>{{ rankingElementDetail.kpiDetailsId }}</td>
            </tr>
            <tr>
                <th>Elementname</th>
                <td>{{ rankingElementDetail.elementName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rankingElementDetail.description }}</td>
            </tr>
            <tr>
                <th>Cellname</th>
                <td>{{ rankingElementDetail.cellName }}</td>
            </tr>
            <tr>
                <th>Celldetails</th>
                <td>{{ rankingElementDetail.cellDetails }}</td>
            </tr>
            <tr>
                <th>Activedate</th>
                <td>{% if rankingElementDetail.activeDate %}{{ rankingElementDetail.activeDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if rankingElementDetail.endDate %}{{ rankingElementDetail.endDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Weightage</th>
                <td>{{ rankingElementDetail.weightage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rankingelementdetails_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rankingelementdetails_edit', { 'id': rankingElementDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
