{% extends 'base.html.twig' %}

{% block body %}
    <h1>KpiRules</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kpiRule.id }}</td>
            </tr>
            <tr>
                <th>Rules</th>
                <td>{{ kpiRule.rules }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kpirules_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kpirules_edit', { 'id': kpiRule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
