{% extends 'base.html.twig' %}

{% block body %}


    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Ship Details</h2>
            <a href="{{ path('shipdetails_new') }}">Create ships</a>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ship Name</th>

                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for shipDetail in shipDetails %}
                <tr>
                    <td>{{ shipDetail.shipName }}</td>
                    <td>{{ shipDetail.description }}</td>
                    <td>
                        <a href="{{ path('shipdetails_show', { 'id': shipDetail.id }) }}">show</a>
                        {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('shipdetails_edit', { 'id': shipDetail.id }) }}">edit</a>
                        {% endif %}

                        <a href="{{ path('kpidetails_select', { 'id': shipDetail.id }) }}">Available kpi's</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}



