{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function()
            {
                var boxIcon = $('.box_icon');
                var listIcon = $('.list_icon');
                var gridView = $('#grid_view');
                var listView = $('#list_view');
                var createForm = $('.create-form');
                var createView = $('.create_view');
                var showShipView = $('.show_ship_view');
                var editShip = $('.Edit_ship');
                var statusText = $('#status-text');

                boxIcon.hide();
                createView.show();
                listView.hide();
                showShipView.hide();
                editShip.hide();

                boxIcon.click(function ($e) {
                    $e.preventDefault();
                    listView.hide();
                    showShipView.hide();
                    boxIcon.hide();
                    gridView.show();
                    listIcon.show();
                    createView.show();
                });

                listIcon.click(function ($e) {
                    $e.preventDefault();
                    boxIcon.show();
                    gridView.hide();
                    editShip.hide();
                    showShipView.hide();
                    listIcon.hide();
                    createView.hide();
                    listView.show();
                });

                var addButton = $('.add_btn');
                addButton.live("click", function ($e) {
                    $e.preventDefault();
                    listView.hide();
                    showShipView.hide();
                    createView.show();
                    gridView.show();

                });

                var cancelButton = $('.cancel_btn');
                cancelButton.live("click", function ($e) {
                    $e.preventDefault();
                    gridView.show();
                    createForm[0].reset();
                });

                var editShipButton = $('.edit_ship_button');
                editShipButton.live("click",function($e) {
                    $e.preventDefault();
                    showShipView.hide();
                    editShip.show();
                });

                var editCancelButton = $('.edit_cancel_btn');
                editCancelButton.live("click",function($e) {
                    $e.preventDefault();
                    editShip.hide();
                    showShipView.show();
                });

                var count =0;
                var shipList = $('.ship_class');
                shipList.live("click",function($e) {
                    $e.preventDefault();
                    createView.hide();
                    count++;
                    var currentId = $(this).attr('id');
                    var data = {'Id':currentId};
                    if(count>1) {
                        editShip.hide();
                        var emptyShipDetails = emptyShipDetailsFunction(data);
                    }
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url: "ajax_show",
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                        },
                        complete: function () {
                            var setAjaxComplete = setAjaxCompleteFunction();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            var setShowShipValues = setShowShipValuesFunction(data);
                            var setEditShipValues = setEditShipValuesFunction(data);
                            var successDetails = successFunction(data);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    showShipView.show();
                });

                var shipNameText = $('.ship_name');
                var shipTypeText = $('.ship_type');
                var shipImoNumber = $('.ship_ImoNumber');
                var shipLocation = $('.ship_Location');
                var shipCountry = $('.ship_Country');
                var shipBuilt = $('.ship_Built');
                var shipSize = $('.ship_size');
                var shipGt = $('.ship_GT');
                var shipManufacturingYear = $('.ship_manufacturingYear');
                var shipDescription = $('.ship_description');

                function emptyShipDetailsFunction(data){
                    shipNameText.empty();
                    shipTypeText.empty();
                    shipImoNumber.empty();
                    shipLocation.empty();
                    shipCountry.empty();
                    shipBuilt.empty();
                    shipSize.empty();
                    shipGt.empty();
                    shipManufacturingYear.empty();
                    shipDescription.empty();
                    statusText.empty();
                }

                function setShowShipValuesFunction(data) {
                    shipNameText.append(data.Ship_detail[0].shipName);
                    shipTypeText.append(data.ship_type[0].shipType);
                    shipImoNumber.append(data.Ship_detail[0].imoNumber);
                    shipLocation.append(data.Ship_detail[0].location);
                    shipCountry.append(data.country_name[0].countryName);
                    shipBuilt.append(data.Ship_detail[0].built);
                    shipSize.append(data.Ship_detail[0].size);
                    shipGt.append(data.Ship_detail[0].gt);
                    shipManufacturingYear.append(data.Ship_detail[0].manufacturingYear);
                    shipDescription.append(data.Ship_detail[0].description);
                    var setShipStatus = setShipStatusFunction(data);
                }

                var statusId = $('#statusId');
                function setShipStatusFunction(data) {
                    if(data.shipStatus=="Active") {
                        statusId.removeClass("status_0 ss-delete");
                        statusId.addClass("status_1 ss-check");
                    }
                    else if(data.shipStatus=="Inactive") {
                        statusId.removeClass("status_1 ss-check");
                        statusId.addClass("status_0 ss-delete");
                    }
                }

                var editShipName = $('.edit_ship_name');
                var editShipId = $('.edit_ship_id');
                var editShipImoNumber = $('.edit_ship_imoNumber');
                var editShipLocation = $('.edit_ship_location');
                var editShipBuilt = $('.edit_ship_built');
                var editShipSize = $('.edit_ship_size');
                var editShipGt = $('.edit_ship_gt');
                var editShipManufacturingYear = $('.edit_ship_manufacturingYear');
                var editShipDescription = $('.edit_ship_description');
                var editShipType = $('.edit_ship_type');
                var editShipCountry = $('.edit_ship_country');

                function setEditShipValuesFunction(data) {
                    editShipName.val(data.Ship_detail[0].shipName);
                    editShipId.val(data.Ship_detail[0].id);
                    editShipImoNumber.val(data.Ship_detail[0].imoNumber);
                    editShipLocation.val(data.Ship_detail[0].location);
                    editShipBuilt.val(data.Ship_detail[0].built);
                    editShipSize.val(data.Ship_detail[0].size);
                    editShipGt.val(data.Ship_detail[0].gt);
                    editShipManufacturingYear.val(data.Ship_detail[0].manufacturingYear);
                    editShipDescription.val(data.Ship_detail[0].description);
                }

                function successFunction(data) {
                    $.each(data.shipType_array,function(index) {
                        var $option = $('<option>').append(data.shipType_array[index]['shipType']).val(data.shipType_array[index]['id']).appendTo('.edit_ship_type');

                    });
                    $.each(data.countryName_array,function(index){
                        var $country_option = $('<option>').append(data.countryName_array[index]['countryName']).val(data.countryName_array[index]['id']).appendTo('.edit_ship_country');

                    });
                    editShipType.val(data.ship_type[0].id);
                    editShipCountry.val(data.country_name[0].id);
                }

                var editSubmitButton = $('.edit_submit_btn');
                editSubmitButton.live("click",function($e) {
                    $e.preventDefault();
                    var emptyShipDetails = emptyShipDetailsFunction(data);
                    var data = {
                        Id :editShipId.val(),
                        shipName:editShipName.val(),
                        imoNumber:editShipImoNumber.val(),
                        location:editShipLocation.val(),
                        built:editShipBuilt.val(),
                        size:editShipSize.val(),
                        gt:editShipGt.val(),
                        manufacturingYear:editShipManufacturingYear.val(),
                        description:editShipDescription.val(),
                        shipType:editShipType.val(),
                        country:editShipCountry.val()
                    };
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:"ajax_edit",
                        data: data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                        },
                        complete: function () {
                            var setAjaxComplete = setAjaxCompleteFunction();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            var setShowShipValues = setShowShipValuesFunction(data);
                            var setEditShipValues = setEditShipValuesFunction(data);
                            var successDetails = successFunction(data);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    editShip.hide();
                    showShipView.show();
                });

                var archiveButton = $('.archive_btn');
                archiveButton.live("click",function($e) {
                    $e.preventDefault();
                    var data = {'Id' :editShipId.val()};
                    $.ajaxSetup({
                        global: false,
                        data: data,
                        type:"POST",
                        url:"ajax_status",
                        beforeSend: function () {
                            var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                        },
                        complete: function () {
                            var setAjaxComplete = setAjaxCompleteFunction();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            if(data.status[0].status == 1) {
                                statusText.removeClass("red");
                                statusText.text(data.shipName + " is Activated...").addClass(" status-text green");
                                statusId.removeClass("status_0 ss-delete");
                                statusId.addClass("status_1 ss-check");
                            }
                            else if(data.status[0].status == 0) {
                                statusText.removeClass("green");
                                statusText.text(data.shipName + " is Inactivated...").addClass("status-text red");
                                statusId.removeClass("status_1 ss-check");
                                statusId.addClass("status_0 ss-delete");
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    })
                });

                var shipOption = $('#shipId option');
                var check = $('.check');
                check.live("click",function($e){
                    $e.preventDefault();
                    if(check.is(':checked')==true) {
                        shipOption.attr('selected', 'selected');
                    }
                    else {
                        shipOption.attr('selected', false);
                    }
                });

                var statusActive = $('.status_active');
                var statusInactive = $('.status_inactive');
                var activePlace = $('.activePlace');
                var activeVessels = $('.active_vessels');
                var mainVesselsShow = $('.main_vessels_show');
                statusActive.live("click",function() {
                    statusInactive.not('.status_active').removeAttr('checked');
                    activePlace.empty();
                    if(statusActive.is(':checked')==true) {
                        var data = {'Id' : 1};
                        $.ajaxSetup({
                            global: false,
                            type:"POST",
                            url:"ajax_status_show",
                            data:data,
                            beforeSend: function () {
                                var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                            },
                            complete: function () {
                                var setAjaxComplete = setAjaxCompleteFunction();
                            }
                        });
                        $.ajax({
                            success: function(data) {
                                var statusEmpty = statusEmptyFunction(data);
                                $.each(data.ship_details, function(i) {
                                    var spanPlace = $('<div>').attr({'class':'users_list_grid'}).append(
                                            $('<span>').attr({'class':'users_name_row'}).append(
                                                    $('<span>').attr({'class':'name'}).append(
                                                            $('<a>'+data.ship_details[i][0]['shipName']+'</a>').attr({'class':'ship_class','id':data.ship_details[i][0]['id']})
                                                    ),
                                                    $('<span>').attr({'class':'text'}).text(data.ship_type[i][0]['shipType'])
                                            )
                                    ).appendTo('.activePlace');
                                });
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    }
                    else {
                        activeVessels.hide();
                        mainVesselsShow.show();
                    }
                });

                var nameSelect = $('.name_select');
                var textSelect = $('.text_select');
                function statusEmptyFunction(data) {
                    nameSelect.empty();
                    textSelect.empty();
                    mainVesselsShow.hide();
                    activeVessels.show();
                }

                statusInactive.live("click",function() {
                    statusActive.not('.status_inactive').removeAttr('checked');
                    activePlace.empty();
                    if(statusInactive.is(':checked')==true) {
                        var data = {'Id' : 0};
                        $.ajaxSetup({
                            global: false,
                            type:"POST",
                            url:"ajax_status_show",
                            data:data,
                            beforeSend: function () {
                                var setAjaxBeforeSend = setAjaxBeforeSendFunction();
                            },
                            complete: function () {
                                var setAjaxComplete = setAjaxCompleteFunction();
                            }
                        });
                        $.ajax({
                            success: function(data) {
                                var statusEmpty = statusEmptyFunction(data);
                                $.each(data.ship_details, function(i) {
                                    var spanPlace = $('<div>').attr({'class':'users_list_grid'}).append(
                                            $('<span>').attr({'class':'users_name_row'}).append(
                                                    $('<span>').attr({'class':'name'}).append(
                                                            $('<a>'+data.ship_details[i][0]['shipName']+'</a>').attr({'class':'ship_class','id':data.ship_details[i][0]['id']})
                                                    ),
                                                    $('<span>').attr({'class':'text'}).text(data.ship_type[i][0]['shipType'])
                                            )
                                    ).appendTo('.activePlace');
                                });
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    }
                    else {
                        activeVessels.hide();
                        mainVesselsShow.show();
                    }
                });

                var showCheckBox = $('#showCheckbox');
                var activeInactiveCheckBox = $('#active_inactive_checkbox');
                showCheckBox.click(function ($e) {
                    $e.preventDefault();
                    activeInactiveCheckBox.toggleClass('opened');
                });
                $(document).click(function (e) {
                    if (!$(e.target).parents().andSelf().is('#showCheckbox')) {
                        activeInactiveCheckBox.removeClass("opened");
                    }
                });

                function setAjaxBeforeSendFunction() {
                    var text = '';
                    if ($('body').find('#resultLoading').attr('id') != 'resultLoading') {
                        $('body').append('<div id="resultLoading" style="display:none"><div><img src="/images/ajax-loader.gif"><div>' + text + '</div></div><div class="bg"></div></div>');
                    }

                    $('#resultLoading').css({
                        'width': '100%',
                        'height': '100%',
                        'position': 'fixed',
                        'z-index': '10000000',
                        'top': '0',
                        'left': '0',
                        'right': '0',
                        'bottom': '0',
                        'margin': 'auto'
                    });

                    $('#resultLoading .bg').css({
                        'background': '#000000',
                        'opacity': '0.7',
                        'width': '100%',
                        'height': '100%',
                        'position': 'absolute',
                        'top': '0'
                    });

                    $('#resultLoading>div:first').css({
                        'width': '250px',
                        'height': '75px',
                        'text-align': 'center',
                        'position': 'fixed',
                        'top': '0',
                        'left': '0',
                        'right': '0',
                        'bottom': '0',
                        'margin': 'auto',
                        'font-size': '16px',
                        'z-index': '10',
                        'color': '#ffffff'
                    });

                    $('#resultLoading .bg').height('100%');
                    $('#resultLoading').fadeIn(300);
                    $('body').css('cursor', 'wait');
                }

                function setAjaxCompleteFunction() {
                    $('#resultLoading .bg').height('100%');
                    $('#resultLoading').fadeOut(300);
                    $('body').css('cursor', 'default');
                }
            });
        </script>

    {% endblock%}

    <div id="grid_view">
        <section>
            <div class="col-sm-3 users_views">
                <div class="add_user_btn_main">
                    <span class="user_btn_main"><a href="" class="ss-plus add_btn"> Add Vessel</a></span>
                    <span class="user_btn_main"><a href="" id="showCheckbox" class="show_btn" >Show <span class="show_dropdown_icon"><span class="ss-dropdown">&nbsp;</span></span></a></span>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon" >&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon" >&nbsp;</a></span>
                        </span>
                </div>
                <div class="users_list_main"><span>Ship ({{ ship_count }})</span> <span class="show_dropdown_icon">&nbsp;</span></div>
                <div class="email_group_show_drap" id="active_inactive_checkbox" onblur="myfunction()" >
                    <ul id="ul_active_inactive_checkbx">
                        <li><input type="checkbox" class="inline-checkbox status_active">Active Ships</li>
                        <li><input type="checkbox" class="inline-checkbox status_inactive">Inactive Ships</li>
                    </ul>
                </div>
                <div class="users_list_grid_main">
                    <div class="main_vessels_show">
                        <div class="initail_ship_name_show">
                            {% for shipDetail in shipDetails %}
                                <div class="users_list_grid">
                                    <span class="users_name_row">
                                    <span class="name"><a href="" class="ship_class" id={{ shipDetail.id }} ><span class="name_place">{{ shipDetail.shipName }}</span></a> </span>
                                    <span class="text">{{ shipDetail.shipType }}</span>
                                 </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="active_vessels">
                        <div class="initail_ship_name_show activePlace">
                            <div class="users_list_grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="list_view">
        <section>
            <div class="users_advanced_list_views_screen">
                <div class="">
                    <div class="add_user_btn_main">
                        <span class="user_btn_main"><a href="" class="ss-plus add_btn"> Add Vessel</a></span>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon" >&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon" >&nbsp;</a></span>
                         </span>
                    </div>
                    <div class="spacing"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Vessel Name</th>
                                <th>Vessel Type</th>
                                <th>IMO Number</th>
                                <th>Location</th>
                                <th>Ship Yard</th>
                                <th>Size</th>
                                <th>GT</th>
                                <th>M.F Year</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set count=0 %}
                            {% for shipDetail in shipDetails %}
                                <tr>
                                    <td style="color: black">{{ shipDetail.shipName }}</td>
                                    <td>{{ shipDetail.shipType }}</td>
                                    <td>{{ shipDetail.imoNumber }}</td>
                                    <td>{{ shipDetail.location }}</td>
                                    <td>{{ shipDetail.built }}</td>
                                    <td>{{ shipDetail.size }}</td>
                                    <td>{{ shipDetail.gt }}</td>
                                    <td>{{ shipDetail.manufacturingYear }}</td>
                                    {% if shipStatus[count]=="Active" %}
                                        <td style="color: green">{{ shipStatus[count]}}</td>
                                    {% else %}
                                        <td style="color: red">{{ shipStatus[count]}}</td>
                                    {% endif %}
                                </tr>
                                {% set count=count+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="create_view">

        <section>
            <div class="col-sm-12">
                <div class="add_new_users_views_screen">
                    <h2>Add Vessel</h2>
                    <form class="form-horizontal no-style create-form" action="{{ path('shipdetails_new1') }}" method="post">
                        <div class="kpi_basic_details">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">Basic Info</legend>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Vessel Name</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.shipName,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Vessel Type</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.shipType,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>IMO Number</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.imoNumber,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Country</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.country,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Location</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.location,{'label': ' '}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset_box">
                                <legend class="legend_name">Specification</legend>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Ship Yard</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.built,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Size</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.size,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>GT</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.gt,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>Manufacturing Year</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.manufacturingYear,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>Description</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.description,{'label': ' '}) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="actions_submit">
                            <button class="submit_btn create-button" >Add</button>
                            <button class="cancel_btn" type="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>


    <div class="show_ship_view">
        <section>
            <div class="col-sm-11">
                <div class="view_new_user_screen_2 form_view_screen">
                    <div class="actions_edit_button">
                        <a href="" class="edit_btn edit_ship_button"> Edit</a>
                        <a href="" class="edit_btn active_btn archive_btn">Active / Inactive</a>
                    </div>
                    <div id="status-text"> </div>
                    <div class="status_field">
                        <span><div id="statusId"></div></span>
                        <div>Status</div>
                    </div>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">Basic Info</legend>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Vessel Name :</label>
                            <label class="form_input ship_name"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Vessel Type :</label>
                            <label class="form_input ship_type"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">IMO Number :</label>
                            <label class="form_input ship_ImoNumber"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Country:</label>
                            <label class="form_input ship_Country"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Location:</label>
                            <label class="form_input ship_Location"></label>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">Specification</legend>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Ship Yard:</label>
                            <label class="form_input ship_Built"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Size:</label>
                            <label class="form_input ship_size"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">GT:</label>
                            <label class="form_input ship_GT"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Manufacturing Year:</label>
                            <label class="form_input ship_manufacturingYear"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">Description:</label>
                            <label class="form_input ship_description"></label>
                        </div>
                        <input type="hidden"  id="kpi_id_reference_text"  name="kpi_id_reference_text" value="">
                    </fieldset>
                </div>
            </div>
        </section>
    </div>

    <div class="Edit_ship">
        <section>
            <div class="col-sm-11">
                <div class="add_new_users_views_screen">
                    <h2>Vessel Edit</h2>
                    <div class="add_new_users_form">
                        <fieldset class="fieldset_box">
                            <legend class="legend_name">Basic Info</legend>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Vessel Name</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_name" value="" placeholder="">
                                    <input type="hidden" class="edit_ship_id" value="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Vessel Type</label>
                                <div class="col-xs-8">
                                    <select class="edit_ship_type">
                                        <option selected>--Select Vessel Type--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">IMO Number</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_imoNumber" value="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Country</label>
                                <div class="col-xs-8">
                                    <select class="edit_ship_country">
                                        <option selected>--Select Country--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Location</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_location" value="" placeholder="">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset_box">
                            <legend class="legend_name">Specification</legend>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Ship Yard</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_built" value="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Size</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_size" value="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">GT</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_gt" value="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Manufaturing Year</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_manufacturingYear" value="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label required_field col-xs-4">Description</label>
                                <div class="col-xs-8">
                                    <input type="text" class="edit_ship_description" value="" placeholder="">
                                </div>
                            </div>
                        </fieldset>
                        <div class="actions_submit">
                            <button class=" submit_btn edit_submit_btn">Save</button>
                            <button class="cancel_btn edit_cancel_btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}