{% extends 'base.html.twig' %}

{% block body %}
    <h1>ShipDetails list</h1>

    <table>
        <thead>
            <tr>
                {%  if is_granted("ROLE_ADMIN") %}
                    <th>Id</th>
                {% endif %}
                <th>ShipName</th>
                <th>CompanyName</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shipDetail in shipDetails %}
            <tr>
                {%if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('shipdetails_show', { 'id': shipDetail.id }) }}">{{ shipDetail.id }}</a></td>
                {% endif %}
                <td>{{ shipDetail.shipName }}</td>
                <td>{{ shipDetail.companyDetailsId }}</td>
                <td>{{ shipDetail.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('shipdetails_show', { 'id': shipDetail.id }) }}">show</a>
                        </li>
                        {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('shipdetails_edit', { 'id': shipDetail.id }) }}">edit</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('kpidetails_select', { 'id': shipDetail.id }) }}">Available kpi's</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%  if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
        <ul>
            <li>
                <a href="{{ path('shipdetails_new') }}">Create a new entry</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
