{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function()
            {
                var boxIcon = $('.box_icon');
                var listIcon = $('.list_icon');
                var gridView = $('#grid_view');
                var listView = $('#list_view');
                var createForm = $('.create-form');
                var createView = $('.create_view');
                var showShipView = $('.show_ship_view');
                var editShip = $('.Edit_ship');
                var statusText = $('#status-text');
                var editShipName = $('.edit_ship_name');
                var editShipId = $('.edit_ship_id');
                var editShipImoNumber = $('.edit_ship_imoNumber');
                var editShipLocation = $('.edit_ship_location');
                var editShipBuilt = $('.edit_ship_built');
                var editShipSize = $('.edit_ship_size');
                var editShipGt = $('.edit_ship_gt');
                var editShipManufacturingYear = $('.edit_ship_manufacturingYear');
                var editShipDescription = $('.edit_ship_description');
                var editShipType = $('.edit_ship_type');
                var editShipCountry = $('.edit_ship_country');
                var shipReferenceName;
                var imoReferenceName;
                var vesselPrintId = $('#vessel-print-id');

                boxIcon.hide();
                createView.show();
                listView.hide();
                showShipView.hide();
                editShip.hide();

                boxIcon.click(function ($e) {
                    $e.preventDefault();
                    listView.hide();
                    showShipView.hide();
                    boxIcon.hide();
                    gridView.show();
                    listIcon.show();
                    createView.show();
                });

                listIcon.click(function ($e) {
                    $e.preventDefault();
                    boxIcon.show();
                    gridView.hide();
                    editShip.hide();
                    showShipView.hide();
                    listIcon.hide();
                    createView.hide();
                    listView.show();
                });

                var addButton = $('.add_btn');
                addButton.live("click", function ($e) {
                    $e.preventDefault();
                    listView.hide();
                    showShipView.hide();
                    editShip.hide();
                    createView.show();
                    gridView.show();

                });

                var cancelButton = $('.cancel_btn');
                cancelButton.live("click", function ($e) {
                    $e.preventDefault();
                    gridView.show();
                    createForm[0].reset();
                });

                var editShipButton = $('.edit_ship_button');
                editShipButton.live("click",function($e) {
                    $e.preventDefault();
                    shipReferenceName = editShipName.val();
                    imoReferenceName = editShipImoNumber.val();
                    showShipView.hide();
                    editShip.show();
                });

                var editCancelButton = $('.edit_cancel_btn');
                editCancelButton.live("click",function($e) {
                    $e.preventDefault();
                    var editErrorEmptyValues =editErrorEmptyValuesFunction();
                    editShip.hide();
                    showShipView.show();
                });

                var vesselCreateTextId = $('#vessel-id');
                var createVesselErrorMsg = $('#create-vessel-error');
                vesselCreateTextId.change(function($e) {
                    $e.preventDefault();
                    var data = {'shipName':vesselCreateTextId.val()};
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:"check_vesselName",/*Routing.generate('shipdetails_check_vessel'),*/
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            createVesselErrorMsg.empty();
                            if(data.vessel==data.status) {
                                createVesselErrorMsg.text("Vessel name is already registered !");
                                vesselCreateTextId.focus();
                                return false;
                            }
                            if(!$.trim(vesselCreateTextId.val())) {
                                createVesselErrorMsg.text('Vessel name cannot be empty !');
                                vesselCreateTextId.focus();
                                return false;
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                });

                editShipName.change(function($e) {
                    $e.preventDefault();
                    var data = {'shipName':editShipName.val()};
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:"check_vesselName",/*Routing.generate('shipdetails_check_vessel'),*/
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            editVesselError.empty();
                            if(data.vessel==data.status && shipReferenceName!=editShipName.val()) {
                                editVesselError.text("Vessel name is already registered !");
                                editShipName.focus();
                                return false;
                            }
                            if(!$.trim(editShipName.val())) {
                                editVesselError.text('Vessel name cannot be empty !');
                                editShipName.focus();
                                return false;
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                });

                var createImoId = $('#imo-id');
                var createImoErrorMsg = $('#create-imo-error');
                createImoId.change(function($e) {
                    $e.preventDefault();
                    var data = {'imoNumber':createImoId.val()};
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:"check_imoNumber",/*Routing.generate('shipdetails_check_imo'),*/
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            createImoErrorMsg.empty();
                            if(data.imoNumber==data.status) {
                                createImoErrorMsg.text("Imo number is already registered !");
                                createImoId.focus();
                                return false;
                            }
                            if(!$.trim(createImoId.val())) {
                                createImoErrorMsg.text('Imo number cannot be empty !');
                                createImoId.focus();
                                return false;
                            }
                            if(createImoId.val().length != data.imo_length) {
                                createImoErrorMsg.text("Imo number is not correct !");
                                createImoId.focus();
                                return false;
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                });

                var editImoErrorMsg = $('#edit-imo-error');
                editShipImoNumber.change(function($e) {
                    $e.preventDefault();
                    var data = {'imoNumber':editShipImoNumber.val()};
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:"check_imoNumber",/*Routing.generate('shipdetails_check_vessel'),*/
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            editImoErrorMsg.empty();
                            if(data.imoNumber==data.status && imoReferenceName!=editShipImoNumber.val()) {
                                editImoErrorMsg.text("Imo number is already registered !");
                                editShipImoNumber.focus();
                                return false;
                            }
                            if(!$.trim(editShipImoNumber.val())) {
                                editImoErrorMsg.text('Imo number cannot be empty !');
                                editShipImoNumber.focus();
                                return false;
                            }
                            if(editShipImoNumber.val().length != data.imo_length) {
                                editImoErrorMsg.text("Imo number is not correct !");
                                editShipImoNumber.focus();
                                return false;
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                });

                var count =0;
                var shipList = $('.ship_class');
                shipList.live("click",function($e) {
                    $e.preventDefault();
                    var editErrorEmptyValues =editErrorEmptyValuesFunction();
                    createView.hide();
                    count++;
                    var currentId = $(this).attr('id');
                    var data = {'Id':currentId};
                    if(count>1) {
                        editShip.hide();
                        var emptyShipDetails = emptyShipDetailsFunction(data);
                    }
                    $.ajaxSetup({
                        global: false,
                        type:"POST",
                        url:Routing.generate('shipdetails_ajax_show'),/*"ajax_show",*/
                        data:data,
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            var setShowShipValues = setShowShipValuesFunction(data);
                            var setEditShipValues = setEditShipValuesFunction(data);
                            var successDetails = successFunction(data);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    showShipView.show();
                });

                var shipNameText = $('.ship_name');
                var shipTypeText = $('.ship_type');
                var shipImoNumber = $('.ship_ImoNumber');
                var shipLocation = $('.ship_Location');
                var shipCountry = $('.ship_Country');
                var shipBuilt = $('.ship_Built');
                var shipSize = $('.ship_size');
                var shipGt = $('.ship_GT');
                var shipManufacturingYear = $('.ship_manufacturingYear');
                var shipDescription = $('.ship_description');

                function emptyShipDetailsFunction(data){
                    shipNameText.empty();
                    shipTypeText.empty();
                    shipImoNumber.empty();
                    shipLocation.empty();
                    shipCountry.empty();
                    shipBuilt.empty();
                    shipSize.empty();
                    shipGt.empty();
                    shipManufacturingYear.empty();
                    shipDescription.empty();
                    statusText.empty();
                }

                function setShowShipValuesFunction(data) {
                    shipNameText.append(data.Ship_detail[0].shipName);
                    shipTypeText.append(data.ship_type[0].shipType);
                    shipImoNumber.append(data.Ship_detail[0].imoNumber);
                    shipLocation.append(data.Ship_detail[0].location);
                    shipCountry.append(data.country_name[0].countryName);
                    shipBuilt.append(data.Ship_detail[0].built);
                    shipSize.append(data.Ship_detail[0].size);
                    shipGt.append(data.Ship_detail[0].gt);
                    shipManufacturingYear.append(data.Ship_detail[0].manufacturingYear);
                    shipDescription.append(data.Ship_detail[0].description);
                    var setShipStatus = setShipStatusFunction(data);
                }

                var statusId = $('#statusId');
                function setShipStatusFunction(data) {
                    if(data.shipStatus=="Active") {
                        statusId.removeClass("status_0 ss-delete");
                        statusId.addClass("status_1 ss-check");
                    }
                    else if(data.shipStatus=="Inactive") {
                        statusId.removeClass("status_1 ss-check");
                        statusId.addClass("status_0 ss-delete");
                    }
                }

                function setEditShipValuesFunction(data) {
                    editShipName.val(data.Ship_detail[0].shipName);
                    editShipId.val(data.Ship_detail[0].id);
                    editShipImoNumber.val(data.Ship_detail[0].imoNumber);
                    editShipLocation.val(data.Ship_detail[0].location);
                    editShipBuilt.val(data.Ship_detail[0].built);
                    editShipSize.val(data.Ship_detail[0].size);
                    editShipGt.val(data.Ship_detail[0].gt);
                    editShipManufacturingYear.val(data.Ship_detail[0].manufacturingYear);
                    editShipDescription.val(data.Ship_detail[0].description);
                }

                function successFunction(data) {
                    $.each(data.shipType_array,function(index) {
                        var $option = $('<option>').append(data.shipType_array[index]['shipType']).val(data.shipType_array[index]['id']).appendTo('.edit_ship_type');

                    });
                    $.each(data.countryName_array,function(index){
                        var $country_option = $('<option>').append(data.countryName_array[index]['countryName']).val(data.countryName_array[index]['id']).appendTo('.edit_ship_country');

                    });
                    editShipType.val(data.ship_type[0].id);
                    editShipCountry.val(data.country_name[0].id);
                }

                var editSubmitButton = $('.edit_submit_btn');
                editSubmitButton.live("click",function($e) {
                    $e.preventDefault();
                    var vesselEditValidation = vesselEditValidationFunction();
                    if(vesselEditValidation!=false) {
                        var emptyShipDetails = emptyShipDetailsFunction(data);
                        var data = {
                            Id :editShipId.val(),
                            shipName:editShipName.val(),
                            imoNumber:editShipImoNumber.val(),
                            location:editShipLocation.val(),
                            built:editShipBuilt.val(),
                            size:editShipSize.val(),
                            gt:editShipGt.val(),
                            manufacturingYear:editShipManufacturingYear.val(),
                            description:editShipDescription.val(),
                            shipType:editShipType.val(),
                            country:editShipCountry.val()
                        };
                        $.ajaxSetup({
                            global: false,
                            type:"POST",
                            url:Routing.generate('shipdetails_ajax_edit'),/*"ajax_edit",*/
                            data: data,
                            beforeSend: function () {
                                var setAjaxBeforeSend = ajaxbefore_send();
                            },
                            complete: function () {
                                var setAjaxComplete = ajax_complete();
                            }
                        });
                        $.ajax({
                            success: function(data) {
                                var setShowShipValues = setShowShipValuesFunction(data);
                                var setEditShipValues = setEditShipValuesFunction(data);
                                var successDetails = successFunction(data);
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        });
                        editShip.hide();
                        showShipView.show();
                    }
                });

                var editLocationErrorMsg = $('.edit-error-location');
                var editCountryErrorMsg = $('.edit-error-country');
                var editVesselTypeErrorMsg = $('.edit-vessel-type');
                var editVesselError = $('.vessel-name');
                var editShipYardErrorMsg = $('.ship-yard');
                var editSizeErrorMsg = $('.size');
                var editGtErrorMsg = $('.gt');
                var editMfErrorMsg = $('.mf');
                function vesselEditValidationFunction() {
                    var editErrorEmptyValues =editErrorEmptyValuesFunction();
                    if(editShipType.val()=="0") {
                        editVesselTypeErrorMsg.text('Vessel type cannot be empty !');
                        editShipType.focus();
                        return false;
                    }
                    if(editShipCountry.val()=="0") {
                        editCountryErrorMsg.text('Country name cannot be empty !');
                        editShipCountry.focus();
                        return false;
                    }
                    if(!$.trim(editShipLocation.val())) {
                        editLocationErrorMsg.text('Country name cannot be empty !');
                        editShipLocation.focus();
                        return false;
                    }
                    if(!$.trim(editShipBuilt.val())) {
                        editShipYardErrorMsg.text('Ship yard cannot be empty !');
                        editShipBuilt.focus();
                        return false;
                    }
                    if(!$.trim(editShipSize.val())) {
                        editSizeErrorMsg.text('Size cannot be empty !');
                        editShipSize.focus();
                        return false;
                    }
                    if(!$.trim(editShipGt.val())) {
                        editGtErrorMsg.text('GT cannot be empty !');
                        editShipGt.focus();
                        return false;
                    }
                    if(!$.trim(editShipManufacturingYear.val())) {
                        editMfErrorMsg.text('Manufacturing year cannot be empty !');
                        editShipManufacturingYear.focus();
                        return false;
                    }
                }

                function editErrorEmptyValuesFunction() {
                    editVesselError.empty();
                    editVesselTypeErrorMsg.empty();
                    editCountryErrorMsg.empty();
                    editLocationErrorMsg.empty();
                    editShipYardErrorMsg.empty();
                    editSizeErrorMsg.empty();
                    editGtErrorMsg.empty();
                    editMfErrorMsg.empty();
                    imoReferenceName=0;
                }

                var archiveButton = $('.archive_btn');
                archiveButton.live("click",function($e) {
                    $e.preventDefault();
                    var data = {'Id' :editShipId.val()};
                    $.ajaxSetup({
                        global: false,
                        data: data,
                        type:"POST",
                        url:Routing.generate('shipdetails_ajax_status'),/*ajax_status*/
                        beforeSend: function () {
                            var setAjaxBeforeSend = ajaxbefore_send();
                        },
                        complete: function () {
                            var setAjaxComplete = ajax_complete();
                        }
                    });
                    $.ajax({
                        success: function(data) {
                            if(data.status[0].status == 1) {
                                statusText.removeClass("red");
                                statusText.text(data.shipName + " is Activated...").addClass(" status-text green");
                                statusId.removeClass("status_0 ss-delete");
                                statusId.addClass("status_1 ss-check");
                                statusText.delay(3000).fadeOut();
                            }
                            else if(data.status[0].status == 0) {
                                statusText.removeClass("green");
                                statusText.text(data.shipName + " is Inactivated...").addClass("status-text red");
                                statusId.removeClass("status_1 ss-check");
                                statusId.addClass("status_0 ss-delete");
                                statusText.delay(3000).fadeOut();
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        }
                    })
                });

                var shipOption = $('#shipId option');
                var check = $('.check');
                check.live("click",function($e){
                    $e.preventDefault();
                    if(check.is(':checked')==true) {
                        shipOption.attr('selected', 'selected');
                    }
                    else {
                        shipOption.attr('selected', false);
                    }
                });

                var shipCount = $('.ship-count');
                var statusActive = $('.status_active');
                var statusInactive = $('.status_inactive');
                var activePlace = $('.activePlace');
                var activeVessels = $('.active_vessels');
                var mainVesselsShow = $('.main_vessels_show');
                statusActive.live("click",function() {
                    statusInactive.not('.status_active').removeAttr('checked');
                    activePlace.empty();
                    if(statusActive.is(':checked')==true) {
                        var data = {'Id' : 1};
                        $.ajaxSetup({
                            global: false,
                            type:"POST",
                            url:Routing.generate('shipdetails_ajax_status_show'),/*"ajax_status_show",*/
                            data:data,
                            beforeSend: function () {
                                var setAjaxBeforeSend = ajaxbefore_send();
                            },
                            complete: function () {
                                var setAjaxComplete = ajax_complete();
                            }
                        });
                        $.ajax({
                            success: function(data) {
                                shipCount.empty();
                                shipCount.text("Ship ("+data.ship_details.length+")");
                                var statusEmpty = statusEmptyFunction(data);
                                $.each(data.ship_details, function(i) {
                                    var spanPlace = $('<div>').attr({'class':'users_list_grid'}).append(
                                            $('<span>').attr({'class':'users_name_row'}).append(
                                                    $('<span>').attr({'class':'name'}).append(
                                                            $('<a>'+data.ship_details[i][0]['shipName']+'</a>').attr({'class':'ship_class','id':data.ship_details[i][0]['id']})
                                                    ),
                                                    $('<span>').attr({'class':'text'}).text(data.ship_type[i][0]['shipType'])
                                            )
                                    ).appendTo('.activePlace');
                                });
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    } else {
                        activeVessels.hide();
                        mainVesselsShow.show();
                        shipCount.text("Ship ({{ ship_count }})");
                    }
                });

                var nameSelect = $('.name_select');
                var textSelect = $('.text_select');
                function statusEmptyFunction(data) {
                    nameSelect.empty();
                    textSelect.empty();
                    mainVesselsShow.hide();
                    activeVessels.show();
                }

                statusInactive.live("click",function() {
                    statusActive.not('.status_inactive').removeAttr('checked');
                    activePlace.empty();
                    if(statusInactive.is(':checked')==true) {
                        var data = {'Id' : 0};
                        $.ajaxSetup({
                            global: false,
                            type:"POST",
                            url:Routing.generate('shipdetails_ajax_status_show'),/*"ajax_status_show",*/
                            data:data,
                            beforeSend: function () {
                                var setAjaxBeforeSend = ajaxbefore_send();
                            },
                            complete: function () {
                                var setAjaxComplete = ajax_complete();
                            }
                        });
                        $.ajax({
                            success: function(data) {
                                shipCount.empty();
                                shipCount.text("Ship ("+data.ship_details.length+")");
                                var statusEmpty = statusEmptyFunction(data);
                                $.each(data.ship_details, function(i) {
                                    var spanPlace = $('<div>').attr({'class':'users_list_grid'}).append(
                                            $('<span>').attr({'class':'users_name_row'}).append(
                                                    $('<span>').attr({'class':'name'}).append(
                                                            $('<a>'+data.ship_details[i][0]['shipName']+'</a>').attr({'class':'ship_class','id':data.ship_details[i][0]['id']})
                                                    ),
                                                    $('<span>').attr({'class':'text'}).text(data.ship_type[i][0]['shipType'])
                                            )
                                    ).appendTo('.activePlace');
                                });
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            }
                        })
                    } else {
                        activeVessels.hide();
                        mainVesselsShow.show();
                        shipCount.text("Ship ({{ ship_count }})");
                    }
                });

                var showCheckBox = $('#showCheckbox');
                var activeInactiveCheckBox = $('#active_inactive_checkbox');
                showCheckBox.click(function ($e) {
                    $e.preventDefault();
                    activeInactiveCheckBox.toggleClass('opened');
                });
                $(document).click(function (e) {
                    if (!$(e.target).parents().andSelf().is('#showCheckbox')) {
                        activeInactiveCheckBox.removeClass("opened");
                    }
                });

            });
        </script>

    {% endblock%}

    <div id="grid_view">
        <section>
            <div class="col-sm-3 users_views">
                <div class="add_user_btn_main">
                    <span class="user_btn_main"><a href="" class="ss-plus add_btn">{{ 'vessel.add_vessel'|trans }}</a></span>
                    <span class="user_btn_main"><a href="" id="showCheckbox" class="show_btn grid-show-btn" >{{ 'vessel.show'|trans }} <span class="show_dropdown_icon"><span class="ss-dropdown">&nbsp;</span></span></a></span>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon" >&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon" >&nbsp;</a></span>
                        </span>
                </div>
                <div class="users_list_main"><span><strong class="ship-count">{{ 'vessel.ship_count'|trans }} ({{ ship_count }})</strong></span> <span class="show_dropdown_icon">&nbsp;</span></div>
                <div class="email_group_show_drap" id="active_inactive_checkbox">
                    <ul id="ul_active_inactive_checkbx">
                        <li><input type="checkbox" class="inline-checkbox status_active">{{ 'vessel.active_vessel'|trans }}</li>
                        <li><input type="checkbox" class="inline-checkbox status_inactive">{{ 'vessel.inactive_vessel'|trans }}</li>
                    </ul>
                </div>
                <div class="users_list_grid_main">
                    <div class="main_vessels_show">
                        <div class="initail_ship_name_show">
                            {% for shipDetail in shipDetails %}
                                <div class="users_list_grid">
                                    <span class="users_name_row">
                                    <span class="name"><a href="" class="ship_class" id={{ shipDetail.id }} ><span class="name_place">{{ shipDetail.shipName }}</span></a> </span>
                                    <span class="text">{{ shipDetail.shipType }}</span>
                                 </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="active_vessels">
                        <div class="initail_ship_name_show activePlace">
                            <div class="users_list_grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="list_view">
        <section>
            <div class="users_advanced_list_views_screen">
                <div class="">
                    <div class="add_user_btn_main">
                        <span class="user_btn_main" style="float: left;"><a href="" class="ss-plus add_btn">{{ 'vessel.add_vessel'|trans }}</a></span>
                        {#<span class="user_btn_main"><button class="submit_btn" >Print</button></span>#}
                        <form id="" class="form-horizontal no-style" action="{{ path('shipdetails_vessel_pdf') }}"
                              target="_blank" method="post" style="float: left;">
                            <input type="hidden" class="activeMonthText" name="activeMonth" value="">
                            <input type="hidden" class="activeYearText" name="activeYear" value="">
                            <input type="hidden" class="endMonthText" name="endMonth" value="">
                            <input type="hidden" class="endYearText" name="endYear" value="">
                            <span class="user_btn_main"><button type="submit" class="print_btn">Print</button></span>
                        </form>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon" >&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon" >&nbsp;</a></span>
                         </span>
                    </div>
                    <div class="spacing"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'vessel.vessel_name'|trans }}</th>
                                <th>{{ 'vessel.vessel_type'|trans }}</th>
                                <th>{{ 'vessel.imo_number'|trans }}</th>
                                <th>{{ 'vessel.location'|trans }}</th>
                                <th>{{ 'vessel.ship_yard'|trans }}</th>
                                <th>{{ 'vessel.size'|trans }}</th>
                                <th>{{ 'vessel.gt'|trans }}</th>
                                <th>{{ 'vessel.list_mf_year'|trans }}</th>
                                <th>{{ 'vessel.status'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set count=0 %}
                            {% for shipDetail in shipDetails %}
                                <tr>
                                    <td style="color: black">{{ shipDetail.shipName }}</td>
                                    <td>{{ shipDetail.shipType }}</td>
                                    <td>{{ shipDetail.imoNumber }}</td>
                                    <td>{{ shipDetail.location }}</td>
                                    <td>{{ shipDetail.built }}</td>
                                    <td>{{ shipDetail.size }}</td>
                                    <td>{{ shipDetail.gt }}</td>
                                    <td>{{ shipDetail.manufacturingYear }}</td>
                                    {% if shipStatus[count]=="Active" %}
                                        <td style="color: green">{{ shipStatus[count]}}</td>
                                    {% else %}
                                        <td style="color: red">{{ shipStatus[count]}}</td>
                                    {% endif %}
                                </tr>
                                {% set count=count+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="create_view">

        <section>
            <div class="col-sm-12">
                <div class="add_new_users_views_screen">
                    <h2>{{ 'vessel.add_vessel'|trans }}</h2>
                    <form class="form-horizontal no-style create-form" action="{{ path('shipdetails_new1') }}" method="post">
                        <div class="kpi_basic_details">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">{{ 'vessel.basic_info'|trans }}</legend>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.vessel_name'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.shipName,{'id':'vessel-id','label': ' '}) }}
                                    </div>
                                    <div class="col-xs-8 weight-error-message" id="create-vessel-error"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.vessel_type'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.shipType,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.imo_number'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.imoNumber,{'id':'imo-id','label': ' '}) }}
                                    </div>
                                    <div class="col-xs-8 weight-error-message" id="create-imo-error"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.country'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.country,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.location'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.location,{'label': ' '}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset_box">
                                <legend class="legend_name">{{ 'vessel.specification'|trans }}</legend>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.ship_yard'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.built,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.size'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.size,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.gt'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.gt,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.mf_year'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.manufacturingYear,{'label': ' '}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'vessel.description'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        {{ form_row(form.description,{'label': ' '}) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="actions_submit">
                            <button class="submit_btn create-button" >{{ 'vessel.add'|trans }}</button>
                            <button class="cancel_btn" type="reset">{{ 'vessel.reset'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>


    <div class="show_ship_view">
        <section>
            <div class="col-sm-11">
                <div class="view_new_user_screen_2 form_view_screen">
                    <div class="actions_edit_button">
                        <a href="" class="edit_btn edit_ship_button"> {{ 'vessel.edit'|trans }}</a>
                        <a href="" class="edit_btn active_btn archive_btn">{{ 'vessel.archive_active'|trans }} / {{ 'vessel.archive_inactive'|trans }}</a>
                    </div>
                    <div id="status-text"> </div>
                    <div class="status_field">
                        <span><div id="statusId"></div></span>
                        <div>{{ 'vessel.status'|trans }}</div>
                    </div>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">{{ 'vessel.basic_info'|trans }}</legend>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.vessel_name'|trans }}:</label>
                            <label class="form_input ship_name"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.vessel_type'|trans }}:</label>
                            <label class="form_input ship_type"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.imo_number'|trans }}:</label>
                            <label class="form_input ship_ImoNumber"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.country'|trans }}:</label>
                            <label class="form_input ship_Country"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.location'|trans }}:</label>
                            <label class="form_input ship_Location"></label>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">{{ 'vessel.specification'|trans }}</legend>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.ship_yard'|trans }}:</label>
                            <label class="form_input ship_Built"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.size'|trans }}:</label>
                            <label class="form_input ship_size"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.gt'|trans }}:</label>
                            <label class="form_input ship_GT"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.mf_year'|trans }}:</label>
                            <label class="form_input ship_manufacturingYear"></label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell" style="color: black">{{ 'vessel.description'|trans }}:</label>
                            <label class="form_input ship_description"></label>
                        </div>
                        <input type="hidden"  id="kpi_id_reference_text"  name="kpi_id_reference_text" value="">
                    </fieldset>
                </div>
            </div>
        </section>
    </div>

    <div class="Edit_ship">
        <section>
            <div class="col-sm-11">
                <div class="add_new_users_views_screen">
                    <h2>{{ 'vessel.edit_vessel'|trans }}</h2>
                    <form class="form-horizontal no-style create-form">
                        <div class="add_new_users_form">
                            <fieldset class="fieldset_box">
                                <legend class="legend_name">{{ 'vessel.basic_info'|trans }}</legend>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.vessel_name'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_name" required>
                                    </div>
                                    <div class="col-xs-8 weight-error-message vessel-name"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.vessel_type'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <select class="edit_ship_type" required>
                                            <option value="0">--{{ 'vessel.select'|trans }} {{ 'vessel.vessel_type'|trans }}--</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8 weight-error-message edit-vessel-type"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.imo_number'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_imoNumber">
                                    </div>
                                    <div class="col-xs-8 weight-error-message" id="edit-imo-error"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.country'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <select class="edit_ship_country" required>
                                            <option value="0">--{{ 'vessel.select'|trans }} {{ 'vessel.country'|trans }}--</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8 weight-error-message edit-error-country"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.location'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_location" required>
                                    </div>
                                    <div class="col-xs-8 weight-error-message edit-error-location"> </div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset_box">
                                <legend class="legend_name">{{ 'vessel.specification'|trans }}</legend>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.ship_yard'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_built" required>
                                    </div>
                                    <div class="col-xs-8 weight-error-message ship-yard"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.size'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_size" required>
                                    </div>
                                    <div class="col-xs-8 weight-error-message size"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.gt'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_gt" required>
                                    </div>
                                    <div class="col-xs-8 weight-error-message gt"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label required_field col-xs-4"><strong>{{ 'vessel.mf_year'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_manufacturingYear" required>
                                    </div>
                                    {#<div class="col-xs-8">&nbsp;</div>#}
                                    <div class="col-xs-8 weight-error-message mf"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4"><strong>{{ 'vessel.description'|trans }}</strong></label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_ship_description" >
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="hidden" class="edit_ship_id" >
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions_submit">
                                <button class=" submit_btn edit_submit_btn">{{ 'vessel.save'|trans }}</button>
                                <button class="cancel_btn edit_cancel_btn">{{ 'vessel.cancel'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}