{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>ShipDetails</h2>
            <a href="{{ path('shipdetails_select1') }}">Back</a>
        </div>
        <table>
            <tbody>
                <tr>
                    <th>Shipname</th>
                    <td>{{ shipDetail.shipName }}</td>
                </tr>
                <tr>
                    <th>ShipType</th>
                    <td>{{ shipDetail.shipType }}</td>
                </tr>
                <tr>
                    <th>Year of Manufacturing</th>
                    <td>{{ shipDetail.manufacturingYear }}</td>
                </tr>
                <tr>
                    <th>IMO</th>
                    <td>{{ shipDetail.imoNumber }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ shipDetail.country }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ shipDetail.location }}</td>
                </tr>
                <tr>
                    <th>Built</th>
                    <td>{{ shipDetail.built }}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>{{ shipDetail.size }}</td>
                </tr>
                <tr>
                    <th>GT</th>
                    <td>{{ shipDetail.gt }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ shipDetail.description }}</td>
                </tr>

            </tbody>
        </table>

    </div>
{% endblock %}