{% extends 'base.html.twig' %}

{% block body %}


    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/Element_rule_show_condition.js'

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Edit Kpi</h2>
            <a href="{{ path('kpidetails_select1') }}">Back</a>
        </div>
        <div class="bs-example">

    <form class="form-horizontal no-style" action="{{ path('kpidetails_edit2') }}" method="post">
        <div class="form-group">
            <label class="control-label col-xs-2">Ship Name</label>
            <div class="col-xs-10">
                {% set i = 0 %}
                {% set j = 0 %}
                {% for ships in ship_name %}
                    {% for ships1 in ships %}
                        <input type="checkbox" checked name="ships[]" value="{{ ship_id[i][1] }}">{{ ships1['shipName'] }}<br>
                        {% set i = i+1 %}
                    {% endfor %}
                    {% set j = j+1 %}
                {% endfor %}
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-2">Kpi Name</label>
            <div class="col-xs-10">
                <input type="text" name="kpiName" value="{{ kpiDetail.kpiName }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Description</label>
            <div class="col-xs-10">
                <input type="text" name="description" value="{{ kpiDetail.description }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Weightage</label>
            <div class="col-xs-10">
                <input type="text" name="weightage" value="{{ kpiDetail.weightage }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Activedate</label>
            <div class="col-xs-10">
                <input type="date" name="activeDate" value="{% if kpiDetail.activeDate %}{{ kpiDetail.activeDate|date('Y-m-d') }}{% endif %}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Enddate</label>
            <div class="col-xs-10">
                <input type="date" name="endDate" value="{% if kpiDetail.endDate %}{{ kpiDetail.endDate|date('Y-m-d') }}{% endif %}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Cellname</label>
            <div class="col-xs-10">
                <input type="text" name="cellName" value="{{ kpiDetail.cellName }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Celldetails</label>
            <div class="col-xs-10">
                <input type="text" name="cellDetails" value="{{ kpiDetail.cellDetails }}">
            </div>
        </div>


        <div id="conditions"></div>
        <div id="actions"></div>
        <input type="hidden" name="id" id="id" value="{{ kpiDetail.id }}">
        <div id="rule_edit_button"></div>

        <table id="rule-table">
            <tr id="row_id">
                <th>Condition</th>
                <th>Color</th>
            </tr>
        </table>

        <div id="rule_obj_text"></div>
        <div class="actions">
            <input type="submit" class="btn btn-primary"  value="Save" id="edit_submit">
        </div>

    </form>


</div>
        </div>
{% endblock %}