{% extends 'base.html.twig' %}

{% block body %}
    <h1>KpiDetails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ShipName</th>
                <th>KpiName</th>
                <th>Description</th>
                <th>ActiveDate</th>
                <th>EndDate</th>
                <th>CellName</th>
                <th>CellDetails</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kpiDetail in kpiDetails %}
            <tr>
                <td><a href="{{ path('kpidetails_show', { 'id': kpiDetail.id }) }}">{{ kpiDetail.id }}</a></td>
                <td>{{ kpiDetail.shipDetailsId }}</td>
                <td>{{ kpiDetail.kpiName }}</td>
                <td>{{ kpiDetail.description }}</td>
                <td>{% if kpiDetail.activeDate %}{{ kpiDetail.activeDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if kpiDetail.endDate %}{{ kpiDetail.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ kpiDetail.cellName }}</td>
                <td>{{ kpiDetail.cellDetails }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kpidetails_show', { 'id': kpiDetail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('kpidetails_edit', { 'id': kpiDetail.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('elementdetails_select', { 'id': kpiDetail.id }) }}">Kpi_Elements</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kpidetails_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
