{% extends 'base.html.twig' %}

{#{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
        <h2>Kpi Details</h2>
        <a href="{{ path('kpidetails_new') }}">Add KPI</a>
    </div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>KpiName</th>
            <th>Description</th>
            <th>ActiveDate</th>
            <th>EndDate</th>
            <th>CellName</th>
            <th>CellDetails</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for kpiDetail in kpiDetails %}
            <tr>
                <td>{{ kpiDetail.kpiName }}</td>
                <td>{{ kpiDetail.description }}</td>
                <td>{% if kpiDetail.activeDate %}{{ kpiDetail.activeDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if kpiDetail.endDate %}{{ kpiDetail.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ kpiDetail.cellName }}</td>
                <td>{{ kpiDetail.cellDetails }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kpidetails_show1', { 'id': kpiDetail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('kpidetails_edit1', { 'id': kpiDetail.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('elementdetails_select', { 'id': kpiDetail.id }) }}">Kpi_Elements</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
    </div>
{% endblock %}#}


{% block body %}

    {% block javascripts %}

        {% javascripts
            '@AppBundle/Resources/public/js/AAA.js'
            '@AppBundle/Resources/public/js/rules.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function(){

                $('.create_kpi').hide();
                $('.show_kpi').hide();
                $('#list_view').hide();
                $('.grid_edit_kpi').hide();

                $('.add-rule').live("click",function(){
                    $('.field').hide();
                });

                $('.add-condition').live("click",function(){
                    $('.field').hide();
                });

                $('.edit_kpi_button').live("click",function(){
                    $('.show_kpi').hide();
                    $('.create_kpi').hide();
                    $('.grid_edit_kpi').show();
                });

                $('.box_icon').click(function(){
                    $('#list_view').hide();
                    $('.show_kpi').hide();
                    $('#grid_view').show();
                });
                $('.list_icon').click(function(){
                    $('#grid_view').hide();
                    $('.show_kpi').hide();
                    $('.grid_edit_kpi').hide();
                    $('#list_view').show();
                });
                $('.add_btn').live("click",function(){
                    $('#grid_view').hide();
                    $('#list_view').hide();
                    $('.grid_edit_kpi').hide();
                    $('.show_kpi').hide();

                    $('#kpi_details_activeDate_month').addClass('add_rule_basic_date_drop ');
                    $('#kpi_details_endDate_month').addClass('add_rule_basic_date_drop ');
                    $('#kpi_details_activeDate_year').addClass('add_rule_basic_year_drop ');
                    $('#kpi_details_endDate_year').addClass('add_rule_basic_year_drop ');

                    $('.create_kpi').show();
                });

                $('.cancel_btn').live("click",function(){
                    $('.create_kpi').hide();
                    $('#grid_view').show();
                });

                $('.edit_cancel_button').live("click",function(){
                    $('.grid_edit_kpi').hide();
                    $('#grid_view').show();
                    $('.show_kpi').show();
                });

                // Kpi view coding

                $('.rule_div').hide();
                var condition_text = "";
                var count = 0;
                var i = 0;
                $('.kpi_class').live("click",function()
                {
                    $('.grid_edit_kpi').hide();
                    count++;
                    var currentId = $(this).attr('id');
                    var data = {Id : currentId};
                    if(count>1)
                    {
                        $('.show_kpi').hide();
                        $('.ship_name').empty();
                        $('.kpi_name').empty();
                        $('.kpi_description').empty();
                        $('.kpi_weightage').empty();
                        $('.kpi_cellName').empty();
                        $('.kpi_cellDetail').empty();
                        $('.rule_table').empty();
                        $('.rule_table_edit').empty();
                        $('#rule_obj_text').empty();
                        $('.kpi_activeDate_month').empty();
                        $('.kpi_activeDate_year').empty();
                        $('.kpi_endDate_month').empty();
                        $('.kpi_endDate_year').empty();
                    }

                    $.ajax({
                        type: "POST",
                        data: data,
                        url: "kpi_ajax_show",
                        success: function(data)
                        {
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];
                            var active_date = new Date(data.kpi_detail[0].activeDate.date);

                            var end_date = new Date(data.kpi_detail[0].endDate.date);

                            $('.kpi_name').append(data.kpi_detail[0].kpiName);
                            $('.kpi_description').append(data.kpi_detail[0].description);
                            $('.kpi_weightage').append(data.kpi_detail[0].weightage);
                            $('.kpi_cellName').append(data.kpi_detail[0].cellName);
                            $('.kpi_cellDetail').append(data.kpi_detail[0].cellDetails);
                            $('.kpi_activeDate_month').append(monthNames[active_date.getMonth()]);
                            $('.kpi_activeDate_year').append(active_date.getFullYear());
                            $('.kpi_endDate_month').append(monthNames[end_date.getMonth()]);
                            $('.kpi_endDate_year').append(end_date.getFullYear());

                            //Setting Edit kpi values

                            $('.edit_kpi_name').val(data.kpi_detail[0].kpiName);
                            $('.edit_kpi_description').val(data.kpi_detail[0].description);
                            $('.edit_kpi_weightage').val(data.kpi_detail[0].weightage);
                            $('.edit_kpi_cellName').val(data.kpi_detail[0].cellName);
                            $('.edit_kpi_cellDetails').val(data.kpi_detail[0].cellDetails);
                            $('.monthPicker_activeDate').val(data.kpi_detail[0].activeDate.date);
                            $('.monthPicker_endDate').val(data.kpi_detail[0].endDate.date);
                            $('.kpi_edit_id').val(data.kpi_detail[0].id);

                            $.each(data.ship_array,function(index)
                            {
                                var $option = $('<option>').append(data.ship_array[index]['shipName']).val(data.ship_array[index]['id']).appendTo('.ship_name_edit');
                            });

                            $.each(data.ship_name, function(ii)
                            {
                                $('.ship_name').append(data.ship_name[ii][0]['shipName']).append(' ');
                            });

                            $('.show_kpi').show();

                            if(data.kpi_rules.length>0)
                            {
                                $.each(data.kpi_rules,function(k)
                                {
                                    i++;
                                    var rule_obj = JSON.parse(data.kpi_rules[k].rules);
                                    var new_rule_obj = rule_obj.conditions.all;

                                    $('#rule_obj_text').append($('<input>').attr({'type':'hidden','name':'rule_name['+i+']', 'id':'rule_obj_text-'+i+''}).val(data.kpi_rules[k].rules));
                                    $('#rule_obj_text').append($('<br>'));

                                    $.each(new_rule_obj, function(j)
                                    {
                                        new_rule_obj[j].operator =rule_operator(new_rule_obj[j].operator);

                                        var condition_text_one = new_rule_obj[j].operator+new_rule_obj[j].value;
                                        if(j==0)
                                        {
                                            condition_text = condition_text_one;
                                        }
                                        if(j>0)
                                        {
                                            condition_text = condition_text+'   ' + '&&' +'   '+condition_text_one;
                                        }
                                    });

                                    var $tr = $('<tr>').attr({'id':'row_id-'+i}).append(
                                            $('<td>').text(condition_text),
                                            $('<td>').text(rule_obj.actions.value)
                                    ).appendTo('.rule_table');

                                    var $tr1 = $('<tr>').attr({'id':'row_edit_id-'+i}).append(
                                            $('<td>').text(condition_text),
                                            $('<td>').text(rule_obj.actions.value),
                                            $('<td>').append($('<a></a>').attr({'id':'edit-'+i+'','class':'edit_icon_btn ss-write edit_class'})),
                                            $('<td>').append($('<a></a>').attr({'id':'delete-'+i+'','class':'delete_icon_btn ss-delete delete_class'}))
                                    ).appendTo('.rule_table_edit');
                                });
                                $('.rule_div').show();
                            }
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown)
                                {
                                    alert('Error : ' + errorThrown);
                                }
                            });
                            $('.show_kpi').show();

                        });

                $('#kpi_details_activeDate_day').hide();
                $('#kpi_details_endDate_day').hide();


                function rule_operator(operator)
                {
                    if(operator=='equalTo')
                    {
                        operator = '=';
                    }
                    else if(operator=='notEqualTo')
                    {
                        operator = '!=';
                    }
                    else if(operator=='greaterThan')
                    {
                        operator = '>';
                    }
                    else if(operator=='greaterThanEqual')
                    {
                        operator = '>=';
                    }
                    else if(operator =='lessThan')
                    {
                        operator = '<';
                    }
                    else if(operator=='lessThanEqual')
                    {
                        operator = '<=';
                    }

                    return operator;
                }

                function splitfun(data){
                    var num = data.split('-');
                    return num[1];
                }

            });
        </script>

    {% endblock %}

    <div id="grid_view">
        <section>
            <div class="col-sm-3 users_views">
                <div class="add_user_btn_main">
                    <span class="user_btn_main"><a href="" class="ss-plus add_btn"> Add KPI</a></span>
                    <span class="user_btn_main"><a href="" class="show_btn">Show <span class="show_dropdown_icon"><span class="ss-dropdown">&nbsp;</span></span></a></span>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon" >&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon" >&nbsp;</a></span>
                        </span>
                </div>

                <div class="users_list_main"><span>KPI ({{ kpi_count }})</span> <span class="show_dropdown_icon">&nbsp;</span></div>

                <div class="users_list_grid_main">
                    {% for kpiDetail in kpiDetails %}
                        <div class="users_list_grid">
                                <span class="users_name_row">
                                    <span class="name"><a href="" class="kpi_class" id={{ kpiDetail.id }}>{{ kpiDetail.kpiName }}</a> </span>
                                    <span class="text">{{ kpiDetail.description }}</span>
                                    <span class="text">{% if kpiDetail.activeDate %}{{ kpiDetail.activeDate|date('Y-m-d') }}{% endif %}</span>
                                    <span class="text">{% if kpiDetail.endDate %}{{ kpiDetail.endDate|date('Y-m-d') }}{% endif %}</span>
                                </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <div id="list_view">
        <section>
            <div class="users_advanced_list_views_screen">
                <div class="">
                    <div class="add_user_btn_main">
                        <span class="user_btn_main"><a href="" class="ss-plus add_btn"> Add KPI</a></span>
                        <span class="user_btn_main"><a href="" class="show_btn">Show <span class="show_dropdown_icon"><span class="ss-dropdown">&nbsp;</span></span></a></span>
                        <span class="user_btn_main grid_list_main">
                            <span class="active"><a href="" class="grid_list_icon ss-grid box_icon" >&nbsp;</a></span>
                            <span><a href="" class="grid_list_icon ss-rows list_icon" >&nbsp;</a></span>
                         </span>
                    </div>
                    <div class="spacing"></div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>KpiName</th>
                                    <th>Description</th>
                                    <th>ActiveDate</th>
                                    <th>EndDate</th>
                                    <th>CellName</th>
                                    <th>CellDetails</th>
                                    {#<th>Actions</th>#}
                                </tr>
                            </thead>
                            <tbody>
                                {% for kpiDetail in kpiDetails %}
                                    <tr>
                                        <td>{{ kpiDetail.kpiName }}</td>
                                        <td>{{ kpiDetail.description }}</td>
                                        <td>{% if kpiDetail.activeDate %}{{ kpiDetail.activeDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if kpiDetail.endDate %}{{ kpiDetail.endDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ kpiDetail.cellName }}</td>
                                        <td>{{ kpiDetail.cellDetails }}</td>
                                        {#<td>
                                            &#123;&#35;<a href="{{ path('kpidetails_show1', { 'id': kpiDetail.id }) }}">show</a>&#35;&#125;
                                            <a href="{{ path('kpidetails_edit1', { 'id': kpiDetail.id }) }}">edit</a>
                                            <a href="{{ path('elementdetails_select', { 'id': kpiDetail.id }) }}">Kpi_Elements</a>
                                        </td>#}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div class="create_kpi">

        <script src="../js/rules/Element_conditions-builder.js"></script>
        <script src="../js/rules/action-builder.js"></script>
        <script src="../js/rules/demo.js"></script>
        <script src="../js/rules/sample_first.js"></script>

        <section>
            <div class="col-sm-12">
                <div class="add_kpi_views_screen">
                    <form class="form-horizontal no-style" action="{{ path('kpidetails_new1') }}" method="post">

                        <div class="kpi_basic_details">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">Basic details</legend>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Select ship</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.shipDetailsId,{'id':'shipid','label': ''}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">KPI name</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.kpiName,{'id':'kpiid','label': ''})  }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Weightage</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.weightage,{'id':'weightageId','label': ''}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Description</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.description,{'id':'elementId','label': ''}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Valid</label>
                                    <div class="col-xs-8">
                                        <span>
                                            {#<select class="add_rule_basic_date_drop" name="type" class="full-width-select">
                                                <option selected="selected">--</option>
                                                <option>Jan</option>
                                            </select>
                                        </span>
                                        <span>
                                            <select class="add_rule_basic_year_drop" name="type" class="full-width-select">
                                                <option selected="selected">--</option>
                                                <option>2016</option>
                                            </select>#}
                                            {{ form_widget(form.activeDate,{'class':'add_rule_basic_date_drop ','label': ''}) }}
                                        </span>
                                                            To
                                        <span>
                                            {#<select class="add_rule_basic_date_drop" name="type" class="full-width-select">
                                                <option selected="selected">--</option>
                                                <option>Jan</option>
                                            </select>
                                        </span>
                                        <span>
                                            <select class="add_rule_basic_year_drop" name="type" class="full-width-select">
                                                <option selected="selected">--</option>
                                                <option>2016</option>
                                            </select>#}
                                            {{ form_widget(form.endDate,{'class':'add_rule_basic_date_drop ','label': ''}) }}
                                        </span>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="fieldset_box">
                                <legend class="legend_name">Excel details</legend>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell name</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.cellName,{'id':'valueid','label': ''}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell detail</label>
                                    <div class="col-xs-8">
                                        {{ form_widget(form.cellDetails,{'id':'valueid','label': ''}) }}
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                        <div class="kpi_rules">
                            <fieldset class="fieldset_box_right add_rule_right_form">
                                <legend class="legend_name">Rules create</legend>
                                <div class="form-group button">
                                    <div class="col-xs-9">
                                        {#<a href="">Add rule</a> <a href="">Sub condition</a>#}
                                        <div id="conditions"></div>
                                        <div id="actions"></div>

                                        <p id="text_box"></p>
                                        <input type="hidden" id="result" name="value">

                                    </div>
                                </div>
                                <div class="form-group button">
                                    <div class="col-xs-9">
                                        {#<div id="actions"></div>#}
                                        {#<a href="" id="actions">add action</a>#}
                                    </div>
                                </div>
                                <div class="form-group button">
                                    <div class="col-xs-9 add_button_place">

                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table add_rule_conditions" id="rule-table">
                                        <thead>
                                        <tr id="row_id">
                                            <th class="conditions">Conditions</th>
                                            <th class="color">Color</th>
                                            <th class="action">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="small"></div>
                                </div>
                            </fieldset>
                            {#<fieldset class="fieldset_box_right add_rule_right_form">
                                <legend class="legend_name">Created Rules</legend>
                                <div class="table-responsive">
                                    <table class="table add_rule_conditions" id="rule-table">
                                        <thead>
                                        <tr id="row_id">
                                            <th class="conditions">Conditions</th>
                                            <th class="color">Color</th>
                                            <th class="action">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="small"></div>
                                </div>
                            </fieldset>#}
                        </div>

                        <div class="actions_submit">
                            <button class="submit_btn" id="submit_id"  value="Submit">Save user</button>
                            <button class="cancel_btn" type="reset"  value="Submit">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div class = "show_kpi">
        <section>
            <div class="col-sm-11">
                <div class="view_new_user_screen_2 form_view_screen">
                    <div class="actions_edit_button">
                        <a href="" class="edit_btn edit_kpi_button"> Edit KPI</a>
                        <a href="" class="edit_btn">Archive</a>
                    </div>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">Basic details</legend>
                        <div class="form_view">
                            <label class="form_labell">Ship Name :</label>
                            <label class="form_input ship_name"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell">KPI name :</label>
                            <label class="form_input kpi_name"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell">Weightage :</label>
                            <label class="form_input kpi_weightage"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell">Description :</label>
                            <label class="form_input kpi_description"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell">Valid :</label>
                            <label class="form_input"><label class="kpi_activeDate_month kpi_activeDate_year"></label> <strong>To<label class=" kpi_endDate_month kpi_endDate_year"></label></strong> </label>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset_box">
                        <legend class="legend_name">Excel details</legend>
                        <div class="form_view">
                            <label class="form_labell">Cell name :</label>
                            <label class="form_input kpi_cellName"> </label>
                        </div>
                        <div class="form_view">
                            <label class="form_labell">Cell detail :</label>
                            <label class="form_input kpi_cellDetail"> </label>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset_box add_rule_right_edit_form rule_div">
                        <legend class="legend_name">Rules</legend>
                        <div class="table-responsive">
                            <table class="table view_rule_conditions rule_table" >
                                <tr class="row_id">
                                    <th class="conditions">Conditions</th>
                                    <th class="color">Color</th>
                                </tr>
                            </table>
                        </div>
                        <input type="hidden" id="kpi_id_reference_text" name="kpi_id_reference_text" value="">
                    </fieldset>
                </div>
            </div>
        </section>
    </div>

    <div class="grid_edit_kpi">

        {#<script src="../js/rules/conditions-builder.js"></script>
        <script src="../js/rules/action-builder.js"></script>

        <script type="text/javascript">

            $(document).ready(function(){
                $('.kpi_rules').hide();

                $('.edit_class').live("click",function(){
                    var conditions, actions;
                    var currentId = $(this).attr('id');
                    var ans = splitfun(currentId);
                    $('#row_edit_id-'+ans).remove();
                    var ans1 = $('#rule_obj_text-'+ans).val();
                    var object_rule = JSON.parse(ans1);
                    $('#rule_edit_button').append($('<a>add</a>').attr({'id':'edit_add-'+ans+'', 'class':'edit_add_class'}));
                    $('.edit_add_class').hide();
                    $('#edit_add-'+ans).show();
                    $('.kpi_rules').show();

                    function onReady() {
                        conditions = $("#conditions_edit");
                        actions = $("#actions_edit");

                        initializeConditions();
                        initializeActions();
                        initializeForm();
                    }

                    function initializeConditions() {
                        conditions.conditionsBuilder({
                            fields: [
                                {label: "Value", name: "ageField", operators: [
                                    {label: "is present", name: "present", fieldType: "none"},
                                    {label: "is blank", name: "blank", fieldType: "none"},
                                    {label: "is equal to", name: "equalTo", fieldType: "text"},
                                    {label: "is not equal to", name: "notEqualTo", fieldType: "text"},
                                    {label: "is greater than", name: "greaterThan", fieldType: "text"},
                                    {label: "is greater than or equal to", name: "greaterThanEqual", fieldType: "text"},
                                    {label: "is less than", name: "lessThan", fieldType: "text"},
                                    {label: "is less than or equal to", name: "lessThanEqual", fieldType: "text"}
                                ]}
                            ],
                            data: object_rule.conditions
                        });
                    }
                    function initializeActions() {
                        actions.actionsBuilder({
                            fields: [
                                {label: "Green", name: "Green"},
                                {label: "Red", name: "Red"},
                                {label: "Yellow", name: "Yellow"}
                            ],
                            data: [object_rule.actions]
                        });
                    }
                    function initializeForm() {
                        var edit_condition_text="";

                        $('.edit_add_class').live("click",function(e) {
                            var currentId1 = $(this).attr('id');
                            var ans1 = splitfun(currentId);
                            e.preventDefault();

                            var engine = new RuleEngine({
                                conditions: conditions.conditionsBuilder("data"),
                                actions: actions.actionsBuilder("data")
                            });

                            var sample = JSON.stringify(engine);
                            $('#rule_obj_text-'+ans1).val(sample);

                            $.each(engine.conditions.all, function(j)
                            {
                                if(engine.conditions.all[j].operator=='equalTo')
                                {
                                    engine.conditions.all[j].operator='=';
                                }
                                else if(engine.conditions.all[j].operator=='notEqualTo')
                                {
                                    engine.conditions.all[j].operator='!=';
                                }
                                else if(engine.conditions.all[j].operator=='greaterThan')
                                {
                                    engine.conditions.all[j].operator='>';
                                }
                                else if(engine.conditions.all[j].operator=='greaterThanEqual')
                                {
                                    engine.conditions.all[j].operator='>=';
                                }
                                else if(engine.conditions.all[j].operator=='lessThan')
                                {
                                    engine.conditions.all[j].operator='<';
                                }
                                else if(engine.conditions.all[j].operator=='lessThanEqual')
                                {
                                    engine.conditions.all[j].operator='<=';
                                }

                                var edit_condition_text_one =engine.conditions.all[j].operator+engine.conditions.all[j].value;

                                if(j==0)
                                {
                                    edit_condition_text = edit_condition_text_one;
                                }
                                if(j>0)
                                {
                                    edit_condition_text = edit_condition_text+'   ' + '&&' +'   '+edit_condition_text_one;
                                }

                            });
                            var $tr1 = $('<tr>').attr({'id':'row_edit_id-'+ans1}).append(
                                    $('<td>').text(edit_condition_text),
                                    $('<td>').text(engine.actions.value),
                                    $('<td>').append($('<a>').attr({ 'id':'edit-'+ans1+'', 'class':'edit_icon_btn ss-write edit_class'})),
                                    $('<td>').append($('<a>').attr({ 'id':'delete-'+ans1+'', 'class':'delete_icon_btn ss-delete delete_class'}))
                            ).appendTo('.rule_table_edit');

                            $('.kpi_rules').hide();
                            $('.operator').remove();
                            $('.add-rule').remove();
                            $('.value').remove();
                            $('.add-condition').remove();
                            $('.remove').remove();
                            $('.field').remove();
                            $('.add').remove();
                            $('.action-select').remove();
                            $(this).remove();
                        });
                    }
                    $(onReady);
                    $('#remove-id').remove();
                    $('#action_remove').remove();
                    $('.all-any-none').hide();
                });

                $('.delete_class').live("click",function(){
                    var currentId = $(this).attr('id');
                    var id_value = splitfun(currentId);
                    $('#row_edit_id-'+id_value).remove();
                    var count_row = $('.rule_table_edit tr').length;
                    if(count_row<=1)
                    {
                        $('#row_edit_id').hide();
                    }
                });


                $('.edit_submit_button').live("click",function(){

                    //alert('hi');
                    var count_row = $('.rule_table_edit tr').length;
                    var rule_array = new Array();
                    for(var i_i=1;i_i<count_row;i_i++)
                    {
                        rule_array.push($('#rule_obj_text-'+i_i).val());
                    }
                    //console.log(rule_array);
                    var condition_text = "";
                    var i=0;
                    var data = {
                        kpiName : $('.edit_kpi_name').val(),
                        weightage : $('.edit_kpi_weightage').val(),
                        description : $('.edit_kpi_description').val(),
                        cellName : $('.edit_kpi_cellName').val(),
                        cellDetails : $('.edit_kpi_cellDetails').val(),
                        Id : $('.kpi_edit_id').val(),
                        rules : rule_array
                    };


                    $('.kpi_name').empty();
                    $('.kpi_description').empty();
                    $('.kpi_weightage').empty();
                    $('.kpi_cellName').empty();
                    $('.kpi_cellDetail').empty();
                    $('.ship_name').empty();
                    $('.rule_table').empty();
                    $('.rule_table_edit').empty();
                    $('#rule_obj_text').empty();
                    $('.kpi_activeDate_month').empty();
                    $('.kpi_activeDate_year').empty();
                    $('.kpi_endDate_month').empty();
                    $('.kpi_endDate_year').empty();

                    $.ajax({
                        type: "POST",
                        data: data,
                        url: "ajax_edit",
                        success: function(data) {
                            //alert('success')
                            //console.log(data);
                            $('.grid_edit_kpi').hide();

                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];
                            var active_date = new Date(data.kpi_detail[0].activeDate.date);

                            var end_date = new Date(data.kpi_detail[0].endDate.date);

                            $('.kpi_name').append(data.kpi_detail[0].kpiName);
                            $('.kpi_description').append(data.kpi_detail[0].description);
                            $('.kpi_weightage').append(data.kpi_detail[0].weightage);
                            $('.kpi_cellName').append(data.kpi_detail[0].cellName);
                            $('.kpi_cellDetail').append(data.kpi_detail[0].cellDetails);
                            $('.kpi_activeDate_month').append(monthNames[active_date.getMonth()]);
                            $('.kpi_activeDate_year').append(active_date.getFullYear());
                            $('.kpi_endDate_month').append(monthNames[end_date.getMonth()]);
                            $('.kpi_endDate_year').append(end_date.getFullYear());

                            //Setting Edit kpi values

                            $('.edit_kpi_name').val(data.kpi_detail[0].kpiName);
                            $('.edit_kpi_description').val(data.kpi_detail[0].description);
                            $('.edit_kpi_weightage').val(data.kpi_detail[0].weightage);
                            $('.edit_kpi_cellName').val(data.kpi_detail[0].cellName);
                            $('.edit_kpi_cellDetails').val(data.kpi_detail[0].cellDetails);
                            $('.monthPicker_activeDate').val(data.kpi_detail[0].activeDate.date);
                            $('.monthPicker_endDate').val(data.kpi_detail[0].endDate.date);
                            $('.kpi_edit_id').val(data.kpi_detail[0].id);


                            $.each(data.ship_name, function(ii)
                            {
                                $('.ship_name').append(data.ship_name[ii][0]['shipName']).append(' ');
                                $('.kpi_name_edit').append('<input>').attr({'type':'checkbox','name':'ships[]'}).val(data.ship_name[i][0]['shipName']).text(data.ship_name[i][0]['shipName']);
                            });


                            $('.show_kpi').show();

                            if(data.kpi_rules.length>0)
                            {
                                $.each(data.kpi_rules,function(k)
                                {
                                    i++;
                                    var rule_obj = JSON.parse(data.kpi_rules[k].rules);
                                    var new_rule_obj = rule_obj.conditions.all;

                                    $('#rule_obj_text').append($('<input>').attr({'type':'hidden','name':'rule_name['+i+']', 'id':'rule_obj_text-'+i+''}).val(data.kpi_rules[k].rules));
                                    $('#rule_obj_text').append($('<br>'));

                                    $.each(new_rule_obj, function(j)
                                    {
                                        new_rule_obj[j].operator =rule_operator(new_rule_obj[j].operator);

                                        var condition_text_one = new_rule_obj[j].operator+new_rule_obj[j].value;
                                        if(j==0)
                                        {
                                            condition_text = condition_text_one;
                                        }
                                        if(j>0)
                                        {
                                            condition_text = condition_text+'   ' + '&&' +'   '+condition_text_one;
                                        }
                                    });

                                    var $tr = $('<tr>').attr({'id':'row_id-'+i}).append(
                                            $('<td>').text(condition_text),
                                            $('<td>').text(rule_obj.actions.value)
                                    ).appendTo('.rule_table');

                                    var $tr1 = $('<tr>').attr({'id':'row_edit_id-'+i}).append(
                                            $('<td>').text(condition_text),
                                            $('<td>').text(rule_obj.actions.value),
                                            $('<td>').append($('<a></a>').attr({'id':'edit-'+i+'','class':'edit_icon_btn ss-write edit_class'})),
                                            $('<td>').append($('<a></a>').attr({'id':'delete-'+i+'','class':'delete_icon_btn ss-delete delete_class'}))
                                    ).appendTo('.rule_table_edit');
                                });
                                $('.rule_div').show();
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                        {
                            alert('Error : ' + errorThrown);
                        }


                    });

                });

                function rule_operator(operator)
                {
                    if(operator=='equalTo')
                    {
                        operator = '=';
                    }
                    else if(operator=='notEqualTo')
                    {
                        operator = '!=';
                    }
                    else if(operator=='greaterThan')
                    {
                        operator = '>';
                    }
                    else if(operator=='greaterThanEqual')
                    {
                        operator = '>=';
                    }
                    else if(operator =='lessThan')
                    {
                        operator = '<';
                    }
                    else if(operator=='lessThanEqual')
                    {
                        operator = '<=';
                    }

                    return operator;
                }


                function splitfun(data){
                    var num = data.split('-');
                    return num[1];
                }
            });

        </script>#}


        <section>
            <div class="col-sm-11">
                <div class="add_new_users_views_screen">
                    <form class="form-horizontal no-style">

                        <div class="add_new_users_form">
                            <fieldset class="fieldset_box add_rule_form">
                                <legend class="legend_name">Basic details</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Select ship</label>
                                    <div class="col-xs-8 ">
                                        <select multiple class="ship_name_edit">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">KPI name</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_kpi_name" value="" placeholder="">
                                        <input type="hidden" class="kpi_edit_id" value="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Weightage</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_kpi_weightage" value="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Description</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_kpi_description" value="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Valid</label>
                                    <div class="col-xs-8">

                                <span>
                                    <input type="date" name="startDate" id="startDate" class="monthPicker_activeDate" />
                                </span>
                                                        To
                                <span>
                                    <input type="date" name="startDate" id="endDate" class="monthPicker_endDate" />
                                </span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset_box">
                                <legend class="legend_name">Excel details</legend>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell name</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_kpi_cellName" value="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Cell detail</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="edit_kpi_cellDetails" value="" placeholder="">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="fieldset_box add_rule_right_edit_form rule_div">
                                <legend class="legend_name">Rules</legend>
                                <div class="table-responsive">
                                    <table class="table edit_rule_conditions rule_table_edit">
                                        <tr class="row_edit_id">
                                            <th class="conditions">Conditions</th>
                                            <th class="color">Color</th>
                                            <th class="edit">&nbsp;</th>
                                            <th class="action">&nbsp;</th>
                                        </tr>
                                    </table>
                                    <div class="small">&nbsp;</div>
                                </div>
                                <div id="rule_obj_text"></div>
                            </fieldset>

                        </div>
                        <div class="kpi_rules">
                            <fieldset class="fieldset_box_right add_rule_right_edit_form">
                                <legend class="legend_name">Rules create</legend>
                                <div class="form-group button">
                                    <div class="col-xs-9">
                            {# &#123;&#35;<a href="">Add rule</a> <a href="">Sub c&#35;&#125;>#}
                                        <div id="conditions_edit"></div>
                                        <div id="actions_edit"></div>

                                        <p id="text_box"></p>
                                        <input type="hidden" id="result" name="value">

                                    </div>
                                </div>
                                <div class="form-group button">
                                    <div class="col-xs-9">
                            {# &#123;&#35;<div id="act&#35;&#125;>#}
                                    </div>
                                </div>
                                <div class="form-group button">
                                    <div class="col-xs-9 add_button_place">
                                        <div id="rule_edit_button"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="actions_submit">
                            <button class="submit_btn edit_submit_button" type="submit" value="Submit">Save KPI</button>
                            <button class="cancel_btn edit_cancel_button" value="Submit">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
