{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'
        '@AppBundle/Resources/public/js/sample.js'

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
       {# <script>
            $(document).ready(function(){
                $('.remove-condition').live("click",function(){
                    var currentId = $(this).attr('id');
                    var id_value = splitfun(currentId);
                    $('.dynamic-add').remove();
                    $('#add-id'+id_value).remove();
                    $('#add-condition-id'+id_value).remove();
                    $('.action-select-id'+id_value).remove();
                    $(this).remove();
                });
                function splitfun(data){
                    var num = data.split('_');
                    return num[1];
                }
            });
        </script>#}

    {% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h2>Kpi Creation</h2>
            <a href="{{ path('kpidetails_select1') }}">Back</a>
        </div>
        <div class="bs-example">

    <form class="form-horizontal no-style" action="{{ path('kpidetails_new1') }}" method="post">
        <div class="form-group">
            <label class="control-label col-xs-2">Ship Name</label>
            <div class="col-xs-10">
                {{ form_row(form.shipDetailsId,{'id':'shipid','label': ''}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Kpi Name</label>
            <div class="col-xs-10">
                {{ form_row(form.kpiName,{'id':'kpiid','label': ''})  }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Description</label>
            <div class="col-xs-10">
                {{ form_row(form.description,{'id':'elementId','label': ''}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Weightage</label>
            <div class="col-xs-10">
                {{ form_row(form.weightage,{'id':'weightageId','label': ''}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Active Date</label>
            <div class="col-xs-10">
                {{ form_row(form.activeDate,{'id':'month','label': ''}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">End Date</label>
            <div class="col-xs-10">

                {{ form_row(form.endDate,{'id':'valueid','label': ''}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Cell Name</label>
            <div class="col-xs-10">

                {{ form_row(form.cellName,{'id':'valueid','label': ''}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Cell Detail</label>
            <div class="col-xs-10">

                {{ form_row(form.cellDetails,{'id':'valueid','label': ''}) }}
            </div>
        </div>


        <table id="rule-table">
            <tr id="row_id">
                <th>Conditions</th>
                <th>Color</th>
            </tr>

        </table>

        <div id="conditions"></div>
        <div id="actions"></div>
        <p id="text_box"></p>

        <input type="hidden" id="result" name="value">


        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create" id="submit_id" />
        </div>
    </form>

   </div>
        </div>
{% endblock %}