{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/rules.js'

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function(){
                $('.add').remove();
                $('.add-condition').remove();
                $('.all-any-none').remove();
                $('.remove').remove();
                $('#row_id').hide();

                $('.add-rule').html('Show-Rules');

                var count = 0;
                var num = 0;

                $('.add-rule').live('click',function(){
                    count++;
                    $('.remove').remove();
                    $('.remove-condition').remove();
                    $('.field').remove();
                    $('.operator').remove();
                    $('.value').remove();
                    $('#row_id').show();
                    var data = {Id : $('#id').val()};
                    var condition_text = "";

                    $.ajax({
                        type: "POST",
                        data:data,
                        url: "rule",
                        success: function(data)
                        {
                            if(count==1)
                            {
                                $.each(data.Rule_Array, function(i)
                                {
                                    var rule_obj = JSON.parse( data.Rule_Array[i].rules);
                                    $.each(rule_obj.conditions.all, function(j)
                                    {
                                        if(i==num)
                                        {
                                            if(rule_obj.conditions.all[j].operator=='equalTo')
                                            {
                                                rule_obj.conditions.all[j].operator='=';
                                            }
                                            else if(rule_obj.conditions.all[j].operator=='notEqualTo')
                                            {
                                                rule_obj.conditions.all[j].operator='!=';
                                            }
                                            else if(rule_obj.conditions.all[j].operator=='greaterThan')
                                            {
                                                rule_obj.conditions.all[j].operator='>';
                                            }
                                            else if(rule_obj.conditions.all[j].operator=='greaterThanEqual')
                                            {
                                                rule_obj.conditions.all[j].operator='>=';
                                            }
                                            else if(rule_obj.conditions.all[j].operator=='lessThan')
                                            {
                                                rule_obj.conditions.all[j].operator='<';
                                            }
                                            else if(rule_obj.conditions.all[j].operator=='lessThanEqual')
                                            {
                                                rule_obj.conditions.all[j].operator='<=';
                                            }
                                            var condition_text_one =rule_obj.conditions.all[j].operator+rule_obj.conditions.all[j].value;
                                            if(j==0)
                                            {
                                                condition_text = condition_text_one;
                                            }
                                            if(j>0)
                                            {
                                                condition_text = condition_text+'   ' + '&&' +'   '+condition_text_one;
                                            }
                                        }
                                    });
                                    var $tr = $('<tr>').append(
                                            $('<td>').text(condition_text),
                                            $('<td>').text(rule_obj.actions.value)
                                    ).appendTo('#rule-table');
                                    num++;
                                    var rule_string = JSON.stringify(rule_obj);
                                    $('#rule_obj_text').append($('<input>').attr({'type':'hidden','name':'rule_name['+i+']', 'id':'rule_obj_text-'+i+''}).val(rule_string));
                                    $('#rule_obj_text').append($('<br>'))
                                });
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                        {
                            alert('Error : ' + errorThrown);
                        }
                    });
                    $('#id').val(count);

                });
            });
        </script>

    {% endblock %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">

            <h2>KpiDetails</h2>
            <a href="{{ path('kpidetails_select1') }}">Back to the list</a>
        </div>

    <table>
        <tbody>
        <tr>
            <th>Ships</th>
            <td>
                <select>
                    <option>--Available Ships--</option>
                    {% for ships in ship_name %}
                        {% for ships1 in ships %}
                            <option value={{ ships1['shipName'] }}>{{ ships1['shipName'] }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Kpiname</th>
            <td>{{ kpiDetail.kpiName }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ kpiDetail.description }}</td>
        </tr>
        <tr>
            <th>Weightage</th>
            <td>{{ kpiDetail.weightage }}</td>
        </tr>
        <tr>
            <th>Activedate</th>
            <td>{% if kpiDetail.activeDate %}{{ kpiDetail.activeDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Enddate</th>
            <td>{% if kpiDetail.endDate %}{{ kpiDetail.endDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Cellname</th>
            <td>{{ kpiDetail.cellName }}</td>
        </tr>
        <tr>
            <th>Celldetails</th>
            <td>{{ kpiDetail.cellDetails }}</td>
        </tr>
        </tbody>
    </table>

    <div id="conditions"></div>
    <div id="actions"></div>

    <table id="rule-table">
        <tr id="row_id">
            <th>Condition</th>
            <th>Color</th>
        </tr>

    </table>
    <input type="hidden" name="id" id="id" value="{{ kpiDetail.id }}">
    <p id="text_box"></p>

    </div>
{% endblock %}