{% extends 'base.html.twig' %}

{% block body %}
    <h1>ShipTypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Shiptype</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shipType in shipTypes %}
            <tr>
                <td><a href="{{ path('shiptypes_show', { 'id': shipType.id }) }}">{{ shipType.id }}</a></td>
                <td>{{ shipType.shipType }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('shiptypes_show', { 'id': shipType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('shiptypes_edit', { 'id': shipType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shiptypes_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
