{% extends 'base.html.twig' %}

{% block body %}
    <h1>ShipTypes</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shipType.id }}</td>
            </tr>
            <tr>
                <th>Shiptype</th>
                <td>{{ shipType.shipType }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shiptypes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shiptypes_edit', { 'id': shipType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
